[2020-06-17 19:38] jonhehir commented on #515
I realize this issue is not really of the bug report or feature request format (and has a small laundry list at the bottom), but we wanted to share our initial experience with the beta dashboard feature with you guys. Please let us know if you have any questions or would like us to follow up with anything additional (e.g., creating individual tasks for the suggestions at the bottom).

Thank you!

[2020-06-18 00:04] feng-tao commented on #515
thanks @jonhehir ! , very exciting that you get it working for redash. All the issues/ suggestions seem reasonable to me :)
cc @ttannis  @jinhyukchang

[2020-06-18 00:39] feng-tao commented on #515
1. +1,  For Lyft, we got dashboard descriptions from mode API, but just haven't had time to do some change as table descriptions with markdown syntax(@ttannis  correct me if I am wrong)
2. will let @ttannis comment on the feasibility.
3. make sense
4. yeah, seems like a bug
5. agree, currently it is hardcoded(https://github.com/lyft/amundsenfrontendlibrary/blob/master/amundsen_application/static/j

[2020-06-18 00:48] feng-tao commented on #495
@ttannis ,Bigquery reuses the cluster field for catalog which is to represent BQ project per my understanding.

For hive, we have the same field for cluster currently, but for BQ,they could have different field for different tables depending on which catalog they belong to.

[2020-06-18 17:45] jinhyukchang commented on #515
@johnheir Congrats on the progress and thanks for the detailed feedback!

On the note of execution time, there are things we consider valuable to see how trustworthy the Dashboard is. Things such as popularity, relation with important tables, and execution time with status.

We saw many unmanaged Dashboard that has very old last `refreshed` (in Redash term) timestamp, and some of them tried to be

[2020-06-18 18:06] jonhehir commented on #515
Thanks for the feedback, @jinhyukchang !

This is something we've discussed internally as well. We too have seen a lot of old and less valuable dashboards come through the search results, and some indicator of how recent and active the dashboard is would be very useful. We're unfortunately not populating execution times or view counts right now, but I do recognize that this information would be ha

[2020-06-19 07:30] tusharsadhwani opened #518 "amundsenmetadata crashes while running a local build on Windows"
## Current Behavior
[code]
## Steps to Reproduce
1. clone the repository
2. run `docker-compose -f ./docker-amundsen-local.yml up`

## Current Environment
- Windows 10 version 1903
- Running the commands via Powershell

[2020-06-19 12:14] jornh commented on #518
https://github.com/lyft/amundsenmetadatalibrary/blob/master/requirements.txt#L63 says we're running Werkzeug `0.15.3`

This: https://github.com/pallets/werkzeug/issues/1482 could be the issue, it was reported on `0.15.0` and resolved in `0.15.5` ... but the changelog https://werkzeug.palletsprojects.com/en/0.16.x/changes/#version-0-16-1 suggests that there's another Windows related fix later in `0

[2020-06-19 12:53] tusharsadhwani commented on #518
bumped to 1.16.1, and it just worked.

As the next step, How do I get this patched into the project itself? Do I just create a simple PR bumping the version, or are there any other caveats.

[2020-06-19 17:47] feng-tao commented on #518
Feel free to submit a pr. Thanks @jornh for the RC as well!

[2020-06-21 17:33] ccarterlandis opened #519 "Pytest dependency version collision in amundsendatabuilder module"
I couldn't find this problem mentioned anywhere in the issue tracker, but if I missed it please feel free to close this/mark as duplicate and point me in the right direction 😄

## Expected Behavior
While following the [installation guide](https://lyft.github.io/amundsen/installation/) using dummy data, I expected the dependency installation process to complete successfully and correctly install al

[2020-06-21 22:01] feng-tao commented on #518
it seems that the issue is resolved, feel free to reopen if that's not the case.

[2020-06-21 22:01] #518 closed

[2020-06-22 13:55] tusharsadhwani commented on #392
Any updates on this?
What's the fastest way to iterate on the react part of the application without having to rebuild the whole frontend project as of now?

[2020-06-24 04:05] feng-tao commented on #519
@ccarterlandis is https://github.com/lyft/amundsendatabuilder/pull/290 fixed your issue? Let us know so that we could investigate further.

[2020-06-24 13:34] ccarterlandis commented on #519
@feng-tao that's resolved the issue for me. Thank you!

[2020-06-24 17:11] feng-tao commented on #519
thanks @ccarterlandis for the confirmation.

[2020-06-24 17:11] #519 closed

[2020-06-25 07:05] dechoma opened #525 "Feature Proposal: integrate Amundsen with tools that generate html reports ( popmon, pandas-profiling, great-expectations)"
it would be great to be able to easily integrate Amundsen with tools that generate html reports, such as [popmon](https://github.com/ing-bank/popmon), [pandas-profiling]( https://github.com/pandas-profiling/pandas-profiling) or [great_expectations](https://github.com/great-expectations/great_expectations).
In short, the idea is to enable elastic way for linking tables to html reports describing da

[2020-06-25 18:13] alran opened #526 "feat: Support Neptune"
Related Issue: [#160 Pluggable Graph Database to Support Janus](https://github.com/lyft/amundsen/issues/160)

## Expected Behavior or Use Case
We have been working on integrating Neptune with our version of Amundsen. To do this, we built a gremlin proxy that can work across other gremlin-supported databases (i.e. JanusGraph, BlazeGraph, etc). Below I give an outline of the approach taken by Square

[2020-06-25 20:19] dikshathakur3119 commented on #507
After discussion with team, here are two ways in which we can approach uneditable description :

**Approach 1 : Frontend :** Defining Pattern Regex statements in frontend application to identify any tables following given pattern should have uneditable table and column description. For simpler cases, we can use 'UNEDITABLE_SCHEMA' variable defined in config file to make all tables uneditable from

[2020-06-25 21:16] feng-tao commented on #507
I wonder whether it is conflicted to be either approach 1 or approach 2. Should we do approach 1 as short term given we have already supported the flag but it is broken, then do approach 2 as a follow up/long run? @jinhyukchang @ttannis thought?

Also for approach 2, I think it should be an attribute on the description node not on table metadata given table metadata has not awareness on the descri

[2020-06-25 21:42] ttannis commented on #507
My thoughts are that Approach 1 would be a sufficient fix and that Approach 2 would be best long term because it would help support more fine grained cases. For example, we (Lyft) have an upcoming requirement to make owners un-editable for specific tables as well.  So moving towards support for `is_editable` attributes on specific metadata would be ideal for that implementation as well.

[2020-06-25 22:52] feng-tao commented on #525
cc @ttannis Tamika, could you help to get some UX design inputs from our designer? I will take a look at the backend and also share internally .

[2020-06-25 22:55] dikshathakur3119 commented on #507
Okay, for now I will apply approach 1 to fix this. Thank you for your feedbacks.

[2020-06-26 18:16] diegoep opened #527 "FrontEnd Installation fails when OIDC is enabled"
I'm trying to install Amundsen via the provided helm charts, but the FrontEnd module is failing when ODIC is enabled. It's returning the following:
`Registering post_exec action_log entry_point: logging_action_log = amundsen_application.log.action_log_callback:logging_action_log
Traceback (most recent call last):
  File "amundsen_application/wsgi.py", line 2, in <module>
    from amundsen_applicat

[2020-06-26 18:51] diegoep commented on #527
I've just figured out that there's a different image to be used when oidc is enabled.
https://hub.docker.com/r/amundsendev/amundsen-frontend-oidc

[2020-06-26 18:51] #527 closed

[2020-06-26 20:58] alran commented on #526
We'd definitely love feedback on this proposal! In terms of timelines, I'm out next week but can answer questions when I get back. If the community thinks this makes sense, we will be able to dedicate time to upstreaming this work in Q3 (starting soon!)

[2020-06-26 21:06] feng-tao commented on #526
thanks Alyssa, will take a look as well to learn more on the Neptune side.

[2020-06-26 21:15] jdavidheiser commented on #55
We no longer use Knowledge Repo, but have been tossing around an idea about indexing notebooks served on our internal Jupyter nbviewer.  I think this is a great idea!

[2020-06-29 12:27] tpcarrier commented on #55
Interesting @jdavidheiser - main inspiration would be like stackoverflow for code but for data 'stories'. Would solve the problem data users of "hey do we have analysis on _______" and ultimately would be an evolution of 'data artifacts' from an amundsen-like tool.

[2020-06-30 09:43] sarthak3097 opened #533 "Data ingestion in Amundsen and file formats supported"
Does Amundsen only fetches metadata from the data sources?
Which all file formats does it support? (csv, parquet, json)

[2020-07-01 03:32] feng-tao commented on #513
https://github.com/lyft/amundsendatabuilder/pull/291 is merged. I assume this is fixed.

[2020-07-01 03:33] feng-tao commented on #513
thanks @jonhehir

[2020-07-01 03:33] feng-tao commented on #513
oh, actually we could still open it to keep track the long term request

[2020-07-01 03:34] feng-tao commented on #533
the ingestion doesn't limit to the file format as it only ingests the metadata. The file format could be csv/parquet/json or anything other formats.

[2020-07-01 04:13] feng-tao commented on #533
feel free to reopen if it is not clear.

[2020-07-01 04:13] #533 closed

[2020-07-01 05:50] sarthak3097 commented on #533
Hi ,thank you for the quick response. I'll give an example to explain the situation. -
I have my data in a S3 bucket. So Amundsen would provide all the functionalities that include - crawling the complete data and ingesting only metadata into the Neo4j graph and that metadata will be used to build the catalog, right?

[2020-07-01 05:53] sarthak3097 commented on #533
Basically, Amundsen supports crawling of all the data sources as well (for creation of metadata which will be ingested)?

[2020-07-02 09:34] jornh commented on #382
@jacobhjkim the incubator will be delisted on Helm hub by August, see https://github.com/helm/charts#status-of-the-project. The new preferred way with publishing  seem to be self-hosting, then submitting for Helm Hub. The hosting can for example be made on GitHub pages and managed by a GitHub workflow.

This feature request is marked as “good first issue”, so feel free to take a stab at automating

[2020-07-02 10:00] jornh opened #534 "Feature Proposal: Make popularity number of users configurable"
## Expected Behavior or Use Case

For the Neo4j proxy it's currently hardcoded to `> 10` here: https://github.com/lyft/amundsenmetadatalibrary/blob/v2.5.4/metadata_service/proxy/neo4j_proxy.py#L720

That limit should be configurable, preferably in a common way across proxies available (Neo4j and Atlas) and planned (Neptune/JanusGraph).

## Service or Ingestion ETL

This relates to the metadata ser

[2020-07-06 04:04] ttannis commented on #534
Can you explain the proposed implementation here as well/. I'm not understanding why we need any additional configurations in the frontend repository when the use case that needs configuring is related to the metadata service proxies.

[2020-07-06 04:52] jacobhjkim commented on #534
@ttannis You are right. I didn't need to add any additional configurations in the frontend repository. I changed the PRs accordingly. PR `amundsenfrontendlibrary#502` is not related to this issue anymore.

[2020-07-07 01:52] ttannis opened #537 "amundsenfrontendlibrary releases fail on TravisCI"
## Issue
Our initial attempts to release v2.2.0 of amunsenfrontendlibrary was consistently failing in TravisCI. This was only when attempting to create the PyPI release, regular builds passed fine. The build consistently failed with
[code]

## Previous Investigation
I *currently* believe that the issue is caused by the logic in our `setup.py` that builds the distribution for the javascript sources

[2020-07-07 16:52] AndrewCiambrone commented on #526
This looks great Alyssa! I was wondering during the data loading process when does old data get removed?

[2020-07-07 21:10] alran commented on #526
During the data loading jobs, we update the last_updated_at timestamp. It shouldn't be too hard at that point to remove data that doesn't have the most recent date set (we don't currently do this, but its something we need to do)

[2020-07-08 05:37] feng-tao commented on #526
[Gremlin_Neptune_ Square's Approach.pdf](https://github.com/lyft/amundsen/files/4888663/Gremlin_Neptune_.Square.s.Approach.pdf)

Let me also upload @alran 's doc here which includes the Arch diagram.

[2020-07-08 05:39] feng-tao commented on #526
hey @alran ,

Sorry for the delay. Here are some of my questions:

1. Is neptune HA?
2. what is the read / write throughput?
3. Does neptune provide a UI similar to Neo4j to explore graph relationship?
4. Do you know if it is possible to use cypher on Neptune which could help to minimize the migration of metadata? And how do you migrate your existing neo4j existing metadata to Neptune?
5. How big(

[2020-07-08 05:41] feng-tao commented on #526
cc @jinhyukchang as an expect on neo4j loader.

[2020-07-08 05:43] feng-tao commented on #525
hey @dechoma  @verdan @mgorsk1 I wonder whether the ING team has thought about showing data quality health score for dataset on Amundsen page as well?

[2020-07-08 08:19] verdan commented on #525
@feng-tao yes, we are using programmatic_description for that purpose!

[2020-07-08 18:03] feng-tao commented on #526
also do you use Apache TinerPop(http://kelvinlawrence.net/book/PracticalGremlin.html) ?

[2020-07-09 00:35] alran commented on #526
**1. Is neptune HA?**
Yes! More info about this in the [Neptune docs](https://aws.amazon.com/neptune/faqs/#High_Availability_and_Replication)

**2. What is the read / write throughput for Neptune?**
Reads and writes are different, and writes are different in bulk loading vs transactional. The bulk interface does something like 10K vertices a second (pretty fast). For transactional, even in a best

[2020-07-09 07:42] mgorsk1 commented on #525
@feng-tao after merging https://github.com/lyft/amundsencommon/pull/39 are we ok with bumping common version ?

[2020-07-09 08:40] mgorsk1 commented on #525
regarding the data quality health score it's been on our minds but I don't think it's done yet. the main reason is difficulty in coming up with single value that is relevant to every user (health might mean different things for different users). there is 5 star ranking standard in ING we might implement while doing a work on testing data quality with great expectations.

[2020-07-09 13:56] vikalpmullick opened #542 "What is best method to ingest metadata for S3 objects in Amundsen?"
### **Objective** : Ingest metadata for S3 objects (parquet/csv/json) in Amundsen.
- Amundsen provides connectors for AWS Athena and AWS Glue. I am able to ingest the s3 objects metadata using the athena connector.
- I used the "amundsendatabuilder/example/dags/athena_sample_dag.py" fot athena based ingestion.
- Athena tables were created using a Glue crawler.

I have the following queries:

1. Ca

[2020-07-09 14:39] jornh commented on #542
1. I think it can (but haven't worked with Glue myself)
2. Did you see the usage info at https://github.com/lyft/amundsendatabuilder#glueextractor? - if you combine that with one of the other samples, like Athena, you should be able to make it work. [Perhaps @PedroRossi, the original extractor contributor, do you have a quick sample to share?]
3. The one that works for your environment and fits wi

[2020-07-09 16:17] PedroRossi commented on #542
1. Yes, but it is only intended to gather table metadata.
2. Just replace the configuration inside this function (https://github.com/lyft/amundsendatabuilder/blob/21a763add3c00c34b4f4c2d9809f59e50fb264c8/example/dags/athena_sample_dag.py#L77) as described in the GlueExtractor docs (link in the comment above).
3. I am only using this for Glue tables, but if you want to extract all s3 metadata you n

[2020-07-09 17:07] jonhehir opened #543 "feature: Dashboard descriptions do not honor Markdown formatting"
## Expected Behavior

Markdown formatting in dashboard descriptions is rendered appropriately, just like for table descriptions.

## Current Behavior

These descriptions show up as plain-text.

## Screenshots

![image](https://user-images.githubusercontent.com/745011/87069422-26274200-c1e5-11ea-841a-0b939deb25a3.png)

## Your Environment

Most recent version of amundsenfrontendlibrary.

[2020-07-09 17:20] jonhehir opened #544 "feat: Gracefully hide missing fields in front-end (e.g., Dashboard fields that cannot be populated)"
As mentioned in today's community meeting, when ingesting Redash dashboards into Amundsen, there are some dashboard-related fields that we are not able to populate, due to discrepancies in the data models between Redash and Amundsen. I expect this problem to be more general than this specific case, since in general, not every data product will have matching schemas.

## Expected Behavior or Use Ca

[2020-07-09 17:26] jonhehir opened #545 "feat: Support uneditable descriptions in dashboards"
https://github.com/lyft/amundsenfrontendlibrary/pull/497 provides a way to make descriptions uneditable for tables and columns. It would be nice to support this for dashboards as well.

Note: Dashboard descriptions in general do not seem to be a very mature feature. Even editing descriptions more generally is likely going to need to evolve. For now, though, being able to disable whatever sort of e

[2020-07-09 17:29] jonhehir opened #546 "bug: View Query link in dashboards references "Mode""
The link to view a query for dashboards right now is hardcoded to say "View in Mode." This should render the appropriate dashboard product name.

## Screenshot

![image](https://user-images.githubusercontent.com/745011/87071433-37be1900-c1e8-11ea-9cee-99372d4acbe3.png)

## Your Environment

Most recent version of amundsenfrontendlibrary.

[2020-07-09 17:37] jonhehir opened #547 "feat: Store relationships between queries and tables"
As mentioned in today's community meeting, the current method of associating dashboards to tables is through a relationship between dashboards and tables. There is no relationship stored between _queries_ and tables. It seems to me that storing a relationship between queries and tables would be an easy add that would allow for greater flexibility in terms of how we use the data.

## Service or Ing

[2020-07-09 17:38] jonhehir commented on #515
Closing in favor of #543, #544, #545, #546, #547.

[2020-07-09 17:38] #515 closed

[2020-07-09 19:39] feng-tao commented on #547
thanks @jonhehir for putting lots of great details on improving the project!

[2020-07-09 19:40] feng-tao commented on #547
also I wonder whether it is now a good time to put asana as one of Amundsen users in https://github.com/lyft/amundsen#who-uses-amundsen given all the great work you and your team is doing ? also cc @jdavidheiser

[2020-07-09 19:43] feng-tao commented on #545
cc @ttannis @dikshathakur3119

[2020-07-09 19:44] feng-tao commented on #546
cc @ttannis @Golodhros
I wonder whether we could get the dashboard product from backend. At the very least, we could rename the wording to be more generic.

[2020-07-09 20:01] jonhehir commented on #442
This was completed in https://github.com/lyft/amundsendatabuilder/pull/292, right?

[2020-07-09 21:01] feng-tao commented on #442
correct

[2020-07-09 21:01] #442 closed

[2020-07-09 21:41] ttannis commented on #544
One concept that I want to make sure we keep in mind with this is the difference between data not being supported, and data being supported but having no value. The frontend deals with the second concept by either not showing it OR showing a special "empty state" UI. In terms of the first concept, my perspective is that if the data is not supported we should address it at the source and it should

[2020-07-09 21:49] ttannis commented on #543
Not a bug, just wasn't written that way intentionally because we didn't have a use case. :)
https://github.com/lyft/amundsenfrontendlibrary/pull/506

[2020-07-09 21:51] ttannis commented on #543
Available on master, and will be included in the next frontend release.

[2020-07-09 21:51] #543 closed

[2020-07-09 21:52] jonhehir commented on #543
Wow, very quick. Thank you!

[2020-07-10 04:53] mgorsk1 commented on #525
I was wondering for the UI/UX part of the reports functionality that actually Amundsen has building blocks to make it very well-aligned. Namely - why not have another tab like Columns and Dashboards for it in a Table View ? It seems that it would be best aligned with current UI and open up possibilities like showing report generation date, description and type (the same every kind of table and das

[2020-07-10 07:27] vikalpmullick commented on #542
@jornh @PedroRossi In the glue extractor what is "cluster_identifier_string"?

[2020-07-10 07:41] dechoma commented on #525
@mgorsk1 on the one hand, the report is not an integral and obligatory part of the table like a columns, on the other hand, this approach is not as limited as dropdown and gives more possibilities, e.g. in the reports tab, measurements, from multiple reports could appear in one view. In general I think it's a very cool idea, I am curious what others think about it.

[2020-07-10 09:57] jornh commented on #526
Regarding:

There is https://github.com/opencypher/cypher-for-gremlin though, which also mention Neptune with some test coverage. Haven't tried it though, and unsure if it's a good idea to wrap too many layers of different protocols "just because you can".

It seems the graph query language war isn't over yet. I noticed https://www.gqlstandards.org/ as a result of https://gql.today/. I assume it c

[2020-07-10 12:18] verdan commented on #525
The only issue I see from this approach is, that most of the times we don't have more than 2, 3 (or maybe 1) report(s), and creating a separate tab for one list item is a waste of real estate on the page, since we will be only having the links. (not something embedded HTMLs). I would still suggest to go for the dropdown.

[2020-07-10 12:26] mgorsk1 commented on #525
I guess for now we have ideas for 3 technologies for reports but If someone generated reports periodically and wanted to maintain historical entries then the number of reports could be greater than just 3.

[2020-07-10 17:21] alran commented on #526
We did actually try out [cypher-for-gremlin](https://github.com/opencypher/cypher-for-gremlin). We found that (1) it didn't generate idiomatic gremlin and (2) even the idiomatic gremlin upserts don't work great with Neptune.

I'm happy to report that we are currently in Q3! It started at the beginning of July. My main goal here is to make sure that the Amundsen community is happy with our approach

[2020-07-10 19:10] kathleenrice commented on #53
Hi, we have been trying to stand up Amundsen on Kubernetes but can't get the pod for Neo4j to deploy... Did anyone else have this problem?

[2020-07-10 20:25] #440 closed

[2020-07-10 20:25] feng-tao commented on #496
i assume the issue is resolved now.

[2020-07-10 20:25] #496 closed

[2020-07-10 20:50] ttannis commented on #525
The current dropdown approach is preferred for now on our end. Due to what @verdan mentioned.

The idea of someone wanting to maintain historical entries and potentially having many many reports is something I understand, but unless that is what you use case looks like today we should limit our choices to support your current use cases, and take an iterative approach.

[2020-07-10 21:20] feng-tao commented on #525
+1 on @ttannis , I would prefer the dropdown as well.

[2020-07-12 11:02] yashcodes opened #549 "Data is not loaded in Amundsen from Mysql database"
This is the code I replaced from [file](https://github.com/lyft/amundsendatabuilder/blob/master/example/scripts/sample_postgres_loader.py) and using it to load data from mysql database (films) into amundsen

[code]

[2020-07-12 11:03] yashcodes commented on #549
after the replacement, the file ran successfully but I could not find my database (films) table in Amundsen

[2020-07-12 11:20] pPanda-beta opened #550 "amundsendatabuilder -> hive_sample_dag is broken since HiveWatermark class is removed now"
This sample sql is not gonna work anymore

https://github.com/lyft/amundsendatabuilder/blob/21a763add3c00c34b4f4c2d9809f59e50fb264c8/example/dags/hive_sample_dag.py#L65-L79

## Expected Behavior

ResultRows of the sql are mapped to Watermark models

## Current Behavior

It breaks since **compulsory constructor parameter 'database' of Watermark class is not provided**

## Possible Solution

Add a c

[2020-07-12 11:28] pPanda-beta opened #551 "amundsendatabuilder -> hive_sample_dag is broken since incorrect sql query"
This sample sql is not gonna work anymore

https://github.com/lyft/amundsendatabuilder/blob/21a763add3c00c34b4f4c2d9809f59e50fb264c8/example/dags/hive_sample_dag.py#L65-L79

## Expected Behavior
It loads the watermarks to neo4j

## Current Behavior
query breaks because of incorrect line :
https://github.com/lyft/amundsendatabuilder/blob/21a763add3c00c34b4f4c2d9809f59e50fb264c8/example/dags/hive_sa

[2020-07-12 11:56] pPanda-beta opened #552 "amundsendatabuilder -> HiveTableMetadataExtractor only works with mysql innodb"
This sql query only works with mysql innodb

https://github.com/lyft/amundsendatabuilder/blob/21a763add3c00c34b4f4c2d9809f59e50fb264c8/databuilder/extractor/hive_table_metadata_extractor.py#L28-L52

## Expected Behavior
It extracts table info from metastore db

## Current Behavior
It breaks when the syntax is not supported by the database engine

## Possible Solution
First of all, HiveTableMetadat

[2020-07-13 04:29] jacobhjkim commented on #85
How would the Kafka topic model look like?

Here is a list of metadata that pops into my heads.
- topics
- schemas
- offset info
- partitions
- consumer & producer info

And here are some ideas for the frontend and databuilder.

**Frontend**
- Instead of date range used for hive partitions, maybe frontend can show offset range and such for Kafka topics.
- Kafka consumers as `table-users` and produ

[2020-07-13 08:49] mgorsk1 commented on #525
cool, thanks for prompt feedback! do you think then consider the current frontend implementation as a first iteration of the feature or are we still waiting for UX feedback ?

[2020-07-13 13:26] vikalpmullick commented on #542
Thank You @jornh @PedroRossi , Using the Glue extractor in specified location worked for me.

[2020-07-13 16:32] jonhehir commented on #507
It looks like this works and can be closed now. Thank you so much, @dikshathakur3119!

[2020-07-13 16:40] #507 closed

[2020-07-13 17:57] ttannis commented on #525
See feedback on PR: https://github.com/lyft/amundsenfrontendlibrary/pull/495#issuecomment-656292178

[2020-07-13 19:15] jonhehir opened #558 "bug: Editing column descriptions does not work"
It looks like this may be a recent regression.

## Expected Behavior

When `is_editable` is `true`, there are two conditions:

- if the column already has a description, there should be an icon/link to edit the description
- if the column does not have a description, the "Add Description" link should open a textbox to edit the description

## Current Behavior

- For a column with a description, no

[2020-07-13 19:20] jornh commented on #549
Looks like you have a typo in this line:

[code]

Should probably be `information_schema`

[2020-07-13 20:11] dikshathakur3119 commented on #558
Hi Jonathan,

Thank you for raising this issue, but I am not able to recreate this on my end. Column Description is working fine for me in both scenarios, when `is_editable` is `True` or `False`.  I searched about the error you are encountering `Unknown Props`, it may arise due to use of function `React.cloneElement` which we are using [https://github.com/lyft/amundsenfrontendlibrary/blob/master/a

[2020-07-13 22:22] jonhehir commented on #558
Hi, Diksha! Thanks for the quick response. Here are more detailed instructions on how I am experiencing this issue:

First, check out `master` for `amundsen`. I have a clean local install with no changes.

[code]

For the sake of testing, add a column to one of the test tables that has no description:

```[master] ~/amundsen: echo 'col2,,"int",2,hive,gold,test_schema,test_table3' >> amundsendatabu

[2020-07-14 00:15] feng-tao commented on #85
@jacobhjkim are you suggesting to reuse the table dataset support for Kafka topic?

[2020-07-14 00:40] feng-tao commented on #85
also cc @lukelowery as the team from reddit expresses interests in supporting Kafka topic in Amundsen.

[2020-07-14 05:09] feng-tao commented on #549
thanks @jornh , @yashcodes let us know if it fixes the issue.

[2020-07-14 06:02] feng-tao commented on #550
@pPanda-beta could you create a pr to fix the issue?
I think we just need to add `'hive' as `database`,` to the SQL (right before https://github.com/lyft/amundsendatabuilder/blob/21a763add3c00c34b4f4c2d9809f59e50fb264c8/example/dags/hive_sample_dag.py#L67 ).

[2020-07-14 13:41] jornh commented on #542
@vikalpmullick great. Guess you can close this issue then.

[2020-07-14 14:39] #542 closed

[2020-07-14 21:02] ttannis commented on #558
@jonhehir are you able to verify that the code your are running using this setup is using the latest master? I'm unable to reproduce this as well and I'm unsure if perhaps the docker setup is doing something unintended?

Is it also possible that your browser itself is running a version of the app with cached code after you rebuilt. Does it reproduce if you do a hard refresh in your browser?

[2020-07-14 21:26] jonhehir commented on #558
Huh, that's strange. Here's what I'm looking at in terms of git revisions. They match what I'm currently seeing in GitHub:

[code]

I've tried a hard refresh in Chrome, Chrome incognito, and Firefox private. All show the same behavior, so it doesn't seem to be a caching issue.

While the instructions I have here are for the docker-compose setup for local testing, we are also seeing this issue on a

[2020-07-14 23:11] feng-tao opened #560 "databuilder: clean up py2 references in the repo"
## Expected Behavior
Remove all the py2 related codes.
- remove six
- remove py2 CI
- (bonus) change typing from py2 to mypy py3

## Current Behavior
databuilder supports both py2 and py3 and we should remove py2 for now as py2 is already EOL.

[2020-07-15 04:32] feng-tao commented on #502
cc @ttannis , I think we need to apply the keep fresh label as well, or we remove the stalebot in this repo.

[2020-07-16 11:54] pPanda-beta commented on #550
@feng-tao
Thats just one line below where I used 😆 ,
Sure no problem, I'll raise the PR.

[2020-07-16 16:35] feng-tao commented on #550
thanks

[2020-07-16 17:06] feng-tao opened #562 "chore: apply license headers to all the files for all the repos of Amundsen projects"
## Expected Behavior or Use Case
Apply the following headers:
[code]
to all the source files

[2020-07-16 17:50] feng-tao opened #563 "Feature Proposal: apply license header check once all the license header prs are merged"
## Expected Behavior or Use Case

## Service or Ingestion ETL

## Possible Implementation

## Example Screenshots (if appropriate):

## Context

[2020-07-16 18:59] morrme commented on #562
@feng-tao  I've previously done this for a different project using https://github.com/google/addlicense .

[2020-07-16 19:31] dorianj commented on #513
I looked into query builders for neo4j and didn't find a clear standard. There's https://github.com/emehrkay/Pypher (88 GH stars) and https://github.com/TwoBitAlchemist/NeoAlchemy (21 stars). Both are attempting to be general-purpose query-builders, meaning much of the code would be need to be rewritten to use their composition style. Does anyone know of any other such projects that may be more po

[2020-07-17 06:09] ttannis commented on #502
I wouldn't remind removing it if we can

[2020-07-17 14:00] ccarterlandis opened #565 "Feature Proposal: Tableau dashboard extractors for databuilder"
## Expected Behavior or Use Case
With the recent addition of dashboard support for Amundsen, it's now possible to build extractors for Tableau dashboards and visualizations. Since Tableau is widely used as a data visualization and analysis tool, having the ability to index these Tableau dashboards inside Amundsen gives better context for how the data is actually being used and enables users to dis

[2020-07-19 10:36] pPanda-beta commented on #550
@feng-tao -> Raised the PR : https://github.com/lyft/amundsendatabuilder/pull/305

[2020-07-20 06:06] ayush-san opened #567 "stale_nodes_statement of Neo4jStalenessRemovalTask not returning any result"
I am trying to use Neo4jStalenessRemovalTask to remove stale data from Neo4j. Following are the configs I am passing to the task

[code]

## Expected Behavior
I have pushed data to Amundsen three days back so while removing the stale data, validation for staleness percentage should have thrown an exception but it didn't. Instead, it ran successfully without deleting anything
[code]

## Current Beh

[2020-07-20 16:38] #550 closed

[2020-07-20 22:50] feng-tao commented on #525
I believe the backend pr is still waiting for @verdan 's input.

[2020-07-21 00:00] feng-tao commented on #567
cc @jinhyukchang

[2020-07-21 00:07] feng-tao commented on #567
I will take a look as well. Internally we have been using this approach to clean stale metadata which we haven't had much issues. But take a look you example.

[2020-07-21 16:42] #525 closed

[2020-07-22 04:20] ayush-san commented on #567
@feng-tao Were you able to review this issue?

[2020-07-22 06:48] sauravsahu02 opened #573 "SQL Statement in hive extractor has syntax issue."
## Expected Behavior
Should be able to extract metadata from hive tables.

## Current Behavior
Getting error while compiling SQL statement provided in  hive_table_metadata_extractor.py
## Possible Solution
Correction of SQL_STATEMENT in hive_table_metadata_extractor.py

## Steps to Reproduce
1. To setup hive server using docker, I have followed the steps given in https://hub.docker.com/r/bde2020/h

[2020-07-22 23:03] feng-tao commented on #573
@sauravsahu02  are you using postgres or mysql for hive metastore? We have been running this at lyft for 2 years now and haven't had much issues. Wonder whether this is related to the different db store.

[2020-07-23 05:49] sauravsahu02 commented on #573
Thanks for quick response.
I am using postgres. Which one are you using?
Have you made any change to the SQL_STATEMENT or at any other place?

[2020-07-23 05:55] feng-tao commented on #573
The issue is the same as https://github.com/lyft/amundsen/issues/552 . We could make the SQL statement configurable to support postgres.
I could take a look and do a quick fix at the end of the week.

[2020-07-23 06:25] saiharish97 commented on #573
@feng-tao I am using MySQL as metastore , but it says syntax error. I am using Hive Version 2.3.4 and MySQL version "8.0.21 MySQL Community Server"

[2020-07-23 21:10] jonhehir opened #575 "bug: section.editable-section height does not expand in Chrome 84"
Is anyone else having this issue in Chrome? I'm seeing issues with long descriptions in Chrome 84 (on both macOS and Windows). See screenshots below.

## Possible Solution

Removing `display: flex` from `.left-panel` and removing `display: inline-table` from `.editable-section` seems to solve the problem.

## Steps to Reproduce

View a table or dashboard with a long description (or try to edit a t

[2020-07-23 21:21] feng-tao commented on #575
hey @jonhehir , glad that you raised this issue, we(Lyft) encounter the same issue as well. I tried the same fix which works but it has regression on other cases which the left panel no longer aligned.

cc @ttannis

[2020-07-23 21:22] feng-tao commented on #575
@ttannis will do some more investigations to come up with a fix.

[2020-07-23 21:25] jonhehir commented on #575
Yeah, I wasn't sure of the best fix here, which is why I opted to open an issue rather than a PR. Would definitely appreciate a fix, though. 😄

[2020-07-23 21:31] feng-tao commented on #575
https://coryrylan.com/blog/css-gap-space-with-flexbox and https://usefulangle.com/web-updates/post/83/chrome-84-released seems to be related.

[2020-07-24 05:32] feng-tao commented on #567
@ayush-san sorry too busy this week.

[2020-07-24 13:21] deyerly opened #577 "Initiating amundsen on Red Hat 7 Hangs during startup"
Unable to get Amundsen to properly startup using "Quick Start" / Bootstrap. Provided log of startup during execution of step #3 "Enter cloned directory and run".

## Expected Behavior
Amundsen should be running under docker. Executing: docker_compose -f docker-Amundsen.yml up

## Current Behavior
Start up hangs

## Possible Solution
Unknown.

## Steps to Reproduce
execute: docker_compose -f docker

[2020-07-25 01:02] feng-tao opened #578 "Feature Proposal: add release doc"
## Expected Behavior or Use Case
We have 3 service rep0s and 2 library repos. We should document how we do the release and provide a changelog with all the new features in the central repo.

## Service or Ingestion ETL

## Possible Implementation

## Example Screenshots (if appropriate):

## Context

[2020-07-27 01:26] #575 closed

[2020-07-27 05:28] damon09273 opened #579 "Feature request for improve browsing、searching and description management for column."
I have applied Amundsen to our company since 3 months ago, my colleagues become favorite user of Amundsen (one hundred people).

Here are some feedbacks from daily usage of them, hope it’s helpful for reference of feature updating.

## Expected Behavior or Use Case

- All table browsing：Hoping some where can browse all tables.
- Browsing by tag level or multiple tag searching：Hoping there’s featur

[2020-07-27 05:43] sauravsahu02 commented on #573
@feng-tao  Thanks for earlier response. Any latest update from your end for the fix?

[2020-07-27 07:45] ayush-san opened #580 "import_string() failed for 'metadata_service.oidc_config.OidcConfig"
I am trying to enable OIDC for amundsen. When testing it on local with the following docker images and environment variable I am getting `import_string() failed for 'metadata_service.oidc_config.OidcConfig'.` due to `ModuleNotFoundError: No module named 'amundsen_application'` in amundsenmetadata process.

[code]

## Expected Behavior
I have followed [authentication.md](https://github.com/lyft/amu

[2020-07-28 04:20] ayush-san commented on #567
@feng-tao Should I create a PR of what I think is the fix of this problem and you can review it later or wait for you to review the issue?

[2020-07-28 04:34] feng-tao commented on #567
@ayush-san yeah, that will be good as well as I am overloaded this few weeks.

[2020-07-28 10:54] sarthak3097 opened #585 "Frontend changes aren't getting reflected even after npm run dev-build"
### **General summary**
I was trying to make UI changes (text present on the the frontend) like the Footer, the Title of the page, etc. through the following files-
amundsen/amundsenfrontendlibrary/amundsen_application/static/js/components/Footer/index.tcs

For all the small changes, I tried to change the constants.ts and index.tcs files in -
amundsen/amundsenfrontendlibrary/amundsen_application/s

[2020-07-28 15:56] feng-tao commented on #580
cc @verdan
Verdan, let me know if you could take a look.

[2020-07-29 00:38] feng-tao commented on #585
cc @ttannis @dikshathakur3119 @allisonsuarez

[2020-07-29 00:50] ttannis commented on #585
This will be better for our #troubleshooting channel as it is an issue of helping with your process and/or environment vs. a bug with code, but to start:
1. Can you do a hard reload of your page to ensure your browser is not keeping a cached version of the previous build?
2. Is there any difference when running `npm run build`?

[2020-07-29 05:22] sarthak3097 commented on #585
1. I did try a hard refresh, no success.
2. I just tried that as well and got a similar result.

I also tried to see if there is a change in the frontend docker container after I executed  `npm run build ` , but there wasn't. I feel that is where the change should get reflected.

[2020-07-29 07:17] #573 closed

[2020-07-29 10:33] verdan commented on #580
@ayush-san I agree, this should not be the case. I think we just copied the same file in metadata service.
And the truth is, you don't even need a separate OIDC file in the metadata. We simply need this for frontend to generate and pass the authorization headers, and the other microservices just utilize them and validate them.
Could you please open a PR with a fix ?
[code]

[2020-07-29 11:39] sarthak3097 commented on #585
I'm trying to run all the services together on a docker, not using standalone services.

[2020-07-29 11:42] ayush-san commented on #580
@verdan so we should just remove the OidcConfig from the metadata just like search service and validation of authorization headers is being done or it needs to be implemented?

Also, due to this issue https://github.com/puiterwijk/flask-oidc/issues/83, I am using the local config without OIDC

[2020-07-29 13:27] pranavsethi commented on #386
@feng-tao  ..
Thanks for great contribution on Lyft

We are trying to integrate the Superset-Snowflake preview feature with Lyft .
Currently the flow is such :
- Superset hosted in a Docker - Running on 8088
- Amundsen Frontend hosted on 5000 using amundsen on Docker

Both Docker Networks connected to each other , thus the API is reachable from inside Frontend Docker using :
curl http://superset_a

[2020-07-29 14:06] jornh commented on #585
How are you building the docker frontend container? Are you following https://github.com/lyft/amundsen/blob/master/docs/developer_guide.md? - otherwise please share your exact steps.

As I tried to express in https://github.com/lyft/amundsen/issues/190 I fear the two build methods (with/without docker) interfere with each other.

I didn't get to the bottom of figuring out how to introduce this pro

[2020-07-29 14:50] verdan commented on #580
Yes, you don't need the OidcConfig for metadata for the same reason as the search service.

[2020-07-29 17:49] feng-tao commented on #386
@pranavsethi I would suggest to follow with superset slack channel as different version has different endpoint security setting.

[2020-07-29 18:18] minsuo opened #586 "Feature request: Looker dashboard extractor"
## Expected Behavior or Use Case
Looker dashboard extractor, similar to other dashboard extractors for populating dashboard metadata.

## Service or Ingestion ETL
Dashboard extractor for amundsendatabuilder, which can either leverage Looker API or an org's looker code repo as a source for metadata.

## Possible Implementation
Currently have a coworker developing an implementation utilizing the API

[2020-07-29 20:22] feng-tao commented on #586
thanks @minsuo , also could we add Brex to the Amundsen user list(https://github.com/lyft/amundsen#who-uses-amundsen) ? Thanks.

[2020-07-29 20:23] feng-tao commented on #586
Also linked the previous discussion from slack (https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1594809182111500?thread_ts=1594219120.056200&cid=CGFBVT23V) about looker extractor support.

References:
- https://medium.com/google-cloud/google-cloud-data-catalog-and-looker-integration-4ebefdef6a34
- https://github.com/GoogleCloudPlatform/datacatalog-connectors

[2020-07-30 16:53] ealtuna opened #588 "Error running Atlas backend quickstart"
I am following the instructions provided in: https://github.com/lyft/amundsen/blob/master/docs/installation.md to bootstrap a default version of Amundsen using Docker, with the Atlas backend. After downloading the repository with submodules and running the command:

    docker-compose -f docker-amundsen-atlas.yml up

Everything seems fine in the logs:

[code]

However, when I try to access the UI

[2020-07-30 16:57] feng-tao commented on #588
cc @verdan

[2020-07-30 17:19] Alagappan commented on #588
@ealtuna If you haven't already, please feel free to ping in the #amundsen slack channel as well to see if anyone can help with getting you unblocked

[2020-07-30 19:23] ealtuna commented on #588
I am following the steps in the guide. Is there any additional configuration step required?

[2020-07-30 19:25] ealtuna commented on #588
Without any change, now I can see additional error messages in the terminal.

[code]

[2020-07-30 21:18] verdan commented on #588
@mgorsk1 can you please take a look ? It seems something is breaking in bookmarks ?

[2020-07-31 08:39] mgorsk1 commented on #588
I think `AUTH_USER_METHOD` error is not relevant - Bookmarks (and in fact all user-related activities like My Profile page) can't really work when there is no oidc in place to identify user. But that should not disrupt whole app.

I've just rebuild whole stack from lyft/master with `docker-compose -f docker-amundsen-atlas.yml build --force` and then did `docker-compose -f docker-amundsen-atlas.yml

[2020-07-31 16:11] feng-tao commented on #588
@mgorsk1's fix is merged, @ealtuna please pull the master and give it a try. Feel free to reopen if the issue persists.

[2020-07-31 16:11] #588 closed

[2020-07-31 16:22] jornh commented on #585
@sarthak3097 did you have a chance to test if the suggested `.gitignore` changes above helped?

[2020-08-03 06:47] sarthak3097 commented on #585
Hi jornh,
Sorry for the late response. Was trying few things.

https://github.com/lyft/amundsen/blob/master/docs/developer_guide.md?
This did help to quite a large extent.

But I had to configure few changes in the docker file.
So basically, this document is to make changes to the docker-amundsen-local.yml
So to make changes in the actual frontend, I tried to replicate the same code in the docker-

[2020-08-03 06:48] sarthak3097 commented on #585
Didn't get the chance to check this - `.gitignore`
Will check it by today and get back to you.

Thank you for the suggestions though, they were pretty helpful.

[2020-08-03 10:09] ayush-san commented on #567
@feng-tao When can we release a new version of `amundsen-databuilder`?

[2020-08-03 13:16] vikalpmullick opened #591 "TTransport.TTransportException: TSocket read 0 byte for Thrift Hive metastore"
**Objective**: Extract metadata from Hive Tables

**Connection Script**:  amundsendatabuilder/example/dags/hive_sample_dag.py
**Hive Connection String** : "hive://10.x.x.x:9083"
SUPPORTED_HIVE_SCHEMAS =['default']

**HIVE Version**
Cloudera CDH-6.1.1-1
hive-common-2.1.1-cdh6.1.1.jar

Python 3.7

**hive-site.xml**
hive.server2.authentication = NONE
hive.metastore.uris = thrift://10.x.x.x:9083
hive.

[2020-08-03 15:25] pPanda-beta opened #594 "FlaskOidc is not useful while using with k8s ingress"
I was using amundsen frontend with flaskoidc as auth layer wrapper, and following is the kubernetes deployment architecture :

Browser(Client) --(HTTPS)--> Nginx Ingress Controller --(HTTP, port:5000)--> Amundsen-Frontend-Pod

So flask_oidc was detecting the wrong redirect_uri, (which I was able to fix by using **proxy_redirect**, aka find and replace in _location_ header for 3xx) as well as it is

[2020-08-03 15:31] ealtuna commented on #588
@feng-tao @mgorsk1 it works now. Thank you for your help!

[2020-08-03 18:31] Alagappan commented on #591
@vikalpmullick Please post on #troubleshoot slack channel. Might be good to post exception trace as text there.

[2020-08-03 21:34] jornh commented on #549
@yashcodes any news on this?

[2020-08-04 04:31] feng-tao commented on #591
the connection string should be the sqlchemy string for the hive metastore.

[2020-08-04 04:32] feng-tao commented on #594
cc @verdan

[2020-08-04 06:15] jornh commented on #585
Surprised Gunicorn gave you an error. It’s been working in the official builds so far. What error/stack trace did you get?

Would appreciate if you could try the gitignore suggestions.

[2020-08-04 07:45] jornh commented on #591
@feng-tao sounds like a doc or example clarification might help. Seems several have stumbled on it.

[2020-08-04 09:56] vikalpmullick commented on #591
@feng-tao @jornh Could you pls give me an example for it, or let me know wht am i missing on here?

[2020-08-04 17:48] jornh commented on #591
I’m not using Hive myself. So found a previous thread on Slack.

Source: https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1567015023009900?thread_ts=1565830431.396400&channel=CGFBVT23V&message_ts=1567015023.009900

So I guess for Derby you’d have to use a Sqlalchemy connection string starting with `derby://...` not `hive://...` as you said you’re currently trying to use.

Not sure if there

[2020-08-04 17:57] jornh commented on #591
Also to repeat my own comment from that old Slack thread:

Let alone that either the README or the sample code could give sample connection strings. But I’ll leave that to you as I *could* add stuff there but I think it’s better to have it contributed by someone who has actually tested it out themselves. 🙂

[2020-08-04 19:00] verdan commented on #594
Will take a look once I am back from my holiday!!

[2020-08-04 22:07] alran commented on #526
FYI @friendtocephalopods is going to follow up here in the near future :)

[2020-08-04 22:15] jornh commented on #534
Fixed by

[2020-08-04 22:15] #534 closed

[2020-08-05 06:28] vikalpmullick commented on #591
@Alagappan @jornh i am not able to access the above slack channel? Pls let me know hoe to check it. Is it an invite based channel? (vikalpmullick@gmail.com)

[2020-08-05 08:42] jornh commented on #591
No it's in the public #amundsen channel. But it's a 11-12 month old thread now.

Find icon link to join Amundsen Slack in the README.md in this repo.

And ... main message for you to try first is probably:

as I said above.

[2020-08-06 09:54] bogo96 opened #596 "Bug: Neo4j Node key format is confused It is necessary to decide whether to allow uppercase."
## Structure
The Extractor returns some model class implemented in databuilder/models.
In each model class, there are functions like ```get_table_key```, ```get_col_key``` which makes ```key``` of neo4j. node.

## Problem
We use ```TableColumnStats``` class (databuilder/models/table_stats.py) for extracting column statistics.
The ```__init__``` function of ```TableColumnStats``` convert table_name

[2020-08-06 16:33] dorianj commented on #392
https://github.com/lyft/amundsenfrontendlibrary/pull/534 doesn't implement full hot reload, but does remove need to rebuild the server.

[2020-08-06 17:52] dorianj commented on #560
Started on this in https://github.com/lyft/amundsendatabuilder/pull/310, will follow-up with typing changes once that lands

[2020-08-06 18:53] pPanda-beta opened #597 "Column based search is unimplemented in Atlas?"
On amundsen advanced search, use a query term for column, and the xhr fails (that too silently without informing user)

## Expected Behavior
Should list down all the column entries and/or all the tables with that column

## Current Behavior
No results showup, api returns 500
Amundsen Search logs
[code]

## Possible Solution

Reason:
Looking at those lines it seems team had no intension to build th

[2020-08-06 19:10] pPanda-beta commented on #597
# Same goes for schema as well :(

when search_request = `{'type': 'AND', 'filters': {'schema': ['datasets']}}`
Rest of the flow is same as above...

[2020-08-06 19:30] friendtocephalopods commented on #526
Hi @feng-tao and other gremlin-interested friends,

Here's a slightly more detailed plan I've been thinking about:
* add abstract proxy test cases in metadataservice with a neo4j proxy test using new PUT/POST endpoints in neo4j proxy. This will allow folks to roundtrip against a test database locally. It's not perfect -- y'all use databuilder code to write neo4j, but maybe in the mid term neo4j fo

[2020-08-06 19:51] feng-tao commented on #597
cc @verdan or @mgorsk1

[2020-08-06 19:52] feng-tao commented on #596
will take a look

[2020-08-06 23:29] Alagappan opened #599 "Feature Proposal: Add support for displaying Primary Key/Partition column in table details page"
## Expected Behavior or Use Case
Table details page should display which column(s) are Primary key and partition keys for the table. Please note not all databases support primary key so this needs to be enabled only for once that support it, for e.g., Snowflake

## Service or Ingestion ETL
All 3 amundsen services (`amundsenfrontend`, `amundsensearch` and `amundsenmetadata`) and `amundsendatabuilde

[2020-08-06 23:31] Alagappan commented on #599
cc @feng-tao @markgrover @danwom

[2020-08-06 23:50] feng-tao commented on #526
1. I need to think a bit more about whether we need that for neo4j. I think one of the pain points is to do an integration test between all three services(FE, metadata, search). Testing neo4j directly is fine if we support multiple neo4j version, but currently, we haven't had any plan or bandwidth yet for that.  Or could you share your pr (pseudo-code) of what exactly PUT/POST endpoint are you ref

[2020-08-07 00:32] friendtocephalopods commented on #526
Hi Tao, thanks for your quick response!

1. Agreed, we haven't quite cracked a great integration test between all 3 services internally yet either, but we found adding roundtrip tests in the proxy to be a major help at catching bugs when doing heavy development on our proxy. It helped a little bit that in our case all of our neo4j write code was also in the proxy via PUT/POST endpoints. It's a bit

[2020-08-07 05:29] sauravsahu02 opened #600 "Substring search from Amundsen UI"
## Expected Behavior or Use Case
I should be able to search or list the table on Amundsen UI by typing sub-string of table metadata like table name, column name, table description, tags, etc.
If I have a  table '**customer**', I should be able to list the table by typing its substring e.g. "**cust**" or "**custo**".

[2020-08-07 07:05] mgorsk1 commented on #597
Hey @pPanda-beta that's correct, when implementing first version of advanced-search with Atlas we only took into account following attributes: **database, table, cluster and tag (classification)**. This is because enabling advanced search by any other attribute mentioned by you (column name, schema) entails more complexity in implementation.

However, there was no `decision` not to support additio

[2020-08-07 11:23] jornh commented on #600
AFAIK it's a deliberate choice in the basic search on the frontpage/top banner to only return exact matches.

If you want what you describe it can be accomplished by clicking into advanced search and entering e.g `cust*` or `custo*` with a wildcard  into for example the table name field - see under point 8 in https://lyft.github.io/amundsen/installation/#bootstrap-a-default-version-of-amundsen-usi

[2020-08-07 15:57] feng-tao commented on #597
I think it falls into the feature request category.

[2020-08-07 16:08] feng-tao commented on #599
thanks @Alagappan

[2020-08-07 16:45] #600 closed

[2020-08-07 18:10] jornh commented on #577
Doc was updated to clarify as per https://github.com/lyft/amundsen/pull/587#issuecomment-666656619

This issue can be closed @deyerly @feng-tao

[2020-08-07 18:21] feng-tao commented on #577
thanks @jornh !

[2020-08-07 18:21] #577 closed

[2020-08-07 20:36] jfhbrook opened #601 "Feature Proposal: Stored relationships/foreign keys between table columns"
## Expected Behavior or Use Case

I'm looking into adopting Amundsen at my workplace, and one feature request that's come up in this project which I don't see is support for encoding relationships between columns in various tables.

What I'm looking for is an extra thing in the column metadata panel that shows which other columns in other tables are related to each other. The obvious case here is

[2020-08-07 20:39] feng-tao commented on #601
We plan to add the support to surface PK/FK as column level badge in Q3/Q4. Let me tag @ttannis and share the mock and see if it fits the need.

[2020-08-07 20:40] feng-tao commented on #601
also similar to https://github.com/lyft/amundsen/issues/599

The reason we think column badge is better is that we could decouple different column level metadata with the column model. This way makes it easier to extend to cover other column level use case as well.

[2020-08-07 20:46] jfhbrook commented on #601
Nice! I don't have strong opinions (yet) about what the UI aspects would look like. I'm pretty new to Amundsen! I just wanted to try and be useful and follow the template. Definitely down to check out your mock-up and be an early user!

[2020-08-07 20:50] Alagappan commented on #599
@feng-tao please let me know if I can help with anything on this feature (PR, design reviews, docs or code reviews)

[2020-08-07 22:36] pPanda-beta commented on #597
@feng-tao At least update the documentation / known limitations notes.

[2020-08-08 04:20] feng-tao commented on #549
close it for now, feel free to reopen if the issue persists.

[2020-08-08 04:20] #549 closed

[2020-08-08 04:21] #546 closed

[2020-08-08 04:21] feng-tao commented on #546
the change is merged.

[2020-08-08 04:23] feng-tao commented on #552
sorry for the delay, here is the pr (https://github.com/lyft/amundsendatabuilder/pull/312) /

[2020-08-08 04:24] feng-tao commented on #552
^^ @pPanda-beta you could pull the change to your test env to unblock.

[2020-08-08 07:45] jornh commented on #591
Related PR: https://github.com/lyft/amundsendatabuilder/pull/312
Related issue: #552

[2020-08-10 17:32] dorianj opened #605 "amundsendatabuilder Tests don't pass on master"
When I download a fresh copy of amundsendatabuilder, the unit test suite doesn't pass. I'm actively debugging this, but posting to track and see if anyone else has seen this.

## Expected Behavior
[code]

Test suite passes.

## Current Behavior
Failures:
```=== 24 failed, 221 passed in 20.72 seconds ===```

I can grab the full list output, but it's extremely long because it includes some function

[2020-08-10 17:52] alevene commented on #605
If your error set is the same as mine, I found that the failures were due to [google authentication](https://cloud.google.com/docs/authentication/production) errors on the BigQuery extractors. I got around this by doing the following:

Create a file named `tests/google_default_credentials.json` with the following content
[code]

Then, reference that file in an env var. I'm using a docker setup for

[2020-08-10 18:36] dorianj commented on #605
@alevene HUGE help, thank you! That fixes 23 of the errors. Going to commit that fix. The other failure looks unrelated but easy to handle. Will PR both together.

[2020-08-10 19:01] jornh commented on #605
Hmm, perhaps the CI isn't failing because the Travis CI environment for some reason already has such a credentials file?

I'm guessing without that dummy file calling BigQuery Extractor init() will end in calling out to google auth library around https://github.com/lyft/amundsendatabuilder/blob/master/databuilder/extractor/base_bigquery_extractor.py#L58

I noticed a similar thing in the Cassandra

[2020-08-10 19:04] dorianj commented on #605
I'm playing with inserting a dummy `CRED_KEY` in those tests, but since it's a service_account (not a `authorized_user` per the dummy config file mentioned), the library actually tries to parse it, so it can't be totally dummy values.

[2020-08-10 19:47] jornh commented on #605
Sorry I didn't convey it very clearly. If you *don't* put in neither a dummy file or key it will fall through to:

[code]

And then with something like below in the BigQuery tests - you avoid calling the real `google.auth.default` and you dont have to worry about constructing a parsable dummy key.

[code]

[2020-08-10 21:07] dorianj opened #606 "amundsendatabuilder doesn't pass tests with python 3.7"
## Expected Behavior
All tests pass

## Current Behavior
4 tests fail with Python 3.7, mostly relating to the [StopIteration change in Python 3.7](https://www.python.org/dev/peps/pep-0479/).

## Possible Solution

## Steps to Reproduce
`make tests` using python 3.7.x

## Screenshots (if appropriate)
N/a

## Context

## Your Environment

* Amunsen version used: `master`
* Data warehouse stores: n/a

[2020-08-10 21:08] dorianj commented on #605
Ah, thanks @jornh, yes I was confused. PR'd at https://github.com/lyft/amundsendatabuilder/pull/313 -- will close this once that lands.

Turns out the rest of the failures were from me using Python 3.7. Opened a new issue for that: https://github.com/lyft/amundsen/issues/606

[2020-08-10 21:09] dorianj commented on #606
I'm going to take this on, but I'd like to get https://github.com/lyft/amundsendatabuilder/pull/311 landed first, for two reasons. First, the fixes for this may be somewhat large since there are many instances of generators; I'm not sure which will need to be changed. Second, having types will just make this easier.

[2020-08-10 23:02] #552 closed

[2020-08-11 00:23] dorianj commented on #605
Fixed in https://github.com/lyft/amundsendatabuilder/pull/313

[2020-08-11 00:23] #605 closed

[2020-08-11 01:29] feng-tao opened #607 "Feature Proposal: Use discovery API for mode dashboard integration"
## Expected Behavior or Use Case
Switch to use the new [Discovery API](https://mode.com/help/articles/discovery-api) for mode analytics dashboard metadata ingestion which is way more performant.

## Service or Ingestion ETL

databuilder

## Possible Implementation

Switch to use the new discovery API

## Example Screenshots (if appropriate):

## Context
Currently the mode dashboard integration wit

[2020-08-11 14:21] manesioz commented on #73
Hi! On the docs we can see that for `TableLastUpdated`:

My guess is the implementation will have to leverage `LAST_MODIFIED_TIME ` from the [`INFORMATION_SCHEMA`](https://cloud.google.com/bigquery/docs/information-schema-datasets)? Any thoughts on how to implement this?

[2020-08-11 15:09] samshuster opened #608 "Add Extractors for Delta Lake Format"
This will add delta-lake table metadata and last updated extractors.
https://github.com/delta-io

## Expected Behavior or Use Case
Will fetch delta-lake metadata and ingest it into amundsen using databuilder extractors.

## Service or Ingestion ETL
databuilder

## Possible Implementation
It will require that the extractor is run on a spark cluster as my understanding is that is the only way to get

[2020-08-11 15:10] samshuster commented on #608
Just pointing out that I am making slow progress on this. My hope is to have a WIP MR out by early next week.

[2020-08-11 16:46] Golodhros opened #611 "Add Storybook to the Frontend library"
All projects create frontend components for their user interfaces. Amundsen has been creating some of these, and reusing others. However, it is not easy to understand what we have created before, the different styles we apply to them and if we have duplicates.

A storybook implementation will help us gather together our *presentational components*, making it easy to share, develop and evolve our U

[2020-08-11 16:46] dorianj commented on #611
I'm looking into this

[2020-08-11 20:34] markgrover opened #615 "[DOCS] Update references to github.com/lyft to be github.com/amundsen-io"
## Expected Behavior
Update the github references to be correct (i.e. under github.com/amundsen-io)

## Current Behavior
There's a bunch of places in docs, etc. where there are references to github.com/lyft.

## Possible Solution

## Steps to Reproduce

## Screenshots (if appropriate)

## Context

## Your Environment

[2020-08-11 20:36] markgrover commented on #615
Also, btw, PRs will need to wait before we fix the Travis/PyPi setup to ensure tests are running.

[2020-08-11 23:36] dorianj commented on #615
databuilder: https://github.com/amundsen-io/amundsendatabuilder/pull/323

[2020-08-11 23:42] markgrover commented on #615
Thanks for picking this up, Dorian! Marking it here so I don't forget.
Repositories include all github.com/amundsen-io/amundsen* repositories (including github.com/amundsen-io/amundsen-io.github.io)

Regex'es that I can think of:
github.com/lyft/amundsen* -> github.com/amundsen-io/amundsen*
lyft.github.io/amundsen -> amundsen.io/amundsen

cc @Golodhros @feng-tao

[2020-08-12 04:24] ayush-san commented on #580
@verdan Were you able to review the PR?

[2020-08-12 04:33] feng-tao commented on #580
@ayush-san I will defer it to @verdan as he added the initial OIDC support. We will get back to you. Thanks.

[2020-08-12 05:13] feng-tao opened #617 "Feature Proposal: Use github action instead travis for CI / CD"
## Expected Behavior or Use Case
Github action is easy to setup and maintained. We should use github action for all CI / CD in the long run instead of travis. Here is an example workflow(https://github.com/amundsen-io/amundsencommon/pull/47).

## Service or Ingestion ETL

## Possible Implementation

## Example Screenshots (if appropriate):

## Context

[2020-08-12 05:14] feng-tao commented on #617
I will take a look next week once back.
cc @ttannis @Golodhros

[2020-08-12 09:38] debbielee1996 opened #618 "Data Loader Scripts Issue"
## Expected Behavior
Started the 4 containers via the following command:
sudo docker-compose -f docker-amundsen-local.yml up --build -d
![image](https://user-images.githubusercontent.com/62943444/89999907-08f10200-dcc2-11ea-94e5-f619d26b845b.png)

Next, I have tried running 2 scripts:
1. I have edited /example/scripts/**sample_mssql_metadata.py** as per:
![image](https://user-images.githubusercont

[2020-08-12 09:54] jornh commented on #618
Yes, you mention 4 containers but there are actually 5 of them including `es_amundsen` - so that one didn't come up cleanly as your error also indicates.

Check troubleshooting steps related to ElasticSearch in the Quickstart guide (https://github.com/amundsen-io/amundsen/blob/master/docs/installation.md#troubleshooting) + check that you're not constrained on resources memory etc.

[2020-08-12 13:15] jornh commented on #615
I took a stab at the `amundsen` repo: https://github.com/amundsen-io/amundsen/pull/619

[2020-08-12 20:01] dorianj commented on #611
This is done

[2020-08-12 20:16] Golodhros commented on #611
Thanks @dorianj !

[2020-08-12 20:16] #611 closed

[2020-08-12 22:58] dorianj commented on #53
I'm going to pick this up. I think this will be a nontrivial project, mostly in the form of soliciting feedback from the community. Part of the appeal of Amundsen is its flexibility: there's no one right way to install it. However, for a guide to be broadly useful, I believe it needs to have concrete steps. As a result, we'll need to make some opinionated decisions in order for the guide to be use

[2020-08-13 01:47] debbielee1996 commented on #618
I'm not sure if the troubleshooting steps are relevant, because when I ran the docker-compose file there were no error messages:
![image](https://user-images.githubusercontent.com/62943444/90083907-629b1000-dd46-11ea-9bee-7e93754ceb77.png)
In fact, starting es_amundsen had no issues. However, that container is not reflected in sudo docker ps, unless I restart the docker-compose:
![image](https://u

[2020-08-13 05:24] jornh commented on #618
Thank you for providing good informative posts on what’s happening. An example for others to follow! Much better to work with than “it doesn’t show up in the UI - what’s wrong?” type of requests for help with troubleshooting 👍

Clearly the ES container dies, indicated by:

I’d imagine that test will fail also before you run the databuilder load, meaning databuilder failing is just a symptom not th

[2020-08-13 05:46] debbielee1996 commented on #618
Thank you for the response! I managed to resolve it by following #1 of https://github.com/amundsen-io/amundsen/blob/master/docs/installation.md#troubleshooting

Additionally, what do you mean by this:
![image](https://user-images.githubusercontent.com/62943444/90098663-51182f00-dd6b-11ea-8a5b-a923a58761ae.png)

I have to run docker under sudo, otherwise I will get the prompt "permission denied".

[2020-08-13 07:11] jornh commented on #618
Great it's resolved! Guess the issue can be closed then

*"Have to run docker under sudo ..."* depends on the configuration of your environment. I don't need to in mine: https://www.google.com/search?q=docker+no+sudo+ubuntu - as I saw you noted Ubuntu as your environment. Running as root or not with docker each comes their pros and cons.

About the volume mapping: https://www.google.com/search?q=d

[2020-08-13 07:22] debbielee1996 commented on #618
Awesome! Thank you so much for your help 👍

[2020-08-13 07:22] #618 closed

[2020-08-13 15:23] jornh commented on #591
@vikalpmullick any news on your end here? The PR #552 got merged and should be part of databuilder 3.0.0.

[2020-08-13 15:26] jornh commented on #53
@dorianj that sounds like an awesome plan! I'll refrain from giving more feedback until you have passed step 1. 😉

[2020-08-13 15:32] feng-tao commented on #526
sorry for the late reply, I am OOO most of the time this week except a few meetings. Will get back to the comment next week.

[2020-08-13 20:52] verdan opened #630 "Bug Report: Clicking the link of Amundsen Logo on documentation site redirects to 404"
Clicking the Amundsen logo on the documentation site https://www.amundsen.io/amundsen/ navigates to 404.

## Expected Behavior
Clicking the Amundsen logo should redirect users to the home page of the amundsen documentation.

## Current Behavior
Clicking redirects to 404 page. i.e., `https://lyft.github.io/amundsen/`

## Possible Solution
href should be `https://www.amundsen.io/`

## Steps to Repro

[2020-08-13 21:24] verdan commented on #580
Sorry @ayush-san for the delay in review. I lost this somewhere in emails.
Merged!!

[2020-08-13 21:24] #580 closed

[2020-08-13 21:26] feng-tao commented on #630
the issue should be fixed now. thanks for raising it.

[2020-08-13 21:26] #630 closed

[2020-08-14 01:40] debbielee1996 opened #631 "Data Preview Fails for Selected Tables"
## Expected Behavior

Data preview should show all tables in the same database without problems.

## Current Behavior

Table not loading for this particular table.
![image](https://user-images.githubusercontent.com/62943444/90202816-5af46d80-de11-11ea-8bd7-c270cf6a06f0.png)

**Error message in debug mode:**
Triggering query_id: 6
INFO:superset.views.core:Triggering query_id: 6
timeout can't be use

[2020-08-14 04:05] feng-tao commented on #631
most likely due to superset auth instead of Amundsen as it uses FAB for security management. I would suggest you reach out superset community.

[2020-08-14 21:19] jornh opened #633 "Frontend repo - broken docs link"
Link to docs on frontend repo still points to Lyft org.

## Expected Behavior

https://www.amundsen.io/amundsen (or maybe even `/frontend` ?)

## Current Behavior

![8305097C-A881-4A3B-BC53-BFEE06272084](https://user-images.githubusercontent.com/766423/90293296-0b9b5500-de84-11ea-8944-d01f902a1598.jpeg)

[2020-08-17 19:02] dorianj commented on #617
I haven't used GH actions much but I've worked a ton with circleci, I think I could make good progress on this without too much help -- can I pick this up?

[2020-08-17 19:11] feng-tao commented on #617
Thanks @dorianj , but I think this one requires to access some passwords / token for the project in order to test it end 2 end (e.g upload pypi). I would still prefer to do it myself if it is ok to you.

[2020-08-17 21:19] dorianj commented on #606
This was easier than expected, opened a PR, it can land independently of typings, and I consider it to be more urgent

[2020-08-17 21:19] dorianj commented on #606
https://github.com/amundsen-io/amundsendatabuilder/pull/334

[2020-08-17 21:32] dorianj commented on #585
Are you still seeing this @sarthak3097 ?

[2020-08-17 21:40] dorianj commented on #64
Fixed in https://github.com/amundsen-io/amundsendatabuilder/pull/311 -- can close this now or after that lands

[2020-08-17 23:59] #606 closed

[2020-08-18 03:40] feng-tao commented on #631
^^ @debbielee1996 let us know if you got any answered from the superset community.

[2020-08-18 16:08] #631 closed

[2020-08-18 20:37] feng-tao commented on #617
all the prs are merged and we are 100% on github action now.

[2020-08-18 20:37] #617 closed

[2020-08-18 23:01] ttannis commented on #537
We have moved to github actions for releases, and this issue is now obsolete.

[2020-08-18 23:01] #537 closed

[2020-08-19 01:04] jornh commented on #499
With https://github.com/amundsen-io/amundsenfrontendlibrary/pull/591 has this feature request been fulfilled?

What got implemented is not just an “unread indicator” but a feed on the front page: https://github.com/amundsen-io/amundsenfrontendlibrary/blob/master/docs/application_config.md#announcements-config

[2020-08-19 01:06] Golodhros commented on #499
Nope, it didn't include a badge, but the Announcements block got a lot more visibility.

[2020-08-19 01:21] jornh commented on #49
As per https://github.com/amundsen-io/amundsen/issues/537#issuecomment-675760763 builds are now on GitHub workflow instead of Travis.

Guess this also means #49 isn’t relevant any more?

[2020-08-19 01:21] feng-tao opened #639 "Feature Proposal: add github action to check license header"
## Expected Behavior or Use Case
We add license headers for all the code files(py, ts, css). We should add a github action to make sure license header is added for new files

[2020-08-19 01:27] jornh commented on #639
Duplicate of https://github.com/amundsen-io/amundsen/issues/563 ?

[2020-08-19 03:42] #563 closed

[2020-08-19 03:42] feng-tao commented on #639
yeap, just close that one.

[2020-08-19 03:56] #49 closed

[2020-08-19 03:56] feng-tao commented on #49
thanks @jornh for the heads up!

[2020-08-19 04:18] Golodhros commented on #578
Related to https://github.com/amundsen-io/amundsen/pull/504/files

[2020-08-19 04:41] feng-tao commented on #37
we move the code to common which the issue should be fixed now.

[2020-08-19 04:41] #37 closed

[2020-08-19 06:24] ayush-san opened #640 "Invalid input exception in NODE_MERGE_TEMPLATE of neo4j_csv_publisher"
While creating users using User model class, I received the following error for one of the users in our org.

[code]

In [neo4j_csv_publisher.py](https://github.com/amundsen-io/amundsendatabuilder/blob/master/databuilder/publisher/neo4j_csv_publisher.py#L103), we have defined node merge template as

[code]

## Current Behavior
Due to `'` in the email id of the user and use of `'` for encoding in `

[2020-08-19 19:09] dorianj commented on #640
Root cause: https://github.com/amundsen-io/amundsen/issues/513

I think here, escaping `KEY` would suffice -- can you try escaping it on input as a work-around?

[2020-08-19 19:16] dorianj commented on #615
common: https://github.com/amundsen-io/amundsencommon/pull/51

[2020-08-19 19:23] dorianj commented on #615
mdl: https://github.com/amundsen-io/amundsenmetadatalibrary/pull/174

[2020-08-19 19:27] dorianj commented on #615
sl: https://github.com/amundsen-io/amundsensearchlibrary/pull/133

[2020-08-19 20:18] Golodhros opened #641 "Change Bookmark markup to use a button and SVGs"
We should update the markup on Bookmark/BookmarkIcon/index.tsx  to use an SVG for both bookmark states and update the markup to use a button instead of a div.

## Possible Implementation
Create a component for the Bookmark button, supporting both states.

## Context
We want to update the way we render icons into something more supported among browsers and with more visual quality.

[2020-08-19 20:24] Golodhros opened #642 "Swap sanitize-html with a different project"
We want to remove sanitize-html from our dependencies list, as it is super heavy:

![static__19_May_2020_at_14_12_](https://user-images.githubusercontent.com/190833/90685714-10af2a00-e21f-11ea-8c89-7841365d633c.png)

## Expected Behavior or Use Case
The behavior should not change

## Possible Implementation
Search for a replacement that offers the same functionality with a lighter weight for our a

[2020-08-19 20:30] Golodhros opened #643 "Implement Consistent Variable names"
We currently suffer from inconsistent variable names, as we pass data from the python requests directly to the React-Redux layer, resulting in a mix of snake_case and camelCase variables throughout the application.

Completing this work would allow us to get rid of a lot of warnings on our ESLint checks, all related to this rule: @typescript-eslint/naming-convention

## Possible Implementation
To

[2020-08-19 20:39] Golodhros opened #644 "Enable GZIP compression for assets"
Enable gzip compression for assets in our Flask app.

## Possible Implementation
Try using the 'flask-compress' library (might be outdated, however)
https://github.com/jmcarp/flask-compress

## Context
This should reduce network traffic by 70-80%.
* Bootstrap ungziped: 170 kb
* Bootstrap gzipped: 22 kb

[2020-08-19 22:16] #615 closed

[2020-08-19 22:19] Golodhros commented on #47
We integrated betterer for checking for strict Null infractions on https://github.com/amundsen-io/amundsenfrontendlibrary/pull/598

There are a lot of warnings now, so this is still an issue.

[2020-08-19 22:19] allisonsuarez opened #645 "Refactor icons to use @mixin"
This [file](https://github.com/amundsen-io/amundsenfrontendlibrary/blob/master/amundsen_application/static/css/_icons.scss) should have all icons being created using `iconBackgrounds` rather than using `-webkit-mask-image`.

## Expected Behavior or Use Case
The behavior will remain the same.

## Service or Ingestion ETL
amundsenfrontendlibrary

## Possible Implementation
Follow the implementation

[2020-08-19 22:28] Golodhros opened #646 "Refactor text classes and styles"
We have a new set of text classes and placeholder classes to use on our text styles (https://github.com/amundsen-io/amundsenfrontendlibrary/blob/master/amundsen_application/static/css/_typography-default.scss#L12)
We want to use this going forward, but also want to remove all the current classes from our app.

## Expected Behavior or Use Case
Visually, almost nothing should change

## Possible Imp

[2020-08-19 22:30] Golodhros commented on #646
See an example here: https://github.com/amundsen-io/amundsenfrontendlibrary/blob/19cc1061f17722d4daa23576aca8b7aa1254b440/amundsen_application/static/js/components/common/Card/styles.scss#L45

[2020-08-19 23:20] Golodhros commented on #646
One example of the work to do: https://github.com/amundsen-io/amundsenfrontendlibrary/pull/602

[2020-08-20 06:51] ayush-san commented on #640
@dorianj I can escape it in my input but will it be escaped during [auth_user](https://github.com/amundsen-io/amundsenfrontendlibrary/blob/master/amundsen_application/api/v0.py#L23) call?

[2020-08-20 18:07] allisonsuarez opened #649 "Keyboard access and focus for accessible use of clickable badges"
The clickable badges should be keyboard accessible and focusable.

Based on conversation from [previous PR](https://github.com/lyft/amundsenfrontendlibrary/pull/529#discussion_r463397108)

## Expected Behavior or Use Case
A user can use tab to reach and click on badges.

## Service or Ingestion ETL
amundsenfrontendlibrary

## Possible Implementation
Decouple Flag and ClickableBadge components to r

[2020-08-21 04:40] feng-tao commented on #591
close it now. Feel free to reopen if the issue persists.

[2020-08-21 04:40] #591 closed

[2020-08-21 06:54] bolkedebruin commented on #526
I like a Gremlin proxy certainly for its flexibility. Just a couple of caveats. In our use of Apache Atlas which relies on JanusGraph we found out that Gremlin interfacing tends to be slow, especially on searching the graph if that is required. Secondly, a Gremlin endpoint used to be available in Atlas, but was kicked out for security reasons. Basically, that endpoint allowed you to circumvent any

[2020-08-21 09:34] higee opened #651 "generate column-pointed URL"
## Expected Behavior or Use Case

Currently, the URL is created per table. For instance, when we have a table in Postgres with

* database : test_db
* schema : test_schema
* table: test_table
* columns:
    * test_column1
    * test_column2
             ⋮

`https://amundsen.something.com/table_detail/test_db/postgres/test_schema/test_table`

But I just thought it would be better if we can add one

[2020-08-24 17:41] jerryzhu2007 commented on #579
It will be good to have All table browsing

[2020-08-25 18:10] pPanda-beta opened #658 "R u kidding me? 2.5.5 pushed to 2.5.4 tag :stonned:"
Famous mammoth commit https://github.com/amundsen-io/amundsenmetadatalibrary/commit/48b4c71054f7b34bca8a8f148e8b7499dfb986fc got pushed to dockerhub for tag `amundsendev/amundsen-metadata:2.5.4` 6 days ago from today, which broke the existing integration with atlas.

## Expected Behavior
Amundsen metadata (v2.5.4) `GET /table/` should work in the same env where it used to work 7 days before today.

[2020-08-25 18:11] pPanda-beta commented on #658
@verdan  - looks like you are involved, anyways, things are stable now, I'm using sha256 everywhere and will soon make clone of those docker images.

[2020-08-25 18:44] feng-tao commented on #658
@pPanda-beta sorry to heard that, I think our docker CI/CD incorrectly mutate the version when doing a push.

[2020-08-25 19:16] pPanda-beta commented on #658
@feng-tao Thanks for the quickest action.
Can you check the other images as well? Although I've hardcoded all sha256 for safety.

[2020-08-25 20:39] verdan commented on #658
@pPanda-beta indeed the issue is with out CI/CD as @feng-tao mentioned. anyways, if you want to use the latest master branch in the future, please make sure to use the latest version of https://github.com/dwarszawski/amundsen-atlas-types as well.
This change was recently introduced in the metadata and requires new entity definitions, which is also released.

We usually announce these changes every

[2020-08-26 00:38] #658 closed

[2020-08-26 17:05] pPanda-beta commented on #658
@verdan Thanks for the update.
Since amundsen-atlas-types, doesn’t have integration tests within it, I've to do manual testing before upgrading. And we are already live on production with amundsen and atlas.
So need to test the following before migration :
1. Existing entities and relationships are not harmed
2. All basic user journeys of amundsen are working fine. (Will write some taiko/selenium

[2020-08-26 17:11] feng-tao commented on #658
@pPanda-beta if your company is using Amundsen in production, could we add your company as Amundsen user in https://github.com/amundsen-io/amundsen#who-uses-amundsen ?

[2020-08-26 17:13] pPanda-beta commented on #658
Sure, we can make PR.

@learningyoda what say?

[2020-08-26 17:23] feng-tao commented on #658
thanks

[2020-08-26 21:06] verdan opened #663 "Coverage reports are gone after migrating to github actions"
With the migration from travis to Github Actions, somewhere we lost the coverage reports that used to be there for each PR. Can we try to get them back?

## Expected Behavior
As soon as you open a PR, there should be a coverage reports explaining what is the difference in coverage with this PR.

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Screenshots (if appro

[2020-08-27 03:46] Golodhros commented on #663
To be honest, that was just noise for me. Maybe I am too much of an extremist, but either we decide they really matter and break builds when they go down, or we better remove them.

My 2 cents :)

[2020-08-27 09:07] Alagappan opened #664 "Add Snowflake Table Last Updated Timestamp extractor"
Add an extractor to fetch last updated timestamp for tables in Snowflake database.  This information can be displayed in table details page

## Service or Ingestion ETL
amundsendatabuilder

## Possible Implementation
Snowflake INFORMATION_SCHEMA tables has `last_altered` column for each table that captures last DML operation time that we can leverage.

## Context
Right now, Amundsen only has suppo

[2020-08-27 10:46] verdan commented on #663
That is something really useful in my opinion and give you the idea what you are trying to merge in master.
I am also happy to break the build when they go down certain percentage.

[2020-08-28 00:59] samshuster commented on #608
Ok here is the WIP extractor here: https://github.com/amundsen-io/amundsendatabuilder/pull/351/files

I will try to tag some disney folks to take a look too as I know they do something similar.

Once approach is deemed ok, then I will circle back and think about how to add unit tests, clean up code (add type annotations), make it more configurable where possible and also add documentation

[2020-08-29 00:39] feng-tao commented on #658
@pPanda-beta ping

[2020-08-31 08:00] pPanda-beta commented on #658
@feng-tao
We have released it for a limited audience.
Soon, we release it for the entire organisation and get the first round of user feedback, I'll raise the PR.
Till that time, we have to wait.

[2020-09-01 00:42] feng-tao commented on #594
cc @verdan

[2020-09-01 01:55] zer0pool commented on #596
@feng-tao Any review on this issue?

[2020-09-01 08:18] pPanda-beta commented on #552
@feng-tao  : Due to huge amount of initial bootstrap works, we moved to amundsen with atlas instead of native.
But I can say this will definitely allow people, to work with their own type of hive metastore database.
Thanks for the PR.

[2020-09-01 08:48] verdan commented on #594
I have this in my agenda as the next feature (once I am done with the users/owners part). I'll be working on fixing issues with this and also OIDC for google.

[2020-09-02 17:17] #664 closed

[2020-09-02 17:55] nathanlawrence-asana opened #672 "PostgresMetadataExtractor doesn't discover Redshift late binding views"
## Expected Behavior
We're heavy users of late binding views in Redshift (e.g. [`with no schema binding`](https://looker.com/blog/how-to-use-late-binding-views-with-amazon-redshift-and-looker)).  I believe that those views _should_ show up in Amundsen (non-late binding views seem to show up just fine), but are not currently showing up in Amundsen.

## Possible Solution
The root issue is that views

[2020-09-02 19:08] verdan opened #673 "Improve the test coverage of Atlas Proxy"
Atlas proxy was developed with a very limited test data (default test data that comes with the Atlas), which is not realistic at all, hence misses a lot of scenarios on the production environment.
We need to improve the fixtures, to make it more realistic and closer to the what we have on production, and try to cover many of the edge cases while working on that.

[2020-09-02 20:39] madison-ookla opened #674 "Newlines in sample data are not rendered properly on the front end"
## Expected Behavior

I've just run the docker compose images and run the steps for the sample data loader as defined in the [quick start guide](https://github.com/amundsen-io/amundsen/blob/master/docs/installation.md#bootstrap-a-default-version-of-amundsen-using-docker).

When viewing the data in the Amundsen UI, I would expect these newline characters to be rendered on separate lines rather than

[2020-09-02 20:41] feng-tao commented on #674
cc @ttannis

[2020-09-02 21:12] ttannis commented on #674
Laying out next steps:

1. We should first have to update the quick start, then see if the issue still occurs.Programmatic descriptions have had recent changes so we first have to check if this occurs on the recent code.
2. If it does, programmatic descriptions are rendered using `ReactMarkdown` which is a 3rd party component. We will have to see if there are options we have to set to that things

[2020-09-02 21:19] ttannis commented on #651
A new URL would direct to a new page, and we don't have plans to expose individual pages for columns so they aren't something that can be linked to.

The core of this issue seems to be that the user wanted a more efficient way to find a particular column. We have current plans to improve column the column UI such that users can sort, and future plans to even add filters to column UI as well. We be

[2020-09-02 21:22] ttannis commented on #633
Fixed the link!

[2020-09-02 21:22] #633 closed

[2020-09-02 21:24] madison-ookla commented on #674
Thank you both for the immediate feedback!

[2020-09-02 21:26] ttannis commented on #318
Addressed in https://github.com/amundsen-io/amundsenfrontendlibrary/pull/519.

[2020-09-02 21:26] #318 closed

[2020-09-02 21:31] ttannis commented on #441
@jdavidheiser I tried to reproduce and it looks like the issue is currently fix on master. Please reopen if you are somehow able to still reproduce with the latest code.

[2020-09-02 21:31] #441 closed

[2020-09-02 21:52] ttannis opened #675 "Adding expand/collapse features in nested column type UI"
## Expected Behavior or Use Case
We recently introduced an improved user interface for column types with nested/complex structures. Current support covers Hive and Presto nested types.
https://github.com/amundsen-io/amundsenfrontendlibrary/pull/627

1. We want to extend the UI such that each level will be able to be expanded and collapsed.
2. In addition we want to add a button that will toggle al

[2020-09-02 23:10] Golodhros opened #676 "Improve fixtures for easier unit testing"
The `globalState` fixtures contains a mock version of our application state for testing. As we have expanded our unit test coverage, we've continued adding to that file and importing the entire fixture even for tests where we just need one piece of that object.

For better maintenance as our application grows, the we want to create a set of TestDataBuilders that will help us create fixtures for ou

[2020-09-02 23:20] Golodhros opened #677 "Adopt Redux Selectors as the way of extracting derived data"
A “selector” is simply a function that accepts Redux state as an argument and returns data that is derived from that state.

Why should we use selectors?
It is a best practice to keep your Redux store state minimal and derive data from the state as needed. Selectors help with that. They can compute derived data, allowing Redux to store the minimal possible state.

Selectors are currently written a

[2020-09-02 23:22] feng-tao commented on #675
cc @dikshathakur3119 a good one which is needed for discovery and explore

[2020-09-03 04:11] jornh commented on #651
@ttannis agree 💯 that introducing individual pages for columns would be undesirable. It doesn’t have to be implemented with that tough.

If those deep links were in the form of `#` fragment links like `https://amundsen.something.com/table_detail/test_db/postgres/test_schema/test_table#test_column1` it could just work as “scroll this column into view” - preferably with a visual highlight effect. E.

[2020-09-03 14:04] verdan commented on #673
Improved the code coverage and individual functions in Atlas Proxy!

[2020-09-03 14:04] #673 closed

[2020-09-03 14:36] ArthurEgide commented on #579
All table browsing it's awesome! I'm needing this feature.
The others features that u said it's very good too

[2020-09-03 19:51] ttannis commented on #651
Thanks @jornh Will get some additional eyes on this from maintainers to ensure my perspective alone doesn't make the call here.

[2020-09-04 08:56] higee commented on #651
My bad. I mentioned anchor in the Slack link and instead suggested creating a sub-page per column. What @jornh suggested sounds neat. Thanks for the correction.

[2020-09-05 09:58] pPanda-beta commented on #594
hey @verdan
Just one general update, in my organisation we first started with google oidc, later moved to our own keycloak, which is working as oidc broker.

With google it was working fine. But the refresh token lifetime was quite high, and no option in the frontend to logout. It got solved when things are in our control using keycloak.

With keycloak there are slight glitches (clearing out cooki

[2020-09-05 16:04] mgorsk1 commented on #594
I think the `glitches` part in keycloak oidc is also what we are experiencing @verdan . I assume that's going in the fix as well.

[2020-09-05 21:11] verdan commented on #594
@mgorsk1 @pPanda-beta what glitches ? Can you please be more specific or examples?

flaskoidc is not very complex or a fancy code, can you please help me fix those issues and open a PR if you see this happening as I can not reproduce all the issues sometimes, especially in the case of google OIDC.

But please feel free to open a PR and I will prioritise the review.

[2020-09-07 08:28] mgorsk1 commented on #594
The one I have in mind is what we sometimes notice (the same thing I mentioned before internally) when every Amundsen request returns 500 and what helps is clearing cookies/opening in incognito mode. It seems that not redirecting to login screen when token has expired might be the issue.

[2020-09-08 16:30] instazackwu opened #685 "Bug Report: Neo4j key values with an apostrophe ` cause syntax errors in publishing"
Special characters in the constructed neo4j cypher code in
https://github.com/amundsen-io/amundsendatabuilder/blob/HEAD/databuilder/publisher/neo4j_csv_publisher.py#L103-#L105 and
https://github.com/amundsen-io/amundsendatabuilder/blob/HEAD/databuilder/publisher/neo4j_csv_publisher.py#L109-#L112

causes `neobolt.exceptions.CypherSyntaxError`

## Expected Behavior

The key value with an `'` should

[2020-09-08 16:34] instazackwu commented on #685
https://github.com/amundsen-io/amundsen/issues/513 seems to be the first suggested solution.

Thanks for the suggestion to open this issue first @jornh -

cc @Alagappan this was another small issue with Snowflake table names.

[2020-09-09 05:06] debbielee1996 commented on #631
![image](https://user-images.githubusercontent.com/62943444/92556730-3c14ba00-f29d-11ea-98bd-c04cf2899be8.png)

Hi feng-tao, I am having this issue when I try to preview the datatables. The username and password for superset login is correct, do you have any idea what went wrong?

[2020-09-09 18:14] vilasmamidyala-icf opened #688 "Unable to load the data into postgres tables"
Hi Team,

I am using the sample_postgres_loader.py to load the data into the Postgres table, it is not working for me. it doesn't throw any error and it just ran. I don't see any changes in the database.

It works well when I just try to ingest data into the neo4j issue is only with Postgres. can someone help me with this issue?

[2020-09-09 19:36] feng-tao commented on #688
is it with the latest master?

[2020-09-09 19:38] vilasmamidyala-icf commented on #688
I didn't use the latest one from the master. I have used the one which I downloaded a couple of days ago.

[2020-09-10 07:04] ShambhuT opened #689 "Reagarding neo4j License"
I could see that neo4j that is used here, is neo4j Community edition. The neo4j Community edition is having GPL v3 license. So I have a following question, Pls check and help me in clarifying this,

Query : In our organization , if we want to use Amundsen as base for building our Data Catalog solution (of course accessible only to our Data Platform team with in our organization, not customer facin

[2020-09-10 16:42] feng-tao commented on #689
Amundsen doesn't change any neo4j source code but just leverage and run neo4j binary to host the metadata. I don't think you need to open up the lib. If you have real concern, I would suggest you to clarify with neo4j community.

[2020-09-10 16:42] #689 closed

[2020-09-10 18:35] Golodhros opened #690 "Turn Announcements Configuration OFF by default"
## Expected Behavior or Use Case
We shouldn't show the announcements section and page by default, as we don't ship any connection for pushing announcements, so most of other users will have that components without any posts.

## Possible Implementation
We will turn it off on the next main release

[2020-09-10 20:38] ajbosco opened #691 "Add examples for Action Logging"
## Context
It would be useful to have examples for how people can use `action_logging` to record data about Amundsen usage.
https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1599768689098500

[2020-09-11 04:28] jornh commented on #691
Related (duplicate issue?): #22 which in a comment mention some metrics

[2020-09-11 04:31] feng-tao commented on #691
I think it is related, I did a spot check which the only thing is not open source from Lyft side is the IDL event schema for user action. We could take some time to write a doc / tutorial on our user tracking dashboard as well as IDL schema...

[2020-09-11 22:10] ttannis commented on #651
@jornh thanks for comment, which led to additional discussion on this feature. Here are next steps/requirements:

1. Introduce a button that will generate the link to share, e.g. `https://amundsen.something.com/table_detail/test_db/postgres/test_schema/test_table#test_column1`
2. When the table page loads, the application checks if there is a column then scrolls to it and expands it.

[2020-09-12 09:15] pPanda-beta commented on #594
@verdan

This is issue is mainly a proxy for https://github.com/verdan/flaskoidc/issues/1 , there is **no problem on amundsen frontend actually.**

For glitches of flaskoidc, I've not debugged myself. But mostly it happens when tokens are expired and on the same browser we have logged out and logged in with a different user on keycloak. I'll share a detailed reproduction steps on a fresh issue on

[2020-09-12 09:30] pPanda-beta commented on #580
@verdan

Didn’t two comments of yours.

1. "We simply need this for frontend to generate and pass the authorization headers, and the other microservices just utilize them and validate them."

2. "Yes, you don't need the OidcConfig for metadata for the same reason as the search service."

I just wanted to know after this PR, will oidc still work? We have implemented fine-grained access control usin

[2020-09-12 16:54] feng-tao commented on #688
feel free to reopen with error log once you rerun with master version.

[2020-09-12 16:54] #688 closed

[2020-09-13 19:59] vilasmamidyala-icf commented on #688
Hello,
I had run into the same issue after using the latest build. N data is loaded. I had the properties set as attached in the screenshot. while running the data load for the first time i got the error saying the password issue, i then kept the password as you see in the attachment. Later when i run the job it ran like the second screenshot shown and it then did nothing. I dont see anything load

[2020-09-13 20:02] vilasmamidyala-icf opened #693 "Bug Report: unable to data into load postgrses"
Hello,
I had run into the same issue after using the latest build. N data is loaded. I had the properties set as attached in the screenshot. while running the data load for the first time i got the error saying the password issue, i then kept the password as you see in the attachment. Later when i run the job it ran like the second screenshot shown and it then did nothing. I dont see anything load

[2020-09-14 13:49] jornh commented on #672
@nathanlawrence-asana I guess with https://github.com/amundsen-io/amundsendatabuilder/pull/356 merged this issue is resolved, so you can close it?

[2020-09-14 16:26] nathanlawrence-asana commented on #672
Yep!  Thank you.

[2020-09-14 16:26] #672 closed

[2020-09-14 16:27] nathanlawrence-asana commented on #672
@jornh or @feng-tao , do we need to update the Status: label as well? (I don't think I have permissions there).

[2020-09-14 16:29] feng-tao commented on #672
thanks @nathanlawrence-asana @jornh , label is updated as well.

[2020-09-14 18:39] jornh commented on #691
With #692 merged I guess this issue and possibly #22 as well can be closed

[2020-09-14 18:40] #22 closed

[2020-09-14 18:46] jornh commented on #65
With the resolution of https://github.com/amundsen-io/amundsen/issues/672 which got solved by introducing Redshift and Postgres variants of base implementation introducing late-bindings this issue may have become a more low hanging fruit low.

@p5k6 if you’re still interested maybe worth looking into?

[2020-09-14 18:55] feng-tao commented on #65
I think the issue could be closed now. Feel free to reopen if that's not the case.

[2020-09-14 18:55] #65 closed

[2020-09-15 17:09] liviasilvasantos opened #698 "Hard time loading data to amundsen using apache atlas"
Hi all,

I've seen some examples to load data into amundsen using Neo4j (amundsendatabuilder/example/scripts/) but how can I load data using Apache Atlas? Is there any sample too? Should I use Atlas Rest API? Atlas client?

I'm finding it dificult to find examples. And quite confusing.

Thanks.

[2020-09-15 17:12] feng-tao commented on #698
cc @verdan @mgorsk1
hey Verdan, Mariusz, I wonder whether it will be possible to have some guide or doc on how to boostrap Amundsen with Atlas. I don't have much experience with Atlas, so will leave it to you to decide :)

[2020-09-15 18:48] madison-ookla commented on #674
Investigating this a little further, it seems like it might actually be a data loading issue. When the data is loaded into the models, it seems that the `\n` is being escaped:
[code]

The `ReactMarkdown` component is probably receiving the escaped text already and thus rendering it appropriately.

I was able to confirm this by replacing the two characters `\n` in the original CSV with a literal ne

[2020-09-15 18:53] madison-ookla commented on #674
I'll submit a PR for the amundsen data builder to adjust this 🙂

[2020-09-15 19:09] #674 closed

[2020-09-15 23:06] #690 closed

[2020-09-16 13:41] GiovannaR opened #700 "Error when trying to use the search bar"
Everytime I try to use the search bar, it sends this error:
`requests.exceptions.ConnectionError: HTTPConnectionPool(host='amundsensearch', port=5000): Max retries exceeded with url: /search_table (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f0b409e9f90>: Failed to establish a new connection: [Errno -2] Name or service not known')),
2020-09-15T15:10:59+0000.877 [D

[2020-09-16 15:24] M0kY opened #701 "Bug Report: Programmatic descriptions not displayed for sample data"
Since version 2.2.0 of amundsenfrontendlibrary programmatic descriptions do not work as per the documentation when `PROGRAMMATIC_DISPLAY` is left at `None`. After loading sample data using `sample_data_loader.py` no programmatic description is displayed for `test_schema.test_table1`.

## Expected Behavior

From the documentation at https://www.amundsen.io/amundsen/frontend/docs/flask_config/

Afte

[2020-09-16 16:10] feng-tao commented on #700
the search is powered by the elasticsearch which you need to run a 2nd job to index the search.

[2020-09-16 16:48] GiovannaR commented on #700
What it means to run a 2nd job to index the search? I tested using the `example/scripts/sample_data_loader.py` file. Do I have to add some code in this in order to make the search works?

[2020-09-16 17:03] GiovannaR commented on #700
I also cannot acess the port 5001 and 5002 which is correpondent to Amundsen metadata and search respectively, because the message "Not found" appears. Is that part of the problem maybe?

[2020-09-16 18:21] ZhijieWang commented on #526
@bolkedebruin  when you say you Atlas with JanusGraph search is low, were you searching external elastic search index? Based our experience of developing something similar on DataStack Enterprise Graph (DSE), we may need to introduce detailed partitioning mechanism to your graph. The same applies for Azure CosmosDB, or the cost will be expensive. Also, CosmosDB integration will be a little tricky,

[2020-09-16 19:49] pPanda-beta opened #702 "Announcement xhr from frontend is broken - 2.3.0"
No announcement api call is initiating from frontend.

## Expected Behavior
A get call to `/api/announcements/v0/` on component did mount.

## Current Behavior
No backend call is going

## Possible Solution
Don't have correct source maps in docker image, so cant debug.

## Steps to Reproduce
1. Load home page.
2. Announcement section is missing.

## Screenshots (if appropriate)

## Context
we have

[2020-09-16 19:53] feng-tao commented on #702
announcement never goes to metadata. You need to build a custom client in FE to do that. We just disable the client by default. Also I think we fix the docker image tag issue (https://hub.docker.com/r/amundsendev/amundsen-frontend/tags) which the version shouldn't get overridden.

[2020-09-16 19:54] feng-tao commented on #701
please take a look at https://github.com/amundsen-io/amundsendatabuilder/pull/367 which @madison-ookla did a fix on the sample data.

[2020-09-16 20:08] feng-tao commented on #702
yeah, latest tag override makes sense as it should match the latest master. If you want stable one, I would suggest to use the stable tag which matches the version.

[2020-09-16 20:14] pPanda-beta commented on #702
Proof of tag overriding

docker pull amundsendev/amundsen-frontend-oidc@sha256:17d5f316c3990c1cce557b9240c1175d231ced4c963f9549a8326fff1001f524

docker pull amundsendev/amundsen-frontend-oidc@sha256:f5e7ce16853e2b6d26054b96ae9d1caa862d9161fad0a1ba6b3ed971882ca26d

Both belongs to 2.3.0

[2020-09-16 20:19] pPanda-beta commented on #702
@feng-tao I always avoid pulling "latest" tag, since that is supposed to be the only mutable tag.

But here until a version bump up happens, the check in tag is getting overridden again and again by the pipeline.
I'm planning to create a pipeline to save backups of good, stable images on my organization's own container registry.
To verify the features, I will create end-to-end functional tests usi

[2020-09-16 20:42] M0kY commented on #701
After updating amundsendatabuilder to the latest version the formatting of the programmatic description was fixed but the underlying issue still stands.

[2020-09-16 21:30] M0kY commented on #701
@madison-ookla `docker-amundsen.yml` works as expected but it uses an older version (amundsen-frontend:2.1.1) while I only noticed the issue from version 2.2.0 onward. When I upgrade the frontend version inside `docker-amundsen.yml` the issue occurs again.

[2020-09-16 21:31] madison-ookla commented on #701
Got it! Thanks for clarifying 🙂

[2020-09-16 21:52] feng-tao commented on #701
cc @ttannis hey Tamika, I know we add some configs for programmatic descriptions, do you know anything specific related to this issue?

[2020-09-16 22:40] ttannis commented on #701
I see. We have to update the logic in https://github.com/amundsen-io/amundsenfrontendlibrary/blob/master/amundsen_application/api/utils/metadata_utils.py#L152 to account for when `prog_display_config` is `None`, and assign `other = prog_descriptions` in that case.

[2020-09-16 23:11] feng-tao commented on #701
@ttannis  oh i see, thanks for the info, https://github.com/amundsen-io/amundsenfrontendlibrary/pull/671

[2020-09-17 00:30] feng-tao opened #703 "mypy error for amundsenfrontend"
Mypy error in frontend tests repo if we add __init__.py to correct its package

[code]

[2020-09-17 06:11] feng-tao commented on #693
are you on windows?

[2020-09-17 12:28] akompos commented on #703
Put me down for this @feng-tao

We done our first deployment at work and I'm keen to get my head around the front end service too. This seems like a good starter :)

[2020-09-17 13:04] vilasmamidyala-icf commented on #693
Yes I am on windows

[2020-09-17 13:35] GiovannaR opened #704 "Cannot access the amundsenmetadata and amundsensearch"
Hi all,

When I try to access the amundsenmetadata or amundsensearch in the Browser using the ports 5002 and 5001 respectively, I get this message:

![NotFound](https://user-images.githubusercontent.com/19623850/93477212-1c027d80-f8d1-11ea-8102-d00fd07921ff.PNG)

Is this normal behavior or should I access it?

I am using docker-compose.yml to install the application with some modifications highlig

[2020-09-17 18:34] #704 closed

[2020-09-17 18:34] #700 closed

[2020-09-17 19:51] feng-tao commented on #704
@GiovannaR does it issue get resolved?

[2020-09-17 19:51] feng-tao commented on #703
thanks @akompos

[2020-09-18 20:49] feng-tao commented on #701
@M0kY the fix is merged to master, could you try it with master and see if the issue is fixed? thanks.

[2020-09-18 20:53] feng-tao commented on #685
@Alagappan @instazackwu do you get it resolved?

[2020-09-18 20:57] instazackwu commented on #685
This is still an issue - the steps to reproduce should still give that same error. I was waiting to see if https://github.com/amundsen-io/amundsen/issues/513 had any movement before trying to implement something.

For now, we are just ignoring any table names that have a `'` in them to bypass this issue

[2020-09-20 16:56] M0kY commented on #701
@feng-tao Can confirm it is now working as expected. Thanks for the quick fix.

[2020-09-21 04:04] feng-tao commented on #701
thanks @M0kY for confirming!

[2020-09-21 04:04] #701 closed

[2020-09-21 16:46] pPanda-beta opened #711 "#535 missed Html rendering configs"
Html tags are not properly rendered

Since markdown is superset of html, at least basic html tags needs to be rendered
https://github.com/amundsen-io/amundsenfrontendlibrary/pull/535 has missed some part.

## Expected Behavior
Markdown ``` <a href="..."> Some link </a>``` renders to a hyperlink

## Current Behavior
The hyperlink is holding nothing in it, and title is going outside as a next dom si

[2020-09-21 21:33] feng-tao commented on #160
this ticket is duplicated by https://github.com/amundsen-io/amundsengremlin

[2020-09-21 21:33] #160 closed

[2020-09-22 09:51] Wonong opened #712 "Filter search request on 'cluster' field not works."
## Expected Behavior
I ran amundsen and execute example data loader like this page(https://github.com/amundsen-io/amundsen/blob/master/docs/installation.md#bootstrap-a-default-version-of-amundsen-using-docker)
After that, I send a request `POST  /search_table` to search service with body like below.
[code]
Looking at `TABLE_MAPPING` constant of proxy in Amundsen searchservice, I expected documents

[2020-09-22 18:36] feng-tao commented on #712
thanks, eventually we need to use common (https://github.com/amundsen-io/amundsencommon/blob/master/amundsen_common/models/index_map.py) as deps in databuilder. Just haven't had time to clear it up..
The change makes sense. The UI currently doesn't have cluster in filtering as FYI.

[2020-09-23 00:12] Wonong commented on #712
Thank you for your comment and PR approvement.
I had created cluster filtering amd use it in my own frontend.
If that's what you need, I will create a PR to make search to use common soon. :)

[2020-09-23 15:54] Golodhros opened #713 "Test Coverage for pages/PreferencesPage"
## Expected Behavior or Use Case
Having test coverage for pages/PreferencesPage and pages/PreferencesPage/PreferenceGroup

## Possible Implementation
A regular jest test

## Context
Increase our test coverage

[2020-09-23 16:39] #703 closed

[2020-09-23 23:36] instazackwu commented on #408
https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1572454944194100

I recently faced this issue as well, and followed the thread where the gist came from, and this worked for me:

`Dockerfile.frontend`

[code]

`docker-compose-yml`

[code]

[2020-09-24 01:18] finkton1 opened #714 "Cannot run front end locally"
Good Day,

I am trying to run Amundsen front end locally, I went through all the steps, here: [https://github.com/amundsen-io/amundsenfrontendlibrary/blob/master/docs/installation.md](url)
And when I try to run application localhost:5000 I receive these types of errors

`{
    "msg": "Encountered exception: AUTH_USER_METHOD is not configured"
}`

I am running the metadata service on http://0.0.0.0

[2020-09-24 16:46] pPanda-beta commented on #714
Hey @finkton1
Try to use the docker-compose provided.

Safe :
https://github.com/amundsen-io/amundsen/blob/master/docker-amundsen.yml

Adventurous :
https://github.com/amundsen-io/amundsen/blob/master/docker-amundsen-atlas.yml

Steps :
just download the docker-compose file and run `docker-compose up -d; docker-compose logs -f`

[2020-09-24 23:36] finkton1 commented on #714
Thanks!
However I am trying to run metadata and search service locally in their own separate environments.

I can run the health checks on both services and I receive a 200 so I know they are running.

[2020-09-25 00:11] alran opened #715 "Advanced Search can be unintuitive"
## Expected Behavior or Use Case
We have had many of our users comment that the advanced search functionality is unintuitive to them. Here are the types of things our users have commented on:

- functionality related to excluding some results (like `this NOT that`)
- the search bar doesn't allow you to press down in order to select options/suggestions
- when you initiate a search from the homepage

[2020-09-25 04:27] feng-tao commented on #715
@alran hey Alyssa, i know there are a lot more we could do to improve the search. And thanks for documenting the issues. I have an internal doc for search syntax and I think we could copy it over to help clarify a bit. In the mean time, we could brainstorm and improve the search?

[2020-09-25 16:25] alran commented on #715
Yes, I think a brainstorm would be good! Perhaps we could get some other people in the community onboard with a brainstorming session as well

[2020-09-25 16:47] jornh commented on #715
Happy to participate as well. What format do you suggest? Can we attract more people to discuss here on this issue or is a small online session more productive?

[2020-09-25 17:05] alran commented on #715
I'm going back to some people internally to try to gather more specific notes that could be used in a brainstorming session. I think it might be nice to have a small online session (I know there is at least one person on my team who'd like to demo a style of search that he thinks is more intuitive). But I also want people to comment here with suggestions and ideas too!

[2020-09-25 17:29] jornh commented on #715
Sounds great! In particular the “use pre-existing” part. Would be great to not have to reinvent this - both on UX level - but in particular if it was already backed by a library. Any product name to drop on this perhaps? To me the JQL advanced bar in JIRA comes to mind with “intellisense” like suggestions - or something like what’s already there with the IU for adding tags in Amundsen.

To kick of

[2020-09-28 17:54] liviasilvasantos opened #735 "Filter by tag not working"
Since I've had a hard time with Atlas installation (the adventurous path ;-) ), I've started again with the safe neo4j and es.

Followed the instalation steps, got containers up and running. Next, I ran example/scripts/sample_data_loader.py and I could see sample data in localhost:5000.

When I edit a table, adding a new tag, it seems to work. But if I click directly on the tag link (at table_deta

[2020-09-28 18:18] cleber0120 commented on #715
A few additional comments:
- Clearing the form is unintuitive:  clearing an advanced search term on the side bar by deleting the text from the box doesn't always clear it from the URL.  You must select "Clear" in order for the term to be removed.
- The Lyft data model (database -> cluster -> schema -> table) doesn't map exactly to all companies' data models.  As a result, it isn't always clear wha

[2020-09-28 18:21] feng-tao commented on #735
currently if we add a tag, the ES index job needs to rerun again to populate the index.

[2020-09-28 19:25] liviasilvasantos commented on #735
Thanks, @feng-tao . I ran the ES etl job again and the index is now updated.

[2020-09-28 19:25] #735 closed

[2020-09-28 20:06] ttannis commented on #408
Would someone like to add this our docs, perhaps an `Install custom application` section in https://github.com/amundsen-io/amundsenfrontendlibrary/blob/master/docs/installation.md.

[2020-09-28 20:11] feng-tao commented on #408
@instazackwu yeah, that will be super useful, would you create a pr about this note? thanks

[2020-09-29 00:59] sterlins commented on #715
@feng-tao I've been trying to set up search doco as well so it'd be great to see what you've got!

I'd also been thinking that highlighting the matching search terms, a la google search results, would help make it more transparent to users why certain tables show higher in results than others:
![image](https://user-images.githubusercontent.com/17155577/94498123-b1403300-023c-11eb-9bbb-f6cce3352029

[2020-09-29 03:55] finkton1 commented on #714
I also tried the setup documentation by using Ubuntu 20 in virtual machine with same results.
Used documentation same as before: [https://github.com/amundsen-io/amundsenfrontendlibrary/blob/master/docs/installation.md](url)

[2020-09-29 04:42] jornh commented on #714
This “error” (rather a warning) is expected for both of the two setups you tried if you didn’t configure authentication.

In comparison the Quickstart setup @pPanda-beta mention above get around it by configuring a dummy auth method in the compose file.

[2020-09-29 09:17] chrigui94 opened #737 "Amundsen Atlas search not working"
hi everyone, i am trying to set up amundsen (search-library) with Atlas backend and the following configs (witout host, user and password):

[code]
Normally it returns the searched entities existing in Atlas but it doesn't work

I get this error
[code]

* Amunsen version used: the last version
* Data warehouse stores: Atlas version 2.4.0
* Deployment (k8s or native):  k8s

[2020-09-29 11:01] janbe-ts commented on #424
Hi all,

we would also like to run Amundsen behind a reverse proxy and are therefore dependent on a configurable base_url. Are there any updates on this? Or does anyone know about a workaround for this issue? Guess it's not that easy, but is there a chance to configure the react app like described here https://create-react-app.dev/docs/deployment/#serving-the-same-build-from-different-paths?

[2020-09-29 13:21] ben-j-herbertz opened #738 "Search Service is not working correctly"
Amundsen has been installed locally based on the latest version 2.4 and built from source.
Atlas is used as backend and search engine.

Note: Atlas was installed and used before. I used the kickstart method to generate all types.

## Expected Behavior
The search should list all results

## Current Behavior

Error Message: `Page index out of bounds for available matches`

Response from `/api/search

[2020-09-29 13:23] josn0w commented on #738
Link to slack discussion: https://amundsenworkspace.slack.com/archives/CHQERT0D7/p1601290167028400

[2020-09-29 14:01] ben-j-herbertz opened #739 "Non Docker Installation & Atlas Configuration Documentation missing"
I am missing a documentation for a non docker environment.

Currently i try to do the configuration native (built from source) and i am facing multiple issues.

Also i am missing a full documentation on how to use Apache Atlas as the metadata and search backend.

[2020-09-29 14:05] ben-j-herbertz opened #740 "Bookmarks are not working after kickstart"
Amundsen has been installed locally based on the latest version 2.4 and built from source.
Atlas is used as backend and search engine.

Note: Atlas was installed and used before. I used the kickstart method to generate all types.

## Expected Behavior

Bookmarks can be used.

## Current Behavior

Bookmarks are not working

Error from metadata service:
[code]

Error from frontend service:
[code]

#

[2020-09-29 14:07] ben-j-herbertz opened #741 "HBase Tables are not working after kickstart"
Amundsen has been installed locally based on the latest version 2.4 and built from source.
Atlas is used as backend and search engine.

Note: Atlas was installed and used before. I used the kickstart method to generate all types.

## Expected Behavior

HBase tables can be displayed.

## Current Behavior

HBase tables can not be displayed.

Error from metadata service:
[code]

Error from frontend s

[2020-09-29 16:55] ttannis commented on #424
No updates as this item isn't something explicitly on the roadmap, so for now it is a matter of someone looking into it and submitting a PR.  In our community slack channel you can talk to others who are interested in this feature, and perhaps with multiple folks looking into this it can get moved along. There have already been some attempts linked above, so a starting point could be to understand

[2020-09-29 20:27] feng-tao commented on #740
cc @verdan @mgorsk1

[2020-09-29 20:28] feng-tao commented on #741
cc @verdan @mgorsk1

[2020-10-01 04:54] sunanda3055 commented on #585
I am also unable to see the React/Scss changes reflecting in the browser after 'npm run build'.

To see my changes, I have to again install the resources and then again start the server with the command 'python3 amundsen_application/wsgi.py'

Please let me know another way to reflect my changes immediately on the browser without, again installing the python resources every time/

[2020-10-01 07:23] janbe-ts commented on #424
Thanks @ttannis for the quick response. I've joined the Slack channel and will see what I can do

[2020-10-01 10:14] higee commented on #685
Columns with backslash ('\\') also raises CypherSyntax error. Let me know if I need to open a new case.

[code]

raw column is `properties.ad_name\`

[2020-10-01 14:02] jornh commented on #685
@higee that doesn't surprise me - as `\` is the escape character in possible solution number 2. ☝️  so both problems are closely related and should be handled by the same PR.

[2020-10-01 17:40] jornh commented on #714
Basically same thing as in the Docker compose file. Set the `FRONTEND_SVC_CONFIG_MODULE_CLASS` environment var to the Flask config class you want to use Including definition of auth (either the dummy one above or OIDC) 👈 This is essentially just following Flask conventions.

Yeah, I know documentation for your scenario is scattered across repos etc. and people want to run stuff in several differen

[2020-10-01 17:40] jornh commented on #714
Hope the above brings you a step further

[2020-10-01 19:44] friendtocephalopods opened #742 "Feature gaps in neptune proxy"
## Expected Behavior or Use Case
Some small gaps between the latest neo4j proxy and the current neptune proxy release due to new features we haven't adopted at Square yet. We'll get to these eventually, but if they're blocking you, feel free to submit a PR!

## Service or Ingestion ETL
amundsen-gremlin, metadataservice

## Context
Some missing features:

- Badge support
- get_frequently_used_table

[2020-10-01 19:46] friendtocephalopods commented on #526
With the merging of the neptune proxy, I think we can close this ticket! WDYT @feng-tao ?

[2020-10-01 19:47] feng-tao commented on #526
totally! thanks @friendtocephalopods @alran and everyone behind for the gremlin feature support!

[2020-10-01 19:47] #526 closed

[2020-10-02 11:26] otakart opened #744 "amundsencommon: missing comma in setup.py"
`install_requires` section of setup.py misses comma between marshmallow requirements.

Introduced in commit: https://github.com/amundsen-io/amundsencommon/commit/7ff2fe1c6e299338c6cc78b90196fa353b67b995#diff-2eeaed663bd0d25b7e608891384b7298

[2020-10-02 14:21] Wonong commented on #744
Thank you for reporting.
That's my mistake. sorry.
I will make a PR to fix that.

[2020-10-02 15:10] feng-tao commented on #744
just merge a fix in master. thanks for reporting

[2020-10-02 15:10] #744 closed

[2020-10-03 12:04] otakart commented on #744
thanks for fixing this.

[2020-10-07 01:15] joshthoward commented on #382
I went and created a sample charts repo [here](https://github.com/joshthoward/charts).

If someone on the core team can create a fork within the amundsen-io organization, I can reference it from Artifact Hub.

[2020-10-07 01:45] pratikSethi commented on #639
Hi @feng-tao, @Golodhros I would like to give this a try over the weekend. Can I take this up?

[2020-10-07 03:37] Golodhros commented on #639
Yes please, we would love your contribution!

[2020-10-07 04:24] feng-tao commented on #639
thanks @pratikSethi for the interest, but i think we have already implemented this github action (https://github.com/amundsen-io/amundsendatabuilder/blob/master/.github/workflows/license.yml). Sorry about forgetting to update the issue status.

[2020-10-07 04:24] #639 closed

[2020-10-07 05:58] feng-tao commented on #163
https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1601574654078500
Great insight by Gary George
![image (2)](https://user-images.githubusercontent.com/3223098/95292976-6b303400-0827-11eb-957e-d1c4bf143a0d.png)

[2020-10-07 09:30] mishranaveen commented on #145
max virtual memory areas vm.max_map_count [65530] is too low, increase to at least [262144] ..... from link shared by @jornh fixed my problem .

[2020-10-08 12:10] chrigui94 opened #752 "Search functionality don't work as expected"
2020-10-08T13:55:11+0200.976 [INFO] _internal._log:122 (45004:Thread-49) - 127.0.0.1 - - [08/Oct/2020 13:55:11] "GET /table/hive_table://hdptuc01.default/test1 HTTP/1.1" 500 -
Traceback (most recent call last):
  File "/opt/apps/anaconda3/envs/amundsen-metadata/lib/python3.7/site-packages/flask/app.py", line 2309, in __call__
    return self.wsgi_app(environ, start_response)
  File "/opt/apps/anac

[2020-10-08 20:58] davcamer opened #754 "Client certificates for Frontend to Metadata/Search requests (mutual TLS)"
## Expected Behavior or Use Case
Be able to configure client certificates that the Frontend service will use to communicate with the Metadata and Search services.

## Service or Ingestion ETL
The Frontend Python code.

## Possible Implementation

### Environment Variables
This could be implemented as environment variables. The requests library can take a client certificate [either as a single  fil

[2020-10-08 21:17] davcamer commented on #754
I have implemented the "Expose in Config" approach for the moment, which can be seen on my personal fork here:
https://github.com/davcamer/amundsenfrontendlibrary/commit/7f2da8f0046f27a21a003e0564430b2da36faa84

[2020-10-10 20:14] pratikSethi commented on #639
Thanks @feng-tao for letting me know :)

[2020-10-14 00:13] joshthoward opened #758 "Inconsistency in case conversion when using Amundsen Databuilder"
There is inconsistency when handling case conversion for model attributes in the Databuilder code. Some models convert to lower case while others don't. More details are below.

## Expected Behavior
Still TBD, but it would be my preference as a user for the extractor to handle case conversion rather than the model.

## Current Behavior
The table below captures the several classes that do case conv

[2020-10-14 00:13] joshthoward commented on #758
@feng-tao Just as an FYI. Copied this from Slack and added some more detail.

[2020-10-14 08:56] verdan commented on #740
@pPanda-beta can you please confirm if you have the user `palash.das@rapido.bike` in your Atlas?
It seems like the user entity is not available in Atlas in your case.

[2020-10-15 01:34] sterlins opened #759 "Results from alpha testing at REA Group"
We're loving working with Amundsen so far, and our team thought we'd share our results from alpha testing so that other companies that are considering Amundsen might get a bit more info about how much customisation they'll need to do.  Our organisation uses BigQuery, and some of this feedback will be particularly relevant to others using that platform.

**Who we tested with**
Our alpha testing was

[2020-10-15 05:12] feng-tao commented on #759
Thanks for sharing the note! There is a UI config to disable description editing. @dikshathakur3119 could you share the config and doc?

[2020-10-15 10:02] pPanda-beta commented on #740
@verdan
Yes it was not there. You were right about it.

### Wrong assumption from my side:
I thought amundsen metadata will create the user if not found, similar to what it does when we set the owner of the table.

### Next problem :
This regex is not correct.
https://github.com/amundsen-io/amundsenmetadatalibrary/blob/3c9a55e6af4cac9b342803c34cfe81851470e7f5/metadata_service/proxy/atlas_proxy.py#

[2020-10-15 10:07] pPanda-beta commented on #740
@mgorsk1
I think it got introduced in this commit
https://github.com/amundsen-io/amundsenmetadatalibrary/commit/e8735273ffd8bb2def3a167f28fb8661a0f71287

[2020-10-15 10:30] pPanda-beta commented on #740
Raised a PR https://github.com/amundsen-io/amundsenmetadatalibrary/pull/216

[2020-10-15 15:09] jornh commented on #759
@sterlins thank you for taking the time to share. Valuable for the community as a whole IMO.

I'll chime in on a few points. Take from it what you find useful ..

The search ranking is based on some logarithmic weighing in `amundsen-search` on the number of frequent users. In addition `amundsen-metadata` has a filter limiting ranking to only count popularity on tables with > 10 users  (default). T

[2020-10-16 03:00] sterlins commented on #759
Thanks @feng-tao - yes, we've used this to update our UI since seeing the user feedback.

Thanks @jornh  - I'm actually seeing the opposite: tables with lower numbers of users are appearing higher in search results, so I will do some digging into what's going on.  My hunch is that it might be because we have lots of tables that need descriptions added, and my understanding is that description matc

[2020-10-16 10:12] pPanda-beta commented on #597
@mgorsk1 @feng-tao
I've added this small chunk to start name based column searching on atlas. This solution is not perfect. It creates two rest calls for the search. Second call is only required to fetch table descriptions.

[code]

[2020-10-17 00:19] xuan616 opened #760 "Feature Proposal: Support MySQL as metadata store in Databuilder"
My workplace is going to use Amundsen with MySQL as metadata store but currently, Amundsen only supports Graph DB as the backend metadata store. We plan to do the dev work to integrate Amundsen with MySQL. There would be some work to do in databuilder and metaservice and I created this issue for any possible work needed to do in databuilder.

## Expected Behavior or Use Case

The workflow would be

[2020-10-17 03:11] #712 closed

[2020-10-17 05:26] feng-tao commented on #760
will take a look next week.

[2020-10-18 04:36] feng-tao commented on #760
also we should create a rfc in https://github.com/amundsen-io/rfcs . And it would be good to be more explicit about how to map the graph model to ORM model .

In terms of databuilder, @AndrewCiambrone has a proposal( https://github.com/amundsen-io/rfcs/pull/5) to make the entity more generic.

[2020-10-18 04:50] feng-tao commented on #760
here are a few additional thoughts:
1). we initial target graph model because it is easier to model metadata entity connection through a graph (e.g we could easily add more additional structure metadata(e.g update time, create time, etc) for the entity by just adding a new node with connection to the entity(e.g dataset). It would be good to understand what is ORM model looks like (e.g will it be a

[2020-10-19 02:33] bogo96 commented on #758
related amundsen-io/amundsen#596

[2020-10-19 06:29] crazy-2020 commented on #760
@feng-tao Thanks for your reply. Yes, Graph DB has some advantages on metadata store and it is good to know the work of @AndrewCiambrone, which will bring more generic graph db models. For the ORM model, we will have to make a trade-off between the normalized and denormalized models for metadata store due to some concerns, like performance, consistency issues. Also, the model will need support sch

[2020-10-19 16:30] dependabot-preview[bot] opened #768 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-10-19 23:37] joshthoward commented on #758
PR is raised to fix this issue [here](https://github.com/amundsen-io/amundsendatabuilder/pull/388).

[2020-10-19 23:49] #758 closed

[2020-10-19 23:50] joshthoward commented on #596
@bogo96 We should be able to close this issue now. See the PR above.

[2020-10-20 00:11] #596 closed

[2020-10-20 03:46] feng-tao opened #769 "Remove marshmallow-annotations dependency"
## Expected Behavior
Remove marshmallow-annotations dependency as the package is no longer maintained (last update was in 2018) which fix the marshmallow dep to be < 3.0

## Current Behavior

## Possible Solution
Rewrite it with plain marshmallow API

## Context
When common is used as dep in databuilder, it requires databuilder to be marshmallow in < 3.0 version. This conflicts with internal etl d

[2020-10-20 03:46] feng-tao commented on #769
cc @allisonsuarez

[2020-10-20 05:26] #768 closed

[2020-10-20 12:54] richwhitjr commented on #424
We are having the same issue trying Amundsen internally. Also using ambassador with the helm chat provided.

[2020-10-20 21:21] dwarszawski opened #771 "ML project discovery using Amundsen"
## Summary
Our proposal is to extend the capabilities of Amundsen by introducing new data resources covering the ML project lifecycle.

## Expected Behavior or Use Case
Ability to discover ml projects, ml deployments, ml artifacts or model owners

## Possible Implementation
Apache Atlas introduces dedicated entities for ML governance in version [2.1.0](https://issues.apache.org/jira/browse/ATLAS-3

[2020-10-20 22:41] feng-tao commented on #771
thank @dwarszawski , this is very exciting?  how about creating a rfc in https://github.com/amundsen-io/rfcs and document the detail approach? E.g I am curious to know any plan / UI mock for ML feature as well as what is the plan for ingestion?

[2020-10-21 04:12] feng-tao opened #772 "Feature Proposal: Create markdown loader"
## Expected Behavior or Use Case
Create a markdown loader which allows users to load metadata into markdown document to viz locally. Sometimes, users may just want to have a markdown file for all the metadata ingested into Amundsen for a quick read.

## Service or Ingestion ETL
databuilder

## Possible Implementation

## Example Screenshots (if appropriate):

## Context

[2020-10-21 04:50] feng-tao commented on #759
add a doc on search tutorial for FYI (https://github.com/amundsen-io/amundsen/pull/773/files)

[2020-10-21 04:50] feng-tao commented on #715
@alran https://github.com/amundsen-io/amundsen/pull/773/files for search tutorial doc

[2020-10-21 06:09] feng-tao commented on #754
cc @verdan curious on how iNG does.
At Lyft, every service communications is done through envoy (https://github.com/envoyproxy/envoy) which the service communication RBAC is very easy to setup with one line config.

[2020-10-21 11:50] verdan commented on #754
Mostly it's just SSL (using ingress objects) afaik.
We are currently playing around with a service mesh but nothing in production. For a few things, like superset, we have Envoy proxy in front of it.

[2020-10-21 11:57] verdan commented on #594
I believe this can be closed now with the latest version of flaskoidc.
cc: @pPanda-beta

[2020-10-21 11:57] #594 closed

[2020-10-21 16:54] dalbaradoey opened #776 "Issue with wrong redirect_uri for SSO"
We were using amundsen frontend with flaskoidc with okta as auth layer wrapper.

This is our Architecture (Mounted on Azure):

Browser(Client) --(HTTPS)--> Azure AppGateway ----(HTTPS)--> Nginx Ingress Controller --(HTTP, port:5000)--> Amundsen-Frontend-Service

In our case is very similar to issue #594 because flask_oidc was detecting the wrong redirect_uri
(Identity Provider: Unknown Error Code:

[2020-10-21 20:48] pPanda-beta commented on #594
Sure @verdan
Though there are some other oidc related problems on amundsen but all of those can be solved from flaskoidc.
I'll raise corresponding issues on flaskoidc.

[2020-10-21 22:09] dwarszawski commented on #771
initial draft of RFC available [here](https://github.com/amundsen-io/rfcs/pull/8)

[2020-10-22 04:31] jornh commented on #691
Does additions merged  in https://github.com/amundsen-io/amundsen/pull/774/files#diff-cd0c22a29d9cd7247dfa67a88a65cb3c0b4d7e2e7563aff42fc2b26d7d74a039R40 Resolve this?

[2020-10-22 05:10] feng-tao commented on #691
thanks! should be close now

[2020-10-22 05:10] #691 closed

[2020-10-22 23:04] mersal opened #778 "Bug Report: stat_val containing date (yyyy-mm-dd) Transforms to Integer"
Using **TableColumnStats**, stat_val containing dates are displaying as integers, with the values being the subtraction calculation of the date pieces.

The output from my Athena query looks like this:
[code]

## Expected Behavior
Date values should render as strings, not integers.

## Current Behavior
The stats for column1 and column2 display fine on the front-end.
But the stats for the date colu

[2020-10-23 05:46] feng-tao commented on #513
https://github.com/amundsen-io/amundsendatabuilder/pull/382 is merged now, let us know if it resolves your issue.

[2020-10-23 05:46] feng-tao commented on #685
https://github.com/amundsen-io/amundsendatabuilder/pull/382 is now merged

[2020-10-23 14:21] jonhehir commented on #513
Thanks, @feng-tao!

[2020-10-23 14:21] #513 closed

[2020-10-23 16:10] feng-tao commented on #778
cc @ttannis @Golodhros @dikshathakur3119 @allisonsuarez

[2020-10-23 16:30] pioppob opened #779 "Superset Preview Client not working as expected - No params/headers passed"
Hello,

Im currently trying to set up the preview feature. I'm running the frontend locally while running the rest of the microservices through docker compose.

My issue is that headers and parameters are not passing from function to function thus breaking the preview functionality (and probably many other things)

When making a POST request to /api/preview/v0, the request_json contains:
`{'databa

[2020-10-26 17:17] ttannis commented on #778
Posting context in case someone gets to the fix before I can. We introduced automatic number formatting of stats, and did not consider that something other than numerical values would be sent as a stat: https://github.com/amundsen-io/amundsenfrontendlibrary/pull/723. cc @dikshathakur3119

Instead of using `const numberVal = +stat_val`, we could explicitly check if `stat_val` is a number before for

[2020-10-26 17:23] mersal commented on #778
@ttannis FYI, the documentation here: https://github.com/amundsen-io/amundsenfrontendlibrary
includes a screenshot of stat values that are strings: https://github.com/amundsen-io/amundsenfrontendlibrary/blob/master/docs/img/column_details.png
min: aardvark
max: zebra

[2020-10-27 05:54] feng-tao commented on #779
have you checked with the superset slack / community on how to access the sql_json endpoint? And I think superset has a complicated security model which you may want to ask as well.

[2020-10-28 06:35] feng-tao opened #784 "Bug Report: quick start has error when access test_table1"
I encountered the follow error when following the quick https://github.com/amundsen-io/amundsen/blob/master/docs/installation.md#bootstrap-a-default-version-of-amundsen-using-docker:
[code]

Reproduced:
Follow https://github.com/amundsen-io/amundsen/blob/master/docs/installation.md#bootstrap-a-default-version-of-amundsen-using-docker

[2020-10-28 10:30] relvan1 opened #786 "Unable to use the Sample Data"
Hey,

I am unable to use the sample dataset with the Neo4j as backend and tried to load the sample data using the following command,
$ sudo python example/scripts/sample_data_loader.py

Error:
ERROR:databuilder.publisher.neo4j_csv_publisher:Failed to publish. Rolling back.
Traceback (most recent call last):
  File "/home/ubuntu/.local/lib/python3.7/site-packages/databuilder/publisher/neo4j_csv_pub

[2020-10-28 14:25] pioppob commented on #779
@feng-tao it is my understanding that the issue is still in the amundsen application, the request has not yet reached superset.

[2020-10-28 21:00] jornh commented on #786
Try updating your site-packages with the below - or whatever you did in your environmennt to reinstall requirements.txt and re-run setup.py:

[code]

[2020-10-29 03:25] abhinay04 opened #789 "BigQuery Usage Collector does not extract usage for views"
Currently, the BigQuery Usage Extractor in Amundsen Data Builder does not extract the usage logs for views. It just works for
tables.

## Expected Behavior
Should extract information about views as well.

## Possible Solution
We are currently using the audit logs to get the data. If we see the response for the audit logs [here](https://cloud.google.com/logging/docs/reference/audit/bigquery/rest/Sh

[2020-10-29 11:31] relvan1 commented on #786
@jornh Its working now Thanks. But I couldn't see any Datasets, Am I missing anything.

[2020-10-29 11:54] jornh commented on #786
I can't say. Only help I can offer is to check the troubleshooting section in the Quickstart guide.

[2020-10-29 12:02] relvan1 commented on #786
ok. Thanks a lot @jornh

[2020-10-30 07:53] jornh commented on #786
@relvan1 with your initial issue solved please close this issue so we can keep it neat and tidy in here.

[2020-10-31 21:17] namdnguyen opened #791 "Feature Proposal: Add dashboard connector for Metabase"
## Service or Ingestion ETL
Dashboard Connector

## Example Screenshots (if appropriate):

![Metabase](https://raw.githubusercontent.com/metabase/metabase/master/docs/metabase-product-screenshot.png)

## Context
[Metabase](https://github.com/metabase/metabase) is a really nice, open-source business intelligence tool that would be a great candidate for dashboard connector support from Amundsen.

[2020-11-01 04:40] feng-tao commented on #791
@namdnguyen that's great! Amundsen has already had the dashboard support with example of Mode Analytics, Redash and Tableau.Would be great to have the metabase dashboard support!

[2020-11-01 04:40] feng-tao commented on #789
@abhinay-kathuria-rmit let us know if you have the fix.

[2020-11-01 09:38] abhinay04 commented on #789
@feng-tao I have the fix! Will raise a PR for this tomorrow

[2020-11-02 22:42] allisonsuarez commented on #778
Should be fixed with the PR mentioned above!

[2020-11-02 22:42] #778 closed

[2020-11-03 11:53] hhobson opened #793 "databuilder 4.0.2 missing dependencies"
Importing `neo4j_csv_publisher` raises `ModuleNotFoundError: No module named 'pandas'` exception.

Look like PR [#382](https://github.com/amundsen-io/amundsendatabuilder/pull/382) has added `pandas` and `Jinja2` as dependencies for _databuilder/publisher/neo4j_csv_publisher.py_. These have been added to _requirements.txt_ but not _setup.py_

## Steps to Reproduce

1. `pip install amundsen-databuil

[2020-11-03 15:35] feng-tao commented on #793
thanks for the report, I build a new version as well

[2020-11-03 15:35] #793 closed

[2020-11-03 20:46] dorianj commented on #642
I'll TAL at this.

Similar PR here https://github.com/vtex-apps/store-components/pull/816/files -- includes a lightweight react component that looks drop-in for what we're doing now

[2020-11-04 22:02] Golodhros opened #794 "Update Webpack to version 5"
## Expected Behavior or Use Case
Use Webpack 5

## Possible Implementation
Check https://webpack.js.org/migrate/5/

## Context

Keep the project up to date

[2020-11-05 23:34] #784 closed

[2020-11-05 23:34] allisonsuarez commented on #784
fixed on PR above

[2020-11-06 08:05] srpn opened #795 "MongoDB Support"
How does Amundsen support metadata for MongoDB collections?
If it has to be done with something like GenericExtractor, what is the format in which data needs to be extracted?

[2020-11-06 09:07] srpn opened #796 "Support for data level discovery"
There are some generic lookup tables, consider a simplified version below
| Feature_id | Feature_name | Feature_version | Source_App |

## Expected Behavior or Use Case
Is it possible to discover the metadata based on the **values** in the above table and their lineage?

[2020-11-06 21:04] AdamMoffitt commented on #542
@vikalpmullick what were your steps to get the athena_sample_dag.py running? Am unable to run that airflow to populate the front end with data from athena.

[2020-11-06 22:55] davcamer commented on #754
Service Mesh is on a backlog for one of our teams, but for now we are doing this sort of direct mTLS.

I realized I could still meet my goals, while using the Env Var approach that was favored in the Slack discussion thread, so I've done that in PR 757, linked above.

[2020-11-09 09:53] dalbaradoey commented on #776
Hi team, I close this issue, we found that flaskoidc has an error on the config file. Right now is working with Okta.

[2020-11-09 09:53] #776 closed

[2020-11-09 12:30] vikalpmullick commented on #542
@AdamMoffitt it should work if you provide connection details in L72-76 and aws AK/SK in L68,69. Pls share the error log if you still get any errors.

[2020-11-09 21:03] Golodhros commented on #47
Finished on https://github.com/amundsen-io/amundsenfrontendlibrary/pull/758

[2020-11-09 21:03] #47 closed

[2020-11-10 00:03] ponizvezdochka opened #802 "Feature Proposal: support FileMetadata model"
## Expected Behavior or Use Case
New File resource type added to amundsen.
Every File object is described by filesystem (hdfs, ftp etc) and path.
Every File object has direct link in catalog, like https://amundsen/file_detail/cluster/hdfs/path/to/file.
Search support filter by File resource.

## Service or Ingestion ETL
Databuilder, Frontendlibrary, Searchlibrary

## Possible Implementation
New Fi

[2020-11-10 02:21] HenryLiMN opened #803 "Running sample_data_loader.py raises a ValueError"
## Expected Behavior

I'm following the quick start guide: https://github.com/amundsen-io/amundsen/blob/master/docs/installation.md#bootstrap-a-default-version-of-amundsen-using-docker

Everything up to the sample data ingestion step works. The expected behavior is that the sample table metadata is ingested into the Neo4j graph.

## Current Behavior

When I get to the step where it's supposed to i

[2020-11-10 14:36] nadamakram commented on #803
I am having the same issue too

[2020-11-10 17:46] feng-tao commented on #803
will take a look. thanks for reporting.

[2020-11-10 19:08] instazackwu opened #804 "Watermark Model unnecessarily requires create_time"
## Expected Behavior

create_time is an optional field

## Current Behavior

create_time is a required field in the Watermark model https://github.com/amundsen-io/amundsendatabuilder/blob/master/databuilder/models/watermark.py#L23

## Possible Solution

Make create_time not required in the watermark model on the backend, or in the watermark type on the frontend.

## Steps to Reproduce

1. Publish

[2020-11-10 19:13] dorianj commented on #803
i'm debugging this, will post stuff as I find it

i changed the log line at `databuilder/loader/file_system_neo4j_csv_loader.py:160` to `        LOGGER.info('Creating file for {}: {}'.format(key, csv_record_dict.keys()))` and it gives:

`INFO:databuilder.loader.file_system_neo4j_csv_loader:Creating file for ('Stat', 6): dict_keys(['LABEL', 'KEY', 'stat_val:UNQUOTED', 'stat_name', 'start_epoch', 'e

[2020-11-10 20:11] dorianj commented on #803
meant to mention -- this was caused (or possibly more accurately, revealed) by https://github.com/amundsen-io/amundsendatabuilder/pull/380

[2020-11-11 08:00] forestlzj opened #806 "Unable start up es_amundsen"
I am following the quickstart guide to startup docker images.  It raises blow error es_amundsen, others are fine.

[code]

/tmp folder exists with mode 777.

no es_amundsen image is running :
[root@serv99 /]# docker ps
[code]

## Expected Behavior

es_amundsen can be started up

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Screenshots (if appropriate)

## Conte

[2020-11-11 18:24] feng-tao commented on #803
@HenryLiMN fixed are merged in databuilder, could you pull the latest master and retry?

[2020-11-11 20:14] DataBrenes opened #807 "Sqlite3 error when running sample_data_loader.py"
Continue to receive this error when running the quickstart
[code]

## Expected Behavior

Script to load the example data
## Current Behavior

Fails trying to open a db_file
## Possible Solution

## Steps to Reproduce

1.  python3 -m venv venv
 2.source venv/bin/activate
 3. pip3 install -r requirements.txt
 4. python3 setup.py install
 5. python3 example/scripts/sample_data_loader.py

## Screensho

[2020-11-11 20:22] jornh commented on #807
What's your OS and python version?

[2020-11-11 20:41] jornh commented on #806
The path `/tmp/elasticsearch-3637133116367293550` is referring to a path inside your Elasticsearch container not your host file system (the compose file  does not volume map the `/tmp` folder).

Perhaps something is broken with your container image? I'd try doing a fresh pull of it. Perhaps with a never 6.x series version.  How does the ES container behave if you just run it alone with e.g.:

[cod

[2020-11-11 20:58] DataBrenes commented on #807
Windows 10 Enterprise Version 1903 OS Build 18362.1082
Python 3.8.6

Just tried on Windows 10 Pro Version 20H2 OS 19042.572
Python 3.8.5

And received same error as this: https://github.com/amundsen-io/amundsen/issues/803

[2020-11-11 21:28] jornh commented on #807
To get past #803 do a git pull of databuilder - a fic just landed as per https://github.com/amundsen-io/amundsen/issues/803#issuecomment-725584896

I bet the difference between the two Windows versions is your Pro version has a `/tmp` folder and the Enterprise doesn't - databuilder currently relies on that. You might work around it with creating such a folder but a better fix would be to use https

[2020-11-11 21:32] DataBrenes commented on #807
@jornh Thank you so much!  I will give it a whirl.

[2020-11-11 21:34] #803 closed

[2020-11-11 21:35] feng-tao commented on #803
feel free to reopen if the issue persists.

[2020-11-11 21:35] feng-tao commented on #807
I need to take a look but given the current csv approach, I am not sure if we need sqlite for sample loader any more.

[2020-11-11 21:43] feng-tao commented on #807
https://github.com/amundsen-io/amundsendatabuilder/pull/413

[2020-11-12 05:23] feng-tao commented on #807
please rebase with master which you won't need sqlite dependency any more.

[2020-11-12 05:23] #807 closed

[2020-11-12 06:00] HenryLiMN commented on #803
It worked! Thanks for the quick fix 🚀

[2020-11-12 08:59] forestlzj commented on #806
docker run --name elasticsearch  -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" elasticsearch:6.7.0
[code]

[2020-11-12 09:01] forestlzj commented on #806
The image is broken.
It works after deleting and downloading again.

[2020-11-12 09:01] #806 closed

[2020-11-12 09:44] forestlzj opened #808 "Unable to load sample data"
## Expected Behavior
Sample data should be loaded successfully

## Current Behavior
I am following the guideline https://github.com/amundsen-io/amundsen/blob/master/docs/installation.md , docker containers are up. when loading the sample data after with step:
[code]

It raised error:

[code]

How to fix it?

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Screenshots (if appropriate)

[2020-11-12 10:07] lxlguy commented on #808
same issue as https://github.com/amundsen-io/amundsen/issues/803?
I realised i was not on master branch when i cloned the project and switching to master solved the issue.

[2020-11-12 13:04] NiravLangaliya opened #809 "Not to able to connect to metadatasearch API call."
getting error when I try to get or post via metadata search API.

**OS:** Running on Red Hat Linux 7
**Python version:** 3.7.9

` curl -X GET "http://localhost:5002/user" -H "accept: application/json"
`
![image](https://user-images.githubusercontent.com/13895686/98942987-d949d400-2514-11eb-854b-03f3a31a6080.png)

2020-11-12T12:50:01+0000.784 [INFO] __init__.create_app:83 (30353:MainThread) - Creat

[2020-11-12 18:14] feng-tao commented on #808
the issue should be fixed in latest master. Please let us know if you still see the issue and feel free to reopen the issue.

[2020-11-12 18:14] #808 closed

[2020-11-12 19:36] dorianj commented on #585
@sunanda3055  can you try running `npm run watch`?

[2020-11-12 19:37] dorianj commented on #558
@jonhehir are you still seeing this?

[2020-11-12 20:34] jonhehir commented on #558
Unfortunately, I have not been working on this project recently. @jdavidheiser: Is this still an issue for you guys?

[2020-11-12 21:12] MattX opened #811 "Error when loading sample data as in installation guide"
I'm following the [sample installation guide](https://github.com/amundsen-io/amundsen/blob/master/docs/installation.md). The last step under loading the data is failing for me.

## Expected Behavior
The `example/scripts/sample_data_loader.py` should complete successfully.

## Current Behavior
I get an error running the script:

[code]

## Possible Solution

## Steps to Reproduce
Follow the steps i

[2020-11-12 21:14] jdavidheiser commented on #558
I was not able to reproduce this bug on our Amundsen instance.

[2020-11-12 21:15] DataBrenes commented on #811
Same thing. I thought this was resolved on https://github.com/amundsen-io/amundsen/issues/808

[2020-11-12 21:15] heathgtuck commented on #811
Having the same "stat_val" issue currently

[2020-11-12 21:17] feng-tao commented on #811
please rebase with databuilder master and retry. We just fixed the issue this week.

[2020-11-12 21:20] DataBrenes commented on #811
@feng-tao is there a specific location I should be re-basing to?

[2020-11-12 21:23] feng-tao commented on #811
master branch of https://github.com/amundsen-io/amundsendatabuilder

[2020-11-12 21:47] feng-tao commented on #558
I think the issue has already been fixed by @dikshathakur3119  before which we could close this issue now.

[2020-11-12 21:47] #558 closed

[2020-11-12 21:48] feng-tao commented on #811
I update the amundsen submodule version. Please pull again to latest version. Thanks.

[2020-11-12 22:04] DataBrenes commented on #811
@feng-tao  Sorry . Still not seeing a change. What am I missing?

MINGW64 ~/Desktop/Development/amundsen/amundsendatabuilder (master)
$ git rebase
Current branch master is up to date.
[code]

[2020-11-12 23:02] feng-tao commented on #811
could you use the master branch instead of the 4.0.3 version?

[2020-11-13 02:23] forestlzj commented on #808
fixed after getting the master

[2020-11-13 04:47] pacobuenaparte opened #813 "ModuleNotFoundError: No module named 'flaskoidc' in Amundsen FrontEnd docker"
## Current Behavior
I used helm to deploy Amundsen. I set `oidcEnabled: true`, I provide a config-oidc secret with my keycloak OIDC settings, but the amundsen-frontend pod can not start because of a:
`ModuleNotFoundError: No module named 'flaskoidc' in Amundsen FrontEnd docker
`

## Steps to Reproduce
1. Use the helm chart with oidcEnabled: true
2. provide your config-oidc

## Screenshots (if appr

[2020-11-13 14:47] davcamer commented on #754
This Slack thread has a little more context: https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1602020359102800

[2020-11-13 18:49] mersal opened #814 "Bug Report: Column Statics Details Not Displaying on Frontend"
Column statics details are not displaying on frontend, though they are visible in Neo4j.

## Expected Behavior
Column statics details should display on frontend.

## Current Behavior
Column statics details are not displaying on frontend, though they are visible in Neo4j.  Only the header is displaying.

Neo4j:
[code]

Frontend:
[code]

## Screenshots (if appropriate)
![image](https://user-images.g

[2020-11-13 19:18] heathgtuck commented on #811
Awesome! Got it up and running with the sample data, thanks.

[2020-11-13 19:20] #811 closed

[2020-11-13 19:34] davcamer commented on #809
This configuration looks correct to me. I do have a couple of questions.

How are you running the metadata service? Could you try setting two environment variables in the run environment:
[code]

In the screenshot where you report the Neo4j version, it looks like you have connected with cypher-shell. Are you able to connect using the same address used in the metadata service configuration? I belie

[2020-11-13 19:37] jornh commented on #739
Maybe it not easy to find but there  **is** documentation available for a non-docker install. It’s just scattered across repos so you’ll have to go and read documentation for each service one by one. A starting point is the frontend install docs in https://github.com/amundsen-io/amundsenfrontendlibrary/blob/master/docs/installation.md

Regarding Atlas I’m sure docs could also be improved (I’m pers

[2020-11-14 08:15] NiravLangaliya commented on #809
I am running metadata service from command line

`/home/ec2-user/python_venv/amundsenmetadatalibrary/bin/python /home/ec2-user/amundsen/amundsenmetadatalibrary/metadata_service/metadata_wsgi.py`

where python version is 3.7

[code]

I have changed and tried to run it but I am still getting same error.

PROXY_ENCRYPTED = False
PROXY_VALIDATE_SSL = False

![image](https://user-images.githubuserconte

[2020-11-15 15:57] davcamer commented on #809
Hi again Nirav. I've just been trying the driver in a REPL locally as you showed in your second message. I am getting the same result.

I had asked about docker since while I was working on this change I was often accidentally not running the latest code. For me, that was because I was using docker-compose without the --build parameter.

I think this could be happening in your case as well. It sti

[2020-11-17 17:49] NiravLangaliya commented on #809
I will check it again but for now , I have installed Neo4j 3.5 and it is working.

[2020-11-18 14:53] szczeles opened #815 "Feature Proposal: Feast databuilder"
## Expected Behavior or Use Case

[Feast](https://feast.dev/) is a project aiming to create flexible feature store implementation for Machine Learning modelling. One of its components, [Feast Core](https://github.com/feast-dev/feast/tree/master/core) is just a features metadata storage. Feast lacks UI interface that could be used for Data Scientists to collaborate on the feature sets, their readin

[2020-11-18 17:01] feng-tao commented on #815
that will be great! thanks @szczeles

[2020-11-18 18:47] bmasciarelli opened #817 "Ability to import Glue table properties"
## Expected Behavior or Use Case
I'd like to extract Glue's table properties

## Service or Ingestion ETL
GlueExtractor

## Possible Implementation
The search_tables method returns a Parameters dict. Mapping the concatenation of key:value to a tag could be an option. Another could be importing key's whose values were "true".

## Context
Glue's table properties are often used to tag datasets, it wo

[2020-11-19 06:04] jornh commented on #754
With https://github.com/amundsen-io/amundsenfrontendlibrary/pull/757 merged is this issue resolved?

[2020-11-19 06:05] feng-tao commented on #754
yeap

[2020-11-19 06:05] #754 closed

[2020-11-19 06:20] jornh commented on #685
@instazackwu after merge of https://github.com/amundsen-io/amundsendatabuilder/pull/382 any outstanding points before you can close this issue?

[2020-11-20 08:31] instazackwu commented on #685
Oh great, confirmed https://github.com/amundsen-io/amundsendatabuilder/pull/382 fixes this! Appreciate the conclusion of this issue :), thank you everyone!

[2020-11-20 08:31] #685 closed

[2020-11-20 16:29] dorianj commented on #794
I'm working on this -- there's some errors, but shouldn't be too bad to resolve. Should have PR out next week.

[2020-11-20 17:14] Golodhros commented on #794
Oh, nice! Thanks a lot Dorian!

[2020-11-20 17:39] dorianj opened #818 "frontend: upgrade react-bootstrap from 0.x to 1.x"
###  Expected Behavior

While working on https://github.com/amundsen-io/amundsen/issues/794, I noticed that we're on an outdated version of react-bootstrap, and it's causing a variety of deprecation warnings during compilation. The new version is a breaking release with extensive backwards-incompatible changes. Because it's visual, there's a good chance that test coverage will not catch regression

[2020-11-20 17:43] dorianj commented on #794
implemented in https://github.com/amundsen-io/amundsenfrontendlibrary/pull/770

[2020-11-20 18:10] feng-tao commented on #817
@bmasciarelli that's great, please contribute back once you figure out the solution!

[2020-11-22 17:38] ug911 commented on #815
@szczeles - I have been researching about using a feature store like Feast and Amundsen for the UI layer for exactly the same reasons as you have pointed out.

I have a few questions about Feast and Amundsen -
- Is your Feast deployment in Google or Amazon cloud?
- By connecting Feast Core (Registry) to Amundsen, would a user be able to discover FeatureTables and Entities in Online as well as Offl

[2020-11-22 18:02] szczeles commented on #815
@ug911 My Feast (and Amundsen) are installed on on-premise k8s cluster, but the only requirements is the access to gRPC port from the system you will run Amundsen's Databuilder on, so any cloud env should work as well.

In my project only Offline store is in use, but - if I'm not mistaken - the FeatureTables definitions are same for both stores. Basically, if FeatureTable is available via `client.

[2020-11-23 05:29] ug911 commented on #815
@szczeles - Thanks for your response. I have a few questions about the Amundsendatabuilder and the deployment on AWS Cloud.

- Where do you run databuilder jobs? Can they be run on EKS?
- How often does one have to run databuilder jobs? Since they just read the metadata, I am assuming that run that more frequently than metadata changes
- How does one consume the data they find? With Feast SDK usin

[2020-11-23 11:23] vthorwat opened #819 "Installation Issue with Atlas Backend"
Hello Team,

I am facing an issue while installing amundsen.

While running docker-compose as below having HDP-Atlas (Hortonworks) as backend

# docker-compose -f docker-amundsen-atlas.yml up

While configuring this we are getting below error:

"/

[root@bdpd amundsen]# docker-compose -f docker-amundsen-atlas.yml up
Creating network "amundsen_amundsennet" with the default driver
Pulling atlas (wba

[2020-11-23 16:54] feng-tao commented on #819
cc @verdan  @mgorsk1

[2020-11-23 17:26] jornh commented on #819
@vthorwat it's failing at:

https://github.com/amundsen-io/amundsen/blob/31195038d680224779d55b4e05a4102ec6a97cc8/docker-amundsen-atlas.yml#L15-L17

Did you do a *recursive* copy of repos as per:

https://github.com/amundsen-io/amundsen/blob/31195038d680224779d55b4e05a4102ec6a97cc8/docs/installation.md#L7-L10

[2020-11-23 19:52] dorianj commented on #794
This is resolved.

[2020-11-23 20:25] #794 closed

[2020-11-23 20:33] szczeles commented on #815
@ug911 I'm afraid the discussion is going a bit off-topic, but I'm happy to help anyway. My Databuilder jobs are started as Kubeflow Pipelines jobs (or Airflow DAGs in another project), both can run on EKS (well, you can even run it as CronJob, why not?). I run the workflow every hour, but the frequency can be increased. For example - if someone edits the description via Frontend, it takes a bit o

[2020-11-24 12:39] NiravLangaliya opened #822 "Not able to access frontend UI"
I am getting error while trying to access Frontend UI at via localhost:5000. I am not running Lyft Amundsen from docker.

I have installed Neo4j and Elasticsearch separately and also running all services from source.

Could you please help me to resolve this issue?

![image](https://user-images.githubusercontent.com/13895686/100095226-2ec0a200-2e80-11eb-86ae-3966e59224b5.png)

 * Debug mode: off
2

[2020-11-24 14:35] jornh commented on #809
@NiravLangaliya since you got it working, and you didn't return with anything actionable for the project I suggest you close this as resolved.

[2020-11-24 15:41] NiravLangaliya commented on #809
yes we can close it as I have change Neo4J version to 3.5 and the code is working and we will internally checking that why it was not working with Neo4j version >= 4.x.x

[2020-11-24 15:41] #809 closed

[2020-11-24 16:33] dorianj commented on #822
Have you built the JS front-end via `npm run build` inside `static`?

[2020-11-24 17:07] NiravLangaliya commented on #822
**npm install**
npm WARN eslint-config-airbnb@18.1.0 req
uires a peer of eslint@^5.16.0 || ^6.8.0 but none is installed. You must install peer dependencies yourself.
npm WARN eslint-config-airbnb@18.1.0 requires a peer of eslint-plugin-react-hooks@^2.5.0 || ^1.7.0 but none is installed. You must install peer dependencies yourself.
npm WARN eslint-config-airbnb-base@14.1.0 requires a peer of eslint

[2020-11-24 18:03] dorianj commented on #822
that looks good -- so just confirming that you ran that, and afterwards re-running `wsgi` still fails with that error? (you might have to restart wsgi, I don't remember). if so, what command are you running `wsgi` with?

[2020-11-24 18:21] NiravLangaliya commented on #822
After I ran npm command , I have started wsgi service again.

` /home/ec2-user/python_venv/amundsenfrontendlibrary/bin/python amundsen_application/wsgi.py`

Registering post_exec action_log entry_point: logging_action_log = amundsen_application.log.action_log_callback:logging_action_log
2020-11-24T17:00:59+0000.376 [INFO] __init__.create_app:58 (12319:MainThread) - Created app with config name amu

[2020-11-24 18:56] dorianj commented on #822
did you run `setup.py install` previously? I'm not sure, but maybe you need to run that again after building the FE.

i personally run `wsgi.py` with `PYTHONPATH=.` to avoid the need to re-installing the package

[2020-11-25 15:28] NiravLangaliya commented on #822
it worked. thank you for helping me out.

[2020-11-25 15:31] #822 closed

[2020-11-25 17:39] #815 closed

[2020-11-30 10:37] vthorwat commented on #819
Yes I have pulled all the directories mentioned in git.

[2020-11-30 10:37] #819 closed

[2020-11-30 10:46] vthorwat opened #823 "Amundsen Docker Environment Configuration Failing"
Hello All,

I am new to the Amundsen environment, I am trying to configure amundsen with Apache atlas as backend.

I am following below installation steps from Link:

**LInk : https://github.com/amundsen-io/amundsen/blob/master/docs/installation.md**

While installing this in our environment I am facing issue as below :

[code]
It is just stuck out here. Is this due to some proxy issue that docker

[2020-11-30 13:56] jornh commented on #823
Yes that's very likely. Check from within a container on the given host that you are able to e.g. run this

[code]

If that's somehow blocked you will have a hard time evaluating Amundsen in that environment.

[2020-11-30 15:54] coolgooze commented on #823
It was indeed Proxy. We applied Proxy on the DockerFiles to get over this..

[2020-12-01 06:50] anheiser1997 commented on #356
@fBedecarrats @feng-tao Hi, I had a query. If we were to use one of the three options above, and also considering using DBT as another option, would the URL for the page we built for lineage be given as a third party URL as mentioned here: https://github.com/amundsen-io/amundsen/issues/69

[2020-12-01 08:58] jornh commented on #823
@vthorwat does this mean the issue is resolved so you can close it?

[2020-12-01 13:57] NiravLangaliya opened #828 "Not able to enable announcement feature"
I am following this test announcement features but I don't see announcement is getting populated at FE UI.

![image](https://user-images.githubusercontent.com/13895686/100749786-2382ee80-340b-11eb-8b7c-4bdbc32a9675.png)

https://github.com/amundsen-io/amundsenfrontendlibrary/blob/master/docs/examples/announcement_client.md

Step#1 Update setup.py at amundsen/amundsenfrontendlibrary/setup.py
![imag

[2020-12-01 16:44] NiravLangaliya commented on #828
I have also set this feature at config-custom.ts and restarted UI again, but still I am not able to see announcement at FE UI.

https://www.amundsen.io/amundsen/frontend/docs/application_config/

![image](https://user-images.githubusercontent.com/13895686/100769326-e2e29f80-3421-11eb-99ae-f39a87a553c7.png)

I have kept announcements.enabled in place of announcements.enable because in config level,

[2020-12-01 16:57] NiravLangaliya commented on #828
We can close this issue as after keeping announcements.enabled=true it is working but we should update documentation  https://www.amundsen.io/amundsen/frontend/docs/application_config/

[2020-12-01 16:57] #828 closed

[2020-12-02 02:46] AustinBGibbons opened #830 "Installing via Helm reports ElasticSearch discovery errors"
Hi! We are trying to test Amundsen using the helm templates to deploy. We referenced the README at https://github.com/amundsen-io/amundsen/tree/master/amundsen-kube-helm, but ran into issues with the ElasticSearch cluster.

## Expected Behavior
We took the following steps:

Download the Amundsen helm templates:

[code]

Configure dependencies

[code]

installing, with no modifications to values.ym

[2020-12-02 06:07] feng-tao commented on #823
thanks @jornh for the debugging! @coolgooze @vthorwat feel free to reopen if the issue remains.

[2020-12-02 06:07] #823 closed

[2020-12-02 07:12] feng-tao commented on #830
cc @javamonkey79
But I would suggest to use a managed ES service instead of creating one yourself. It is a bit complicated to build/operate one (https://github.com/pires/kubernetes-elasticsearch-cluster)

[2020-12-02 07:14] feng-tao commented on #830
another thing worth mentioning once your current issue is solved is to make sure ES is within 6.x(we test 6.7).

[2020-12-02 15:55] AustinBGibbons commented on #830
Thanks for the reply @feng-tao , I also tried with

[code]

but seem to have the same issue. By managed ES service, do you mean something like AWS managed ElasticSearch? I will try that as well.

To do that, is it correct to change enabled to false here:

[code]

and then  modify teh search service here

[code]

to point to an ES URL?

[code]

[2020-12-02 18:02] javamonkey79 commented on #830
@AustinBGibbons we run ES in our chart and not standalone. This is all we have in our values file, to make it work:
[code]

I checked my shell history, and we did not have to do this:
[code]

The thing that sticks out to me, is this:
[code]

Per the readme, here is the helm prerequisite:
Helm 2.14+

However, that "+" is a little misleading. I think it should be:
Helm [2,3)

tl;dr; this chart needs

[2020-12-02 18:22] AustinBGibbons commented on #830
Thanks for the reply @javamonkey79 , yeah unfortunately we're locked into helm 3.x - I am also getting errors with the frontend service trying to communicate with the metadata service as well as some AUTH configurations I don't understand, so perhaps it's just incompatible - I am a helm newbie so not sure how to say for sure. I will experiment restarting from scratch on helm 3, thanks!

(frontend

[2020-12-02 18:27] javamonkey79 commented on #830
Thanks for the update @AustinBGibbons, best of luck.

@feng-tao I would vote that this issue be closed on account of the helm 2 vs 3 issue and that we put up a story to move to helm 3. My team and I won't be able to work on it until at least Q1, if at all, but, there may be others who are interested in doing the work.

[2020-12-02 22:22] Golodhros commented on #818
Hi @dorianj,

Yeah, we are aware of this, but we decided to eventually move out of react-bootstrap overall.

We are preparing a component library for Amundsen and other products at Lyft, and we want to use that once we manage to open source it (hopefully soon!).

[2020-12-02 22:24] #769 closed

[2020-12-02 22:24] allisonsuarez commented on #769
Updated in common

[2020-12-02 22:25] feng-tao commented on #830
sg

[2020-12-02 22:40] dorianj commented on #818
oh, nice, that's even better

[2020-12-02 22:41] Golodhros commented on #713
https://github.com/amundsen-io/amundsenfrontendlibrary/pull/803

[2020-12-02 22:41] #713 closed

[2020-12-03 00:11] #818 closed

[2020-12-03 00:26] Golodhros commented on #752
Could you add more information on this ticket?
When did this happen, what were. you trying to do, etc.

[2020-12-03 01:44] mersal commented on #814
This looks to be resolved. Thanks!

[2020-12-03 01:44] #814 closed

[2020-12-03 01:44] mersal commented on #814
This looks to be resolved. Thanks!

[2020-12-03 07:13] jornh commented on #830
@AustinBGibbons is your Neo4j pod up and alive? Do you have data loaded into it as per step 6 in https://www.amundsen.io/amundsen/installation/#bootstrap-a-default-version-of-amundsen-using-docker

Also, as long as you haven’t configured authentication the `AUTH_USER_METHOD` is expected.

`2020-12-02T16:05:46+0000.565 [ERROR] v0.get_tags:363 ...` in https://github.com/amundsen-io/amundsen/issues/8

[2020-12-03 11:15] vthorwat opened #832 "Hive Metadata Extractor Configuration"
Hello Guys,

I have just configured Amundsen via Docker with Apache Atlas backend by using below Blog:

**Link: https://github.com/amundsen-io/amundsen/blob/master/docs/installation.md**

Now I want to use it with hive service of our HDP (Hortonworks) cluster. But not able to locate any configurations for that.

After looking some issues I found that there is a SLACK Channel for Amundsen, is it an

[2020-12-03 12:57] jornh commented on #832
Link icon for joining the Slack channel is in the top of README.md: https://github.com/amundsen-io/amundsen#readme

The slack workspace has a #troubleshoot channel among other things.

[2020-12-03 23:23] crazy-2020 opened #833 "Some table keys are missing from BQ metadata extractor"
Some tables key supposed to be gotten from BQ metadata extractor are missing.

## Expected Behavior

Table keys gotten from BQ metadata extractor should cover all tables.

## Current Behavior

[code]
In bigquery_metadata_extractor, there is a set 'grouped_tables' storing table_prefix of sharded tables to avoid duplicate metadata records, but it is possible the table prefixes would be same in diffe

[2020-12-04 08:07] nevi-me opened #835 "Feature Proposal: Database as a UI resource"
## Expected Behavior or Use Case

The main entity type used in Amundsen is the `Dataset`, and we can enable dashboards and users.
Datasets can originate from various sources, and in Atlas this is commonly either `hive_db` or `rdbms_db`.

To facilitate better database discovery, we could have a `Database` entity type, which would include some metadata that provides the user with information like:

[2020-12-04 08:22] jornh commented on #835
It maps well to the Neo4j backend data model - it already has a database node: https://github.com/amundsen-io/amundsen/blob/master/docs/architecture.md#metadata

[2020-12-04 08:43] damon09273 opened #836 "Metadata synchronizes correctly for column name changes"
How to make sure metadata synchronizes correctly for column name changes?

## Expected Behavior or Use Case
Changing the naming style of columns to camel case from snake tail, but keeping the old description intact.

## Service or Ingestion ETL

## Possible Implementation
- Delete column manually
- Custom transformer (idea from @feng-tao)
- bulk edit or cleaner robots (idea from @jornh)

[2020-12-06 22:41] wuqunfei commented on #85
Like this http://schema-registry-ui.demo.lenses.io/ or https://www.apicur.io/registry, it would be superpowerful for event-driven schema register. And all the database schema can be express in schema register..

[2020-12-07 18:21] feng-tao commented on #833
@crazy-2020 sounds good, let us know if you have a pr for that.

[2020-12-07 21:26] crazy-2020 commented on #833
Cool, the pr was just sent out

[2020-12-07 22:35] feng-tao commented on #833
pr merged, thanks @crazy-2020 !

[2020-12-07 22:35] #833 closed

[2020-12-08 00:11] madison-ookla commented on #711
Slightly related question, it looks like you've inlined a Metabase graph - can you describe how you accomplished that? I'm trying to do something similar with `iframe`s and it doesn't appear to be working as I expected. I've also tried wrapping it in a `div` block as you suggested to no avail (the html escaped text just shows up).

[2020-12-08 15:23] pPanda-beta commented on #711
@madison-ookla can you please share the dom output?

[2020-12-08 15:28] madison-ookla commented on #711
Here's the DOM content after editing a table description to add in an iframe:

<img width="435" alt="Screen Shot 2020-12-08 at 7 26 02 AM" src="https://user-images.githubusercontent.com/52679885/101503358-ddf08500-3926-11eb-8939-6f534765319f.png">

This is what the page looks like:
(edit)
<img width="390" alt="Screen Shot 2020-12-08 at 7 28 24 AM" src="https://user-images.githubusercontent.com/526

[2020-12-09 07:41] feng-tao commented on #544
with https://github.com/amundsen-io/amundsenfrontendlibrary/pull/814, we could close this issue now.

[2020-12-09 07:41] #544 closed

[2020-12-10 05:39] jornh commented on #608
FYI just noticed there’s now a standalone connector not depending on Spark: https://github.com/delta-io/connectors/releases/tag/v0.2.0

[2020-12-10 06:26] feng-tao commented on #608
the issue could be closed now as the code is merged and it works great!

[2020-12-10 06:26] #608 closed

[2020-12-10 15:21] samshuster commented on #608
Ah nice find @jornh. I am sure this will be a path to simplify the current amundsen extractor (most importantly allowing it to run like other extractors do) in the future for anybody who wants to look into it. Looks like most important pieces of metadata can be obtained this way.

[2020-12-10 16:19] AustinBGibbons commented on #813
I'm running into the same thing - did you happen to find a resolution?

[2020-12-10 18:40] AustinBGibbons commented on #813
Oh, I suspect I need to modify to

[code]

[2020-12-10 22:45] AustinBGibbons commented on #830
I think all of this was configuration specific to our k8s setup, so going to close this out, thank you!

[2020-12-10 22:45] #830 closed

[2020-12-10 23:04] AustinBGibbons opened #843 "ElasticSearch elasticsearch.exceptions.AuthorizationException"
## Expected Behavior
Hello again, I'm trying to setup Amundsen for the first time. I've been able to stand up the architecture. I'm trying to search over the test data, but it is not succeeding

## Current Behavior
The website gets a 500 when I search. The search service logs

[code]

Which I think is because I setup OIDC via okta? I set this up because it seemed like the "bookmarks" thing would l

[2020-12-11 02:34] AustinBGibbons commented on #843
So I think that it's passed here

[code]

from the oidc frontend build. But I'm using AWS ES, which does not want this Authorization set. I'm (attempting to) use okta just so that the amundsen user is set (the bookmarks UI seemed to spin indefinitely otherwise)

[2020-12-11 03:35] AustinBGibbons commented on #843
Okay, I get this even with ```oidcEnabled: false``` set

[2020-12-11 05:34] jornh commented on #371
With https://github.com/amundsen-io/amundsendatabuilder/pull/265 merged (long time ago) let’s close this.

Thanks @rsyi!

[2020-12-11 05:34] #371 closed

[2020-12-11 05:43] feng-tao commented on #843
cc @verdan do you have any suggestions?

[2020-12-11 05:46] feng-tao commented on #843
@AustinBGibbons is OIDC enabled across all services?

[2020-12-11 16:41] AustinBGibbons commented on #843
@feng-tao no, originally only in frontend, but then I also tried adding it to metadata but I am still using ```image: amundsendev/amundsen-metadata```

[2020-12-11 18:44] jornh commented on #843
@AustinBGibbons I think OIDC isn't related to the problem at hand. Here's why + a take on what you can do, first some of the facts you provided:

It seems to be related to just the hop between `amundsen-search` and AWS ES, not OIDC. Currently the default Amundsen search container and the Helm chart is configured to use basic authentication towards ES:

https://github.com/amundsen-io/amundsensearch

[2020-12-12 17:29] NiravLangaliya opened #848 "Bug Report"
Frontend UI would not able to show data for test_table1 after loading details via example data
http://localhost:5000/table_detail/gold/hive/test_schema/test_table1

## Expected Behavior

Need to

![image](https://user-images.githubusercontent.com/13895686/101990495-34fead00-3ccd-11eb-9078-48935a3d9599.png)

![image](https://user-images.githubusercontent.com/13895686/101990505-4051d880-3ccd-11eb-82

[2020-12-12 18:28] jornh commented on #848
Already fixed in https://github.com/amundsen-io/amundsendatabuilder/pull/403 - update your Databuilder

[2020-12-13 05:19] #848 closed

[2020-12-14 16:38] AustinBGibbons commented on #843
Setting

[code]

Worked for me, thank you!

[2020-12-14 16:38] #843 closed

[2020-12-14 20:51] AustinBGibbons opened #852 "Creating users in the metadata graph"
Hello hello, I am not sure if this is a feature request or a bug report, but new users are not added to the metadata graph

## Expected Behavior
When a new user is created, they are registered within the metadata graph

## Current Behavior

1. We assign a user in Okta
2. User visits the website for the first time
3. Metadata service logs ```metadata_service.exception.NotFoundException: User email@

[2020-12-14 21:03] feng-tao commented on #852
@AustinBGibbons thanks for reporting, I think it is an issue combination of FE and metadata. So in order to use bookmark, it indeed requires the user node to be available in the graph, there are couples of issues / questions:
1. should we turn on bookmark if indexUser is disabled (meaning user profile is closed)? At Lyft, we indexed every FTE in the company into the graph, but it is not the case f

[2020-12-14 21:09] AustinBGibbons commented on #852
Can I preemptively create "users", before registering them through okta? I will consider doing that for now, though it will be harder to onboard new users

[2020-12-14 21:19] verdan commented on #852
@AustinBGibbons @feng-tao we have the same issue at ING. We can not pre-register all the users in the system/graph/metadata because of a number of limitation (one being we can not scrap the Active Directory and create 52k entries in our graph). Below is my solution:

Use this function in metadata repository 🙂 :  https://www.amundsen.io/amundsen/metadata/docs/configurations/#user_detail_method-opti

[2020-12-14 21:23] feng-tao commented on #852
@verdan I think we should do the same for neo4j and other proxy :) Let me take a  look at the code as well.

[2020-12-14 21:28] verdan commented on #852
https://github.com/amundsen-io/amundsenmetadatalibrary/blob/master/metadata_service/api/user.py#L35

And the user profile part is not dependent on the proxy, so if someone has `USER_DETAIL_METHOD` configured, this will work for profile, and will create a user in metadata at least.

[2020-12-15 00:27] Golodhros opened #853 "Better Error Handling on UI Application"
## Expected Behavior or Use Case

We would benefit from a better error handling in our user interface.
Things like:
- Failing API endpoints
- Non-existent pages (404 page)
- Expired security tokens

## Service
Frontend

## Possible Implementation
1. Conduct an audit on all features powered by API requests to see which ones need improved error state support.
2. List the kind of errors we want to ha

[2020-12-15 06:23] feng-tao commented on #852
thanks @verdan , wasn't aware of that. Will try it out internally.

[2020-12-15 09:15] shahneil88 opened #854 "Support RBAC model in Amundsen"
## Expected Behavior or Use Case

Having RBAC model can serve 2 purpose:-

1) Currently, anyone who has access to Amundsen can access any metadata and can edit metadata descriptors. There has
    to be an ideal way where we can restrict users based on their role on which DBs/tables can they edit.
2) We can restrict on what level of data/metadata can someone see. Eg - If there are details about any

[2020-12-15 12:58] AustinBGibbons commented on #852
Thanks for the pointer!

[2020-12-15 14:35] arjunprakash84 opened #855 "Feature Proposal: Ability to search based on table and column level badges"
Enabling searching of tables by table and/or column level badges.

## Expected Behavior or Use Case
User wants to look for all tables which have certain table and/or column level badges from the UI.

Currently backend supports searching by table level badges, and I am not sure if search by column level badges is supported in backend. If a table level badge is clicked on UI, all tables with that ta

[2020-12-15 15:02] joehoeller opened #856 "Two questions about Helm deployment that aren’t clear in docs or values.yaml"
How does one open up nodePorts in values.yaml?

How would one adjust memory for elastic search env var called vm.max_map_count, or simply run this command on build in values.yaml:

`sysctl -w vm.max_map_count=262144`

Link to helm repo:
https://github.com/amundsen-io/amundsen/tree/master/amundsen-kube-helm

@ibnipun10 is it possible to add data: with vm.max_map_count to this file for elastic searc

[2020-12-15 16:35] AustinBGibbons commented on #852
I'm trying to add it via

[code]

under `env` in `deployment-metadata.yaml`, does that seem right to you? I am not sure if my helm upgrade worked correctly

[2020-12-15 18:52] mgorsk1 commented on #856
you could implement something like this init cointainer https://github.com/bitnami/charts/blob/master/bitnami/elasticsearch/templates/configmap-initcontainer.yaml but it requires root permissions in k8s cointainers which is not always the case

[2020-12-15 21:22] feng-tao commented on #855
cc @allisonsuarez

[2020-12-15 21:25] markgrover commented on #854
Thanks @shahneil88 I have heard #1 a lot more than #2. Is that in line with how you think of their relative importance?

[2020-12-15 23:40] jornh commented on #856
If you want nodePorts I think you can change `serviceType` https://github.com/amundsen-io/amundsen/blob/master/amundsen-kube-helm/templates/helm/values.yaml#L177

Haven’t personally tried only ClusterIP and LoadBalancer

[2020-12-16 03:42] shahneil88 commented on #854
@markgrover Yes

[2020-12-16 11:36] Wonong opened #857 "Bug Report: Error in frontend OIDC after update deployment-frontend file"
I rebased my amundsen project recently.
After that, I upgraded helm chart and I got error in frontend.

## Expected Behavior

If I access my amundsen web, landing page is successfully loaded without login because there is a persistent cookie :)

## Current Behavior

It does not work.
Amudnsen frontend pod prints error logs that It can not interpret token...

## Possible Solution

If I access amdun

[2020-12-16 22:18] Wonong commented on #857
I think This PR(https://github.com/amundsen-io/amundsen/pull/777) updated code.

[2020-12-17 01:22] aabharaut opened #859 "Loader file using DPAPIExtractor"
I am trying to extract the data from Exasol DWH using DPAPIExtractor, to load the data I have created or modified the loader file with connection, SQL stmt details. As requested by @Tao Feng I am sharing the loader file to understand what is happening or where I am wrong. As I am not aware of how to proceed with DBAPIextractor in the loader part. I tried to ran the loader script but received some

[2020-12-18 20:08] feng-tao commented on #857
thanks @Wonong !

[2020-12-18 20:08] #857 closed

[2020-12-18 21:40] instazackwu opened #860 "[Feature Proposal] Make 'cluster' clickable to initiate a search, add cluster to Advanced Search"
## Expected Behavior or Use Case

https://github.com/amundsen-io/amundsenfrontendlibrary/pull/766 recently made `database` and `schema` clickable. Since cluster is shown in the Table Detail view by default, also made cluster a clickable field, with a corresponding advanced search section.

## Service or Ingestion ETL

Frontend / Search Service

## Possible Implementation

Very similar to https://g

[2020-12-18 21:44] feng-tao commented on #860
sgtm! The two issues are related:
1. Add cluster field to advanced search
2. Make search clickable in table page.

Let me know if you want to make the change!

[2020-12-18 22:35] instazackwu commented on #860
Ah, I don't think I'll be able to look at this anytime soon, but happy to try to take a crack at this later in the new year if nobody else is able to take this sooner!

[2020-12-18 23:00] feng-tao commented on #473
cc @allisonsuarez

[2020-12-21 19:18] bruno-nirello opened #863 "Advanced search column bug"
On home page the search behavior is alright. However when looking for a column on advanced search it does not return Upper case columns.

## Expected Behavior
On advanced search column when searching for `revenue` or `revenue*`  it should return all tables with `Revenue`, `RevenueUSD`, etc.

## Current Behavior
Does not return any column at all. because our calculated columns have initial Uppercas

[2020-12-22 18:38] jornh commented on #863
Related: https://github.com/amundsen-io/amundsen/issues/283

[2020-12-23 09:22] verdan commented on #852
@AustinBGibbons do you need more help here or is it safe to close this issue?

[2020-12-30 23:12] dorianj commented on #283
I suspect that case-insensitive is probably user expectation in most cases? IMO should be the default -- if operators or options were added, then add then?

[2020-12-30 23:20] dorianj commented on #863
I think closing this in favor of the ticket Jorn mentioned is right? WDYT @bruno-nirello

[2020-12-31 14:18] bruno-nirello commented on #863
Indeed @dorianj, what i did was reverting this PR https://github.com/amundsen-io/amundsenfrontendlibrary/pull/404,
because the API is not case-sensitive.
Also the ticket Jorn mentioned is a bit old and i want to bring the issue again.

[2020-12-31 14:20] bruno-nirello commented on #283
i agree with @dorianj, in my company case this is crucial.

[2021-01-05 20:44] davcamer opened #868 "Snowflake Extractor hangs jobs it is a part of, connection must be closed."
## Expected Behavior
With appropriate configuration, the Snowflake Extractor should run to completion, as other extractors do.

## Current Behavior
When running on our CI/CD server, where I'm running all of our jobs, jobs that use the `SnowflakeMetadataExtractor` were hanging indefinitely. Here is a snippet of the end of the log:
[code]
The process hung a the second to last line, before I manually

[2021-01-07 21:50] markgrover opened #870 "Auto-fill in column description based on criteria"
## Expected Behavior or Use Case
Often times, there are cases where a column may exist across multiple tables, but it always means and represents the same thing. For example, at Lyft, all event tables had a created_at column that tracked the time when the event record was created.
Such columns in all event tables would have same description. Description is still useful because it can be event time

[2021-01-08 01:06] markgrover commented on #870
From Tao, `you could apply a transformer in the databuilder to set this kind of rule (e.g if column == ‘created_at’ , the description = xxx)` so this issue is more of a long term thing since the suggested short term solution works. It's option #3 above.

[2021-01-08 01:18] lucafuji opened #871 "Feature Request: Incremental es index update support"
Hi, I took a look at this example
https://github.com/amundsen-io/amundsendatabuilder/blob/master/example/dags/postgres_sample_dag.py
to ingest postgres schema into amundsen.

It seems when running create_es_publisher_sample_job, the whole search data is extracted from neo4j and ingested into es.

Are there anyway to only ingest the changed part? Otherwise if the data is huge it will take a long ti

[2021-01-08 01:43] feng-tao commented on #871
currently the search indices (with ES as backend) is built by ingesting metadata from neo4j first. Agree that if it will be great to ingest delta. But I wonder how much data on your side given at Lyft production the index search task normally takes less than a few mins to run.

[2021-01-08 01:44] feng-tao commented on #871
@lucafuji nice to see you here as we discussed before in airflow pr/issue !

[2021-01-08 19:07] lucafuji commented on #871
@feng-tao
Haha, same here.
I think one single optimization we can make is add a where clause in the Neo4jSearchDataExtractor to filter by the cluster we just update. e.g
`
 MATCH (db:Database)<-[:CLUSTER_OF]-(cluster:Cluster)
        <-[:SCHEMA_OF]-(schema:Schema)<-[:TABLE_OF]-(table:Table)
        WHERE cluster.name = '{updated_cluster}'
        OPTIONAL MATCH (table)-[:DESCRIPTION]->(table_descr

[2021-01-09 06:43] feng-tao commented on #871
@lucafuji why the cluster name for delta? will you change the cluster name often for the same dataset? Also i need to take a look but currently the ES indices build is always to build a new one with uuid , delete old ones, and then assign the new one to the alias. Assume we consume delta from neo4j/ metadata source, we need to change to change the publisher support as well.

[2021-01-11 18:32] lucafuji commented on #871
I see, thanks for the explanation.  Sounds like a brand new feature request. Just changed the title

[2021-01-12 02:10] raels0 commented on #868
I've also faced this issue, another possible solution is adapting the [base extractor](https://github.com/amundsen-io/amundsendatabuilder/blob/cb8142eecbb37e8d73d7aa7269b6df65e43d9536/databuilder/extractor/sql_alchemy_extractor.py#L47) for SQLAlchemy to use engine-level transactions, documented [here](https://docs.sqlalchemy.org/en/13/core/connections.html#sqlalchemy.engine.Engine.begin) and [here

[2021-01-12 17:58] iamtodor commented on #257
Hi guys
Step #3 from https://www.amundsen.io/amundsen/installation-aws-ecs/aws-ecs-deployment/ is not valid.
$ ecs-cli up --keypair JoaoCorreia --extra-user-data userData.sh --capability-iam --size 1 --instance-type t2.large --cluster-config amundsen --verbose --force --aws-profile $AWS_PROFILE

What to do with it?
I've seen some comment: in ~/<your-path-to-cloned-repo>/amundsenfrontendlibrary/doc

[2021-01-12 17:59] iamtodor commented on #257
Same issue to step #4 from https://www.amundsen.io/amundsen/installation-aws-ecs/aws-ecs-deployment/
`ecs-cli compose --cluster-config amundsen --file docker-ecs-amundsen.yml up --create-log-groups`
No such file. I searched over two repos https://github.com/amundsen-io/amundsen and https://github.com/amundsen-io/amundsenfrontendlibrary
I haven't found such files. What am I missing?

[2021-01-12 18:19] iamtodor opened #875 "Documentation is not up-to-date (lacking): Deployment of non-production Amundsen on AWS ECS using aws-cli"
Hi guys
Step #3 from https://www.amundsen.io/amundsen/installation-aws-ecs/aws-ecs-deployment/ is not valid.

[code]
What to do with it?
I've seen some comment: in ~/<your-path-to-cloned-repo>/amundsenfrontendlibrary/docs/instalation-aws-ecs but there is no such dir instalation-aws-ecs

The same issue to step #4 from https://www.amundsen.io/amundsen/installation-aws-ecs/aws-ecs-deployment/
`ecs-cl

[2021-01-12 18:33] iamtodor commented on #875
While walking thought the issues I found a proper location of the needed files: https://github.com/amundsen-io/amundsen/tree/master/docs/installation-aws-ecs

[2021-01-12 18:33] iamtodor commented on #257
While walking thought the issues I found a proper location of the needed files: https://github.com/amundsen-io/amundsen/tree/master/docs/installation-aws-ecs

[2021-01-13 14:42] iamtodor opened #878 "Requests dependency version collision in amundsendatabuilder module"
I couldn't find this problem mentioned anywhere in the issue tracker, but if I missed it please feel free to close this/mark as duplicate and point me in the right direction 😄

Expected Behavior
While following the [installation guide](https://www.amundsen.io/amundsen/installation/) using dummy data, I expected the dependency installation process to complete successfully and correctly install all

[2021-01-13 18:12] NiravLangaliya opened #879 "Feature Proposal - enable new line character at column level or mark down support for column level description."
enable new line character or markdown support at column level description.

## Expected Behavior or Use Case

## Service or Ingestion ETL

frontend
## Possible Implementation

## Example Screenshots (if appropriate):
As our metadata has a short description and long description also there is other information that we want to showcase as

**short description**: this is a short description of the col

[2021-01-13 23:43] feng-tao commented on #879
cc @Golodhros @allisonsuarez @ttannis
I encounter this issue as well, do you know how to do a quick fix?

[2021-01-15 11:53] vikalpmullick commented on #779
@pioppob any success on this?

[2021-01-17 05:26] #875 closed

[2021-01-17 05:26] feng-tao commented on #875
pr is merged.

[2021-01-17 10:48] OElesin commented on #859
Hi @aabharaut ,

Great work with the [sample_dbapi_loader.txt](https://github.com/amundsen-io/amundsen/files/5706381/sample_dbapi_loader.txt). I am also interested in integration our Exasol DWH with Amundsen.

I inspected your code, sample_dbapi_loader.txt, and discovered that you missed a `.` on line 85. I assume this made it impossible to read the object.

Please change: `'extractor.dbapi{}'.for

[2021-01-17 17:57] eponkratova opened #881 "sample_glue_loader returns 'Something went wrong...' on the front-end"
## Expected Behavior
Glue tables metadata is displayed on the front-end

## Current Behavior
On the front-end, I see 'Something went wrong...'

## Possible Solution

## Steps to Reproduce
I am running Amundsen on my local machine:
1. followed the installation guide at https://github.com/amundsen-io/amundsen/blob/master/docs/installation.md, including the required python libraries.
2. modified samp

[2021-01-18 07:41] sterlins commented on #759
We're about 2 months into our beta launch, so I thought I'd update this with some additional feedback we've gotten:

These are features we hadn't included in beta and are working on adding now - it's always great to be able to respond to feature requests with "that will be ready next week"!

❤️ I love it too!

In a recent [talk by Shopify](https://youtu.be/vt2gwHUUb_w?t=2404), they mentioned they

[2021-01-19 20:13] dixonwhitmire commented on #878
I encountered the issue above and was able to resolve it by updating the requests version spec, within the amundsendatabuilder module to

[code]

Although updating the version range to a minimum of 2.25 (current latest) may be preferred, since requests 2.25 supports a urllib3 [range](https://github.com/psf/requests/blob/master/setup.py#L47) between 1.21.1 to 1.26 inclusive.

[code]
I'm still worki

[2021-01-19 21:39] dixonwhitmire commented on #878
On an additional note, I encountered a "numpy" error once I had a valid virtual environment and running containers. To be fair this is really a corner case.

[code]
I am on OS X 11.1 (Big Sur). I resolved this issue by simply updating my version of pip per this [issue](https://github.com/numpy/numpy/issues/17784#issuecomment-735795584).

I can submit a separate PR for the Developer Setup to includ

[2021-01-20 09:16] Rohan1-23 opened #886 "Bug Report"
Amundsen - Times out after around 20 mins of inactivity

There should be a mechanism to ask user to reload the page. Once their access token get expired. So that, access token can be re-allotted.

All APIs stops working once times out. For instance, services like searching, tagging doesn't work.

[2021-01-20 10:00] tloszabno opened #887 "Missing dependency to google auth in example/scripts/sample_bigquery_metadata.py"
I just cloned your repo run commands from the instruction:
[code]
inside folder `amundsen/amundsendatabuilder`.

all work well, but when I try to run: `python3 example/scripts/sample_bigquery_metadata.py`

I receive:

[code]

I am able to fix that by adding:
[code]
to `requirements.txt`