[2021-08-19 17:23] sldion opened #1449 "Feature Proposal: Add configuration to allow users to search with Lucene queries"
Right now the search on Amundsen just uses best match searching of the text. This is fine most of the time but when dealing with text fields like descriptions having a little more specificity if the user wants it, would be nice.

## Expected Behavior or Use Case

Allowing some sort of configuration option for the search service that allows [lucene query syntax]( https://lucene.apache.org/core/2_9_

[2021-08-20 22:47] a-cid commented on #1442
This is the commit that removed the exec_date parameter:
https://github.com/amundsen-io/amundsen/commit/1a75a2f16648e73698b8b6b21641ed8d2e4c5c0e

A temporary workaround is to run `pip install amundsen-databuilder==6.0.1` instead of `python3 setup.py install`

[2021-08-21 00:21] tomassatka commented on #1419
Hi @mgorsk1
Just to be sure. To which version of apache atlas is this extractor dedicated: https://github.com/amundsen-io/amundsen/blob/main/databuilder/example/scripts/sample_atlas_search_extractor.py

apache atlas 1.x
apache atlas 2.x

or will work for both?

Thx

[2021-08-21 00:45] #1327 closed

[2021-08-22 06:29] mgorsk1 commented on #1419
It should work with Atlas 2.x starting with rev 21b15842fd74bc91910b2d8901dbea57769065d0 (Atlas has very weird and rare release model)

[2021-08-23 23:58] #1362 closed

[2021-08-24 11:17] #1350 closed

[2021-08-27 13:36] raajpackt opened #1461 "RedshiftMetadataExtractor example sample DAG needed - changing postgres sample DAG not loading views as expected"
Requesting a databuilder example dag for Redshift.
The `RedshiftMetadataExtractor` is present in the list of extracters.
An example dag for sample metadata for redshift would be helpful. The postgres example databuilder dag does not seem to bring in views. Using `RedshiftMetadataExtractor` in place of `PostgresMetadataExtractor` in the sample postgres dag does not solve this problem. They still do

[2021-08-28 01:39] cpollard0 commented on #881
@feng-tao - I'm getting the same issue now with loading Glue data. I'm on the latest branch from master, my data is in neo4j. When I click on a table in the WebUI I get 404 not found. Any guidance would be appreciated!

[2021-08-30 05:53] raajpackt commented on #1350
can this issue stay open as a feature request?

[2021-08-30 14:04] delwaterman commented on #1434
https://www.amundsen.io/amundsen/installation/
https://www.amundsen.io/amundsen/architecture/

Look like the correct URLs

[2021-08-30 14:15] delwaterman opened #1462 "Bug Report - Sample Data Loader missing"
The installation instructions (https://github.com/amundsen-io/amundsen/blob/main/docs/installation.md#bootstrap-a-default-version-of-amundsen-using-docker) reference the `example/scripts/sample_data_loader.py` to setup dummy data for amundsen. However that file does not exists ~and appears to have been removed in https://github.com/amundsen-io/amundsen/commit/85fd421a1113452dc33096dc0f45f78d4fbaf5

[2021-08-30 14:22] delwaterman commented on #1462
Nope I typed faster than I could read. It says to change into the `databuilder` directory

[2021-08-30 14:22] #1462 closed

[2021-08-30 21:06] don-simpson commented on #1382
@feng-tao Not sure if this was confirmed to be fixed by @jsnowacki. Appears to still be an issue as of 3.9.0. I cloned and update my metadata/requirements.txt to use amundsen-gremlin>=0.0.12 and gremlinpython==3.4.12 and it seems to fix the issue.

[2021-08-30 21:07] #1383 closed

[2021-08-30 21:07] #1384 closed

[2021-08-31 14:19] amommendes commented on #1337
keep fresh

[2021-08-31 14:59] delwaterman commented on #1461
I tried the `sample_postgres_loader.py` on postgres database and its not working at all. Running the services with docker-compose I can't even see logs of NEO4j receiving updates

[2021-08-31 16:02] delwaterman opened #1465 "Sample Postgres Loader does not create views"
Using `databuilder/example/scripts/sample_postgres_loader.py` does not properly load metadata into amundsen. Data is loaded into Neo4j but is not properly published to Elasticsearch

## Expected Behavior

After setting up a postgres database for the example script, it should properly extract meta data and load the results into both neo4j and elasticsearch

## Current Behavior

The data is only loa

[2021-08-31 16:13] delwaterman commented on #1461
@raajpackt I think I found the bug with the script. See https://github.com/amundsen-io/amundsen/pull/1466

[2021-08-31 17:58] #1465 closed

[2021-08-31 22:37] nicosuave commented on #791
Looking forward to the Metabase extractor @teoria 💯

[2021-09-01 04:56] #1372 closed

[2021-09-01 06:10] shlsheth263 commented on #1441
Any update on this issue?

i am facing the same issue

[2021-09-01 07:43] raajpackt commented on #1461
@delwaterman does it now handle the views as well after adding the config?

[2021-09-01 09:28] uploadWizdom opened #1474 "Bug Report - Deploying sample_data_loader has error"
I'm trying to deploy sample_data_loader in Amundsen environment that runs in docker from a CENTOS8 machine.
I've tried multiple versions of python:
$ python3.6 --version
Python 3.6.8
$ python3.7 --version
Python 3.7.9
$ python3.8 --version
Python 3.8.7

Same error
Traceback (most recent call last):
  File "example/scripts/sample_data_loader.py", line 374, in <module>
    'databuilder.models.applic

[2021-09-01 13:32] delwaterman commented on #1461
As I read the example it's only fetching tables from Redshift based off the query in the extractor: https://github.com/amundsen-io/amundsen/blob/main/databuilder/databuilder/extractor/redshift_metadata_extractor.py

You might have to add/create your own custom extractor to pull out views.

The fix I did was to make sure that elascticsearch was properly updated.

[2021-09-01 13:50] raajpackt commented on #1461
@delwaterman Yes, figured that we might need an extractor for that. I could not figure out how to build one hence posted this as a feature request to have views in. Surprisingly there is a redshift extractor that supports late binding views and still does not support normal views which was a bit non intuitive (mentioned in the above issue).

[2021-09-02 01:57] woodchuck1206 commented on #1441
@shlsheth263 I solved this issue by disabling Amundsen authentication and building a custom authentication layer in front of it & modifying Amundsen source to use it. Seems like many users heavily modify Amundsen due to issues like this one.

[2021-09-02 15:11] tooptoop4 commented on #1327
https://github.com/tooptoop4/presto_sql_lineage

[2021-09-02 16:39] drodrigues3 commented on #1441
@shlsheth263 could you please share how you fix this issue?

[2021-09-02 17:55] shlsheth263 commented on #1441
@drodrigues3 https://www.stemma.ai/blog/how-to-setup-oidc-authentication-in-amundsen

Ive followed this.

[2021-09-02 19:57] amommendes opened #1477 "Feature Proposal: Feast extractor upgrade"
Since 0.10 version, Feast project [has changed its strategy](https://feast.dev/blog/feast-0-10-announcement/) from an "infrastructure-centric approach" to a simpler feature store (introducing breaking changes). These changes could imply that, for example, we need to change the way instantiate the feast client.
Thus, we need to upgrade feast version in databuilder project and change the extractor c

[2021-09-02 21:24] microprediction opened #1478 "How should Amundsen be cited?"
How should Amundsen be cited?

[2021-09-02 22:21] drodrigues3 commented on #1477
This will be great

[2021-09-02 22:45] amommendes opened #1479 "Feature Proposal: add create/update users method"
Currently, we do not have implemented in the Gremlin and Neptune proxy the method to create or update Amundsen users, which turns difficult to use features related to users, as ownership, popular table, and so on.

## Expected Behavior or Use Case

Create users programmatically, for example, as implemented [here](https://www.stemma.ai/blog/how-to-setup-oidc-authentication-in-amundsen)

## Possible

[2021-09-02 22:53] feng-tao commented on #1477
Feel free to submit the pr for the upgrade! thanks!

[2021-09-02 22:55] feng-tao commented on #1479
Make sense, feel free to upstream the change. Thanks!

[2021-09-03 10:22] miguelpromptly commented on #1441
I'm facing the exact same issue. I've tried solving that guide above, but did not solve it for me. @shlsheth263 anything in the guide you reckon was the key change or any other advice?

[2021-09-03 12:46] drodrigues3 commented on #1441
@miguelpromptly  for me worked after I did downgrade of the flaskoidc lib, now I'm using flaskoidc==0.2.3 and this is working well

[2021-09-03 14:41] #1170 closed

[2021-09-03 17:58] corrjo commented on #1382
Yeah I'm experiencing that same thing, this issue should probably be reopened.

[2021-09-03 19:13] #1151 closed

[2021-09-06 08:21] dkdbsd opened #1481 "Bug Report: ES 7.x metadata (properties key) parsing fail"
## Expected Behavior

## Current Behavior
I'm trying to extract ES7.x metadata, but it cat not extract properties.
If it fails, it shows `something went wrong...` message at amundsen browser when i click resource link.

## Possible Solution
The location of `properties` key at metadata response is varies by ES version.
in 6.x, mappings > table > properties
in 7.x, mappings > properties

so,  `prope

[2021-09-06 08:35] mgorsk1 commented on #1481
yeah it does make sense, feel free to submit PR with this fix :)

[2021-09-06 11:33] miltad commented on #1317
Still have the same error:
![image](https://user-images.githubusercontent.com/49615819/132211268-7df4eef9-dfcd-4dfd-9850-3d71d8b3deb2.png)

Run on Windows machine.

[2021-09-06 15:49] shlsheth263 commented on #1441
@drodrigues3 were you able to retrieve user details from google oidc ?

i am getting following error:

ERROR:metadata_service.config:404 Client Error: Not Found for url: https://accounts.google.com/api/v1/users?q=<email_id>&limit=1
amundsenmetadata    | Traceback (most recent call last):
amundsenmetadata    |   File "/app/metadata_service/config.py", line 98, in get_user_details
amundsenmetadata

[2021-09-08 16:11] #1093 closed

[2021-09-09 01:13] apalmercari commented on #1443
Hi Team, any updates on this

[2021-09-09 01:14] edsonlalmeida opened #1486 "Bug Report OIDC OKTA"
error in integration setup with okta using docker image amundsendev/amundsen-frontend-oidc:3.12.0

## Expected Behavior

frontend page authenticating users based on okta

## Current Behavior

error in frontend service authlib.oidc.core.errors.LoginRequiredError: login_required:
[code]

## Possible Solution

## Steps to Reproduce

1.  amundsen in k8s image  amundsendev/amundsen-frontend-oidc:3.12.0

[2021-09-09 01:26] edsonlalmeida commented on #1441
I'm having this same problem but with okta, someone managed to solve it?

[2021-09-09 12:04] #1381 closed

[2021-09-13 06:14] uploadWizdom commented on #1474
Solution from https://github.com/amundsen-io/amundsen/issues/1442#issuecomment-902994567

[2021-09-13 06:14] #1474 closed

[2021-09-13 13:41] #1423 closed

[2021-09-13 23:41] #1425 closed

[2021-09-14 12:01] raman-nbg commented on #382
One year later: Is there any progress?

Or in other words: Is a Kubernetes deployment really a recommended deployment option for Amundsen?

[2021-09-14 14:21] naveendevs opened #1490 "Error loading sample data from postgres"
## Expected Behavior
Sample data loader for postgres source would work.

## Current Behavior
Sample data loader for postgres source fails.

## Possible Solution

## Steps to Reproduce

1. Go to amundsen/databuilder/example/scripts
2. Run $ python3 sample_postgres_loader.py run

## Screenshots (if appropriate)

## Context
It works on my local, a macOS setup. While similar installation failing on my

[2021-09-15 06:39] #1431 closed

[2021-09-15 06:39] #1433 closed

[2021-09-15 13:55] delwaterman commented on #1434
This is still an issue

[2021-09-15 15:27] markgrover commented on #1443
Hi @apalmercari we are aware of this - the lineage UI is pretty alpha. It's on our roadmap, but can't share a timeline just yet. In the meantime, I'd recommend using the list view. Thanks for filing the bug report.

[2021-09-16 06:46] #1438 closed

[2021-09-16 12:51] janpeb opened #1492 "Error while executing amundsengremlin tests: No module named 'Neptune-python-utils'"
I'm trying to run amundsengremlin test(python -m pytest --roundtrip .), in order to validate my environment, but when I run the test, it just return the following error:

`(python3env)  jan@vormir  ~/Projects/testing/amundsengremlin   master ±  ls
LICENSE                      README.md                    amundsen_gremlin             docs                         requirements.txt             set

[2021-09-17 18:52] afuzzyriff commented on #1448
The bug reported here was fixed with this PR: https://github.com/amundsen-io/amundsen/pull/1460

[2021-09-17 18:53] #1448 closed

[2021-09-19 08:47] amommendes commented on #1479
keep fresh

[2021-09-20 15:48] delwaterman opened #1493 "amundsen-databuilder pip package includes a version conflict for jinja2"
Trying to install `amundsen-databuilder` using [Pipenv](https://pipenv.pypa.io/en/latest/) fails because of a version incompatibility with jinja2 templates.

Pip does not normally catch these versions incompatibilities and thus ignores the issue.

## Expected Behavior
`pipenv install amundsen-databuilder` should work without issue.

## Current Behavior
The install fails:

[code]

## Possible Solut

[2021-09-20 17:29] delwaterman commented on #1493
I was able to work around this by adding an additional requirement to the Pipfile:

[code]

[2021-09-20 19:15] Marcel-Jan commented on #1447
I had the same issue. So I've edited this extras_require dictionary. Turns out it does run without error when you remove all_deps and requirements_dev. So that's where the problem seems to be. Not sure what the effect is of removing them.

[2021-09-21 08:10] opendatakraken opened #1494 "pip install fails with FileNotFoundError"
I'm following these instructions on Debian: https://www.amundsen.io/amundsen/frontend/docs/installation

## Expected Behavior
`pip install -e ".[all]" .` is successful

## Current Behavior
`pip install -e ".[all]" .` is not successful with the following error:
[code]
## Steps to Reproduce
[code]
## Complete output:
[code]

[2021-09-21 14:10] ChristalJohn opened #1497 "Bug Report"
Hello Amundsen Community Team,

Im trying to implement OKTA Authentication on Metadata API.
The API page crashes with below error after the OKTA authentication is done

Request-URI Too Long
The requested URL's length exceeds the capacity limit for this server.

I do see in the logs that callback request is made multiple time, and each time the URL length keeps growing.

Below are the configs which

[2021-09-21 21:12] matthiaspchan commented on #1447
if you trace it through, looks like the requirements-dev.txt in the databuilder folder is trying to point to the parent folder for the requirements, but the python script is loading in that text as the requirements instead. Probably needs a slight tweak...

For anyone needing a fix, what worked for me was to just copy the contents out of requirements-dev.txt in the amundsen folder and paste it int

[2021-09-22 07:19] verdan commented on #1497
@ChristalJohn what version of `flaskoidc` are you using?
here is the tutorial on how to enable OIDC in Amundsen. Please let me know if you face the same issue again.
https://medium.com/stemma/how-to-setup-oidc-authentication-in-amundsen-47f704345c1

The config/env variables you are using are outdated.
More details about the configs here: https://github.com/verdan/flaskoidc#readme

[2021-09-22 07:24] ChristalJohn commented on #1497
@verdan
Thank you for picking this up.

Below flask versions are installed in the env.:
flask-oidc               1.4.0
flaskoidc                0.2.3

I will go through the URLs shared and revert here.

[2021-09-22 07:31] verdan commented on #1497
yes, please make sure to use the newer version of `flaskoidc` i.e., 1.0.2 and follow the how-to steps.

[2021-09-23 10:59] ChristalJohn commented on #1497
@verdan

I implemented new configs suggested in below URLs also updated flaskoidc version 1.0.2 across frontend, search and metadata:
https://medium.com/stemma/how-to-setup-oidc-authentication-in-amundsen-47f704345c1
https://github.com/verdan/flaskoidc#readme

For frontend, I was able to get to the OKTA Login page, below are configs used:

export FRONTEND_SVC_CONFIG_MODULE_CLASS='amundsen_applicat

[2021-09-23 11:11] verdan commented on #1497
@ChristalJohn a few things:
- `OIDC_CLIENT_SECRETS` is deprecated and not being used anymore. Please remove the env variables along with the .json files.
- `FLASK_OIDC_REDIRECT_URI` must match the one you specified within the OKTA. In case of metadata the `FLASK_OIDC_REDIRECT_URI` should be `/apidocs/auth/`, so the metadata configs should look like:
[code]

[2021-09-24 02:35] #1449 closed

[2021-09-24 02:35] #1424 closed

[2021-09-24 10:40] ChristalJohn commented on #1497
@verdan

Thanks for the pointers, its very helpful.
I was able to get through the OKTA login page for metadata API.

However, once the login is complete, i encounter 400 URL not found error,  on the URL tab I can see the API URL without /apidocs/ appended to it, if I add apidocs the API page loads fine.

![image](https://user-images.githubusercontent.com/91137301/134661563-a17d1771-e12b-4e4f-bf05-

[2021-09-25 00:27] #1442 closed

[2021-09-26 09:50] #1419 closed

[2021-09-27 06:23] ChristalJohn commented on #1497
@verdan

Configs used for metadata:

export FLASK_APP_MODULE_NAME='flaskoidc'
export FLASK_APP_CLASS_NAME='FlaskOIDC'
export FLASK_OIDC_PROVIDER_NAME='okta'
export FLASK_OIDC_SCOPES='openid email profile offline_access'
export FLASK_OIDC_CLIENT_ID='0...7'
export FLASK_OIDC_CLIENT_SECRET='W...N'
export FLASK_OIDC_REDIRECT_URI='apidocs/auth/'
export FLASK_OIDC_CONFIG_URL='https://...oktapreview.com/

[2021-09-27 14:18] verdan commented on #1497
@ChristalJohn after successful login, `flaskoidc` simply redirects you to the `/` instead of `/apidocs` which is the endpoint of your metadata. and you don't have `/` endpoint available, this is why it is returning 404.
I will update the `flaskoidc` package to give an option to overwrite redirect uri after login today, and release a new version. Give me a few hours to add this support.

[2021-09-27 15:09] verdan commented on #1497
@ChristalJohn can you please update your `flaskoidc` to the latest version i.e., 1.0.4
https://pypi.org/project/flaskoidc/1.0.4/

and then use the [FLASK_OIDC_OVERWRITE_REDIRECT_URI](https://github.com/verdan/flaskoidc#flask_oidc_overwrite_redirect_uri) in your metadata configuration to match with your endpoint.

[2021-09-29 12:45] corridordigital commented on #53
Does anyone use Ansible roles for deploying and managing Amundsen ? I could share mine if that is of any interest (on-premise compose installation).

[2021-09-30 09:29] verdan commented on #1497
this issue was fixed.
https://amundsenworkspace.slack.com/archives/CHQERT0D7/p1632287479054200

[2021-09-30 09:29] #1497 closed

[2021-09-30 15:35] Arun-kc commented on #1097
Can I help? @feng-tao

[2021-10-04 20:11] ssmails opened #1516 "Popular Resources not being populated after searching"
1. Install Amundsen with docker installation, with Neo4j backend, using instructions at https://github.com/amundsen-io/amundsen/blob/main/docs/installation.md
2. Search at localhost:5000 for test
3. Search successful, select one of the tables Eg: test
_schema.test_table1
4. Add new tag to this table and query it multiple times using the Advanced search (query by tag option) or main Search.
5. Go t

[2021-10-05 02:54] feng-tao commented on #1516
You need to ingest usage into the metadata store.

[2021-10-05 05:56] ssmails commented on #1516
@feng-tao I believe this is being done already as part of amundsen/databuilder/example/scripts/sample_data_loader.py
    run_csv_job('example/sample_data/sample_column_usage.csv', 'test_usage_metadata',
                'databuilder.models.table_column_usage.ColumnReader')

Please confirm. Thanks

[2021-10-05 08:20] kenny-shopback commented on #1516
@ssmails, there are some configs control it.
[code]
Using `Advanced search` is not right way to identify populated resource. You should query by: "SELECT .. FROM table..", or sth like that. Then push table query usage count to neo4j.

[2021-10-05 17:38] mgorsk1 opened #1517 "Table view not rendering after changes to column list"
After latest changes to column list in table view it doesn't render properly. The assumption about the cause was confirmed by building amundsen from hash 527fda4b87415a0b9343f53b51f783fa42481f95 (last commit on main before changes to column list).

## Expected Behavior
Table view renders correctly

## Current Behavior
Table view shows blank screen

## Possible Solution

## Steps to Reproduce
1. Bu

[2021-10-05 17:39] mgorsk1 commented on #1517
cc @danwom @Golodhros @allisonsuarez

[2021-10-05 17:44] ssmails commented on #1516
@kenny-shopback Thanks for the explanation, Is there a REST API for <Then push table query usage count (model ColumnReader) to neo4j.> ? @feng-tao Assuming we would need to do this externally to Amundsen, each time that we reference a tables column for which we have metadata ingested into Amundsen.

[2021-10-06 01:55] kenny-shopback commented on #1516
@ssmails , you can check example in `sample_column_usage.csv`

[2021-10-06 07:01] opendatakraken commented on #1494
The solution is: simply remove the symlink and copy the files to the location of the symlink instead.

[2021-10-06 07:01] #1494 closed

[2021-10-06 09:29] raman-nbg opened #1518 "Migrate from Helm 2 to Helm 3"
Amundsen currently provides a helm chart that is based on Helm 2. Helm 2 is already deprecated. So, it would be good to migrate the Helm chart to Helm 3.

Helm 2 is deprecated (end of life) since August 2020. Helm will no longer provide any bug or security fixes for Helm 2. Therefore, it is highly recommended to migrate to Helm 3.

See https://helm.sh/blog/helm-v2-deprecation-timeline/ for details

[2021-10-06 16:33] #1461 closed, assigned to nobody

[2021-10-06 19:46] mgorsk1 commented on #1517
indeed the fix you've mentioned did not work, issue was found on latest main

[2021-10-07 00:03] ssmails commented on #1516
@feng-tao @kenny-shopback

So, I added some additional logs to check that the configs are ok. Although the configs seem ok, I am unable to see the table in the Popular tables.
This was also tried with the official image amundsendev/amundsen-frontend:3.12.0, prior to modifying on my local setup.

Steps followed -
1. Start all containers with docker-amundsen.yml using neo4j backend (When running loc

[2021-10-07 07:10] raman-nbg opened #1521 "Can't enable OIDC using Helm installation"
I want to enable OIDC using the Helm Chart. After some search in the issues here, [I found that amundsen is providing special oidc images](https://github.com/amundsen-io/amundsen/issues/813). But there is no image for `amundsen-search` image. I also verified this on [docker hub](https://hub.docker.com/u/amundsendev).

So, I tried to use the image `amundsendev/amundsen-search:2.11.1`. But with this

[2021-10-07 16:59] shivdesh opened #1523 "Unable to load data from mysql into amundsen"
Modified following file to connect to mysql localhost:3306 to load data into amundsen.
https://github.com/amundsen-io/amundsendatabuilder/blob/master/example/scripts/sample_mysql_loader.py

Changes made in above file:
Added
[code]
and
[code]

When I run the script, I don't see any errors in the logs. But no data seems to be loaded in Amundsen. Any idea?

[code]

[2021-10-07 18:05] shiv80 commented on #1523
![Snip20211007_1](https://user-images.githubusercontent.com/92113562/136439014-67cb6bc4-09ff-4e25-a81a-6ff891940e71.png)
this is table content which I am trying to load:
[code]

[2021-10-08 04:29] NiravLangaliya commented on #1523
You need to change your where condition as table_schema is schema which should be world_x in your case and table_name is table name which would be country.

[code]

[2021-10-08 07:37] #1478 closed

[2021-10-08 17:00] shiv80 commented on #1523
wow, this is great. Thanks @NiravLangaliya . Is there way to ingest actual data from mysql to amundsen, as well?

[2021-10-08 23:24] danwom commented on #1517
This is kind of silly but I think we need to add a concept of `column_index` so we can refer back to the original column in order since `sort_order` is apparently an unreliable field. Either that or cancel the whole passing of indexes and instead use the column name as an identifier instead.

[2021-10-11 18:12] PratikKhandelwal17 opened #1525 "Error with login OIDC"
[code]

getting this error while trying to use OIDC for login, i'm a junior developer having less experience, please help

[2021-10-11 18:18] PratikKhandelwal17 commented on #1074
[code]

I'm getting this error while trying to login using OIDC, please help

[2021-10-12 16:10] raman-nbg commented on #1521
No, couldn't find any solution. It looks like that Amundsen is not really interested to run on kubernetes.

[2021-10-12 22:54] phi63897 opened #1529 "Issue Loading Neo4j Data into Frontend with docker.amundsen.local.yml build"
When I try to run the local build of Amundsen, the search does not return any datasets or dashboards. It correctly returns the datasets when I run using the docker.amundsen.yml, but not the local version.

## Expected Behavior
I should be able to view the dashboards/datasets from the search bar.

## Current Behavior
No datasets or dashboards are currently returned by the search

## Steps to Reprod

[2021-10-13 16:24] jgc93 commented on #1441
Hey @shlsheth263 , how did you overcome this? I would love any insight. facing exact same issue.

[2021-10-14 07:56] #1486 closed

[2021-10-14 12:58] sagar-raythatha commented on #73
Hi,

I have done this within the BigQueryMetadataExtractor, since the api call in which BigQueryMetadataExtractor making, provides the Last Modified details.

` last_modified_time=table.get('lastModifiedTime', '')`

However, I am not sure how to bring this to the UI. Can anyone give some direction for that?

[2021-10-14 16:51] Agustin1913 commented on #35
Hi guys, do we have any updates about AD or AAD integration?

We are currently working on a ubuntu machine where Amundsen is deployed using Docker. The ubuntu server is joined in the domain (AD in windows server 2019). Do you know how we can integrate it?

[2021-10-17 21:00] amommendes opened #1537 "Support for Feature Services from Feast"
Would be interesting to catalog [`FeatureService`](https://docs.feast.dev/getting-started/concepts/feature-service) from Feast too

## Context

Feast now has the concept of feature services which are composed of feature views. This is an important component because certain models can use a set of features defined in a feature services. In fact, feature views are upstream for feature services

[2021-10-19 12:04] katz-david opened #1540 "feat: add autocomplete option for advanced search filters"
## Expected Behavior or Use Case
Add autocomplete for each of the advanced search's dedicated filters (Source, Column, Schema, Table, Tag) and allow inputting multiple values for each of these fields.

## Service or Ingestion ETL
Frontend

## Possible Implementation

## Example Screenshots (if appropriate):

## Context

[2021-10-19 15:26] francisco-pjbank opened #1541 "Feature Proposal New Neo4J configuration allowing to merge amundsen table colum description with description found in ingested table"
Add new configuration in NEO4J publisher in such a way that Amundsen is considered source of truth, except in the case where ingested data contains description, while none exists in Amundsen, in which, case ingested data will be inserted.

## Expected Behavior or Use Case
The possibility of either keeping Amundsen existing Table/Column description or updating it in case no such information exists

[2021-10-19 17:33] francisco-pjbank opened #1543 "Bug Report Neo4JExtractor does not generate colum data description"
When extracting data from Neo4J using `Neo4jSearchDataExtractor`, no column description or data is extracted from tables in Amundsen

## Expected Behavior
Column data and description should be extracted in a way similar to when `MysqlMetadataExtractor` is used

## Current Behavior
Column description or data is not extracted when using `Neo4jSearchDataExtractor` or `Neo4jExtractor`.

This happens b

[2021-10-20 14:32] francisco-pjbank opened #1546 "Feature Proposal create a mongoDB extractor"
Create a native MongoDB Extractor. There is a [discussion](https://amundsenworkspace.slack.com/archives/C01857S0V1V/p1625075926135700) in slack about uploading NoSQL databases to Amundsen

## Expected Behavior or Use Case
A connection string would be passed in order to download a json file and then it would be flattened according to a certain parser to a tabular format in order to upload to NEO4J

[2021-10-20 16:00] #1434 closed

[2021-10-22 03:22] #1492 closed

[2021-10-23 01:27] feng-tao commented on #1523
is this still an issue?

[2021-10-23 05:39] #1525 closed, assigned to nobody

[2021-10-25 17:10] #1523 closed, assigned to nobody

[2021-10-28 08:41] Javier162380 opened #1551 "BigQuery Last Updated fields extractor ( Databuilder)"
## Expected Behavior or Use Case
Create a Bigquery last update extractor similar to the one built for Hive. I have already built this extractor for the company I am working for and I will like to add this extractor to Amundsen so the community could use it in the future.

## Service or Ingestion ETL
Databuilder

## Possible Implementation

## Example Screenshots (if appropriate):

## Context

[2021-11-01 11:37] Javier162380 commented on #1551
Thanks! I create this PR with the extractor code https://github.com/amundsen-io/amundsen/pull/1558. Although now I am having issues to create the tests, I need some help on how to mock the BQ Client, as the package I am using it is different from the package, other BigQuery extractor uses

[2021-11-01 12:54] riteshmk commented on #53
@dorianj , could you Guide me on the installation of Amundsen without Docker ? docker being paid for the commercial use or  require enterprise license would take the benefits of open source usage for the enterprises.

Any suggestions. Appreciate support here.

[2021-11-01 20:41] sagar-raythatha opened #1566 "Advanced search column bug"
This issue is exactly same as https://github.com/amundsen-io/amundsen/issues/863 which is closed.  However even after using the latest version repo I am facing the same issue, can anyone please help here?

**Expected Behavior**
On advanced search column when searching for revenue or revenue* it should return all tables with Revenue, RevenueUSD, etc.

[2021-11-01 23:48] amommendes commented on #1537
keep fresh

[2021-11-02 17:34] sagar-raythatha commented on #1551
@Javier162380
I have also implemented for my company, but using different approach. I have done below changes for the same:

file: bigquery_metadata_extractor
change: added below line in function  _retrieve_tables along with other metadata items.
`last_updated_timestamp=table.get('lastModifiedTime', '')`

file: table_metadata
change: added  class TimestampMetadata and referenced it in a TableMetad

[2021-11-02 20:09] Javier162380 commented on #1551
Hey @sagar-raythatha!

Nice suggestion, I create a separate BigQueryInterface, following the approach that the project follows with the BigqueryUsage and BigQueryWatermark interfaces.

Here is the PR, as you mention, maybe your approach is better than mine as it requires fewer lines of code change.

What about discussing this topic in this PR https://github.com/amundsen-io/amundsen/pull/1558

[2021-11-03 21:36] raman-nbg commented on #1521
Why isn't there an official docker image of the search component that includes oidc? At least, this is available for metadata and Frontend. Why not for search?

[2021-11-08 15:34] zjph90 commented on #1517
Has this issue been resolved?

[2021-11-08 17:36] sagar-raythatha commented on #1566
Can anyone guide, how to resolve it?

[2021-11-08 20:45] BartoszJanota commented on #1205
Hi @dhavalmohandas, did you get it solved? If so, how?

[2021-11-09 01:42] delwaterman opened #1570 "Frontend swallows errors from metadata service on calls to /dashboard"
## Expected Behavior

When an error occurs when the frontend calls the metadata service, it should bubble that error to the front end.

## Current Behavior

The frontend service assumes that the call to metadata succeeds and tries to extract the dashboard data from the json response, without checking if the body has the appropriate key.

https://github.com/amundsen-io/amundsen/blob/main/frontend/a

[2021-11-09 02:40] delwaterman opened #1572 "Bug Report - Postegres / Redshift Extractors have inconsistent behavior"
## Expected Behavior

[code]

## Current Behavior

[code]

## Possible Solution

Update redshift extractor to properly build suffix

## Screenshots (if appropriate)

## Context

Both the `PostgresMetadataExtractor` and the `RedshiftMetadataExtractor` take the config `extractor.redshift_metadata.where_clause_suffix` as they are both based off of `BasePostgresMetadataExtractor`.

However they requir

[2021-11-09 02:42] delwaterman commented on #1572
While changing this behavior might break code for some users, I think that this difference in usage is confusing enough to newer users that its worth fixing.

[2021-11-11 17:50] benrifkind commented on #1521
I am also curious why is oidc necessary for the metadata/search services? I would have thought that we only require oidc for the frontend which is the service that handles requests from users.

[2021-11-12 07:01] #1516 closed

[2021-11-16 20:29] amommendes commented on #1537
keep fresh

[2021-11-18 00:06] #1529 closed

[2021-11-18 05:55] sagar-raythatha commented on #1566
Hi All,

I could resolve this issue by removing `.raw` from the `TABLE_MAPPING` object. I understand that .raw is the type of keyword and simple analyzer haven't applied on that.

https://github.com/amundsen-io/amundsen/blob/main/search/search_service/proxy/elasticsearch.py#L45

[2021-11-18 05:55] #1566 closed

[2021-11-18 06:02] feng-tao commented on #1566
CC @allisonsuarez

[2021-11-22 21:09] Jrecos commented on #1441
Any update in this issue, guys? I'm facing the exact same issue.

[2021-11-22 21:21] pedronaresi commented on #1441
Any update?

[2021-11-22 21:26] ecc256 opened #1583 "AWS Amazon OpenSearch Service endpoint format"
Guys,
Need a little help here.
What would be the right endpoint format for helm deployment with _**AWS Amazon OpenSearch Service (successor to Amazon Elasticsearch Service)**_?
The latter is in VPC, allows connect from local subnets only, w/o auth and allows http.
It's helm3 if it matters.

[code]

[2021-11-22 22:29] feng-tao commented on #1583
maybe worth pinging the slack and see if anyone tries on amazon opensearch? But in general I think opensearch is ES 7.13 successor meaning someone has already upgraded amundsen seaarch to ES 7.x

[2021-11-22 23:16] ecc256 commented on #1583
We are AWS ELK 7.10, didn't have a courage to upgrade AWS opensearch yet...

Could you tell the slack channel name, please?
I'll ask there too.

And a variant of the original question:
What is the endpoint format for a standalone **standard ELK 7.X** listening on **non-standard port**?

[2021-11-23 11:40] katz-david commented on #1540
Hi,
Can someone from the contributors please comment on whether or not this feature request is feasible?

Thanks

[2021-11-23 15:58] ecc256 opened #1584 "What [AWS] ElasticSearch version(s) are supported Amundsen Search Service?"
Could somebody clarify, please?

[Amundsen Search Service](https://github.com/amundsen-io/amundsen/blob/main/search/README.md) from Jun 23, 2021 says:
**Requirements**
Python >= 3.6
elasticsearch **6.x** (currently it **doesn't support 7.x**)

[Feature Proposal: Search service ElasticSearch AWS (and potentially other) authentication support](https://github.com/amundsen-io/amundsen/issues/1135) fro

[2021-11-23 17:12] delwaterman commented on #1572
Um still waiting on the PR

[2021-11-23 18:56] ghost opened #1586 "Dashboard tags loaded via databuilder are not shown in the UI"
Databuilder is not loading properly relations and tags of dashboards

## Expected Behavior
When executing the databuilder, data should be loaded in neo4j and shown in the frontend

## Current Behavior
Data is loaded into neo4j, but not shown in the frontend

## Possible Solution
There are two possible solution, remove the tag_type=dashboard in the databuilder or include the filter in the metadata

[2021-11-24 13:57] wmv commented on #1494
Hi @opendatakraken, thanks for sharing this solution. Could you please clarify which symlink needs to be removed / replaced with actual files? Thanks in advance.

[2021-11-24 17:30] NiravLangaliya commented on #1584
it supports elasticsearch  7.x as well

[2021-11-24 17:33] NiravLangaliya commented on #1583
it is on port 443.

[code]

https://github.com/amundsen-io/amundsen/pull/1141

https://github.com/amundsen-io/amundsen/blob/996837933b59d96ee4a47549c21f6147556967f0/search/search_service/config.py#L63

[2021-11-24 17:38] NiravLangaliya commented on #1441
I am getting similar issue so adding @verdan , if he can help here.

[2021-11-24 17:59] ecc256 commented on #1584
Does it support both
**elasticsearch 7.x from elasticsearch**
and
**Amazon OpenSearch Service (successor to Amazon Elasticsearch Service) running elasticsearch 7.x**
?

The reason I ask:
Newer elasticsearch python client versions detect AWS elasticsearch 7.x and refuse to work with it...

[2021-11-24 18:14] ecc256 commented on #1583
I've looked up [config.py](https://github.com/amundsen-io/amundsen/blob/main/search/search_service/)
noticed few things, like:
[code]
and
[code]
We do run AWS Elasticsearch Service in VPC.
It does accept connections from VPC subnets and peered VPC subnets only.
with IAM policy:
[code]
It's useless to ask if it's going to work or not, I assume.

**Is there a way to ssh into search pod and check if

[2021-11-25 02:42] #1518 closed

[2021-11-30 14:00] pedronaresi commented on #1441
up

[2021-12-01 11:44] NiravLangaliya commented on #1583
We have this policy set and we are able to access ES client.
ES Version : Elasticsearch 7.10

[code]

[2021-12-01 11:44] NiravLangaliya commented on #1584
We have ES Version : Elasticsearch 7.10  on AWS.

[2021-12-01 11:49] NiravLangaliya commented on #1441
@verdan, I have notice that if I am running locally ( as http://localhost:5002 )  and integrating Okta then I am not getting session issue but if I integrate localhost and put ALB on top of and have ALB url register into Okta then session is getting lost.

[2021-12-01 13:52] pedronaresi commented on #1441
Same conditions here @NiravLangaliya

[2021-12-01 21:20] AykCanDem commented on #1382
I am getting the same error while using AWS Neptune as metadata service.

[2021-12-02 15:18] ecc256 commented on #1583
@NiravLangaliya
I.e. no any changes on client side (AWS ELK login/auth related), right?
Good to know, it works for you in any case.
In mine, even ELK indexes were not created...

[2021-12-02 16:29] maanwater commented on #791
@teoria: was your PR already merged? I am considering Amundsen and a Metabase integration would be very nice!

[2021-12-04 05:07] #257 closed

[2021-12-05 19:06] chonyy opened #1606 "Fix 404 links in documentation site"
Many links in the [documentation site](https://www.amundsen.io/amundsen/) are broken.
I could find those intended destinations on the site, but the URL is a little bit different.
Probably have to walk through the docs and update those outdated links.

## Some of the broken links

![image](https://user-images.githubusercontent.com/44046550/144759996-d7286229-c10e-4c06-a441-69e0d28081e2.png)
![image

[2021-12-05 19:21] chonyy opened #1607 "Provide a Amundsen demo playground environment"
As I was evaluating the pros and cons between Amundsen and DataHub. I found out that there's a [demo environment](https://demo.datahubproject.io/) provided by [DataHub](https://datahubproject.io/docs/demo). It could really help the users quickly explore the features without building their own environment following the quick start guide.

I think it would be nice if Amundsen could also provide one!

[2021-12-05 19:43] chonyy opened #1608 "Hive Metastore PostgreSQL compatibility issue on extractors"
HiveTableLastUpdatedExtractor and PrestoViewMetadataExtractor now are only workable with MySQL connection string.
It will show syntax error when using Postgres.
The same kind of compatibility is already implemented in [HiveTableMetadataExtractor](https://github.com/amundsen-io/amundsen/blob/83c728b646020f60cf2270c12e766fe4af8c9948/databuilder/databuilder/extractor/hive_table_metadata_extractor.py#

[2021-12-05 20:23] chonyy opened #1609 "Error while extracting last updated time from empty tables"
While running `HiveTableLastUpdatedExtractor`, whenever it encounters an empty directory, it will throw this error.
The reason is because for empty directory, we will get itself from `ls()`.
For example `ls('/emptyfolder') => ['/emptyfolder']`

This makes us ended up running `info()` on a directory. And there's no key 'LastModified' in the directory info metadata dict.

## Expected Behavior
The ex

[2021-12-05 20:49] chonyy opened #1610 "Neo4jCsvPublisher Speed Optimization (Parallelism)"
Hi Team,
I’m wondering if there’s a plan to apply **multiprocessing** on the publishers. We have a large amount of metadata in our production, which ended up running 3 million queries on `neo4j` . It takes about 90 minutes to finish.

To investigate the bottleneck, I looked into the code and logged the time elapsed for each step in a single iteration in the `_publish_node` [function](https://githu

[2021-12-05 20:53] mgorsk1 commented on #1607
That's very good idea, do you have proposition of any free hosting that would handle this? It'd be easy to get free ES from bonsai.io but not sure about the rest of components.

[2021-12-07 00:04] amommendes commented on #1537
Keep fresh

[2021-12-07 08:04] chonyy commented on #1350
+1 Having the same request here.

[2021-12-08 03:28] #1551 closed

[2021-12-08 14:02] delwaterman commented on #1572
bump

[2021-12-08 17:00] IrinaSel opened #1615 "sample_dbt_loader is failing with KeyError"
## Expected Behavior
Load dbt metadata

## Current Behavior
Failing with KeyError

## Possible Solution
manifest file changes its version/schema and it could be that the original solution was build for v1, but not v4 is available.

## Steps to Reproduce
$ python3 example/scripts/sample_dbt_loader.py

## Screenshots (if appropriate)
![Screenshot 2021-12-08 at 17 57 58](https://user-images.githubuse

[2021-12-09 05:02] #1541 closed

[2021-12-09 05:02] #1543 closed

[2021-12-10 16:40] ryanzhou7 opened #1616 "Bug Report: Installation.md commands invalid with readme's copy"
The [installation readme](https://github.com/amundsen-io/amundsen/blob/main/docs/installation.md) provides commands to run for installation. One of which is
[code]
When a user clicks the readme copy function right of the command (see screen shot), they'd expect to be able to paste and run the command without any modifications. Unfortunately, "$ " is also copied,
i.e. `$ git clone --recursive https

[2021-12-11 22:29] dnltsk opened #1618 "RedashDashboardExtractor fails with Error in atexit._run_exitfuncs"
I'm trying to use the `RedashDashboardExtractor` as it is described in the [documentation](https://www.amundsen.io/amundsen/databuilder/#redashdashboardextractor)

Therefore I created the script `example/scripts/sample_redash_loader.py` inside the `amundsen/databuilder` folder with the following content

[code]

Unfortunately, the script above fails with the output
[code]

I played a bit around wi

[2021-12-13 09:15] verdan commented on #1521
@raman-nbg the reason there is no search oidc image is that no one implemented this. 🤷  Happy to review your PR if you like to give it a go, and implement the same logic for search.

@benrifkind the reason some organizations require the OIDC for search/metadata is that they want to expose the metadata and search endpoints to be used in other applications, hence securing those endpoints.

[2021-12-14 02:29] #1517 closed

[2021-12-15 09:52] chonyy commented on #1610
The `where_clause_suffix` provided in the sample code above is for MySQL. The syntax is not compatible for PostgreSQL. For Postgres it should be replaced to
[code]

[2021-12-16 17:22] pedronaresi commented on #1441
@verdan

[2021-12-19 22:51] fockboi-lgtm opened #1624 "[Security] Workflow deploy_docs.yml is using vulnerable action actions/checkout"
The workflow deploy_docs.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fi

[2021-12-19 22:51] qazaqstan2025 opened #1625 "[Security] Workflow frontend_pull_request.yml is using vulnerable action actions/checkout"
The workflow frontend_pull_request.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:

[2021-12-19 22:51] Ale0x78ButInBinary opened #1626 "[Security] Workflow metadata_pull_request.yml is using vulnerable action actions/checkout"
The workflow metadata_pull_request.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:

[2021-12-19 22:51] Ale0x78 opened #1627 "[Security] Workflow search_pull_request.yml is using vulnerable action actions/checkout"
The workflow search_pull_request.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1

[2021-12-20 12:04] lkrishnan-cn opened #1628 "Watermarks for Hive table views not available"
## Expected Behavior
I have ingested Hive source, but we would like the feature to see how old/new our data is.

## Current Behavior
Here is what the view looks like now:
<img width="557" alt="Screenshot 2021-12-20 at 5 06 50 PM" src="https://user-images.githubusercontent.com/88760743/146761936-9f7b056d-1704-4c10-b7e0-377f1d19e3f6.png">

## Possible Solution

## Steps to Reproduce

1.Ingest any Hi

[2021-12-21 01:57] feng-tao commented on #1627
@Ale0x78 do you have an example on how to change https://github.com/amundsen-io/amundsen/blob/main/.github/workflows/search_pull_request.yml#L16 to use the latest one that has CVE fix?

[2021-12-21 14:53] chonyy commented on #1607
Hi @mgorsk1 , I actually know nothing about the free resources 😅
I'm just thinking that it would be nice to have one such demo environment.
Maybe the community could help host one with Docker compose or Kubernetes?

[2021-12-21 14:54] chonyy commented on #1606
Bump, hope someone could spend some time on updating the docs!

[2021-12-21 14:56] chonyy commented on #1608
Bump, PR for the fix is on the way!

[2021-12-23 03:01] chonyy commented on #1628
Not sure if the date range is the feature that you are expecting. It's actually about the data itself, which is the date of the partition if you partition the data by date.
![image](https://user-images.githubusercontent.com/44046550/147181525-f3e655e8-c77b-4cdf-953e-d4346182ee63.png)
[Link to the Slack thread](https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1638384540157300)

[2021-12-23 03:38] chonyy commented on #1610
When working with Airflow pipelines, it would be better to split it into multiple tasks in a dag instead of running multiprocess in a single task. The sample code is provided below
[code]

[2021-12-23 03:48] chonyy commented on #1610
Based on my experience, the ingestion speed is about 3 times faster by applying multiprocessing on the caller side. Since the performance improvement will be bounded by the neo4j instance, it wouldn't help much if we also implement multiprocessing on the publisher side. This means that the only other possible optimization that might help is neo4j `UNWIND`.

[2021-12-28 22:04] #1540 closed

[2021-12-31 16:55] #1586 closed

[2022-01-03 13:48] delwaterman commented on #1572
bump

[2022-01-03 19:11] vinicius-ch commented on #1615
Any update on this matter?
I'm facing the same problem.

[2022-01-05 14:30] cheji02 opened #1650 "Bug Report - Error from "docker-compose -f docker-amundsen-atlas.yml up""
Env: Docker running on Windows 10

Steps:
1. Download Amundsen on 12/15/2021 and successfully installed/deployed Amundsen with Neo4j;
2. Stop Amundsen;
3. Download Amundsen into another folder to install/deploy Amundsen with Atlas;
4. From the new Amundsen folder run "docker-compose -f docker-amundsen-atlas.yml up"
5. Result with the following error:

 => ERROR [stage-1 7/7] RUN pip3 install -e .

[2022-01-05 17:55] feng-tao commented on #1650
cc @mgorsk1 any idea

[2022-01-05 22:09] cheji02 commented on #1650
able to run "docker-compose -f docker-amundsen.yml up" in the same environment without any error.
I wonder if the Amundsen docker containers created from the previous "docker-compose ..." run need to be removed first before running "docker-compose -f docker-amundsen-atlas.yml up" on that same host.

[2022-01-06 10:44] mgorsk1 commented on #1650
you could always try by doing `docker-compose -f docker-amundsen-atlas.yml build --no-cache` to test it

[2022-01-06 11:18] #1584 closed

[2022-01-06 15:25] cheji02 commented on #1650
Just tested that "... build --no-cache" option as suggested and received the exact same error

[2022-01-07 08:27] sagar-raythatha commented on #1566
@feng-tao Do you think this should be applied to global repo? As of now I have done this change in my implementation.

[2022-01-07 14:15] mgorsk1 opened #1652 "Search broken after introducing latest changes"
## Expected Behavior
Deploying Amundsen locally from latest main is broken - search service is not compatible with frontend service.

## Current Behavior
While searching 405 error is returned.

![image](https://user-images.githubusercontent.com/5680655/148556309-c8f9b816-a404-4f0d-8903-0baf755116a9.png)

## Possible Solution

## Steps to Reproduce

1. docker-compose -f docker-compose-local.yml bui

[2022-01-07 14:15] mgorsk1 commented on #1652
cc @allisonsuarez @dkunitsk

[2022-01-07 18:55] allisonsuarez commented on #1652
Latest version of FE is compatible with the new search, this is the latest release for FE that works with the latest search https://github.com/amundsen-io/amundsen/releases/tag/frontend-4.0.0

[2022-01-07 19:37] teoria commented on #1615
hi
can you try with this pr ?
https://github.com/amundsen-io/amundsen/pull/1653

[2022-01-10 09:29] mgorsk1 commented on #1610
Thanks @chonyy and @dkunitsk for bringing this up, I've stumbled upon this as well recently and have following thoughs:

1. I think looking into parallelization on caller (executor) side is not scalable as it'd require rework on every extractor. The benefit, however, would be that it's automatically available for any publisher.
2. I am totally in favor of improving neo4j publisher as it would supp

[2022-01-10 09:29] mgorsk1 commented on #1610
Thanks @chonyy and @dkunitsk for bringing this up, I've stumbled upon this as well recently and have following thoughs:

1. I think looking into parallelization on caller (executor) side is not scalable as it'd require rework on every extractor. The benefit, however, would be that it's automatically available for any publisher.
2. I am totally in favor of improving neo4j publisher as it would supp

[2022-01-11 09:51] DeepakBhatt13 opened #1654 "Enable support for Teradata : Building teradata scanner"
## Expected Behavior or Use Case

## Service or Ingestion ETL

## Possible Implementation

## Example Screenshots (if appropriate):

## Context

[2022-01-11 10:40] rajendra-tamboli opened #1655 "Data Lake extrator issues Bug Report"
Data Lake extrator issues

I am trying to to export data from databricks using databuilder extractor program databuilder>databuilder>extractor>data_lake_metadata_extrator.py, however while invoking the method via below

*********************************************************************************
# import org.apache.spark.sql.SparkSession
from pyspark.sql import SparkSession
from pyhocon impor

[2022-01-11 15:31] Rohan1-23 commented on #1652
Hi @mgorsk1 @allisonsuarez

I tried with frontend image - 4.0.0 and search image 3.0.0. And searching is broke. I think it's compatibility issue.

[2022-01-11 17:15] feng-tao commented on #1654
let us know if you would like to upstream the change.

[2022-01-11 17:15] feng-tao commented on #1655
cluster_key is part of the table uri. You could put a fix value if you don't want to distinguish the cluster name.

[2022-01-11 23:30] #1606 closed

[2022-01-11 23:30] #1537 closed

[2022-01-12 07:12] DeepakBhatt13 commented on #1654
Sure, I will be raising a PR soon on this.

[2022-01-12 07:17] rajendra-tamboli commented on #1655
thanks for the inputs, it works...

[2022-01-12 13:17] falkzeh commented on #1615
The solution @teoria provided fixed the issue for me!

[2022-01-12 14:22] teoria commented on #1615
@feng-tao

[2022-01-13 00:13] bsilva89 opened #1658 "Bug Report: Bigquery preview feature doesn't work when numeric type is present in the table"
## Expected Behavior
The Bigquery preview feature should work with the most importante data types available for Bigquery tables.

## Current Behavior
Working with date, boolean, integer, string and float data types but not with numeric/decimal.

## Possible Solution
Consider the numeric type when serializing the json before the response. I'll be opening a PR in order to fix this issue. (PR #1660)

[2022-01-14 09:49] #1608 closed

[2022-01-14 09:50] #1609 closed

[2022-01-14 21:12] bsilva89 commented on #1658
Solved with PR #1660

[2022-01-14 21:12] #1658 closed

[2022-01-15 00:31] #1616 closed

[2022-01-15 22:15] matwalk commented on #1650
This looks like the same error message here: https://github.com/amundsen-io/amundsen/issues/1317
Seems to be related to the setup.py of frontend and Windows.

I have the same error when running this: docker-compose -f docker-amundsen-local.yml build

[2022-01-15 22:51] cheji02 commented on #1650
Confirmed "docker-compose -f docker-amundsen-local.yml build" had same error.

But "docker-compose -f docker-amundsen.yml up/build" worked without error.

[2022-01-15 23:09] matwalk commented on #1650
Yes, I think it's because docker-amundsen.yml use an image
![image](https://user-images.githubusercontent.com/46995425/149640486-edd3a8b6-b865-408d-afea-4ba3e6085788.png)

Contrary to docker-amundsen-atlas.yml and docker-amundsen.yml which has to build it :
![image](https://user-images.githubusercontent.com/46995425/149640543-daeac1c0-d1fd-4ce0-8759-156727b4d92d.png)

[2022-01-15 23:14] matwalk commented on #1650
The last comment of fforever14, to change "FROM python:3.7-slim" to "FROM nikolaik/python-nodejs:python3.7-nodejs12-slim" in the Dockerfile.frontend.local file seems to resolve the error of npm.

But I still have the error: "error in amundsen-frontend setup command: 'extras_require' must be a dictionary whose values are strings or lists of strings containing valid project/version requirement speci

[2022-01-15 23:17] matwalk commented on #1317
Thanks @fforever14, my problem with npm is resolved.
Like you, I still have an error with:
"error in amundsen-frontend setup command: 'extras_require' must be a dictionary whose values are strings or lists of strings containing valid project/version requirement specifiers."

![image](https://user-images.githubusercontent.com/46995425/149640746-5042ea86-9e5c-41b8-833d-5fce67b7189a.png)

[2022-01-16 10:21] #1618 closed

[2022-01-17 10:41] rajendra-tamboli opened #1667 "Bug Report - Issue with deployment in AKS"
We have used the following steps to deploy to AKS using helm commands -

https://www.amundsen.io/amundsen/k8s_install/

We are able to open to frontend page via service and neo4j via service. However we are unable to login to neo4j instance using neo4j/test. Getting below error -

ServiceUnavailable: WebSocket connection failure. Due to security constraints in your web browser, the reason for the

[2022-01-17 12:33] rajendra-tamboli opened #1668 "Bug Report -- elasticsearch on AKS deployment error - bootstrap check failure [1] of [1]: max virtual memory areas vm.max_map_count [65530] is too low, increase to at least [262144]"
Ran the following commands before installing Amundsen on AKS -
helm repo add elasticsearch https://helm.elastic.co
helm dependency update

We are getting the following error and pods are continuously giving CrashLoopbackoff error due to below reason -
bootstrap check failure [1] of [1]: max virtual memory areas vm.max_map_count [65530] is too low, increase to at least [262144]

Is there a way to f

[2022-01-17 18:33] #1521 closed

[2022-01-19 19:23] esperancaleonardo commented on #1650
Same here

[2022-01-20 00:40] petehanssens opened #1674 "Bug Report - dbt extractor sources key error"
## Expected Behavior
dbt data loader should be able to handle outputs with sources

## Current Behavior
Currently breaks with:
[code]

## Possible Solution
Handle keys that are sources better

## Steps to Reproduce

1. Databuilder on Astronomer
2. Run: dbt docs generate
3. Run the extractor

## Screenshots (if appropriate)
[code]

[2022-01-21 03:20] #1441 closed

[2022-01-21 04:17] feng-tao commented on #1674
@petehanssens could you take a look at https://github.com/amundsen-io/amundsen/pull/1653/files and see if it fixes your issue?

[2022-01-24 23:52] #1572 closed

[2022-01-25 05:07] #1627 closed

[2022-01-25 13:52] mariusingjer opened #1682 "How do you perform a logical and term query?"
This might just be a missing documentation issue, could not find anything under "advanced search" here:

https://www.amundsen.io/amundsen/tutorials/how-to-search-effective/

![amundsen_top_search_box](https://user-images.githubusercontent.com/65291983/150989252-d4a4c6ae-f04b-4927-b714-d5b0ffbce2ec.png)

How does one perform a must/logical and search between two terms in the above box? Data discove

[2022-01-26 21:28] pedronaresi commented on #1441
anyone?

[2022-01-28 01:28] zyd14 opened #1683 "Broken docs links"
There seem to be a lot of broken links on the docs (probably due to the semi-recent move to a mono repo).  For instance:
https://www.amundsen.io/databuilder
https://www.amundsen.io/databuilder/example/dags
https://www.amundsen.io/search#amundsen-search-service
https://www.amundsen.io/frontend#amundsen-frontend-service
https://www.amundsen.io/metadata
https://www.amundsen.io/frontend

## Expected B

[2022-01-28 03:21] #1628 closed

[2022-01-31 11:08] AykCanDem opened #1686 "ColumnStatistics Info Text"
## Expected Behavior or Use Case
Currently, there are 3 types for ColumnStatistics Info text.
1) If you give same start and end time, (Ex: Sep 11, 2019)
info text is `"Stats reflect data collected on Sep 11, 2019 only. (daily partition)"`
2) If you give different start and end time
info text is `Stats reflect data collected between Sep 11, 2019 and Oct 21, 2019.`
3) If you dont provide start or en

[2022-02-01 12:22] rajendra-tamboli commented on #1655
Hi Team, Instead of using databricks we are trying to directly connect to ADLS - delta lake to extract and load the data to Neo4j - In that case we won't be having hive tables/databases. However as per example code given -
https://github.com/amundsen-io/amundsen/blob/main/databuilder/example/scripts/sample_deltalake_metadata.py

We need to have the following
database = 'delta'
# Or set to empty to

[2022-02-01 12:41] rajendra-tamboli commented on #1667
closing this as this seems to be network setup issue between k8 and external

[2022-02-01 12:41] #1667 closed

[2022-02-01 22:35] Golodhros commented on #1686
What do you think @allisonsuarez?

[2022-02-02 06:15] #1624 closed

[2022-02-02 08:10] AykCanDem commented on #1686
please check: https://github.com/amundsen-io/amundsen/pull/1696

[2022-02-02 10:01] IanHopkinson commented on #1447
This happened to me too. As @matthiaspchan says the fix is to copy the content of the requirements-dev.txt in the amundsen folder into the contents of the copy in the databuilder directory

I suspect the root cause of this issue is that at some point someone used symlinks to ensure the various copies of the requirements-dev.txt file stayed in sync which worked on their machine but does not survive

[2022-02-03 16:50] joe-manjiyil opened #1701 "RUN sample_deltalake_metadata.py errors out with an AWS S3 exception"
I am running the python3 example/scripts/sample_deltalake_metadata.py script to extract information from the databricks cluster. The job shows up on the databricks cluster but after a while throws error. Error is attached below
[Amundsen_error.txt](https://github.com/amundsen-io/amundsen/files/7996495/Amundsen_error.txt)

## Expected Behavior
The local instance of Amundsen dashboard should show th

[2022-02-03 17:38] feng-tao commented on #1701
do you run on a databricks spark cluster ?

[2022-02-03 17:52] joe-manjiyil commented on #1701
I am running the amundsen on a local machine with dockers. I connect to databricks cluster hosted on aws using databricks-connect and run the job on the cluster. Data_loader python script runs on the mac book and triggers a job on the databricks cluster.

[2022-02-03 23:15] razzius opened #1702 "Elasticsearch 7 documented to not work, but docker-amundsen.yml uses it"
## Expected Behavior
If elasticsearch 7 is supported, which it appears to be as it is used in the [docker compose file here](https://github.com/amundsen-io/amundsen/blob/main/docker-amundsen.yml#L23), the docs should not require Elasticsearch 6.

## Current Behavior
Pages such as https://www.amundsen.io/amundsen/databuilder/ say:

which conflicts with the docker-amundsen.yml, which seems to work.

[2022-02-04 13:55] zacr opened #1703 "Contentful Announcement Client"
Provide an example announcement client plugin that uses [Contentful](https://www.contentful.com/) to publish announcements.

## Expected Behavior or Use Case
Users who have a Contentful account can create a content model matching the announcements schema, and configure Amundsen with this new announcements client along with minimal configuration (api keys, name of the content model).

## Service or

[2022-02-04 16:18] zacr commented on #1703
The solution is a child class from BaseAnnouncementClient that queries the contentful delivery api to hydrate and return Announcements objects.

The minimal configuration would be:
ANNOUNCEMENT_CLIENT_CONTENTFUL_SPACE=<contentful space id>
ANNOUNCEMENT_CLIENT_CONTENTFUL_TOKEN=<contentful api token>
ANNOUNCEMENT_CLIENT_CONTENTFUL_CONTENT_TYPE=<contentful content model name>

We can use the [content

[2022-02-04 22:54] zacr commented on #1703
Maybe it's best to follow the pattern of proxy/issue_tracker_clients/* instead of putting this as a new file in base/examples? So that would mean proxy/announcement_clients/* along with corresponding tests and updating api/announcements/v0.py to use the proxy classes, same as api/issue.

Is this an up to date pattern?

[2022-02-07 09:22] ebosas opened #1705 "Question: What changes to Databuilder would accommodate table relationship/foreign key data?"
I am working at the company where we are considering using Amundsen for ETL jobs. The project seems like a great match with an exception of one feature. We need table relationship information which currently is not supported. Column badges are not sufficient because we need relationship data in a graph.

Before jumping into the code and implementing the feature, we are trying to understand the ext

[2022-02-12 06:17] mgorsk1 commented on #1702
Thanks for pointing that out @razzius! Indeed the docs would need update, are you willing to submit PR?

[2022-02-12 06:18] mgorsk1 commented on #1686
Closing as #1696 was merged. Thanks

[2022-02-12 06:18] #1686 closed

[2022-02-12 19:02] zjph90 commented on #1652
I am having this issue also. I have built frontend and search images from the same (latest) distribution.  I am getting the following error from the frontend:

It looks like the request to the Search service comes back successfully (code 200) but the results payload is empty.

[2022-02-13 07:21] mgorsk1 commented on #1652
for me no, what helped was cloning Amundsen repo again

[2022-02-13 11:22] zjph90 commented on #1652
Well it looks like I may not have the same issue that Mariusz was having. I tried re-cloning the repo and I still get the same behaviour. I've rebuilt from various releases and can see my problem is introduced exactly at the frontend-4.0.0/search-3.0.0 release. Before that it works fine. Afterwards I get the issue.
I'm thinking it may be related to the elasticsearch service we are using - OpenSear

[2022-02-14 08:00] rajendra-t commented on #1668
hi Team, has anyone faced issues deploying the Elasticsearch pods on K8's? can you please suggest?

[2022-02-14 22:34] allisonsuarez commented on #1652
@zjph90 are you also getting a 405?

[2022-02-14 22:36] allisonsuarez commented on #1652
oh hold up, "missing data for required field" is a marshmallow issue, do you also have the latest version of amundsen-common?

[2022-02-15 17:40] allisonsuarez commented on #1652
Do you have any configuration that is setting the ES client to be something other than `ELASTICSEARCH_V2`? https://github.com/amundsen-io/amundsen/blob/main/search/search_service/config.py#L18

[2022-02-15 17:42] allisonsuarez commented on #1652
Also what happens if you hit search with a request directly?

[2022-02-16 03:59] imsiddhant07 opened #1770 "Broken links"
Hi,

with reference to the [Architecture Page](https://www.amundsen.io/amundsen/architecture/)

All the service tags for:
1. Frontend
2. Search
3. MetaData
4. DataBuilder

throw in a "404 File Not Found".

Kindly make the necessary updates :)

[2022-02-17 05:24] #1654 closed

[2022-02-17 05:24] #1615 closed

[2022-02-17 11:05] zjph90 commented on #1652
Hi @allisonsuarez  - apologies for this. My bad. I did indeed have custom config which did not have the correct proxy client. We had implemented our own AWS connection and I see we now have _AwsSearchConfig_. I was able to point to this and now search works fine. Thanks for your time.

[2022-02-21 22:14] korjavin opened #1724 "Bug Report: OIDC module absent"
After enabling OIDC pod is failing

## Expected Behavior

OIDC auth will be allowed

## Current Behavior
Pod restarts with ERROR:

```ModuleNotFoundError: No module named 'flaskoidc'```

## Possible Solution
Install the module to the docker image

## Steps to Reproduce
1. Enable OIDC
2. Deploy to k8s
3. look at frontend pod status

## Your Environment

* Amunsen version used:  amundsendev/amundsen

[2022-02-23 06:19] oscarfuquen opened #1726 "Bootstrap a default version of Amundsen using Docker"
I follow all steps mentioned on the quick start page https://www.amundsen.io/amundsen/installation/ for the Bootstrap a default version of Amundsen using Docker.

I can see the data was uploaded.

<img width="1330" alt="Screen Shot 2022-02-23 at 1 23 41 pm" src="https://user-images.githubusercontent.com/4535310/155256851-2e945dd9-a6a9-4387-b0c0-d765821c6c1b.png">

All the containers are running.

[2022-02-23 12:57] mariusingjer commented on #1317
A lot of moving targets here, but I'll show you a few situations were this fails:

1) Run wsl, point to a windows mnt containing the amundsen source code
2) Try to build a linux container from Windows

And what will work:

3) run wsl and checkout the code to a folder in your unix filesystem

Demo of why 1 & 2 fails:

Remove `RUN pip3 install -e .` from the file `Dockerfile.frontend.local` then bui

[2022-02-24 03:33] pongpanot0 opened #1729 "Bug Report cannot import name 'CypherError' from 'neo4j.exceptions'"
in the sample dataBuilding for neo4js backend
inthe terminal
cannot import name 'CypherError' from 'neo4j.exceptions'
![amudsen](https://user-images.githubusercontent.com/61924591/155452966-1ae65c22-132b-4d2e-8006-ef6bfda676e5.jpg)
ThankYou

[2022-02-25 14:15] zacr commented on #1610
@mgorsk1, @chonyy, @dkunitsk I created a version of the publisher that uses UNWIND and APOC library. It's 5x faster for me on my test dataset (1500 tables, 650k columns). Still rough around the edges and I did it based on the CsvTable*Extractors so not sure if I baked in any assumptions that won't hold with other extractors. It will need some testing and I likely introduced some issues - but worka

[2022-02-25 15:57] chonyy commented on #1610
Hi @zacr , thanks for looking into this!

I'm not super familiar with the capabilities of `UNWIND`, but the 5x speedup sounds promising 🚀
One thing that I would like to clarify is currently there's no any kind of parallelism in your version right? Does this mean that we could have at least 10x speedup if we combined both multiprocessing and `UNWIND`?

Also, I'm interested in your implementation, c

[2022-02-25 16:00] JoseGabrielNF opened #1733 "."
.

[2022-02-25 18:07] zacr commented on #1610
Wasn't sure if I am allowed to make a branch in the main repo or if I am supposed to fork first. Hopefully you can see this, I did it as a new file so could run both side by side: https://github.com/SaltIO/amundsen/blob/neo4j_csv_publisher_apoc/databuilder/databuilder/publisher/neo4j_csv_publisher_apoc.py

I didn't do any query optimization or tuning, the goal was to just try to get functional cyp

[2022-02-25 19:09] esperancaleonardo commented on #1726
same here, still trying to understand how to make users work in frontend.

indexed users from sample_data_loader.py in ES seems ok... but get same error in logged test user

![image](https://user-images.githubusercontent.com/26230577/155773501-05e2bf2c-02e9-4e1d-9d91-7e1313615d46.png)

![image](https://user-images.githubusercontent.com/26230577/155773548-cf58a1cc-6a90-4d67-81c2-497c6e29374d.png)
!

[2022-02-26 06:20] #1650 closed, assigned to nobody

[2022-02-26 06:20] #1674 closed

[2022-02-27 08:31] #1702 closed

[2022-02-27 08:32] mgorsk1 commented on #1702
docs are up to date now

[2022-02-28 17:07] pongpanot0 opened #1738 "Bug Report WARNING:elasticsearch:PUT Pls Help"
WARNING:elasticsearch:PUT http://localhost:9200/table_3c2da9b3-2345-4a79-9541-c40bda1a5dd9 [status:400 request:0.274s] i got that in python3 example/scripts/sample_data_loader.py
Traceback (most recent call last):
  File "C:\Users\66985\Desktop\docker\step1\amundsen\databuilder\example\scripts\sample_data_loader.py", line 384, in <module>
    job_es_table.launch()
  File "C:\Users\66985\AppData\Lo

[2022-03-01 01:22] ajyh commented on #1738
It worked for me adding update station, thanks.
https://pypi.org/project/amundsen-common/0.26.0/
https://pypi.org/project/amundsen-databuilder/6.7.1/

[2022-03-01 02:21] pongpanot0 commented on #1738
it work Thankyou

[2022-03-01 02:21] #1738 closed

[2022-03-03 13:19] amandeep848 opened #1748 "Bug Report elasticsearch exception for sample_neptune_loader"
## Expected Behavior
<WARNING:elasticsearch:PUT https://my aws ES endpoint/table_a54a9a96-c246-4bcd-b417-2d8c005c3290 [status:400 request:0.069s]
INFO:databuilder.callback.call_back:No callbacks to notify
Traceback (most recent call last):
  File "example/scripts/sample_data_loader_neptune.py", line 403, in <module>
    job_es_table.launch()
  File "/tmp/amundsen/venv/lib/python3.7/site-packages/d

[2022-03-03 16:43] kashifusmaniAtTalabat opened #1749 "replacement for Neo4jEsLastUpdatedExtractor"
Hello,
I am migrating from an old code base which is using `Neo4jEsLastUpdatedExtractor` from https://github.com/amundsen-io/amundsendatabuilder/blob/4.1.0/databuilder/extractor/neo4j_es_last_updated_extractor.py

I am not able to find `Neo4jEsLastUpdatedExtractor` in version 6.7.1 of amundsen-databuilder

Can you please tell me what is the equivalent of the `Neo4jEsLastUpdatedExtractor` in the la

[2022-03-04 04:18] #1733 closed

[2022-03-05 16:53] #1682 closed

[2022-03-05 16:53] #1683 closed

[2022-03-06 23:32] rylativity commented on #1726
@oscarfuquen I am seeing the same issue and can suggest a temporary workaround.

I haven't dug into it that deeply, but it looks like the frontend is looking for a user with an email value of "test_user_id".  If you look in databuilder/example/sample_data/sample_user.csv, it shows the users that get added when you run sample_data_loader.py.  You can search for all occurrences of one of those email

[2022-03-09 02:19] leotuxbr opened #1758 "Bug Report"
## Expected Behavior

Start the container with the docker-amundsen-atlas.yml file,
and then run the python3 script example/scripts/sample_data_loader_atlas.py
and create elasticsearch indexes

## Current Behavior

when using docker-amundsen-atlas.yml it starts with elasticsearch:6.8.13
But when I try to use databuilder and run:

python3 example/scripts/sample_data_loader_atlas.py
Indices are not c

[2022-03-09 08:33] zjph90 opened #1759 "Bug Report - Schema Descriptions no longer appear in the frontend"
## Expected Behavior

Have built the latest version (databuilder.6.7.1) using docker-amundsen-local.yml
Loaded this with sample data (sample_data_loader.py)
Entered "test" into the search box
In the results list  the "test_schema" name in the hive://gold.test_schema results should be underlined and upon hovering show a tooltip with the schema description ("test schema description")

## Current Beh

[2022-03-09 17:45] feng-tao commented on #1759
cc @kristenarmes @allisonsuarez @Golodhros

[2022-03-09 18:49] leotuxbr commented on #1758
issues resolved by setting the versions to:
amundsen-frontend:3.12.0
amundsendev/amundsen-metadata:3.9.0
amundsendev/amundsen-search:2.11.1
elasticsearch:8.0.0

[2022-03-09 19:50] DantasB commented on #1724
Same problem here!

[2022-03-09 21:25] feng-tao commented on #1758
@leotuxbr how about you create a pr to update that dockercompose file with the right version?

[2022-03-10 21:35] #1655 closed

[2022-03-11 17:39] denispoperechny opened #1761 "User info missing upon login with flaskoidc"
User is not Created automatically upon login with flaskoidc.

The node "User" is not created in database when user gets logged in; "/auth_user" call to backend fails; profile picture (top right corner on UI) stays blank.
It fixes itself when user marks something as Favorite - at this time both the User node and Follow relation are getting created in database and all issues above are getting fixed.

[2022-03-12 03:47] codera21 opened #1763 "Feature Proposal"
Ability to inject via pandas data frame/
## Expected Behavior or Use Case

Just like we are injecting via CSV files as done in examples we can inject via data frame on the fly.
## Service or Ingestion ETL

Injection ETL
## Possible Implementation

## Example Screenshots (if appropriate):

## Context

I think this feature would add more flexibility to Amundsen, especially while we're building a pro

[2022-03-12 11:22] #1701 closed

[2022-03-12 21:13] mgorsk1 commented on #1763
Hey Atul, thanks for this proposal. Can you elaborate on how loading from pandas directly would bring much value over loading from csv generated by pandas to_csv method?

[2022-03-15 02:23] codera21 commented on #1763
It would not bring much value, it would just remove one extra step of to_csv as you have mentioned.

[2022-03-16 03:05] #1705 closed

[2022-03-16 03:05] #1703 closed

[2022-03-18 10:19] brunsgaard commented on #1443
@markgrover maybe you can give another update on this issue?

[2022-03-18 22:11] whrocha commented on #1748
Same problem here, does you solved?

[2022-03-18 22:12] whrocha commented on #1748
@amandeep848 could you fix the problem?

[2022-03-19 09:59] #1763 closed

[2022-03-19 09:59] #1652 closed

[2022-03-22 11:34] muthuramanm commented on #1748
@amandeep848 could you fix the problem?

[2022-03-22 13:22] cheji02 commented on #1099
@[mgorsk1](https://github.com/mgorsk1), has feat/atlas_lineage branch been merged to the main branch? also is there a good instruction for customer build/deploy (with configuration change)? Thanks!

[2022-03-22 15:22] Hemant-M-Patel opened #1771 "AttributeError: 'dict' object has no attribute 'user_id'"
@verdan
Please see the closed issue #1074

I am reopening it as It's not discussed properly at issue #1074

Please provide some kind of custom script hint for the below method/function;
`def get_auth_user(app: Flask) -> User:`

Using this:
`Python 3.7.7
Flask 1.1.4
Werkzeug 1.0.1`

[2022-03-22 20:31] markgrover commented on #1443
Hi @brunsgaard, no update. We did make an internal update to the UI at stemma.ai but haven't thought about contribution at the moment. We used React Flow for the new version but I am not sure if that's helpful to you.

[2022-03-23 11:31] MehdiSfr commented on #1441
i am getting the same but things are working! I use
flaskoids==1.0.4
on all services and i install that explicitly not through
pip3 install -e .[oidc]

[2022-03-23 12:30] maithri-b opened #1773 "Issues using Azure AD Authentication"
Hi Team,

I am attempting to use Azure AD to provide authentication for  Amundsen instance. I have followed the instructions as in the  article. When I go to the home page I am initially redirected to the Azure login page and once I Login, I am not able to see my user profile in the page.

Could you please assist me , on what config/code changes to be done in front end wrt to this issue.

Thanks,

[2022-03-23 17:13] deugene opened #1774 "KeyError raised in databuilder dbt extractor during manifest.json parsing"
KeyError raised in databuilder dbt extractor during manifest.json parsing.
Error stack:

[code]

## Expected Behavior
It should parse manifest.json and catalog.json successfully

## Current Behavior
KeyError happens during manifest.json parsing

## Possible Solution
Maybe we could filter downstreams also by dbt_id_to_table_key keys. Like this:
[code]

## Steps to Reproduce

1. Run job on manifest.

[2022-03-23 17:39] afuzzyriff commented on #1610
Hello - I stumbled across this issue as I was facing a similar problem of poor performance with large Neo4j writes.

@zacr  Thank you for sharing your Neo4j CSV Publisher with APOC code. I reviewed the class and started to test this in my team's Amundsen POC implementation for Neo4j CSV publishing. The custom class provided seems to be working nicely.

I have tested a batch of data which resulted

[2022-03-23 18:23] zacr commented on #1610
Great to hear! Our testing has been going well - we have been using this class for all publishes the last month and haven't seen any issues.  I was hoping to find time to try a Neo4J version upgrade and do a little testing on that. I think the INDEX creation code in that publisher would need to be tweaked for a newer version of Neo4J. Was also thinking about looking at the parallelism one more tim

[2022-03-23 20:08] FelipeArruda opened #1775 "Python setup.py egg_info did not run successfully."
I'm trying to install Amundsen on docker running on Windows 10. I'm getting an error while run a docker-compose using atlas.

## Expected Behavior

Install success

## Current Behavior

Getting erro where execute: docker-compose -f docker-amundsen-atlas.yml up

## Steps to Reproduce

1. Clone the repo
2. Execute: docker-compose -f docker-amundsen-atlas.yml up (get an error in this step)

- Error:

[2022-03-24 15:10] shalseban opened #1779 "Amundsen frontend fails to open Glue datasets because of session token as CLUSTER_KEY"
## Expected Behavior
On the Amundsen frontend when you click on a Dataset of source - Glue, it takes you the table_metadata page of the dataset.

## Current Behavior
Possibly related to this #1383

On the Amundsen frontend when you click on a Dataset of source - Glue, it redirects you to the main page. I believe it might have to do with the size or format of the `CLUSTER_KEY`. The `CLUSTER_KEY` fo

[2022-03-24 16:00] feng-tao commented on #1779
@[shalseban](https://github.com/shalseban) I didn't work with glue, but feel free to post your finding or even pr if you find the fix.

[2022-03-25 01:12] raghanag opened #1782 "Documentation example incorrect link"
Hi I see that the example link at https://www.amundsen.io/amundsen/databuilder/#restapiextractor is pointing to https://www.amundsen.io/amundsen/databuilder/databuilder/extractor/dashboard/mode_analytics/mode_dashboard_extractor.py#L40 instead of https://github.com/amundsen-io/amundsen/blob/main/databuilder/databuilder/extractor/restapi/rest_api_extractor.py

![image](https://user-images.githubuse

[2022-03-25 09:15] zjph90 commented on #1759
As far as I know this is still an issue

[2022-03-25 12:08] DeepakBhatt13 opened #1784 "Enable support for Teradata : Building teradata scanner"

[2022-03-26 21:14] #1668 closed

[2022-03-28 14:30] whrocha commented on #1748
Hello!

I have been fixed the problem by putting the version of amundsen-common to 0.24.1

- My `requirements.txt` file is setup as shown below:

[code]

- My Glue databuilder script:

[code]

- databases.json

[code]

- .env

[code]

Hope this help!

Best Regards.
Bill

[2022-03-29 07:40] marshell0 commented on #386
This issue is related to authentication.
for @ayushbilala's issue, you could obtain csrf_token token from the home page response, then use it in your login like this:
login_data = {'username': 'user', 'password': 'pass', 'provider': 'ldap', 'refresh': True, 'csrf_token': csrf_token}
session.post(url=login_url, data=login_data)
Then following the steps in Amundsen, you can get the right response.

[2022-03-29 10:32] karthikmadupu commented on #424
@janbe-ts @guillemborrell @seongk Guys am trying workaround suggested by janbe but till doesn't work.
Can anyone guide me. Am modifying below files(mentioning relative paths of file)
[code]

[2022-03-29 14:01] manojtheporter opened #1787 "Facing raise six.reraise(type(error), error, _stacktrace)"
We have deployed amundsen in was ecs and we have 3 different running amundsen metadata, frontend, search. We have neo4j as our database and aws elasticsearch(opensearch) for searching. We often seeing our tasks are getting killed and recreated and we have no clue why. When we check the logs here is the error we found
1. raise six.reraise(type(error), error, _stacktrace)
2. method, url, error=e, _p

[2022-03-29 15:17] janbe-ts commented on #424
@karthikmadupu can you provide a bit more context? What exactly does not work, what have you tried, what error message(s) do you get?

[2022-03-31 07:58] maithri-b opened #1790 "Search module is failing when OIDC enabled via Helm install"
I'm trying to install Amundsen via the provided helm charts, but the Search module is failing when ODIC is enabled. It's returning the following:

Using requested Flask module flaskoidc and class FlaskOIDC
Traceback (most recent call last):
  File "search_service/search_wsgi.py", line 15, in <module>
    application = create_app(config_module_class=config_module_class)
  File "/app/search_service/

[2022-04-03 15:58] #1729 closed

[2022-04-04 11:22] wey-gu commented on #1748
I encountered this issue, too, as I installed data builder from codebase with `python setup.py install`, and after rebase with the main branch, the previous version was not clean up when we simply rerun `python setup.py install`, the way out was to do `pip uninstall amundsen-databuilder` and `pip uninstall amundsen-common` until non of packages existed(there could be multiple versions left, more t

[2022-04-04 11:31] #1748 closed

[2022-04-05 05:54] aneesh-joseph opened #1800 "Amundsen docker images are set to run as root"
The Amundsen public docker images are configured to  run as root, This will fail on kubernetes clusters where security policies are enforced to disable privilege escalation

the search, metadata and frontend docker images should work well even if it's being set to  run as a non-root user.

Will open a PR for the same.

[2022-04-06 01:27] akiratwang commented on #1008
+1 to this issue. The Neo4j version 3.2.56 results in some issues with packages such as APOC.

[2022-04-07 13:08] korjavin commented on #1724
still a problem

[2022-04-07 13:42] s-nachimuthu opened #1805 "Sample Data Loaders - Elastic Search publish fails"
[code]

[2022-04-07 13:44] s-nachimuthu commented on #1805
This seems to happen after ES upgraded to 8.0. Can you give sample data loader which works with the latest version 6.7.4?

[2022-04-07 14:10] korjavin opened #1806 "Google oidc sends redirect_uri with 'http' ignoring base_url"
Google oidc provider sends redirect_uri with 'http' ignoring base_url

OVERWRITE_REDIRECT_URI doesn't help.

[2022-04-07 22:19] NadimYounes commented on #1806
@korjavin You can change the scheme with environment variable `FLASK_OIDC_SCHEME`.

Set that to `https` and you should be good, I had the same issue today.

[2022-04-08 09:24] korjavin commented on #1806
Madre mia.
It worked. I'd call this user-friendly.

Thank you!

[2022-04-08 09:24] #1806 closed

[2022-04-08 10:02] korjavin opened #1807 "OIDC_GOOGLE_APPS_DOMAIN doesnt' work"
I set OIDC_GOOGLE_APPS_DOMAIN env (I tried also in a form of FLASK_OIDC_...) but still anyone with google account can access my data.

I find this default behavior as very insecure and dangerous.

[2022-04-08 12:33] korjavin commented on #53
A year passed. Still even is not clear how to  make auth.

[2022-04-08 12:43] #1749 closed

[2022-04-08 12:44] #1784 closed

[2022-04-08 13:20] Amandianeze commented on #1805
Agreed, having the same issue

[2022-04-08 13:44] mgorsk1 commented on #1805
upgrade to latest versions of all components should resolve it

[2022-04-11 19:05] AykCanDem commented on #1382
I didnt because I used Neo4j.

[2022-04-12 00:17] brow1998 commented on #791
@teoria any news regarding this feature?

[2022-04-13 06:16] #1726 closed

[2022-04-13 18:03] cmpadden opened #1812 "Support ARM-based M1 Macs to run Amundsen in Docker"
## Expected Behavior or Use Case

It should be possible to run Amundsen locally on M1 Mac computers. Currently, errors are thrown regarding the ARM-based architecture.

## Possible Implementation

We could make an ARM-specific `docker-compose.yml` file, or we could conditionally load _arm64_ images depending on the platform of the host machine:

[code]

I was able to get `docker-amundsen.yml` to w

[2022-04-14 20:09] cmpadden opened #1813 "Docker Compose has Port Conflicts for Port 5000 on macOS Monterey"
Unfortunately, the latest version of macOS Monterey uses port 5000 for the internal application Control Center. This causes a port conflict error to be thrown when running the Amundsen Docker instances.

## Expected Behavior

Running `docker-compose -f docker-amundsen.yml up` on macOS Monterey should not product port conflict errors.

## Current Behavior

[code]

## Possible Solution

We should be

[2022-04-15 10:21] wey-gu opened #1816 "RFC/Feature: Nebula Graph as Backend Storage"
Similar to https://github.com/amundsen-io/amundsen/issues/526, just to add backend support of Nebula Graph, an Open Source, distributed Graph Database stands out as it's a [Linear Scalable](https://docs.nebula-graph.io/3.0.2/1.introduction/3.nebula-graph-architecture/1.architecture-overview/), [Cloud Native](https://github.com/vesoft-inc/nebula-operator), Open Source(Apache 2.0) GDB, and it speaks

[2022-04-16 00:24] #1758 closed

[2022-04-16 03:09] ceaser008 commented on #1775
same issue in manjaro
![Screenshot_20220416_085320](https://user-images.githubusercontent.com/93041325/163659247-bbd10ad1-c58e-4878-b4f8-0daa138a608d.png)
o

[2022-04-17 12:24] #1761 closed

[2022-04-18 03:30] smats0n opened #1818 "Bug Report: ElasticsearchProxy._format_response support not support ES versions w/ old hits.total dtype"
The `es_search_proxy.py` of `search_service` requires that ES `Response` objects from an ES proxy be formatted according to ES version >=7.0.0. In ES version >=7.0.0 `Response.hits.total` returns as an `object` but version <= 7.0.0 returns as an `int`. While [elasticsearch.py](https://github.com/amundsen-io/amundsen/blob/f8c9c2f62a8e33f9bb2fc028b391640e5029c0c5/search/search_service/proxy/elastics

[2022-04-20 02:00] #1818 closed

[2022-04-21 00:53] akiratwang opened #1824 "Using SQL `LIKE` with `%` in any `XXXMetadataExtractor` results in an TypeError with SQLAlchemy"
## Expected Behavior
Example Scenario: The existing default SQL query in `PostgresMetadataExtractor` is changed
Example query:
[code]

## Current Behavior
Results in a `TypeError` caused by SQLAlchemy down the stack. I have identified the root cause to be the `%` operator is presumably interpreted as the string formatting operator which expects the variable to be injected.

The query is valid, the

[2022-04-21 00:56] akiratwang commented on #1759
Bad bot >:(

[2022-04-21 02:56] akiratwang commented on #1610
Regarding this, would be a simple merge into the main repo or can I download it and add it to mine. I presume the change would be as simple as replacing `neo4j_csv_publisher` with `neo4j_csv_publisher_apoc`?

There were also some issues with getting APOC installed alongside neo4j so if anyone has issues, let me know as I have been able to resolve it.

[2022-04-21 03:55] wey-gu commented on #1816
Sorry, I just realise that we have a RFC way of working in the RCF repo, will create PR there later.

[2022-04-21 04:05] sp31071973 commented on #1729
Any resolution in this thread?

[2022-04-21 04:16] hituhe2 commented on #1729
Any resolution on this? In many places amundsen refer to it like this,
_from neo4j.exceptions import CypherError_

But in neo4j (4.4.2) , /home/ec2-user/.local/lib/python3.7/site-packages/neo4j/exceptions.py , there is **CypherSyntaxError** and **CypherTypeError**

[2022-04-21 04:52] hituhe2 opened #1825 "Bug Report"
Trying to use sample_teradata_loader.py to access Teradata. Getting error.

## Expected Behavior

Should have accessed Teradata installation . This code works fine

[code]
## Current Behavior

Throwing error

[code]

## Possible Solution

The problem is , in _/usr/local/lib/python3.7/site-packages/sqlalchemy_teradata-0.9.0.dev0.dist-info/entry_points.txt_ , there is no dialect mentioned for **tera

[2022-04-21 18:29] feng-tao commented on #1816
thanks

[2022-04-22 06:42] hituhe2 commented on #1825
I made some progress.  Now the error is the following , current_database() does not exist as any function as I confirmed by running the SQL separately from a simple python program

            **f"extractor.teradata_metadata.{TeradataMetadataExtractor.USE_CATALOG_AS_CLUSTER_NAME}": True,**

[code]

[2022-04-22 06:46] hituhe2 commented on #1825
With             **f"extractor.teradata_metadata.{TeradataMetadataExtractor.USE_CATALOG_AS_CLUSTER_NAME}": False,**
the error is obvious, in order by clause.

_sqlalchemy.exc.OperationalError: (teradatasql.OperationalError) [Version 17.10.0.12] [Session 124546] [Teradata Database] [Error 5628] Column cluster_a not found in dbc.c or dbc.d_

[code]

[2022-04-26 21:43] jorgebaez212 commented on #1382
Hi @feng-tao, after several tests, I realized that this error happens because `/app/metadata_service/proxy/gremlin_proxy.py`
is trying to generate a `TornadoTransport(read_timeout=None, write_timeout=None)` with parameters that gremlinpython==3.4.3 doesn't support.

Running a `pip install gremlinpython==3.4.13` in the `amundsendev/amundsen-metadata:3.10.0` image solves the error, but while buildin

[2022-04-27 08:36] minizhu7 commented on #1805
ES upgrade to 8.1.0 could resolve it

[2022-04-27 18:54] #1770 closed

[2022-04-27 18:54] #1771 closed

[2022-04-27 18:54] #1773 closed

[2022-04-27 18:54] #1774 closed

[2022-04-28 02:33] akiratwang commented on #1610
Looking to deploy this in prod and will let you know how it goes. For starters without APOC:
- Roughly 11k tables and 230k columns exposed to front-end users
- ~3.9 million nodes to commit
- Original runtime of 1.5-2.5 hours

Will update once deployment is completed!

[2022-04-28 03:53] akiratwang commented on #1610
With APOC stats:
- About the same number of tables/columns/nodes
- Runtime of just under 25 minutes...

Definitely an improvement!!! If you want to open a PR with this, I can add the relevant arguments to the docker compose config to have `apoc` installed to the corresponding version of `neo4j`. See https://github.com/amundsen-io/amundsen/discussions/1801

[2022-04-28 04:06] akiratwang commented on #1610
For anyone else looking to implement @zacr 's version here: https://github.com/SaltIO/amundsen/blob/neo4j_csv_publisher_apoc/databuilder/databuilder/publisher/neo4j_csv_publisher_apoc.py

1. Add the script to `amundsendatabuilder/publisher/`
2. Open up your loader script. (As an example, you can open `amundsendatabuilder/example/scripts/sample_postgres_loader.py`)
3. Replace Imports as follows
[co

[2022-04-28 11:35] zacr commented on #1610
Awesome @akiratwang, so glad it worked well. I opened a PR here: https://github.com/amundsen-io/amundsen/pull/1836. If you want to add anything to it go for it.

[2022-04-29 00:36] akiratwang commented on #1610
Awesome stuff, I've found a small issue I can fix w.r.t `CREATE_ONLY_NODES` so I'll add the changes to the PR by early next week!

[2022-04-29 01:04] akiratwang commented on #1610
Looks solid! I've added a couple comments to mitigate some niche issues when specifying create-only nodes. Was wondering how your team got APOC working with neo4j without specifying it in the docker compose scripts?

[2022-04-30 08:54] #1779 closed

[2022-04-30 08:54] #1782 closed

[2022-05-01 21:37] chonyy commented on #1610
@akiratwang @zacr Thanks for all the progress here! I'm so glad to see this issue finally turned into a PR and excited to see it get into production. The speed improvement is just amazing 🚀

[2022-05-02 00:45] akiratwang commented on #1610
Ahh yep that would make sense, was going through the salt-io repo and couldn't find it. Many thanks!

[2022-05-04 10:52] ashemedai opened #1846 "Roadmap documentation is out of date"
## Expected Behavior

The roadmap and vision documentation is up-to-date.

## Current Behavior

See outdated information on the state of the project and the roadmap to the future.

## Possible Solution

Someone with inside project knowledge updates the documentation or removes it.

## Steps to Reproduce

1. Go to https://www.amundsen.io/amundsen/roadmap/
1. Notice the information is between 1–2 ye

[2022-05-05 04:22] TomKlimovski commented on #1813
Bump. I ran into this issue today as well.

[2022-05-07 03:09] mcavalcante28 commented on #1775
Hi @FelipeArruda. What image are you using for run python?
I get the same issue usgin python:3.10.2-alpine, but not for python:3.10.2-slim.

[2022-05-08 23:07] FelipeArruda commented on #1775
Hi @mcavalcante28 its 3.10 python version.

[2022-05-10 14:07] dwwhitlock commented on #1008
I will likely take a stab at this. As Neo4j driver 3.5 is nearing end of life support our firm is concerned about onboarding an already deprecated neo4j instance

[2022-05-13 08:00] wey-gu commented on #1816
Dear @feng-tao,

https://github.com/amundsen-io/rfcs/pull/48 was created, thanks!

[2022-05-15 23:46] sagar-raythatha opened #1860 "Search broken: marshmallow ValidationError"
## Expected Behavior
Search should return values which is being searched in the search bar

## Current Behavior
It is not getting any response to the search query.

Below is the error log:
`
Traceback (most recent call last): File "/usr/local/lib/python3.7/site-packages/flask/app.py", line 1813, in full_dispatch_request rv = self.dispatch_request() File "/usr/local/lib/python3.7/site-packages/flas

[2022-05-15 23:47] sagar-raythatha commented on #1860
@allisonsuarez any solution for this?

[2022-05-16 20:34] allisonsuarez commented on #1860
My bad let me make releases with the patch for this right now!

[2022-05-16 20:36] allisonsuarez commented on #1860
get frontend 4.0.1 and search 3.1.1

[2022-05-16 20:38] allisonsuarez commented on #1860
My bad I will put out releases for this patch

[2022-05-16 20:51] allisonsuarez commented on #1860
Okay bump to frotend 4.1.2 and search 4.0.2

[2022-05-16 23:42] sagar-raythatha commented on #1860
@allisonsuarez  it looks like it has not resolved my issue.

I am using search-3.0.0 and it is broken. Do you feel that the changes made in amundsen-common:0.27.0 can contribute to this issue of highlight option?
https://github.com/amundsen-io/amundsen/pull/1819

[2022-05-17 00:26] sagar-raythatha commented on #1860
I have updated to search 4.0.2, but still having the same issue.

[2022-05-18 20:12] jjtroberts opened #1867 "Feature Proposal"
Twistlock/Prisma Cloud is generating a finding on sqlalchemy. Would you please consider updating to a newer version?

[code]

[2022-05-19 06:22] premzetwerk opened #1868 "ValueError: urls must start with a leading slash"
While running `python3 amundsen_application/wsgi.py` command getting error

`Registering post_exec action_log entry_point: logging_action_log = amundsen_application.log.action_log_callback:logging_action_log
Using requested Flask module flaskoidc and class FlaskOIDC
Traceback (most recent call last):
  File "amundsen_application/wsgi.py", line 11, in <module>
    application = create_app()
  File

[2022-05-19 08:28] christofur commented on #1447
Looking at: https://github.com/amundsen-io/amundsen/blob/main/Dockerfile.frontend.local#L24

Isn't the issue that, we wipe out `requirements-dev.txt` and `requirements-common.txt` with the dummy versions from `node-stage`?

To me, the fix would be to move `COPY --from=node-stage /app /app` to before line 21.

[2022-05-19 15:45] allisonsuarez commented on #1860
You have to update frontend too, have you done that?

[2022-05-20 02:20] akiratwang commented on #956
@tallurig I somehow started to get this error recently (randomly happened) - cheers for the solution, it worked!

[2022-05-20 14:47] sagar-raythatha commented on #1860
I am trying to update that too. However, I am getting below error while upgrading frontend.

ModuleNotFoundError: No module named 'google.protobuf'

I have also tried adding protobuf & protobuf3 in requirements.txt but then also it is giving the same error. Any idea on this?

[2022-05-20 19:27] jruanob opened #1870 "Advance search by Tag not showing Table results"
Hi!
Im not getting tables as a result when searching by tag. Im kind of new to amundsen so maybe im missing something simple.
I'm using:

1. **run_csv_job('./example/sample_data/sample_table_programmatic_source.csv',
'test_programmatic_source','databuilder.models.table_metadata.TableMetadata')**  to add tags based on programmatic descriptions
2. Tags added manually on frontend

## Example Screensh

[2022-05-23 17:43] allisonsuarez commented on #1860
Oh that's odd I haven't seen this at a;; @feng-tao any ideas?

[2022-05-24 04:12] owen-leung-mox commented on #1860
I'm using search 3.1.0 and it's broken also. I fixed the versioning to use `amundsen-common==0.26.0` and it's working again

[2022-05-24 20:38] sagar-raythatha opened #1871 "Snowflake Metadata Extractor not loading Columns in Neo4j"
I am working on connecting Snowflake metadata to Amundsen. It brought Database, Schema & Table information and publishing this data to the Neo4j successfully. I am also able to query this data. However, it is missing column information, when I checked it is not publishing the column information in the Neo4j.

This issue belongs to the Databuilder module.

## Expected Behavior
It should have column

[2022-05-25 22:57] #1724 closed

[2022-05-25 22:57] #1807 closed

[2022-05-25 22:57] #1800 closed

[2022-05-25 22:57] #1790 closed

[2022-05-25 22:57] #1787 closed

[2022-05-26 16:22] ozandogrultan opened #1874 "bug: Duplication of Announcements in the homepage"
## Expected Behavior
Announcements shouldn't be duplicated

## Current Behavior
The first announcement in the homepage is duplicated when the user navigates back to homepage from announcement details page. Following is the screen recording for reference:
https://user-images.githubusercontent.com/5598573/170530129-fea52d3d-6f0c-4eb7-82ef-80a37633cf64.mov

## Possible Solution
N/A

## Steps to Repro

[2022-05-26 16:28] ozandogrultan opened #1875 "bug: Links in the Announcement html content don't work properly in homepage"
## Expected Behavior
Links in the Announcement html contents should not be overridden by the Announcement list page navigation

## Current Behavior
When there are links in the Announcement html content, they are overridden by the navigation of the Card component and when they are clicked, announcement list page is shown instead of the link itself.

## Possible Solution
N/A

## Steps to Reproduce

[2022-05-26 17:33] feng-tao commented on #1874
cc @Golodhros @allisonsuarez
not sure, is it a UI bug or the actual announcement client issue?

[2022-05-27 13:39] sagar-raythatha commented on #1875
+1

[2022-05-27 13:42] sagar-raythatha commented on #1871
Any help from the people who have implemented Snowflake extractor?

[2022-05-27 21:11] sagar-raythatha commented on #1871
I could resolved this issue by adding the named argument in `snowflake_metadata_extractor` [here]((https://github.com/amundsen-io/amundsen/blob/main/databuilder/databuilder/extractor/snowflake_metadata_extractor.py#L136))

The root cause for this was that we have added custom arguments while implementing `TableMetadata` [object](https://github.com/amundsen-io/amundsen/blob/main/databuilder/databui

[2022-05-27 21:11] #1871 closed

[2022-05-27 22:25] han8909227 commented on #85
Hi guys, any update on the progress of this feature ?

[2022-05-30 03:56] #1824 closed

[2022-05-30 11:02] chonyy commented on #1610
@zacr Thanks a lot for your amazing work! I couldn't wait for your PR to get merged. I tested your code in PR and wanted to share the exciting experiment results with you!

### Execution time before apoc apoc: 100 ~ 120 minutes
<img width="214" alt="image" src="https://user-images.githubusercontent.com/44046550/170977027-83f6f101-420b-4642-9bc4-9ceb5869dc08.png">

### Execution time after apoc apo

[2022-06-06 13:11] micfun123 commented on #1775
using Python 3.10.4 and getting this problem as well. Is there a fix?

[2022-06-07 00:45] akaul opened #1889 "[databuilder] Typo in new SearchMetadatatoElasticasearchTask"
## Expected Behavior

While migrating to [New Amundsen Search](https://github.com/amundsen-io/amundsen/blob/main/docs/tutorials/search-v2_1.md), I observed a typo in the class name for [SearchMetadatatoElasticasearchTask](https://github.com/amundsen-io/amundsen/blob/main/databuilder/databuilder/task/search/search_metadata_to_elasticsearch_task.py#L28).

## Current Behavior

The current behavior do

[2022-06-07 00:46] akaul commented on #1889
Happy to open up a PR with the changes to fix the typo, but I wanted to report the issue first after going through the Contribution Guidelines.

[2022-06-07 06:03] sambhav8695 commented on #1724
Hi, I am also facing the same problem

[2022-06-09 20:54] VenezianoMauro opened #1896 "Activating Lineage with config-external.js"
Im trying to activate the lineage button in the Frontend changing the flag on amundsen_application/static/config-external.js

Dockerfile:

[code]

config-external.js:

[code]

Any ideas of what i'm doing wrong?
Thanks a lot!

[2022-06-10 13:11] jdkern11 commented on #1074
I feel you should post the solution to a GitHub issue on GitHub, not a link to a slack channel people need permission to access.

[2022-06-11 09:44] ozandogrultan commented on #1875
This issue still persists, so it is not stale

[2022-06-13 01:15] dkunitsk commented on #1889
Is there any impact besides that the name contains a typo? A fix for this typo would be backwards incompatible.

[2022-06-13 18:12] sagar-raythatha opened #1900 "Marshmallow3 annotation AnnotationConversionError: No field factory found for ~KT"
Frontend service was quite working well before, however, when I rebuilt the image this error started appearing.

`File "/usr/local/lib/python3.7/site-packages/gunicorn/arbiter.py", line 589, in spawn_worker worker.init_process() File "/usr/local/lib/python3.7/site-packages/gunicorn/workers/base.py", line 134, in init_process self.load_wsgi() File "/usr/local/lib/python3.7/site-packages/gunicorn/wo

[2022-06-15 23:40] kristenarmes commented on #675
This issue has now been addressed:
- https://github.com/amundsen-io/amundsen/pull/1865
- https://github.com/amundsen-io/amundsen/pull/1888

[2022-06-18 17:11] #1759 closed

[2022-06-18 17:11] #1825 closed

[2022-06-18 17:11] #1805 closed

[2022-06-18 17:11] #1812 closed

[2022-06-18 17:11] #1846 closed

[2022-06-18 17:11] #1813 closed

[2022-06-19 14:37] HridoyHazard commented on #1775
having the same issue ? any fix ?

[2022-06-22 02:14] FelipeArruda commented on #1775
@feng-tao Can you help?

[2022-06-22 02:22] micfun123 commented on #1775
@FelipeArruda  use a python version Lowe that 3.10 . I got it to work on 3.9

[2022-06-22 05:46] HridoyHazard commented on #1775
thanks mine got worked on 3.7

[2022-06-22 13:53] FelipeArruda commented on #1775
@micfun123 and @HridoyHazard, Did you try with Neo4j Backend or Atlas?

I'm trying to run Atlas and getting the same erro with python 3.6

[2022-06-22 14:09] FelipeArruda commented on #1775
Srry man. Didn't you use this commands to start docker?

# For Neo4j Backend
$ docker-compose -f docker-amundsen.yml up

# For Atlas
$ docker-compose -f docker-amundsen-atlas.yml up

None?

[2022-06-24 03:04] creativeHats opened #1909 "Unable to load sample data"
Followed all the steps with latest amudsen installation as per https://www.amundsen.io/amundsen/installation/.

All docker containers are up and running
<img width="1570" alt="image" src="https://user-images.githubusercontent.com/20940179/175453699-e9a6dc92-a93b-4137-975b-8ca1e64e7c6e.png">

Getting following error
**python3 example/scripts/sample_data_loader.py**
[code]

**Output of pip3 freeze**

[2022-06-25 09:29] ggirodda commented on #1382
This is still a problem when using the last amundsen metadata docker image (3.10.0) with neptune proxy.

[2022-06-27 14:54] JENIFER9181 opened #1914 "De que forma eu posso inserir usuários na minha ferramenta? eu não entendi muito bem essa parte e gostaria de um passo a passo de como posso criar "logins" pra cada usuário"
De que forma eu posso inserir usuários na minha ferramenta? eu não entendi muito bem essa parte e gostaria de um passo a passo de como posso criar "logins" pra cada usuário

[2022-06-29 10:44] #1867 closed

[2022-06-29 10:44] #1870 closed

[2022-06-29 14:11] ozandogrultan commented on #1875
This issue still persists, so it is not stale

[2022-06-30 12:16] sagar-raythatha commented on #1900
This was because of the new version of library marshmallow3_annotations 1.1.0. Have restricted the version to 1.0.0 and now it started working.

[2022-06-30 12:16] #1900 closed

[2022-07-01 11:47] DSamuylov commented on #1813
I can confirm that the issue still remains.

[2022-07-02 12:33] xfiderek commented on #1874
Hi, I've tried to reproduce the issue on the main branch with `example_announcement_client.py`, but I was not able too. @ozandogrultan could you check if you still experience the issue?

[2022-07-02 12:42] xfiderek commented on #1909
Hi.
1. Can you try pulling the most recent changes and reinstalling the databuilder? There is a new version now (6.10.0)
2. You can also try with different version of python. From your logs it looks like you are using python 3.6. The script works fine for me and I am using 3.8.10.

[2022-07-06 03:42] glpcf commented on #1909
1:see https://github.com/amundsen-io/amundsen/tree/main/databuilder#requirements, only support elasticsearch 6.x (currently it doesn't support 7.x),when I replace elasticsearch8 to es 6.8.23,error changed to
WARNING:elasticsearch:POST http://localhost:9200/_bulk [status:400 request:0.008s]
Traceback (most recent call last):
  File "1.py", line 405, in <module>
    job_es_table.launch()
  File "/ro

[2022-07-12 23:52] nk40699 opened #1929 "Sample Data Error"
Hello,

I am attempting to follow the Quick Start guide and am receiving errors in the loading sample data step.

python3 example/scripts/sample_data_loader.py

The error message states ModuleNotFoundError: No module named 'neobolt'
Then I attempted to install neobolt, but it is already installed. I have the proper versions of python and elasticsearch installed already. Any ideas on how to get thi

[2022-07-17 07:41] Parvat-R commented on #1775
Try updating the setuptools package using `pip install --upgrade setuptools`

[2022-07-18 14:14] MrwanBaghdad commented on #327
@feng-tao  I believe we need to revisit this issue as I can see from the chart's config that the community version is allowed [here](https://github.com/neo4j/helm-charts/blob/dev/neo4j-standalone/values.yaml#L11-L14), I also believe that annotations and configuration for init containers are addressed.

[2022-07-19 14:32] saip50 opened #1933 "AttributeError: 'ElasticsearchProxyV2' object has no attribute 'fetch_user_search_results'"
Amundsen version: 2.0.0
we aren't able to search any data, click on tags to find data sets as giving exceptions on server side as follows:
-------------------------------------------------------------------------------------------------------------------------
2022-07-19T13:45:20+0000.234 [INFO] _internal._log:225 (1:Thread-30274) - 10.28.150.150 - - [19/Jul/2022 13:45:20] "←[35m←[1mGET /search?qu

[2022-07-19 21:40] randopop commented on #1812
just noticed this was closed. i assume this is not a priority?

[2022-07-20 15:38] cmpadden commented on #1812
I've not heard back from anyone on this issue, so that may be the case.

[2022-07-21 18:05] allisonsuarez commented on #1008
I am working on moving us to neo4j-driver 4.4.5 since the support for 1.7 is now very limited, will put a PR up for this soon @dorianj

[2022-07-21 20:17] allisonsuarez commented on #1008
#1938

[2022-07-22 17:04] #1008 closed

[2022-07-24 08:34] Jiboku-Oluwatunmise commented on #1775
I'm also having this issue any help

[2022-07-24 17:07] yoku2010 commented on #1812
I was also facing the same issue with M1 Mac.

Screenshot of error:
<img width="1006" alt="arm-issue" src="https://user-images.githubusercontent.com/1465530/180656774-132ac9f5-7798-401e-a966-5f1ab4603f94.png">

But after adding `platform: linux/amd64` in `docker-compose.yml` file, it got fixed.

Then I faced another issue:

Screenshot of error:
<img width="1067" alt="Screenshot 2022-07-24 at 9 58

[2022-07-24 18:50] jruanob commented on #1525
@PratikKhandelwal17 did you solve this issue? Im having the same problem.

[2022-07-25 01:47] yoku2010 commented on #1813
I was also facing the same issue.

Screenshot of error:
<img width="1067" alt="Screenshot 2022-07-24 at 9 58 31 PM" src="https://user-images.githubusercontent.com/1465530/180657576-834c9133-0f6d-4ee0-aa8d-ff833e6e1b79.png">

This was apparently due to the new AirPlay functionality. Control Center stops listening to those ports when I turned off “AirPlay Receiver” in the “Sharing” System Preference

[2022-07-31 21:45] ozandogrultan commented on #1875
https://github.com/amundsen-io/amundsen/pull/1934 is created for the fix

[2022-07-31 23:35] ggirodda opened #1946 "Neptune MalformedQueryException"
I started to use amundsen metadata with Neptune database. Initially I used the metadata docker image to interact with the database, but every tested route gave me a 500 internal server error. So I tested it locally, using a VPN to connect to neptune db, and I found 2 problems. I'll do a PR linked to the issue that solves the problems
## Expected Behavior

When calling a route of the metadata api f

[2022-07-31 23:50] ggirodda commented on #1946
The PR that solves the issue in my case https://github.com/amundsen-io/amundsen/pull/1947/files

[2022-08-09 08:40] sajjadGG opened #1954 "resource name should not contain dot for nested structure to display correctly"
## Expected Behavior

the name of the cluster, data source, schema, and table should be able to contain `.` and its nested structure should appear correctly
## Current Behavior

if one of the mentioned above contains `.` the nested structure won't appear correctly in the UI
## Possible Solution

I suspect the problem is because `.` is used as a delimiter, and in the `parser.ts` it uses the databas

[2022-08-10 11:04] ozandogrultan commented on #1443
Hi @markgrover, any plans on contributing React Flow implementation to the open-source? We are facing this issue as well and would be great to see it fixed!

[2022-08-11 15:26] #1875 closed

[2022-08-11 19:49] markgrover commented on #1443
No updates, unfortunately. My recommendation is to use the list view in the meantime. Patches greatly welcome here.

[2022-08-11 19:53] ozandogrultan commented on #1443
@markgrover Can you please share the documentation/link on how to enable "list view"? We were not aware of this option.

[2022-08-11 19:56] markgrover commented on #1443
More details in this thread:
https://amundsenworkspace.slack.com/archives/C01A87A5EUU/p1631302036018100

On Thu, 11 Aug 2022 at 12:54, Ozan Dogrultan ***@***.***>
wrote:

[2022-08-12 01:06] chonyy commented on #1610
The PR related to this is here: https://github.com/amundsen-io/amundsen/pull/1877

[2022-08-13 03:19] #1889 closed

[2022-08-13 03:19] #1896 closed

[2022-08-14 13:26] drunksoul2021 commented on #1775
try myway ,it work for me.
https://blog.csdn.net/drunk_soul/article/details/126336272

[2022-08-16 10:31] sangram23 opened #1960 "Amundsen installation in Kubnernetes (EKS)"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Screenshots (if appropriate)

## Context

## Your Environment

* Amunsen version used:
* Data warehouse stores:
* Deployment (k8s or native):
* Link to your fork or repository:

[2022-08-16 10:34] sangram23 commented on #1960
Can anyone help installation guidance on Amundsen installation over Kubnernetes  (AWS EKS):

1)- Which Helm Chart repo need to add
2)- Customization for Amundsen Like .
      How to Connect metadata ,Meta services, Search servcies
3)- Insgress rule

[2022-08-18 10:45] fikrifikar opened #1966 "Expected dropdown list for search in Metabase card / question"

[2022-08-18 11:04] #1966 closed

[2022-08-19 07:13] rloredo commented on #791
Any update about this?

[2022-08-19 11:09] sangram23 commented on #1960
I would appreciate your help here

[2022-08-24 18:19] lucasvieirasilva opened #1970 "Feature Proposal: Supports Amazon Neptune Version 1.2.0.0"
## Expected Behavior or Use Case

2022-07-21, engine version `1.2.0.0` is generally available and requires Gremlin version `3.5.2`.

Release Notes: <https://docs.aws.amazon.com/neptune/latest/userguide/engine-releases-1.2.0.0.html>

[2022-08-24 18:27] lucasvieirasilva opened #1971 "Feature Proposal: Implement `create_update_user` function for Metadata Service `gremlin_proxy`"
## Expected Behavior or Use Case

Currently, the function [gremlin_proxy.py#create_update_user](https://github.com/amundsen-io/amundsen/blob/main/metadata/metadata_service/proxy/gremlin_proxy.py#L1022-L1023) is not implemented as it is implemented for [neo4j](https://github.com/amundsen-io/amundsen/blob/main/metadata/metadata_service/proxy/neo4j_proxy.py#L1407-L1444)

This implementation is requir

[2022-08-24 18:35] lucasvieirasilva opened #1972 "Feature Proposal: Publish Metadata with Gremlin dependencies to Docker Hub"
## Expected Behavior or Use Case

Currently, the metadata service has an extra to install the gremlin PyPi dependencies [setup.py](https://github.com/amundsen-io/amundsen/blob/main/metadata/setup.py#L52), and there is no Docker image tag published with these dependencies installed.

Docker Hub: https://hub.docker.com/r/amundsendev/amundsen-metadata

The [Dockerfile.metadata.public](https://github.

[2022-08-29 08:43] hansadriaans commented on #1971
There is a lot of functionality not implemented for gremlin that is implemented in Neo4j. We are currently looking into using openCypher for Neptune not using Gremlin anymore

[2022-08-30 20:28] lucasvieirasilva commented on #1971
That will be great, however, I'm afraid the migration process won't be easy, considering the Amazon Neptune openCypher limitations.

https://docs.aws.amazon.com/neptune/latest/userguide/feature-opencypher-compliance.html

[2022-08-31 16:51] cdechery opened #1976 "Bug Report - Can't get databuilder working with ECS. (Version mismatch)"
I have noticed that the version that runs containers for ECS is not the same as the "oficial" version of Amundsen which is far ahead in terms of version for the containers. One of the problems with that is that I can't seem to get databuilder running. It is all set, built, installed properly but I keep running into errors when I run it.

Imporant note: I have managed to get it working in some occa

[2022-09-05 12:31] hansadriaans commented on #1971
Turns out there are two main issues:
1. Neptune doesn't support None types (it puts in string 'null')
2. the current package neptune 1.4.0.1 somehow doesn't support nested structure in the order by. So `order by item.row_id doesn't work and `item.row_id as item_row_id order by item_row_id` does work.

We are working on some small changes here

[2022-09-09 21:24] sahithi03 opened #1979 "BigQuery usage extractor in databuilder should not remove fixed date length in date sharded tables"
The bigquery usage extractor in amundsen is using a fixed date length to fetch table name from a date-sharded table.
https://github.com/amundsen-io/amundsen/blob/main/databuilder/databuilder/extractor/bigquery_usage_extractor.py#L125

However the bigquery metadata extractor is removing the entire suffix while storing table name from a date-sharded table:
https://github.com/amundsen-io/amundsen/blo

[2022-09-10 17:48] feng-tao commented on #1979
thanks, pr merged now

[2022-09-10 17:48] #1979 closed

[2022-09-12 17:01] ggirodda commented on #1976
I had a similar error, I think it was because of an incompatible version of elastic search. I use Open Search, with elastic search 7.10 (the last version of elastic search provided by aws open search service).
I'm using `amundsen-databuilder = "^6.7.4"`, but with python elasticsearch client `elasticsearch = "7.13.4"`
It worked for me

[2022-09-12 17:24] ggirodda opened #1981 "Bug Report - Missing last_updated_at in amundsen metadata api response"
When calling the api metadata route `/table/{table_uri}`, the proprety `last_updated_at` is null.
I can confirm that all the data needed by the NeptuneCsvPublisher were loaded in the aws s3 bucket, here a list of the uploaded files:
[code]

## Expected Behavior

The property `last_updated_at` shouldn't be null
## Current Behavior

The property `last_updated_at` is null

## Your Environment

* Amun

[2022-09-12 22:03] sahithi03 commented on #1979
Hi @feng-tao, When can we expect this change to be included in the next release of databuilder? Thanks!

[2022-09-13 03:49] feng-tao commented on #1979
@sahithi03 could you create a pr and update databuilder minor version? i could help release it.

[2022-09-13 20:54] sahithi03 commented on #1979
@feng-tao I believe databuilder 7.3.0 was just released https://github.com/amundsen-io/amundsen/releases/tag/databuilder-7.3.0. Could you please help publish this version to pypi as well. Thanks!

[2022-09-16 12:33] cdechery commented on #1976
I got it working too with databuilder 6.7.4. This is definetly the databuilder version  that works with ECS.

But I had to tweak some library versions as well, the requirements.txt that comes with 6.7.4 will not work by itself. It will either fail to build because of compability issues or it will fail to load data in Elasticsearch because of version mismatch. After some tweaking I got it working.

[2022-09-20 19:06] sagar-raythatha commented on #495
Is it implemented? We are having the same usecase, where we are using snowflake and BigQuery both and we wanted to enable the search by Schema Name (In Snowflake) & Project Name (in BQ) which is tied to Cluster field.

[2022-09-21 20:55] eschranz opened #1996 "Optionally authenticate Tableau Databuilder with username/password"
It would be convenient to authenticate the Tableau Metadata API using username and password in place of personal access tokens. Tokens automatically expire after 15 days of not being used and after 1 year of total use.

## Expected Behavior or Use Case
It should be a simple change to add the ability to authenticate with username and password. Expected behavior would be the same as it is currently,

[2022-09-22 11:45] cdechery commented on #1976
Is this issue gonna get some attention anytime soon? Seems to me no one really cares about ECS, since it is really outdated in relation to the rest of the project. I have created a CloudFormation template that deploys Amundsen automatically in a highly-available environment. I could contribute this to the project if it is of interest of the community.

[2022-09-23 19:01] caiopavanelli commented on #1976
Hello Christian, would you mind sharing the frontend/metadata/search/neo4j versions you are running? I'm looking for a fresh deploy but the version mismatches does seem a little confusing to me. Thank you in advance.

[2022-09-25 01:37] #1946 closed

[2022-09-25 01:38] #1933 closed

[2022-09-25 01:38] #1914 closed

[2022-09-25 01:39] #1909 closed

[2022-09-25 01:39] #1929 closed

[2022-09-26 10:29] sangram23 opened #1998 "ECS With AWS OPEN Search Connection"
I have install Amundsen at ECS cluster. My trying to connect Search Server with AWS opensearch Service(Elastic Search ). But query from UI no request is coming .

Logs from Cloudwarch :

*********Frontend ***********

2022-09-26T07:21:27+0000.936 [DEBUG] action_log_callback.logging_action_log:85 (1:Thread-23) - logging_action_log: ActionLogParams(command='_search_resources', start_epoch_ms=1664176

[2022-09-27 07:50] ggirodda commented on #1981
It was because the label for the timestamp property is "Timestamp" and not "Updatedtimestamp".
I temporarily hardcoded the value in a fork of the repository
https://github.com/amundsen-io/amundsen/commit/64a2c455cdc1743f05d97f1831cc53ace35ce3ee

[2022-09-28 14:48] MrwanBaghdad opened #1999 "message isn't initialised in case of an empty response list"
For this error we're getting
[code]
I think the issue that the list is empty which means the `msg` variable is never initialised

https://github.com/amundsen-io/amundsen/blob/bb2141eb30fe6ca0ca8438510dce7627412e29c9/search/search_service/proxy/es_proxy_utils.py#L98-L113

CC: @ozandogrultan

[2022-09-29 13:36] cdechery commented on #1976
Hi

Hi @caiopavanelli , in order for me to get Amundsen to work with ECS I used this file for reference, it has all the versions of Amundsen's containers.
https://github.com/amundsen-io/amundsen/blob/main/docs/installation-aws-ecs/docker-ecs-amundsen.yml
But as you can see, they are really outdated. So when you try to get databuilder working on it, for example, you run into a nightmare of versions

[2022-10-04 16:54] kozlovit opened #2003 "[frontend] column description doesn't update when edit mode is on and active column is switched"
This isn't a crucial issue, but we noticed a situation when user enters edit mode of column description followed by clicking on one of the other columns. While the metadata like column type is updated in the right panel, column description remains the same as for original column description (see screenshot). If edit mode is off, the description switch works as expected.

## Expected Behavior

Edit

[2022-10-05 15:15] meowsome commented on #1074
I'm currently experiencing this issue when setting up an unmodified version of the latest Amundsen version with Keycloak authentication.

[2022-10-07 14:21] Akanmu01 commented on #1775
upon deploying django on vercel server i was unable to use sqlite so i decided to use mysql but i got this error

Preparing metadata (setup.py): finished with status 'error'
--
15:12:04.162 | error: subprocess-exited-with-error
15:12:04.162 |  
15:12:04.162 | × python setup.py egg_info did not run successfully.
15:12:04.163 | │ exit code: 1
15:12:04.163 | ╰─> [16 lines of output]
15:12:04.163 | /b

[2022-10-12 18:34] dbittenbender opened #2008 "Lineage Graph - Add links to table name text for easy navigation"
When on the Lineage Page, it would be great if you could navigate to an up/downstream table directly from the graph instead of having to go back to the up/downstream pages.

## Expected Behavior or Use Case
While exploring the lineage graph, you find a table that you are interested in learning about.  You click the table name and it navigates you to the table details page for that table.

## Servi

[2022-10-13 07:24] fireragnarous opened #2009 "Bug Report: Problem met when installing [npm:not found] ."
## Expected Behavior
According to your installing instructions, I git clone the project and try to install amundsen with command:
C.

## Current Behavior
![7](https://user-images.githubusercontent.com/55270059/195529075-1bb43157-a1b0-4b61-b45b-970b6f8d86bb.PNG)

## Steps to Reproduce

1.Download the github project
2.run "docker-compose -f docker-amundsen-local.yml build"

## Screenshots (if approp

[2022-10-14 14:54] fireragnarous commented on #1775
I also met the same problem on my Centos7 linux server, is there any solution available now? Thanks.

[2022-10-15 09:59] fireragnarous commented on #1775
I have tried to solve this problem I mentioned above on linux using the following changed dockfile, I hope it can be helpful to you. I tried to install amundsen in China so part of the code is added to use a mirror source.
### Changed Dockerfile.fronted.local
ARG METADATASERVICE_BASE
ARG SEARCHSERVICE_BASE

FROM node:12-slim as node-stage
WORKDIR /app/amundsen_application/static

COPY ./frontend/a

[2022-10-16 02:30] #1954 closed

[2022-10-16 02:30] #1960 closed

[2022-10-16 02:30] #1972 closed

[2022-10-16 02:30] #1970 closed

[2022-10-16 02:30] #1971 closed

[2022-10-18 15:45] ozandogrultan opened #2011 "Column Lineage - `isColumnLineagePageEnabled` method is not used"
## Expected Behavior
`isColumnLineagePageEnabled` config method is used to toggle the `See More` button visibility in the column lineage list section

## Current Behavior
`isColumnLineagePageEnabled` config method is not used at all

## Possible Solution
Using `isColumnLineagePageEnabled` method to toggle the visibility

## Steps to Reproduce

1. set `columnLineage.inAppPageEnabled` config to fals

[2022-10-18 17:32] roboverall opened #2013 "Bug Report: NeptuneConfig import failing - Flask"
## Expected Behavior
The metadata service (using Neptune) to start successfully.

## Current Behavior
Flask application startup fails due to an import error - `ImportError: module 'metadata_service.config' has no attribute 'NeptuneConfig'`

## Possible Solution
Make the NeptuneConfig discoverable by the service.

## Steps to Reproduce
1. Deploy a container based on the amundsen-metadata image (lat

[2022-10-19 01:01] saranathak commented on #1976
@cdechery - would you be able to share your updated requirements , facing similar issue at my end to get it working with data builder.

[2022-10-19 13:06] #2013 closed

[2022-10-19 14:00] sangram23 commented on #2013
Any solution for this?

[2022-10-19 14:08] roboverall commented on #2013
The error message was a bit of a red herring. The actual problem was amundsen-gremlin isn't installed as part of the base image creation `amundsendev/amundsen-metadata`.

Solution 1 - add the package to the requirements files and rebuild your own Amundsen image

Solution 2 - build on the base image and add a `RUN pip install amundsen-gremlin` to your bespoke dockerfile. For my use case I've gone w

[2022-11-01 13:51] snowman2 opened #2018 "Feature Proposal: OpenAPI/Swagger ingestion support"
## Expected Behavior or Use Case
What are your thoughts about adding support for loading in sources that are APIs with OpenAPI/Swagger docs?

For example, DataHub has support for ingesting OpenAPI/Swagger sources [ref](https://datahubproject.io/docs/generated/ingestion/sources/openapi).

## Service or Ingestion ETL

This would be an ingestion component.

## Possible Implementation

This could exte

[2022-11-01 19:18] #973 closed

[2022-11-04 10:38] silverik commented on #1317
I was having the same issue an after many attempts I've found this steps works for me

- In the Dockerfile.frontend.local file:
  1. Replace ~~FROM node:12-slim as node-stage~~ with FROM node:12-alpine as node-stage
  2. Add the install of python right after the line `COPY ./frontend /app` with the following directives:
  `ENV PYTHONUNBUFFERED=1
  RUN apk add --update --no-cache python3 && ln -sf

[2022-11-09 05:53] #2011 closed

[2022-11-09 08:08] #1999 closed

[2022-11-09 08:08] #2003 closed

[2022-11-09 08:08] #1981 closed

[2022-11-09 08:08] #1998 closed

[2022-11-10 10:37] asyafoek opened #2026 "Dashboard Tables importing using CSV is truncating table names with ".", no tables are related"
I import from postgres/timescaledb tables with names including "." for example "kafka_Marketing.Salesforce.Sales.Invoice.Paid.1"

when i write the CSV file to import the Dashboard tables, i can see de modeler makes for example "START_KEY","START_LABEL","END_KEY","END_LABEL","TYPE","REVERSE_TYPE"
# "grafana_dashboard://localhost.Marketing-Salesforce/CDqhZ74Vz","Dashboard","postgres://postgres.publi

[2022-11-11 11:29] e-mense commented on #2009
I do get the same output using win10 when running the `docker-compose -f docker-amundsen-atlas.yml up` command. Is there a simple solution?
`PS C:\Users\b156\Documents\amundsen> docker-compose -f docker-amundsen-atlas.yml up
[+] Building 7.4s (21/21) FINISHED
 => [internal] load build definition from Dockerfile.frontend.local                                                0.0s
 => => transferring

[2022-11-16 13:11] kc-alva opened #2030 "Bug Report: Amundsen-atlas instalation crashes due to import error"
During the installation via `docker-compose -f docker-amunsen-atlas.yml up` , Atlas is working correctly, but everything else goes automatically into exited state, I believe it's crashing while it is installing due to:

"amundsenmetadata    |   File "/usr/local/lib/python3.7/site-packages/flask/__init__.py", line 19, in <module>
amundsenmetadata    |     from jinja2 import Markup, escape
amundsenm

[2022-11-16 16:37] sagar-raythatha opened #2033 "Feature Proposal: Building Bigquery views lineage extractor"
## Expected Behavior or Use Case
Currently lineage is not being extracted for the tools which doesn't provide lineage inherently including BigQuery. If we can extract the lineage information from views created in BigQuery, it will enable us to view the lineage in Amundsen.

## Service or Ingestion ETL
Databuilder - BigQuery extractor

## Possible Implementation
We can use [sqllineage](https://gith

[2022-11-17 08:55] MGAbbasi123 commented on #1317
@silverik
i did what you have mentioned, but facing same issue as you can see below

PS C:\Users\MG> docker-compose -f docker-amundsen-local.yml up
[+] Building 0.1s (3/4)
 => [mg_amundsenfrontend internal] load build definition from Dockerfile.frontend.local

[2022-11-17 20:50] mateusmtm commented on #585
@sarthak3097 did you manage to solve this problem?

[2022-11-21 16:48] conker84 commented on #85
I don't think it is just a matter of schema registry. There are some caveats that need to be taken into consideration like:
* What is the source of the topic? A JDBC table?
* Who uses the topic? Snowflake? Neo4j?
* and others...
Because this could also help to reconcile data lineage for those workflows that use Kafka in order to move data between data sources;
I guess that a good approach would be

[2022-11-22 18:50] #2008 closed

[2022-11-27 05:54] #1976 closed

[2022-11-28 13:46] paularmand commented on #1443
@markgrover maybe better post the details here, since Amundsen's slack plan currently does not retain history for messages and files longer than 90 days.