[2019-02-22 05:13] feng-tao opened #40 "Move antlr4 dependency from python 2 to python 3"
All three microservices for Amundsen(data portal) could run on both python 2.x or python 3.x. The data ingestion library(amundsendatabuilder) could run only on python 2.x because of `antlr4-python2-runtime`.

It is used in [ColumnUsage parser](https://github.com/lyft/amundsendatabuilder/blob/master/databuilder/sql_parser/usage/presto/column_usage_provider.py). We should explore and see if we could

[2019-02-22 06:58] feng-tao opened #32 "Integrate readthedoc with the repo"
Popular open source projects leverage readthedoc to build and host their docuements(e.g [Apache Airflow doc](https://airflow.readthedocs.io/en/stable/)). We should integrate with the tool as well.

[2019-02-22 18:59] feng-tao opened #38 "Add CONTRIBUTING.md"

[2019-02-27 05:20] feng-tao opened #39 "Add doc to document API response between FE and metadata / search"

[2019-03-21 22:42] feng-tao opened #58 "Move the databuilder to py3, document warning when using the usage extractor"
We should document the repo to let users know that if they want to use python3 , the usage extractor won't work.

[2019-03-27 14:36] verdan opened #41 "The terms `schema` and `db` can have multiple meanings and confusing"
The terminology used for Amundsen table URI is a bit confusing and people can interpret that in multiple ways. We should make them consistent as what is being used normally.

As per @feng-tao [here](https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1553547523009800): I think the `schema` term at Amundsen is same as database (e.g `create database`) while `database` is used to define the syste

[2019-04-09 13:06] verdan opened #33 "Use entity IDs where possible instead of using the table URI"
For most of the part, amundsen metadata relies on the `table_uri`, which is being passed from frontend, that is making it complex and extra processing in case of systems which supports IDs.
I am proposing to use the IDs of entities like Table, Column, and User etc to be used for the different kinds of operations. This information can be passed from metadata (when available, None otherwise), and si

[2019-04-09 18:30] verdan opened #34 "Unique identifier of User entity is email, but should be configurable"
In the current implementation, the unique/required identifier and required field is `email`, and I think that should be configurable. Or, we can introduce a new field username which is required and email can be optional. In case where username and email address are same, simply fill both attributes with the email address.

**Use Case:**
At ING, we do use corporate keys, which are totally unique an

[2019-04-10 09:13] verdan opened #43 "Implement a config variable that will allow the owners to edit their datasets"
For now, we are relying on `UNEDITABLE_SCHEMAS`, but what if want the owners to change the datasets they own.
For example, it could be: (I don't know atm, which would take precedence)
[code]

thoughts ?

[2019-04-17 18:00] verdan opened #44 "Setup PyUp to automatically update the python dependencies"
Free for open source projects, automatically creates Pull Request to update python dependencies.

https://pyup.io/

We are using this in python atlas client.
ref PRs: https://github.com/jpoullet2000/atlasclient/pulls?q=is%3Apr+is%3Aclosed+author%3Apyup-bot

[2019-04-21 20:07] jhettler opened #59 "Misleading variables in databuilder readme"
Hi,
I would like to fix examples in readme of databuilder. Maybe it has some reason and I just don't see it, but probably that is just copy-paste issue.

There are some variables in readme https://github.com/lyft/amundsendatabuilder/blob/master/README.md for example in Elasticsearch publisher

[code]

but those variables are not used in the example code. It was a bit misleading for me at the begin

[2019-04-28 20:40] bolkedebruin opened #42 "Design lineage UI"
Lineage information should be displayed in the UI. Atlas shows the following

<img width="464" alt="Screenshot 2019-04-28 at 18 02 21" src="https://user-images.githubusercontent.com/4282712/56869858-a01b4300-6a06-11e9-9637-cfd388da5722.png">

Which should be more "Amundsen" like

[2019-05-01 19:31] verdan opened #45 "Support versioning of Tables in amundsen"
To explore the historical metadata, we should support the versioning of tables in Amundsen to understand what changed in each version of Table.
There would be a detail page for each version of a table, including the column information of that particular version.

Apache Atlas provides this information in the form of "Deleted" Table and Columns entities, and can be filtered out using the `entitySta

[2019-05-02 05:40] jornh opened #60 "Position databuilder more clearly as an ETL tool(box) in its own right"
Background originated in Q&A on this PR https://github.com/lyft/amundsendatabuilder/pull/31#issuecomment-488501046

- - - -

Yes, that framing certainly puts a different perspective on databuilder. I guess what fooled me into that train of thinking was it being included under the Amundsen naming umbrella etc. instead of it being a lower level thing “closer to the metal” more in its own right. Perh

[2019-05-04 07:57] gtoonstra opened #46 "Experiences running amundsen on latest osx"
Could be helpful to have everything in one place, so documenting this here.

When using brew and latest of everything on mac osx, I got errors building npm install:

../../nan/nan_implementation_12_inl.h:103:42: error: no viable conversion from 'v8::Isolate *' to 'Local<v8::Context>'

This is right after installing npm using brew, which installs node version 12.

I downgraded to node version 10:

[2019-05-07 06:03] feng-tao opened #61 "Add sample presto view data for quick start"
@youngyjd provides a presto view extractor in https://github.com/lyft/amundsendatabuilder/pull/25/files. We should provide sample presto view data for quick start documentation.

[2019-05-07 06:07] feng-tao opened #62 "Add sample high/low watermark data to quick start"
We use
[code]

as the high metastore query to get the high watermark and low watermark for a hive table. And we have already included the datamodel in https://github.com/lyft/amundsendatabuilder/blob/master/databuilder/models/hive_watermark.py .

We should be able to provide a sample data with csv format to quick start. UI has already had support with watermark data.

[2019-05-07 06:11] feng-tao opened #63 "Add sample data for hive table last updated timestamp"
We had the last update timestamp extractor in https://github.com/lyft/amundsendatabuilder/blob/master/databuilder/extractor/hive_table_last_updated_extractor.py.

This issue is to provide a quick start sample data to show hive table last updated timestamp.

[2019-05-08 17:38] jinhyukchang opened #64 "Mypy check seems not working in PR check."
Mypy is important piece to keep our code readable and it seems like not working in PR check.

Example PR: https://github.com/lyft/amundsendatabuilder/pull/48

[2019-05-09 21:45] ttannis opened #47 "Enable --strictNullChecks"
Enabling `--strictNullChecks` helps us better leverage TypeScript to ensure that if we write code that attempts to access a property of a null or undefined variable, the error will be caught. Expect that many of our type definitions will have to be updated as well.

https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-0.html

Right now, we are using betterer to keep track of reg

[2019-05-09 21:55] ttannis opened #48 "DataPreview needs rendering improvements"
The data preview component needs several UI updates. While maintaining the same look and feel, we want to:

1. Render a table that keeps fixed headers when scrolling vertically
2. Fit the height of the rendered content to the modal -- the horizontal scroll bar should be visible without having to scroll down.
3. Support the ability to render non-primitive values. For example, values like numbers, s

[2019-05-10 23:23] jinhyukchang opened #49 "Transient Docker pull timeout from Travis."
This is known issue from Travis
https://github.com/travis-ci/travis-ci/issues/9127

One action item from Amundsen:
- Research if there's a way to get a notification of failure

[2019-05-21 22:36] verdan opened #50 "Frontend configurations to be set using API"
In order to support all the customizations of the frontend i.e., the logo path etc (mentioned [here](https://github.com/lyft/amundsenfrontendlibrary/blob/master/amundsen_application/static/js/config/config-default.ts)) when installed using a pip package (already compiled), we need to pass those configs from backend and store them in React's store and use them instead of hardcoding them on frontend

[2019-05-28 08:41] verdan opened #35 "Make a connection to Active Directory to get user details"
In order to get details of user from Active Directory (and not from Neo4j), we need a connection and configurations of the AD. At the moment the user details is highly coupled with Neo4j proxy.

[2019-05-28 22:03] danwom opened #51 "Use 'raise_for_status' in python API calls"
https://github.com/lyft/amundsenfrontendlibrary/pull/156/files/11ead489d7a46d12f986aa0d673c313d74cbb81b#r287533106

[2019-05-30 17:12] p5k6 opened #65 "Redshift spectrum metadata extraction is not supported by postgres extractor"
Figured this out yesterday while working on some spectrum tables; the current query in lyft/amundsendatabuilder#63 works for native redshift tables (which is what I tested with earlier), but does not work with spectrum tables (as spectrum metadata is stored outside sql standard INFORMATION_SCHEMA). `svv_external_columns` should provide access to the equivalent external tables metadata.

If/when I

[2019-06-04 11:31] verdan opened #66 "Add Solr Ranger Audits extractor"

[2019-06-04 11:31] verdan opened #67 "Implement Apache Atlas publisher"

[2019-06-09 07:08] rjindal02 opened #52 "Updating Tags does not update Elastic Indexes"
When updating "Tags" from frontend, it does update backend Neo4j but does not update Elastic indexes. Hence, once tags are updated, they are not searchable.

[2019-06-13 18:36] Alagappan opened #68 "Add instructions for BigQuery Extractor"
Could we please add some setup instructions for BigQuery metadata extractor and usage extractor? Instructions could include IAM roles and permissions that are needed for extractor access and extract metadata and usage information. An example response from Bigquery for metadata and usage would be ideal.

[2019-06-17 10:12] apoorva007 opened #69 "Support for showing lineage of table across ETL's in a data warehouse"
Hey,
Wanted to understand if there is a way to push table lineage related metadata to amundsen.
Couldn't find any related documentation. If someone can point towards it, that would be really helpful

[2019-06-25 07:08] feng-tao opened #70 "Implement git repo extractor"
https://github.com/gitpython-developers/GitPython

[2019-06-26 06:18] jornh opened #53 "Would like a guide for How-To deploy Amundsen in production"
Please add points on what you expect from such a guide in a comment below. I will then try to consolidate input and draft up an outline in this comment.

The guide can end up as ~~`/docs/deployment.md`~~ is `/docs/owners_manual.md` better?

Initial outline:

- [ ] Basic install of services (in different environments)
    - [x] Docker-compose “vanilla”, but with Gunicorn (**WIP** #109) ~~data in vo

[2019-06-28 13:55] tpcarrier opened #55 "Feature request - knowledge posts/repository"
As a 'data discovery' platform, I should aim to empower users across my organization to make better decisions - based on data. I should allow new users to onboard quicker to the organization and learn about the business, help users answer (most of) their own 'data' questions through past analysis, and reduce the barriers of access to analyze data on questions that have yet to be answered.

Once an

[2019-07-02 19:55] worldwise001 opened #10 "Can we add a pre-push git hook to help enforce code style checks?"
Amundsen runs flake8, mypy, and tsc to enforce python + typescript style-checks and stray warnings. For us, we have this enforcement in the form of a pre-push git hook in addition to our CI:

[code]

It would be nice to have this in amundsen proper too, since I occasionally run into linting differences when pulling from upstream.

[2019-07-03 18:07] worldwise001 opened #13 "Can we make a common package that contains all the common classes between amundsen?"
Specifically things like the user/table classes as they get sent to neo4j/atlas/elasticsearch seem a little unfortunate to have to copy-paste between projects.

[2019-07-04 07:43] jornh opened #71 "Refactor table usage model"
See the https://github.com/lyft/amundsendatabuilder/pull/100#issuecomment-508159547 and onward discussion in that PR

This is potentially a good first issue to get familiar with the inner workings of Databuilder

[2019-07-04 09:56] jornh opened #72 "Add proper CLI parameter handling to the Quickstart sample loader script"
A bunch of input parameter stuff is hard coded like this: https://github.com/lyft/amundsendatabuilder/blob/v1.3.6/example/scripts/sample_data_loader.py#L37-L43

As well as the Elasticsearch host a few lines above. It would be much more elegant to be able to run Databuilder on any host and point it to another host (hosts) if the defaults would stay at localhost but it could take input parameters

@

[2019-07-05 18:13] friendtocephalopods opened #36 "Should we add PUT/POST endpoints for tables?"
We wanted to do this at Square so our databuilder instance doesn't have to connect directly to the neo4j database instance. It can just call some simple metadata library APIs that handle the database details.

We think this gives a better separation of concerns between the databuilder and the metadata library code.

I built this for the Square instance of amundsen, I'd be happy to upstream it if y

[2019-07-12 20:49] gonzalodiaz opened #16 "Production Installation guidelines"
It would be great to have some documentation for guidelines to install Amundsen in production. Maybe with some Helm Chart to deploy it in a Kubernetes Cluster. Thanks!

[2019-07-12 21:23] feng-tao commented on #16
https://github.com/lyft/amundsenfrontendlibrary/pull/216

[2019-07-16 01:47] ttannis opened #18 "Document local workflow"
### Problem
We want to document how someone would go about getting set up to develop locally in Amundsen.
1. This is not intuitive for newcomers given our micro service architecture and multiple repositories/submodules.
2. This is also difficult for folks who do not have Amundsen stood up in their company's internal development environments. For example at Lyft we are able to develop and test feat

[2019-07-16 17:07] jornh commented on #18
@ttannis Nice side effect you uncovered with the blocked ports. It can also be used to spin up more containers if you only need to work with one of them.

Also note that all the containers now supports port configuration through environment vars. That will simplify setup by not having to patch source config files. These env vars are already in use in the compose files, but lack other documentation

[2019-07-17 18:45] feng-tao opened #19 "Update the architecture diagram"
The architecture diagram(https://github.com/lyft/amundsen/blob/master/docs/architecture.md) is a bit outdated as it still shows we persist update description back to Hive metastore.

[2019-07-18 01:29] ttannis commented on #18
### Update

I mistakenly believed my local instances of metadata/search had been able to connect to the neo4j and  elasticsearch docker containers. Once i started testing more I realized I must have been looking a stale tab.

However I switched back to some purely `docker-compose` based solution. I've been working on a `docker-amundsen-local.yml` that uses Jorn's ideas -- it will build the contain

[2019-07-18 18:09] jinhyukchang opened #73 "Add TableLastUpdatedExtractor for BigQuery"
Currently we have HiveTableLastUpdatedExtractor that figures out when the table is last modified for Hive. This issue is to support the same feature to BigQuery.

[2019-07-18 18:10] jinhyukchang opened #74 "Add TableLastUpdatedExtractor for Redshift"
Currently we have HiveTableLastUpdatedExtractor that figures out when the table is last modified for Hive. This issue is to support the same feature to Redshift.

[2019-07-19 14:42] jornh opened #56 "Document config through env vars"
For this and metadata + search repos for much of the localConfig.py settings there is also the possibility to give configuration through environment vars. Documentation should reflect that as an alternative to using localConfig which might require rebuilding python packages and/or docker images.

Related Slack thread: https://amundsenworkspace.slack.com/archives/CHQERT0D7/p1563544756136000?thread_

[2019-07-19 17:16] jornh commented on #16
@gonzalodiaz also see https://github.com/lyft/amundsenfrontendlibrary/issues/212 - let’s continue discussion over there. Appreciate if you could share your expectations for what such a helm chart should cover feature wise.

[2019-07-19 18:46] jornh commented on #19
Another point to consider with the architecture document:

- mention that the two proxy services for search and metadata are configurable to either work with Neo4j/Elasticsearch or Apache Atlas - @verdan made a diagram as well https://github.com/lyft/amundsenmetadatalibrary/issues/7#issuecomment-472187736 I think it still roughly holds as a high level illustration.

[2019-07-19 19:13] verdan commented on #19
I'd rather provide a new one. this one is not accurate in case of search service.

[2019-07-19 22:31] feng-tao commented on #19
I will add a new diagram.

[2019-07-23 22:50] javamonkey79 opened #31 "feature request - sample queries for tables"
It would be useful, to provide a sample queries field in the table view, such that users can get a jump start, on how to use a table and it's columns.

[2019-07-27 23:21] jhettler opened #37 "Unnecessary code - proxy/elasticsearch.py vs api/table.py"
Hi,
in my opinion, the code below can't be reached and the default value is set from different places.

https://github.com/lyft/amundsensearchlibrary/blob/ab13456f29f1effbe7360e300af7c469fe9fe320/search_service/proxy/elasticsearch.py#L219-L220

elasticsearch.py is called from table.py below, but there is a default value set in table.py and if I set the default value in table.py as a param of add_a

[2019-07-30 12:57] jornh opened #75 "Clarify Quickstart fake Extractor limitations vs real Extractors use"
We should clarify that the `/example/scripts/sample_data_loader.py` does not represent real *Extractors* very well. It's merely loading some "pre-cooked" CSV representations of what roughly should come out of the real *Extractors* (& *Transformers*) - into a SQLite staging DB, then feeding it to *Loaders* so it can be ingested into Neo4j

(surfaced on Slack in https://amundsenworkspace.slack.com/a

[2019-07-30 23:01] worldwise001 opened #22 "Proposal: documentation of possible queries for data generated from `action_logging callback`"
As per chat, if folks are able to get data out of `action_logging callback` in amundsenfrontendlibrary into a single table, it would be great to see how some sample queries could be structured using this data, to build Looker dashboards and the like.

[2019-07-30 23:03] jinhyukchang commented on #22
Not the query but for a starter here's what we have in Lyft:
- WAU
- DAU
- Top 50 active user
- Top search term
- Top popular tables
- Search click index
- Metadata edits
- Metadata edit leaders
- Amundsen user per role (by joining with employee data)

[2019-08-01 10:38] satishjb opened #27 "amundsenfrontend | File "/usr/local/lib/python3.7/site-packages/amundsen_frontend-1.0.6-py3.7.egg/amundsen_application/api/metadata/v0.py", line 471, in update_bookmark amundsenfrontend | raise Exception('AUTH_USER_METHOD is not configured')"
I am running docker version of amundsen. I can see search page with sample table however when i drill down table profile show always loading and I get this error.

amundsenfrontend    |   File "/usr/local/lib/python3.7/site-packages/amundsen_frontend-1.0.6-py3.7.egg/amundsen_application/api/metadata/v0.py", line 471, in update_bookmark
amundsenfrontend    |     raise Exception('AUTH_USER_METHOD is

[2019-08-01 14:52] jornh commented on #27
The "Quickstart" docker version currently doesn't include any configuration for authentication.

The `Loading ...` indicator you see is an unrelated fronted UI bug. It has been fixed in master (original issue https://github.com/lyft/amundsenfrontendlibrary/issues/202) but no new release of that container has been released since.

Regarding auth, the error message says it pretty clearly: `AUTH_USER

[2019-08-01 17:21] satishjb commented on #27
Thank you for responding. I understand that this project needs contribution I will be glad once I get a hang of the system and local setup running.

As you mentioned regarding the docker, is there a docker file that we can build with the latest code changes from master.

Does Auth not available in docker mean that its possible in local setup.

[2019-08-01 17:29] feng-tao opened #29 "Setup a bot to auto update all the git submodules"

[2019-08-01 18:54] satishjb opened #30 "Setting front end ImportError: cannot import name 'HTTPStatus'"
python3 amundsen_application/wsgi.py
Traceback (most recent call last):
  File "amundsen_application/wsgi.py", line 2, in <module>
    from amundsen_application import create_app
  File "/home/satish/projects/amundsenfrontendlibrary/venv/lib/python3.4/site-packages/amundsen_frontend-1.0.6-py3.4.egg/amundsen_application/__init__.py", line 9, in <module>
    from amundsen_application.api.v0 import b

[2019-08-01 22:13] jornh commented on #27
Cool that you already got a successful frontend build done, and you could get rid of that confusing UI glitch. That’s also what we’re hoping for to quickly onboard people.

For the foreseeable future I don’t think the “data preview” view will be part of a out-of-box install for neither “Quickstart” nor a production deployment without any config. The reason is it’s actually built as an optional int

[2019-08-02 00:38] feng-tao commented on #30
which python3 and are you in virtual env ?

[2019-08-02 04:00] satishjb commented on #30
https://github.com/lyft/amundsenfrontendlibrary/blob/master/docs/installation.md

Yes using virtual. with python3.4 i got this error

but with python 3.6 i am getting

Searching for responses==0.9.0
Reading https://pypi.python.org/simple/responses/
Download error on https://pypi.python.org/simple/responses/: unknown url type: https -- Some packages may not be found!
Couldn't find index page for 'r

[2019-08-02 04:21] jornh commented on #30
https://docs.python.org/3/library/http.html#http.HTTPStatus says that statuscodes directly in the HTTP package was new in 3.5. So I think we have the reason for the error with Python 3.4.

[2019-08-02 04:44] jornh commented on #30
I see responses version 0.9.0 available both as a tar.gz and a .whl at https://pypi.org/simple/responses/

[2019-08-02 05:14] feng-tao commented on #30
thanks @jornh for the debugging!

[2019-08-05 23:47] #46 closed

[2019-08-07 02:46] ttannis commented on #18
Initial version added as part of #25.

[2019-08-07 02:46] #18 closed

[2019-08-07 03:29] jornh commented on #53
@ttannis we lost access to the useful content of former FE  issue https://github.com/lyft/amundsenfrontendlibrary/issues/186 referenced in the snippet shown below.

Can that content be salvaged somehow? E.g. will transferring  https://github.com/lyft/amundsenfrontendlibrary/issues/186 in a closed state to here do it?

[code]

[2019-08-07 22:58] javamonkey79 opened #77 "running amundsen in ec2 results in error"
1. Create an ec2 instance (I am working with t2.xlarge)
2. switch to root (sudo su)
3. run the following commands

[code]

Note the following errors:
[code]

[2019-08-07 22:58] #77 closed

[2019-08-07 22:59] ttannis commented on #53
Transferred that closed issue over: https://github.com/lyft/amundsen/issues/77

[2019-08-08 18:36] jornh commented on #53
Thanks for the quick turnaround on this @ttannis - seems to work nicely!

Also please extend my thanks to other Lyft team members on the recent even higher systematic  focus on grooming PRs etc.  I think going forward that will really encourage more to hopefully contribute even more!

[2019-08-09 05:49] jornh commented on #30
@satishjb did you resolve the Pypi download issue you had with Python 3.6? (which I gave an answer to in https://github.com/lyft/amundsen/issues/30#issuecomment-517542377)

anything more anctionable for the Amundsen project to do here?
If you agree there isn't more for the project to do please close this issue.

[2019-08-09 06:48] satishjb commented on #30
@jornh I just tried and was successful in getting the frontend running in 3.5 as per your comment.

Thanks I am closing the issue.

[2019-08-09 06:48] #30 closed

[2019-08-09 06:55] #27 closed

[2019-08-09 07:01] satishjb opened #79 "print(f'Using requested Flask module {FLASK_APP_MODULE_NAME} ' SyntaxError: invalid syntax**"
python3 search_service/search_wsgi.py
Traceback (most recent call last):
  File "search_service/search_wsgi.py", line 3, in <module>
    from search_service import create_app
  File "<frozen importlib._bootstrap>", line 968, in _find_and_load
  File "<frozen importlib._bootstrap>", line 953, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 896, in _find_spec
  File "<frozen

[2019-08-09 16:10] jornh commented on #79
Real sorry about the current inconsistency for python version requirements across repos

For the search service `setup.py` states python 3.6 as minimum requirement (but there’s no badge/text mention on that in the README.. Also I think currently the Travis CI runs with 3.6 across the board (apart from Databuilder which Lyft has a need to hold back on 2.7). To top it off the dockerfiles use 3.7!

I

[2019-08-14 04:55] astahlman opened #80 "amundsendatabuilder "leaks" dev dependencies"
amundsendatabuilder [declares](https://github.com/lyft/amundsendatabuilder/blob/b480d0087a32a99c40714ffb3042ba3d529d5a77/setup.py#L21) an `install_requires` dependency on every package from `requirements.txt`.

This means that all consumers of this package must accept transitive dependencies on the specific versions of every package in amundsendatabuilder's development environment. For example, co

[2019-08-14 09:30] siddharthgarishakurthi opened #81 "adding tags in front end does not update the elastic indexes"
When updating "Tags" from frontend, it does update backend Neo4j but does not update Elastic indexes. Hence, once tags are updated, they are not searchable.

[2019-08-14 09:38] siddharthgarishakurthi opened #82 "favourite button in frontend not working"
Even after clicking on the favorite option , i am unable to store it as favorite table.

[2019-08-14 10:39] jornh commented on #81
Duplicate of https://github.com/lyft/amundsen/issues/52

I’d say a PR towards ticking the last box after search service API would be most welcome.

[2019-08-14 10:46] jornh commented on #82
You need to have user authentication enabled for this to work. It could get clarified by documentation (see some proposed draft WIP in https://github.com/lyft/amundsen/issues/53)

[2019-08-14 17:21] jornh commented on #52
I’d say a PR towards ticking the last box in https://github.com/lyft/amundsen/issues/52#issuecomment-500339360 after the search service now has got the API endpoint needed (as added in https://github.com/lyft/amundsensearchlibrary/pull/40) would be most welcome!

If anyone wants to have a go at this and need a bit of guidance just give a shout 😄

[2019-08-14 17:21] feng-tao commented on #80
cc @verdan

[2019-08-14 18:01] verdan commented on #80
Agreed! had the same impression when we proposed this solution, as we are installing a lot of test requirements because of this.
The main problem to have the duplicated requirements is like most of the times people introduce the dependencies in one place and forget to do that in other.
This pip install -e things is a nice one, and can also think about this: https://stackoverflow.com/a/20720019

[2019-08-16 18:06] ttannis commented on #82
@siddharthgarishakurthi second to what @jornh said, I think it is likely that the feature is not configured correctly, therefore the request fails, and therefore the UI does not update. When you open your network tab in the browser and click the favorite button, are you getting an error?

[2019-08-16 18:07] ttannis commented on #81
Closing as this is a duplicate. Please follow #52, and you are welcome to assist us in implementing it!

[2019-08-16 18:07] #81 closed

[2019-08-16 23:05] polya20 opened #85 "Apache Kafka integration"
Any ideas how to integrate with Apache Kafka topics.

[2019-08-17 01:53] feng-tao commented on #85
@polya20 we haven't added the support for Kafka topic yet. But per my understanding with Kafka, I think if you have schema registry deployed on your end, you could topic metadata info from there and persisted in Amundsen. But you also need to build UI for that.

[2019-08-17 02:29] feng-tao commented on #13
@worldwise001 https://github.com/lyft/amundsencommon just got oss!
cc @verdan @jornh @jinhyukchang

[2019-08-17 02:29] #13 closed

[2019-08-19 19:22] jornh commented on #16
@gonzalodiaz did you get a chance to try out using Kompose.io to convert the compose file to a helm chart? Appreciate if you can share either success or failure 👍

Also, if you agree #53 covers the same as this issue (and more) I suggest you (or the powers that be at Lyft) close this issue as a duplicate

[2019-08-20 05:21] jornh commented on #36
Maybe not a priority yet, but eventually if you want to federate between Amundsen and other metadata stores https://www.odpi.org/blog/2019/07/08/implementing-an-open-metadata-connector seems worth a look.

I believe i saw ING is part of the ODPi an Egeria consortium as well @

There of course can be different APIs in parallel. But why reinvent the wheel unless it’s a better or simper one ☝️

[2019-08-21 20:09] jornh commented on #69
2nd option above has moved a bit forward with merge of https://github.com/lyft/amundsendatabuilder/pull/126 as far as I can see this means with Neo4j https://github.com/lyft/amundsen/issues/69#issuecomment-502841152 is essentially implemented so you can build a Databuilder job which will build lineage in Amundsen Metadata service.

Submitting a  PR to ingest some sample data modeled after previous

[2019-08-22 04:54] jornh commented on #29
Looks like Envoy proxy is using a mechanism like what got added in this PR: https://github.com/envoyproxy/envoy/pull/3106

I noted it’s in use here: https://github.com/envoyproxy/envoy-filter-example/commits/master

[2019-08-22 19:38] jornh commented on #75
Added some further notes (barely, most of it isn’t even full sentences) as comments on my  fork:

https://github.com/jornh/amundsendatabuilder/blob/patch-1/example/scripts/sample_data_loader.py#L338-L358

[2019-09-01 19:49] jornh commented on #52
PR to fix this issue: https://github.com/lyft/amundsenmetadatalibrary/pull/76

[2019-09-01 22:17] jornh commented on #31
Could be seen as related to https://github.com/lyft/amundsen/blob/master/docs/roadmap.md#index-dashboards

Notice there’s a “queries” tab in the design proposal:

![FC6E3D5C-CFF1-495C-9B7D-4E11BFFD1BD8](https://user-images.githubusercontent.com/766423/64082914-e1a25e80-cd16-11e9-8cee-dd06804e6ed1.jpeg)

[2019-09-06 07:17] jornh commented on #82
@siddharthgarishakurthi did you get this working or not?

As it stands I don't see any actionable info for the. If you still think there's an issue please provide additional info (e.g. steps to reproduce) so we someone can try to help resolve it.

[2019-09-06 07:50] siddharthgarishakurthi commented on #82
@jornh it is not working for me

Can you please share how to enable the user authentication if possible as i could not understand the doc provided in this link : https://github.com/lyft/amundsen/blob/master/docs/authentication/oidc.md

Sorry for late reply .. I was busy with some other projects.

[2019-09-06 14:21] jornh commented on #82
No worries. OK, got it, so as I understand it the issue is more like:

Personally I haven’t gotten to try setting up OIDC. So I can’t give you a direct answer. I have merely set up one hardcoded userid to try out all the user profile stuff.

What I do know is that ING has it working in their setup (they built it) - and so far I know of _one_ thread on Slack that sadly died, til now: https://amunds

[2019-09-06 14:22] swatro opened #94 "Feature request - Add business terms"
Definition of a business term: A business term is a domain concept. These terms map to column(s) in table(s). They also have their own description, owners, and tag associated with them.

Business term features:
As a user, I can search for business term.
As a user, I can add a description to a business term.
As a user, I can add an owner to a business term.
As a user, I can add a tag to a business

[2019-09-06 16:38] jornh commented on #94
@swatro great foundation you put there. A few observations/questions.

1:1 vs 1:N vs N:M links?
* Can a you own several terms? Can a term have several users?
* Similarly with tags
* I notice terms are only related to columns, not tables. Oversight or deliberate choice?

If a tag could (optionally) also have a description, owners - and be linked to columns as well as tables, then terms and tags wou

[2019-09-06 16:44] feng-tao commented on #82
you mean bookmark button(the star shape)? CC @ttannis @danwom

[2019-09-06 16:50] jornh commented on #58
@feng-tao with https://github.com/lyft/amundsendatabuilder/pull/140 merged what else is needed before this can be closed? (#40 is still there to track antlr update to py3)

[2019-09-06 16:54] feng-tao commented on #58
@jornh I think we could close this issue now. Thanks for checking.

[2019-09-06 16:54] #58 closed

[2019-09-06 17:41] swatro commented on #94
@jornh Great questions. Here are my thoughts:

1. I see the users to terms relationship as a many-to-many. A user can own many terms and a term can have many owners.
2. I also see terms to tags as a many-to-many relationship.
3. I don't think business terms have to relate to a column. For my use case business terms mostly relate to columns, but I think this could be generic enough for business ter

[2019-09-06 18:30] danwom commented on #82
@feng-tao The bookmark/favorite/follow star is not hidden by any config at the moment. At minimum the bookmark feature requires authentication the bookmarks can be linked to the user. (This does not require the `indexUsers` feature to be enabled). There is an implicit assumption that authentication will be used, but perhaps some instances won't have it (maybe just hide the site behind a VPN?). In

[2019-09-10 11:39] gonzalodiaz commented on #16
@jornh I haven't had the chance to review Kompose.io, but I will!

I will close this issue in favor of #53 . Thanks!

[2019-09-10 11:39] #16 closed

[2019-09-11 17:48] jornh commented on #82
@siddharthgarishakurthi I made a super-simple fix to the issue you originally posted in https://github.com/lyft/amundsen/issues/82#issue-480579885 above.

Please do a `git pull` of this repo - and see if it works for you for at least demoing with the Quickstart setup. (Then we're at least _one_ although _tiny_ step towards an improved Amundsen unboxing experirence).

[2019-09-12 00:50] javamonkey79 opened #98 "improve table description formatting"
Currently, the table description strips out line breaks and is string only.

It would be much better, if it supported html, or markdown instead.

[2019-09-12 04:43] siddharthgarishakurthi commented on #82
@jornh thank you for the changes .. The favourite button is working now and i am able to see the My bookmarks section in frontend.

[2019-09-12 05:41] feng-tao commented on #82
thanks @siddharthgarishakurthi and @jornh

[2019-09-12 05:42] #82 closed

[2019-09-17 22:19] javamonkey79 opened #100 "support for exact match searching"
- given, there is a full text string in a table description, and part of the  full text strong in another table description
- when queried from elastic search for the full text string
- then other entries are returned from elastic search
example:

![image](https://user-images.githubusercontent.com/1403289/65083825-72f01280-d95e-11e9-90aa-8a37b15e19b3.png)

I would expect, that an exact string sear

[2019-09-18 17:03] feng-tao opened #101 "Druid metadata extractor"
Build a metadata extractor for druid.
Context: https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1568825902061800?thread_ts=1568793997.052100&cid=CGFBVT23V

[2019-09-19 08:57] Mikhail-Ivanov commented on #98
Associated PRs:
https://github.com/lyft/amundsenmetadatalibrary/pull/79
https://github.com/lyft/amundsenfrontendlibrary/pull/298

[2019-09-20 00:38] feng-tao opened #105 "Use Graphql to replace REST for service communication"
There have been some interests on using Graphql. Create the ticket to track.

[2019-09-20 00:39] feng-tao commented on #105
https://medium.com/codingthesmartway-com-blog/rest-vs-graphql-418eac2e3083 and https://medium.com/elements/diving-into-graphql-and-neo4j-with-python-244ec39ddd94

[2019-09-20 15:09] javamonkey79 opened #106 "no usage skews search results"
Given - there is no usage data for any tables and you run a non field search
Then - result from elastic search will be incorrect as the field_value_factor modifier (log1p) will add 1 and take the natural log of 1, effectively making all scores 0

To fix this, we suggest using log2p instead.

[2019-09-20 23:17] javamonkey79 commented on #106
https://github.com/lyft/amundsensearchlibrary/pull/61

[2019-09-20 23:36] feng-tao commented on #106
nice, I think the issue could be closed now given the pr is merged?

[2019-09-20 23:36] #106 closed

[2019-09-20 23:37] feng-tao opened #107 "Document the neo4j table format and how to build a custom extractor/model"

[2019-09-23 21:33] jornh opened #109 "optimize docker images"
I would like to introduce a few optimizations of Docker images across the three service repos:

* Reduce image size by switching to `python:3-slim` as base image, e.g. [Airflow](https://github.com/apache/airflow/blob/v1-10-stable/Dockerfile#L20) does this as well - this means even _quicker_ **Quickstart**
* Increase caching to speed up builds (mostly by eliminating pypi/npm dependency pulls and bu

[2019-09-24 16:57] markgrover opened #110 "Include tags in default search"
Earlier we didn't know how tags would be used by users and we (more specifically, I) was worried that including tags in the default search may bring down search quality. So, currently to search based for tables with the tag, say `my_tag`, one has to explicitly do `tag:my_tag`.

However, seeing the usage of tags at Lyft and also hearing feedback from @swatro, I feel that tags should be included in

[2019-09-25 17:06] feng-tao commented on #110
We currently collect all the tags and push to ES table document(https://github.com/lyft/amundsendatabuilder/blob/master/databuilder/extractor/neo4j_search_data_extractor.py#L36). @markgrover  Could you elaborate on the request? FYI the normal search doesn't provide exact search mechanism hence we build the category search.

[2019-09-25 19:19] #79 closed

[2019-09-25 20:37] markgrover commented on #110
Thanks! Currently say if my table is tagged `my_tag` I type just `my_tag` in the search, it doesn't show any results. Is that right?

My request was to include tags in the weighted search so when simply `my_tag` is typed, the tagged tables show up. Of course if there's a table named `my_tag` that would show up too. I wasn't requesting exact search, but just the default search to also include tags

[2019-09-25 20:39] feng-tao commented on #110
@markgrover I think if it is single word it will show in the result. The issue is the ES will break down the term with other delimiter during search. Also there is no usage for the tag which will end up in the end of the results.

[2019-09-26 06:55] jornh commented on #109
According to https://hub.docker.com/r/amundsendev/amundsen-metadata/tags version 1.1.1 of metadata is 72 MB in compressed size. In comparison v1.0.19 was 347 MB.

This means only 1/4 download size for Amundsen Quickstart images.

[2019-09-26 06:59] jornh commented on #109
According to https://hub.docker.com/r/amundsendev/amundsen-metadata/tags version 1.1.1 of metadata is

[2019-09-26 07:02] feng-tao commented on #109
nice!

[2019-09-26 23:25] javamonkey79 commented on #98
@feng-tao I think this is now done, now that both prs are merged. Do you want to keep it open still?

[2019-09-26 23:44] feng-tao commented on #98
yeap, thanks @javamonkey79!

[2019-09-26 23:44] #98 closed

[2019-09-27 05:46] jornh commented on #39
Here’s the entre point for search service (port my be different in your environment) maybe `:5001` with QuickStart Docker)

https://github.com/lyft/amundsensearchlibrary#api-documentation

[2019-09-27 13:44] Mikhail-Ivanov commented on #62
I'd like to take this one if you don't mind

[2019-09-27 16:51] feng-tao commented on #62
@Mikhail-Ivanov all yours :)

[2019-09-30 10:12] Mikhail-Ivanov commented on #62
Related PR:
https://github.com/lyft/amundsendatabuilder/pull/145

[2019-09-30 17:20] feng-tao opened #112 "Add a doc on neo4j table schema"
document how to write your own neo4j table schema.

[2019-09-30 18:03] jornh commented on #112
How is this different than #107?

[2019-09-30 18:20] feng-tao commented on #112
actually same, thanks for spotting it @jornh :)

[2019-09-30 18:20] #112 closed

[2019-09-30 19:24] jornh commented on #112
Haha 😆 well it must mean something if you come to the same conclusion that something is desirable twice!

[2019-09-30 20:33] jornh commented on #70
It looks like this should be able to populate the “GitHub Table source link” on the table detail pages:

https://github.com/lyft/amundsenfrontendlibrary/blob/1.0.7/amundsen_application/static/js/components/TableDetail/index.tsx#L178-L193

The Metadata schema for the optional `Source` attribute on the Table entity is defined as:

https://github.com/lyft/amundsenmetadatalibrary/blob/02ccae36fbc24ca9

[2019-09-30 21:22] jornh commented on #107
From the discussion in https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1569872497220000?thread_ts=1569865635.187900&channel=CGFBVT23V&message_ts=1569872497.220000

In an official demo of lyft’s version of amundsen, I saw a github link on the right panel. Didn’t know this was being automatically populated! We were going to just manually populate it.

- - - -

I’m not sure the GitHub crawler

[2019-09-30 22:15] jornh commented on #107
Now onto the missing part to resolve this issue, as given in the title, it can be broken down into:

1. Document the neo4j table format

2. and how to build a custom extractor/model

## 1. Document the neo4j table format

This is the easy part, at least if we cheat a little and do it by example - and just outsource it by point to some existing artifacts. 🙂 So here we go:

Neo4j is a graph database

[2019-10-01 05:04] jornh commented on #29
If your happy with the job @dependabot does in #115 etc. it looks like this one is resolved?

[2019-10-01 05:18] #29 closed

[2019-10-02 07:05] jornh commented on #101
## Roadmap link

https://github.com/lyft/amundsen/blob/master/docs/roadmap.md#index-druid-tables-and-s3-buckets

[2019-10-03 03:23] rahulraina7 opened #122 "Quickstart Docker issues"
Running on Docker for mac.

Following the quickstart docker file's

Neo4j crashes.

Active database: amundsen.db
Directories in use:
  home:         /var/lib/neo4j
  config:       /var/lib/neo4j/conf
  logs:         /var/log/neo4j
  plugins:      /var/lib/neo4j/plugins
  import:       /var/lib/neo4j/import
  data:         /neo4j/data
  certificates: /var/lib/neo4j/certificates
  run:          /var

[2019-10-03 03:31] rahulraina7 commented on #122
Sorry this is a non-issue , due to line endings on the file.

[2019-10-03 03:31] #122 closed

[2019-10-03 05:14] jornh commented on #107
Now, since the GitHub  xxxxx no crawler ... . so let’s first look at the Databuilder repo at the time of the https://github.com/lyft/amundsendatabuilder/pull/94 PR.

Here’s a rough overall plan [taken from Slack](https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1570043511299600?thread_ts=1569955751.243100&channel=CGFBVT23V&message_ts=1570043511.299600) to inspect the existing simple model a

[2019-10-04 22:09] javamonkey79 commented on #53
@jornh I have amundsen on aws eks + k8s + helm now; I will put up a PR next week with docs; I'm not sure if it will fully fulfill this story, or, if I should put up another one. wdyt?

[2019-10-07 01:07] jornh commented on #53
Great @javamonkey79! I think it should definitely tick the Kubernetes box above (I edited a bit above).

Just push what you think is suitable to cover Kubernetes on it's own and we'll figure the rest out later, when there's some good pieces of content it's easy to shuffle around afterwards if needed.

Right now I'm thinking the list above should end up as just a jump list or "annotated ToC" for wh

[2019-10-07 22:21] javamonkey79 commented on #53
Ok @jornh I've got the PR up [here](https://github.com/lyft/amundsen/pull/125); I've opted to not include the aws setup at this point, as it is tied to our org a bit. I might add it later, if there is enough interest. cc @markgrover @feng-tao

[2019-10-08 17:47] javamonkey79 opened #129 "add example of how to load tag data to sample data loader"
## AC
* Sample data loader would be update to load in tag data from csv
* csv examples would be updated

##
Example data from the front end:
![image](https://user-images.githubusercontent.com/1403289/66419424-f7134400-e9b8-11e9-8f61-d4d4fb66ad0a.png)

[2019-10-08 17:52] javamonkey79 opened #130 "add example of how to load source code data to sample data loader"
## AC
* Sample data loader would be update to load in source code data from csv
* csv examples would be updated

Example from the front end
![image](https://user-images.githubusercontent.com/1403289/66419900-c089f900-e9b9-11e9-8244-d065b97e6646.png)

[2019-10-10 19:47] jornh commented on #60
I’ve personally got no plans to work on this in the foreseeable future. Closing.

[2019-10-10 19:47] #60 closed

[2019-10-10 20:00] jornh commented on #16
@gonzalodiaz maybe the PR https://github.com/lyft/amundsen/pull/125 with a Helm chart will interest you - if you didn’t see it already. I’m sure review input would be welcome!

[2019-10-10 21:16] feng-tao opened #131 "Provide a FE or generic FAQ"
E.g good to mention about how to custom FE CSS to be user's team/company specific CSS, how to custom tool's logo etc.

[2019-10-10 21:17] feng-tao commented on #131
cc @danwom @ttannis
per our today's lunch meeting with Kate

[2019-10-10 21:58] feng-tao commented on #129
hey @javamonkey79 , currently tags are manually entered through UI.  If you click the button, I think you should be able to enter new tag.

If you want to load in batch from csv, I think we need a csv extractor which currently doesn't exist with a tableTag model.

[2019-10-14 16:07] gonzalodiaz commented on #16
@jornh I will definitely do it, once I have some bandwidth.

[2019-10-17 06:51] rahulraina7 opened #136 "amundsenfrontend local build fails"
npm install crashes.

[2019-10-17 07:26] jornh commented on #136
@rahulraina7 - what are exact steps to reproduce? Looks like it's https://github.com/lyft/amundsen/blob/master/docs/developer_guide.md#local-development you follow - but better to be sure. Also any other info you think is relevant regarding your environment (constraints etc.)?

@ttannis any idea what the cause could be? Can you reproduce it?

[2019-10-17 07:52] jornh commented on #136
@feng-tao would it be worth setting up CI (or rather ci/CD?) here in the umbrella ☂ repo?

It could check (some/all?) local development steps above and also spin up up a Quickstart instance and thus check the official Docker Hub images at https://hub.docker.com/u/amundsendev

This also relates a bit to what @friendtocephalopods suggested on Slack the other day with spinning up a e.g. a Neo4j metad

[2019-10-17 19:43] danwom commented on #136
I did some initial investigation and hit some snags. While I continue my investigation, here are my notes:

1. I went through the default docker-compose and deployed without incident.
2. Based on `Step 6/15 : RUN npm install`, it looks like @rahulraina7 is using the older version of the docker file while I am using the newer version (updated by @jornh).
3. I made local changes and started a local

[2019-10-17 19:44] feng-tao commented on #136
we need to pick up @jornh's change and update the docker-compose script version.

[2019-10-17 20:42] cpnat opened #138 "Hierarchical 'data catalogue' navigation within the frontend"
I believe it would be useful to offer alternative navigation options within the Amundsen frontend (as many users will naturally understand data in the way which is structured within the database).

In it's simplest form this would be a hierarchical view (under the 'Browse' page), exposing the existing nodes/relations persisted in Neo4J (Database -> Cluster -> Schema -> Table). This could be extend

[2019-10-17 21:46] danwom commented on #136
Updating local dockerfile to https://github.com/lyft/amundsenfrontendlibrary/pull/316/files fixed `typed-ast` install issue for me.

I went back and checked out the older dockerfile but was unable to reproduce the npm install failure. From what I can tell, this seems to be an NPM and it doesn't seem like our dockerfile specifies a version of npm. I don't know enough about docker to know what the d

[2019-10-18 11:41] Mikhail-Ivanov opened #139 "Add TableOwner sample data to amundsendatabuilder project"
### AC
Sample data loader enriched with TableOwner data

### Desired sample data loading outcome
![image](https://user-images.githubusercontent.com/2134660/67091296-55ac9f00-f1bd-11e9-9f20-7d21e6a0351b.png)

[2019-10-18 11:57] Mikhail-Ivanov commented on #139
Related PR: https://github.com/lyft/amundsendatabuilder/pull/150

[2019-10-19 03:24] jornh commented on #62
@Mikhail-Ivanov and @feng-tao anything else needed to close this with https://github.com/lyft/amundsendatabuilder/pull/145 merged?

[2019-10-20 04:38] feng-tao commented on #62
yeap

[2019-10-20 04:38] #62 closed

[2019-10-21 04:26] #139 closed

[2019-10-21 04:49] feng-tao commented on #130
the issue could be closed with @samshutster's pr

[2019-10-21 04:49] #130 closed

[2019-10-21 04:50] feng-tao commented on #109
@jornh could this issue be closed now?

[2019-10-21 05:12] jornh commented on #109
Merge of PR #123 is set up to automatically close it. So we’re close now with FE 1.1.0 tagged and pushed to docker!

[2019-10-21 05:42] jornh commented on #129
Alternatively to introducing a tableTag model it looks like one could use the already existing optional parameter here:

https://github.com/lyft/amundsendatabuilder/blob/1.4.8/databuilder/models/table_metadata.py

[2019-10-22 00:10] samshuster commented on #63
pull request: https://github.com/lyft/amundsendatabuilder/pull/152

[2019-10-22 00:17] feng-tao commented on #63
nice, thanks

[2019-10-22 00:17] #63 closed

[2019-10-22 05:30] jornh commented on #70
This could update:
* TableOwner as shown in #139 (with owner based on latest committer for each source file)
* Source as shown in #130 (if configured with git root path for SQL source files)

@feng-tao is this what you hand in mind as specification?

Illustration from #139:

![](https://user-images.githubusercontent.com/2134660/67091296-55ac9f00-f1bd-11e9-9f20-7d21e6a0351b.png)

Illustration from

[2019-10-22 12:13] JeroenSchmidt opened #145 "Error with Example in Documentation"
Python: 3.6.7
Docker-Compose: 1.24.1, build 4667896b
OS: Ubuntu 1.24.1, build 4667896b

I am running through the example provided in the [documentation](https://github.com/lyft/amundsen/blob/master/docs/installation.md).

I get an error when I run `python3 example/scripts/sample_data_loader.py`

[code]

[code]

Within the amundsen UI I can see test_table1 under the popular section of the homepage

[2019-10-22 13:04] Mikhail-Ivanov commented on #129
@jornh probably you've meant this parameter:
https://github.com/lyft/amundsendatabuilder/blob/4d69b6afc4689193ab42346da4b4e6a456fca703/databuilder/models/table_metadata.py#L137

But yes, I think that existing domain model already supports tags. Created PR for this issue

[2019-10-22 16:31] jornh commented on #129
Yep, you’re absolutely right! Didn’t spot I hit the column related class. That’s what happens when you look at code before coffee ☕️;)

[2019-10-22 17:38] jornh commented on #145
So, looks like you Neo4j container is running as it should but your Elasticsearch isn’t

Does https://github.com/lyft/amundsen/blob/master/docs/installation.md#troubleshooting help in your environment

If not, what does the docker logs reveal?

[2019-10-23 05:51] #129 closed

[2019-10-23 13:36] Mikhail-Ivanov opened #146 "Make "Owned By" section items clickable like "Frequent Users" entries"
Table documentation contains two sections with user emails: OWNED BY and FREQUENT USERS

![image](https://user-images.githubusercontent.com/2134660/67397591-70668580-f5ba-11e9-9738-49b35a41be99.png)

First one represents text as simple labels while second - as clickable links.
As a user I'd expect similar behavior for the both sections.

P.S. for my test application setup links lead to nowhere, ma

[2019-10-23 19:24] samshuster opened #147 "Programmatic and Manual pathways for table and column descriptions"
### Overview
As a data engineer, there are quite a few properties that we can extract programmatically that are currently not supported by amundsen as first class properties in the UI. For some of these properties that are likely widely useful, I can understand creating issues to ingest them so that they appear in the panel on the right. However, some of these properties are very company specific

[2019-10-23 22:42] jornh commented on #147
#### On table level

For the User model in databuilder, I noticed it already takes an optional kwargs parameter: https://github.com/lyft/amundsendatabuilder/blame/1.4.10/databuilder/models/user.py#L62 so you can give keynames that can double as field description(s) in the UI and values

I'd imagine something similar could be added to the Table model in https://github.com/lyft/amundsendatabuilder/b

[2019-10-24 10:51] Mikhail-Ivanov opened #148 "Prevent empty table tags appearance if no tags specified"
Follow-up for the issue lyft/amundsen#129
Empty tags should not appear.

![image](https://user-images.githubusercontent.com/2134660/67477912-158d6680-f66c-11e9-86c8-50c5b1f59c0d.png)
![image](https://user-images.githubusercontent.com/2134660/67478036-571e1180-f66c-11e9-822e-fd409cdb58a1.png)

[2019-10-24 17:05] jornh commented on #145
@JeroenSchmidt were you able to investigate further on this?

On re-reading your error post I now see that you infact _did_ post docker compose output! (on first response I overlooked your `# within the docker compose terminal` comment, and read it as output from the databuilder run which can look quite similar, sorry) I added an edit in my https://github.com/lyft/amundsen/issues/145#issuecomment-

[2019-10-24 17:44] jornh commented on #136
@rahulraina7 any news/input?

To add a bit to @danwom's suggestion/request re. NPM version in https://github.com/lyft/amundsen/issues/136#issuecomment-543375166 just above I guess the answer would be that it's the one that is inside your `node:8` image ...

For comparison I just ran `docker run -v node:8 npm version` which pulled a fresh node:8 (because I had nuked any old docker node:8 images bef

[2019-10-24 17:50] #148 closed

[2019-10-24 20:05] feng-tao opened #149 "Support wildcard search in both category search and normal search"
cc @ttannis

[2019-10-24 20:05] feng-tao commented on #146
cc @danwom let Daniel comment.

[2019-10-24 20:19] danwom commented on #146
This is something that we've thought about internally as well. The `frequent users` are generated by ingesting usage data, so we know these entries exist as users in our graph. Table `owners` on the other hand, are largely populated manually with no validation. Sometimes the listed owners are teams, aliases, or even misspelled. These entries don't exist in our graph and would result in a 404 upon

[2019-10-24 22:30] samshuster commented on #147
thanks for the detailed thoughts @jornh!

If I understand you correctly, we should be able to use the kwargs of the TableMetadata model (looks like there is already one there with the comment:
`:param kwargs: Put additional attributes to the table model if there is any.`)
to ingest other programmatic data.

I will take a look at this tomorrow hopefully and see how it works and get back to this iss

[2019-10-27 00:52] abhishenator opened #150 "Support search by table and column descriptions"
Hello,

I would imagine that search on text(descriptions, etc) is the most basic thing that would be supported by Amudsen as it uses Elasticsearch. Though I don't see this simple search functionality being supported currently(at least not clear from documentation and high-level glimpse at the code). Amudsen could have used a key-value store or SQL DB to store the metadata if it is not supporting s

[2019-10-27 01:03] abhishenator commented on #150
Looks like this is supported. Though, when I edit description from UI, that description does not become effective for search.

[2019-10-27 05:56] feng-tao commented on #150
It is supported, but it depends on when the search index/document is built.

[2019-10-27 07:48] abhishenator commented on #150
Thanks Feng! Does the index rebuild happen automatically?

[2019-10-27 14:09] jornh commented on #150
@abhishenator is does not happen automatically - yet!

Updates (from the front-end UI) of `Description`, `Tag`, and now that I think of it also `Owner` fields only update the metadata, but not the search service.

So this issue is essentially just a variation of #52 with the same fix with re-running the ES update job as mentioned in https://github.com/lyft/amundsen/issues/52#issuecomment-500339360

[2019-10-27 21:24] samshuster commented on #147
Ok @jornh I looked into it a bit today and I was able to get table kwarg properties into neo4j as extra properties of a given node. However, nothing showed up in the table ui. Looking through the frontend code, unless I am missing something, I don't see how these extra properties get wired up to the frontend code even for User (I know next to nothing about frontend though so me missing something c

[2019-10-28 07:25] abhishenator opened #153 "Sample snowflake data loader getting hung"
Using following command and it gets hung. Pressing Ctrl+C gives me stacktrace telling what function is being blocked:

[code]

Also, there was a minor bug in the import: `from urllib import unquote_plus` must be `from urllib.parse import unquote_plus`

[2019-10-28 09:32] Mikhail-Ivanov commented on #146
@danwom thank you for the explanation!

For now I've pushed PR without users validation: will check Amundsen user search API and think about verification approach a little bit later (initial impression - there is no strict email validation, similar emails considered as search hits).

[2019-10-28 11:32] morpheyesh opened #154 "Implementation of pagination for UserFollowAPI"
`get_table_by_user_relation` which is called in the get request of both UserFollowAPI and UserOwnAPI to fetch tables based on the user relation will need to have pagination implemented.

`get_frequently_used_tables` of the UserReadAPI has an upper bound limit of 50 hardcoded in the query currently and would require pagination as well.

[2019-10-28 20:16] samshuster opened #158 "Add table_stats to sample data loader"
# Acceptance Criteria

example table_stats is added to sample data loader so we can see stats for a few tables when starting up amundsen.

[2019-10-28 22:05] danwom commented on #146
@ttannis how do you feel about making table owners clickable without validation? I'm a bit hesitant since that might end up with a bunch of broken links that hurt trust.

[2019-10-28 22:55] samshuster commented on #158
https://github.com/lyft/amundsendatabuilder/pull/159

[2019-10-28 23:49] jornh commented on #158
BOOM! That was quick - guess you just beat Dave C to the finish line. And that this issue can be closed -though I must admit I liked his 🙊 stats better!

[2019-10-28 23:53] feng-tao commented on #158
thanks @samshuster for the contribution. The change is merged.

[2019-10-28 23:53] #158 closed

[2019-10-29 00:12] ttannis commented on #146
Couple thoughts:
1. I don't know if there would be broken links, so much as empty profile pages. I *believe* that since there is no validation, entering some incorrect owner email actually create a user node for them...so they would then end up having a profile page.
2. I'm not sure there is a quick fix here, historically a lot of the features around ownership were workaround after workaround -- a

[2019-10-29 00:58] abhishenator commented on #153
Actually, I had 2500 tables. It just took a long time and it eventually finished. Closing this out.

[2019-10-29 00:58] #153 closed

[2019-10-29 02:39] samshuster commented on #158
@jornh ah the 🐵 stat was much better!
I checked in with Dave C before hand to make sure he wasn't putting out a PR today, so went ahead and did it. Hopefully didn't step on anybody's toes.

[2019-10-29 06:33] #109 closed

[2019-10-29 07:25] jornh commented on #153
Good to have logged here for “knowledge base”.

Just for the record - with 2500 tables (and how many columns) roughly how long did it take?

Also - would be great if you could push a PR with your Py 3 import issue!

[2019-10-29 07:26] jornh commented on #158
Great team spirit there!

[2019-10-30 03:42] feng-tao commented on #146
I am +1 on moving forward for the pr as well.

[2019-10-30 06:25] Mikhail-Ivanov commented on #146
@ttannis accidental creation of new user nodes sounds like an harmful side effect...

@feng-tao in that case a new issue item regarding owners validation can be populated. I'm going to look into it but haven't had the opportunity yet

[2019-10-30 19:43] djcoder100 opened #160 "Pluggable graph database to support Janus"
Is it possible to plugin in another graph implementation like Janus https://janusgraph.org/ as the meta data catalogue or is the architecture tied to Neo4j

Reasons for this is we have Janus incorporated already into our stack and wanted to stick one graph database for operational support.

[2019-10-30 20:26] jinhyukchang commented on #160
Hey @djcoder100

Is there any chance that Janus support Cypher? If that is the case, it would be doable project.
If not, both metadata service and databuilder need to support Janus which is actually fine per architecture perspective but it just needs some work.

Thanks!
Jin

[2019-10-30 21:44] #110 closed

[2019-10-31 03:15] feng-tao commented on #160
cc @verdan , also Atlas uses janus as the backend which ING team is leading the integration between Amundsen and Atlas the backend.

[2019-10-31 03:16] feng-tao commented on #160
but as @jinhyukchang mentioned, you could build a proxy layer like the other one(neo4j, atlas proxy) in the metadata repo to support the integration.

[2019-10-31 07:21] jornh commented on #45
## Roadmap link

https://github.com/lyft/amundsen/blob/master/docs/roadmap.md#versioning-system

[2019-10-31 20:43] jornh commented on #160
Related thread on slack: https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1570561231404600

[2019-10-31 20:57] quondammelody commented on #160
tl;dr from the thread, yes! We (Square) are planning to add a gremlin proxy in the near future (maybe in a few weeks?) and open source that, so it should be totally compatible with janusgraph (or Neptune, etc).

[2019-10-31 21:25] friendtocephalopods commented on #160
tl;dr from the thread, yes! We (Square) are planning to add a gremlin proxy in the near future (maybe in a few weeks?) and open source that, so it should be totally compatible with janusgraph (or Neptune, etc).

[2019-11-01 07:00] rahulraina7 commented on #136
Sorry, somehow I cannot reproduce this. I am not sure what changed.

[2019-11-01 07:00] #136 closed

[2019-11-01 14:20] markgrover commented on #50
@ttannis @danwom do you have any thoughts here? Would really appreciate your help.

[2019-11-01 19:07] feng-tao opened #163 "[DESIGN] Table Lineage Support in Amundsen"
We have couples of requests in the past to discuss supporting table lineage natively in Amundsen. Let's consolidate into this single issue ticket.

Currently Amundsen doesn't provide an end-to-end support for table lineage. It assumes there is an external lineage UI(e.g vendor or Apache Atlas UI) and links the page in Amundsen table UI through a [config](https://github.com/lyft/amundsenfrontendlib

[2019-11-01 23:21] danwom commented on #50
Customizing the frontend currently requires a rebuild and redeploy.

I can see the use case for a config API, but even that will have great limitations. For example you wouldn't be able to customize any of the colors, fonts, or images. Additionally some of our configs are set as JavaScript functions (generating the Explore SQL link for example), so you can't simply serve some JSON from an API. Tho

[2019-11-02 00:49] ttannis commented on #50
To add to Daniel's comment, I'd like to highlight a specific concept -- the desire to use the pre-built React application source **and** be able to customize it are concepts that don't fit well together because the customizations need to be in place before the React application source is built so that they can be included.

This is why we don't use the pre-built source at Lyft, and why we used to

[2019-11-04 05:04] feng-tao commented on #150
I think calling search from metadata would not be a prefer way. We could do it in FE side .

[2019-11-05 16:44] feng-tao opened #166 "Support swagger in metadata repo"
@swatro implements the change in search in https://github.com/lyft/amundsensearchlibrary/pull/60 which is very useful for other users to understand search API. We should do the same for metadata which is also for consistent purpose.

[2019-11-05 18:47] feng-tao commented on #145
@JeroenSchmidt let us know if the issue still persists.

[2019-11-07 06:01] feng-tao opened #169 "Update application model"
Currently the application model(https://github.com/lyft/amundsendatabuilder/blob/master/databuilder/models/application.py) is too tight with:
1. assume Airflow as application
2. assume task_id is hive.schema.table

We should extend it.

[2019-11-07 10:44] JeroenSchmidt commented on #145
@feng-tao I haven't had the time again to look into it better. I will try get back to you next week with more information.

[2019-11-07 13:59] Mikhail-Ivanov commented on #146
After some time spent on investigations I didn't find a handy approach for owners validation, checking whether the owner is a user or not (for instance creating a new table owner from modal dialog results into a new Neo4j node of User type).

If we had some additional field to distinguish users and owners at DB layer we could add it to User and PeopleUser interfaces. Then it would be fetched into

[2019-11-10 23:19] jornh commented on #169
Great @feng-tao that you already did the the generalizations mentioned above in https://github.com/lyft/amundsendatabuilder/pull/166

One thing the current Neo4j models does not support is describing the relationship of data going *into* an application. That would be useful/needed to build full lineage involving the transformations happening between tables/datasets.

There are multiple ways this c

[2019-11-12 18:29] #146 closed

[2019-11-12 18:37] feng-tao opened #175 "Update readme with new design UI/UX mock"
Currently @danwom and @ttannis are reworking the table and search page based on V2 UX design mock. Once the change is in, we should update the repo rename with the new mock.

[2019-11-13 17:27] hinnefe2 opened #176 "Swagger example for POST /document_table in search service generates 500 INTERNAL SERVER ERROR"
First of all, thank you for open-sourcing this tool, it looks really neat!

I'm running into an issue with the search service: when I try to POST to /document_table using the example from the Swagger docs it generates a 500 INTERNAL SERVER ERROR response.

In case it's relevant, these tests were all done after running `docker-compose -f docker-amundsen.yml up` and loading the sample data with `pyt

[2019-11-14 20:02] javamonkey79 opened #177 "helm deployment does not allow for private image"
Currently, the helm deployment template forces a templated path, for example:

[code]

But, if a user wants to provide an image from a private repo (e.g. dkr), then there is no way. Further, the frontendservice image has the version locked.

Fixes:
1. A new variable should be checked and used, in case the full image is provided
2. The frontendservice version should be variable

[2019-11-14 20:43] javamonkey79 commented on #177
PR here https://github.com/lyft/amundsen/pull/179

[2019-11-14 21:20] feng-tao commented on #177
thanks @javamonkey79 , change is merged.

[2019-11-14 21:20] #177 closed

[2019-11-15 07:04] feng-tao commented on #176
cc @swatro
currently we are a bit hand full. If you have time to help take a look(even submit a pr to fix), that will be great. Otherwise we will take a look once we get to it.

[2019-11-18 19:02] djcoder100 commented on #160
That would be great to see a short write up as Janus is what we would like to integrate as then we can standup in gcp cloud using big table as a storage layer for scale.

[2019-11-21 00:00] javamonkey79 opened #186 "provide first class support for csv ingestion"
Currently, we have to use sample data loader, to ingest via csv. We'd like to see first class support for this, mostly to remove the need for SQL alchemy.

[2019-11-21 00:22] javamonkey79 commented on #186
@feng-tao we want to move away from sample data loader and this is the first step. I think we might want to consider retiring it altogether, or, providing an alternate sample loader that does not use SQL alchemy. I have this done locally, but, not sure if it would be confusing. wdyt?

[2019-11-25 22:28] jornh opened #190 "Add .dockerignore on node_modules in frontend"
Related discussion on slack: https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1574720082112100?thread_ts=1574272576.048700&channel=CGFBVT23V&message_ts=1574720082.112100

tl;dr I just realized we could add a docker ignore to make sure that even though `node_modules` contains garbage from failed attempts we might always get clean builds with the Docker based local build.

Benefit: One step c

[2019-11-26 03:55] javamonkey79 commented on #186
Closing this now that the PR is merged.

[2019-11-26 03:56] javamonkey79 commented on #186
Actually, need data builder pushed to pypi...

[2019-11-26 06:13] feng-tao commented on #186
https://github.com/lyft/amundsendatabuilder/pull/174, waiting for coworker for a +1 :) will push to pypi once done

[2019-11-26 22:58] feng-tao commented on #186
@javamonkey79 the latest databuilder version is released and pushed to pypi. Thanks :)

[2019-11-26 22:58] #186 closed

[2019-11-26 22:59] javamonkey79 commented on #186
Super! Thanks @feng-tao 🙇

[2019-11-27 21:44] javamonkey79 opened #193 "lift sample csv loader job creation from example"
The code in sample csv loader and sample data loader creates jobs nicely, and, would be quite useful for plug and play ETL purposes. The main idea here, is to split up the job creation logic out of /amundsendatabuilder/example/scripts/sample_csv_data_loader.py and move the logic into classes that can be used by other ETL jobs.

[2019-11-27 22:43] javamonkey79 commented on #193
@feng-tao FYI, I've put up a PR for this... have a great holiday!

[2019-12-02 19:21] javamonkey79 commented on #193
@feng-tao can you have a look?

[2019-12-06 23:43] javamonkey79 opened #196 "open source amundsen neo4j backup scripts"
### AC
- there will be scripts provided that allow amundsen neo4j data to be backed up (on a schedule) to cloud provider blob storage. aws s3 makes the most sense, and if others need other providers (e.g. azure), then they can provide an extension to this functionality
- once these scripts are established, we should extended them to the k8s setup as well

[2019-12-07 00:01] javamonkey79 commented on #147
@feng-tao @markgrover @jinhyukchang we could really use your insights on this one. idk if it would be best to bring this up at the next community meeting, or, best to solicit this on slack, or, just submit a PR.

Overall, I think this could be adopted without too much disruption. What it would take:
- on the backend: a new table field (lets call it "noneditable_description" for simplicities sake)

[2019-12-09 05:41] #150 closed

[2019-12-10 18:11] nikshepsvn opened #199 "Feature: Commonly Joined Against Tables"
The high-level objective of this feature is to provide visibility into which tables are commonly joined against each other.

My current mental approach for implementing this (for SQL based databases at-least) is as follows:

1. Obtain SQL Query log for DB in question. ex: For Redshift we can query `STL_QUERY_LOG`, Postgres Logs can be enabled by setting `log_statement` to true and then ingested

2

[2019-12-10 18:47] markgrover commented on #199
Love it. It'd be good to get this validated with a few users, I can do this at Lyft. I think it'd be good to:
1. List tables in descending order of how often they were joined
2. Cap the number of tables shown to 5.

What do you think?

[2019-12-10 19:33] nikshepsvn commented on #199
Thanks a bunch! I appreciate it. I agree with both those points, sorting and capping it will definitely make the data more digestible for the user.

I was also thinking of maybe allowing users to preview those top 5 queries in the UI, to get a better idea of how the data is being used -- but that can come later maybe, after we have a base version of this functional.

[2019-12-10 20:34] markgrover commented on #199
Agreed queries will be helpful and that they can come later.

[2019-12-11 15:06] jeqo commented on #85
Not sure if schema-registry will be a valid source as in latest versions schemas are not anymore uniquely linked to one topic https://docs.confluent.io/current/schema-registry/serializer-formatter.html#sr-avro-subject-name-strategy.

I'd prefer a `kafka-topic-metadata-extractor` that uses Admin client to gather topic metadata.

Would this work with current data model, mapping a kafka topic as a ta

[2019-12-11 19:02] jakemongaya opened #200 "Fix HiveTableMetadataExtractor col_sort_order when table has multiple partitions"
When table is having multiple partitions(year,month,day), the col_sort_order is having the same rank.
By introducing a PARTITION_OFFSET_INDEX, the sorting will show partitions in the top rows followed by the column rows.

[2019-12-11 21:03] feng-tao commented on #200
cc @jinhyukchang

[2019-12-12 00:54] jinhyukchang commented on #200
@jakero12 Sounds good to me!

[2019-12-12 01:03] jakero12 commented on #200
@jinhyukchang cool! I will work and test this hopefully by end of this week.

[2019-12-12 12:04] #145 closed

[2019-12-12 16:31] nikshepsvn commented on #199
Hey @markgrover, wondering if you have any updates on this. Would love to get started on this as soon as I can :)

[2019-12-12 17:17] markgrover commented on #199
Sorry didn't realize you were waiting on me. Your plan looks great to me,
this would be a great contribution. Just let's sort them based on join
frequency and cap it to 5. Let me know if there's anything else I can help
with.

On Thu, Dec 12, 2019, 8:31 AM Nikshep Svn <notifications@github.com> wrote:

[2019-12-12 18:20] feng-tao commented on #85
@jeqo I think it needs a new model for kafka topic .

[2019-12-13 02:40] feng-tao opened #202 "Move common shared file to amundsencommon"

[2019-12-14 06:39] feng-tao commented on #196
cc @jinhyukchang
Hey Jin, could you help @javamonkey79 ? Thanks. Given it is almost holiday season, I am not sure if we could do it in 2019.

[2019-12-14 06:41] feng-tao commented on #147
@javamonkey79 not sure if everyone sees the discussion in the issue, would you mind posting above into the slack channel so that everyone could take a look? Thanks.

[2019-12-16 19:16] javamonkey79 commented on #147
hi @feng-tao yes, I'll solicit feedback there

[2019-12-16 21:09] javamonkey79 commented on #193
@feng-tao this shouldn't be stale, but, needs some attention

[2019-12-16 23:46] javamonkey79 commented on #147
There was some discussion in slack about this today. The general consensus is that, instead of just 2 description sections, we should allow for N description sections and whether or not the section will be editable or not would be set as a property of that section. This solution would be quite versatile, and should fit everyones needs. However, it comes with a bit of cost, namely complexity.

Here

[2019-12-19 00:31] #175 closed

[2019-12-19 02:43] jornh opened #208 "Add Quickstart sample data for badges"
What got introced in https://github.com/lyft/amundsenmetadatalibrary/pull/91 and frontend 1.2.0 should have sample CSV data load

**AC**: Amundsen README screenshot is updated to showcase real life badges reflecting Roadmap mockups linked from https://github.com/lyft/amundsen/blob/master/docs/roadmap.md#search--resource-page-redesign

A follow up to this could be to update the roadmap.md to reflec

[2019-12-19 04:48] feng-tao commented on #208
thanks @jornh

[2019-12-20 00:34] javamonkey79 commented on #147
@ttannis I've been thinking about this some more, and based on the backing neo4j structure, it would appear to be possible to assign multiple description nodes for each table. The only issue with this approach, is that we would need some ordering id assigned to each description. Further, we would also likely want to set a new flag on each description node "editable" which could then be propagated

[2019-12-20 06:24] eastTowest opened #210 "amundsenfrontend on ECS not connecting to es & neo4j"
followed the steps on [installation-aws-ecs/aws-ecs-deployment.md](https://github.com/lyft/amundsen/blob/master/docs/installation-aws-ecs/aws-ecs-deployment.md) and I see all containers running just fine on ECS. However amundsenfrontend is not showing the sample data that I populated in elasticsearch and neo4j running in the same ECS cluster.

`CloudWatch shows  `raise Exception('AUTH_USER_METHOD

[2019-12-20 07:06] feng-tao commented on #210
I would suggest ask the question in our slack as Lyft currently doesn't use ECS for deploy. The community may have more idea on what is happening.

[2019-12-20 14:32] Mikhail-Ivanov opened #211 "Amundsen Notifications functionality could be improved"
I've tried to configure it recently and faced a couple of issues (to my mind):

1. **Request Description** button (RequestDescriptionText component which makes RequestMetadataForm visible on click) actually is hidden even for tables with empty description. I believe it could be visible for any table description content because by default it's turned off already with notificationsEnabled setting:
`

[2019-12-20 19:53] ttannis commented on #147
That sounds good on my end. The descriptions would be rendered according to the ordering id -- with what we currently know as `description` being the first one.They would be rendered in order on the table detail page, and support markdown if they are editable.

My current thoughts are:
1. Our APIs between metadata and frontend for getting and editing descriptions will have to change, so I'd be int

[2019-12-20 23:22] javamonkey79 commented on #147
@ttannis

What needs to be talked about? I think it would need to be updated per the new logic, but, that's about it. Did I miss something?

We'd just need to update the logic that populates elasticsearch to look at all description nodes, instead of the one. Or, is there more to it?

[2019-12-21 21:19] markgrover commented on #147
Thanks @javamonkey79 for this, and @ttannis for all your help. Would love to see this problem to be fixed, let me know if there's something that I can help with.

[2020-01-06 20:43] #210 closed

[2020-01-07 20:53] verdan commented on #50
With the new logo of Amundsen coming, white-labeling I can understand, the themes, fonts etc. but defining the feature flags, keys, parameters etc., as frontend config is something I am not in favor of.

I would still like to have the feature flags like the followings coming directly from the backend.
[code]

[2020-01-09 11:05] Mikhail-Ivanov commented on #211
PR has been already prepared so I guess it can be merged soon

[2020-01-09 16:33] makatony opened #217 "Quickstart: Add hint to EOL for neo4j.conf for windows users"
For the quickstart installation.md I suggest to add a hint like "windows users: make sure the neo4j.conf file has EOL set to unix style LF, not windows style CRLF. Read more here on how to automatically checkout correctly: https://www.edwardthomson.com/blog/git_for_windows_line_endings.html"

otherwise During the quickstart using "docker-compose -f docker-amundsen.yml up" the neo4j container exits

[2020-01-11 16:19] jornh opened #224 "Document the OIDC docker images"
Document that Docker images exist (as part of the OIDC doc page?) which includes OIDC config for authentication

A follow up to https://github.com/lyft/amundsenfrontendlibrary/pull/352 and the similar PR in the amundsenmetadata repo

This is - also - a `good first issue` for someone who successfully managed to spin up Amundsen using these images.

[2020-01-17 07:24] rsyi opened #234 "[amundsen-kube-helm] Kubernetes neo4j setup bug"
Hey amundsen team!
First of all, thanks for open-sourcing this project. Really excited to see where this goes, and hope I can make some contributions once I gain some familiarity with the codebase.

Found a small issue when installing neo4j:
`helm install templates/helm/neo4j --values ./amundsen-values.yaml --generate-name`
throws the following error:
`Error: validation: chart.metadata.version is

[2020-01-17 08:48] darensin01 opened #235 "PostgreSQL sample DAG bug?"
Thanks to Tao Feng's tips on Slack, I managed to find the appropriate DAG script for my use case for PostgreSQL! However, I made some changes to `amundsendatabuilder/example/dags/postgres_sample_dag.py` along the way.

Line 76 should be:
`where_clause_suffix = textwrap.dedent("""where table_name in {schemas}""").format(schemas=SUPPORTED_SCHEMA_SQL_IN_CLAUSE)`

* The `.format(...)` part was missing

[2020-01-17 17:39] feng-tao commented on #166
fixed by @dmateusp , the issue is now closed. Thanks @dmateusp for your contribution :)

[2020-01-17 17:39] #166 closed

[2020-01-17 20:39] feng-tao commented on #235
feel free to create a pr for us if you found a bug. I didn't keep track of all the sample script/dags :)

[2020-01-17 20:40] feng-tao commented on #234
cc @javamonkey79

[2020-01-17 20:41] feng-tao commented on #234
thanks @rsyi for reporting this issue :) tag Shaun @javamonkey79

[2020-01-17 20:58] javamonkey79 commented on #234
@rsyi can you post your amundsen-values.yaml file pls?

[2020-01-17 22:55] rsyi commented on #234
No problem. Yes absolutely! Blocked out my dev dnszone, but otherwise this is it:

[code]

[2020-01-17 23:56] javamonkey79 commented on #234
OK, so, I was able to reproduce this by upgrading my version of helm. Seems that there are some changes in helm 3 that are not compatible with what we have.

My recommendation would be to use helm 2.x for now and someone will need to contribute an update such that this is helm 3 compatible.

If you're on mac, you can install helm2 with:
[code]

Also, if anyone wanders down the pathway of upgrading

[2020-01-17 23:59] javamonkey79 commented on #234
Also @rsyi you can try the command more vanilla...

I think that last argument could be the source of the issue:
[code]

cmd 1 is yours and won't work on helm2 but works on helm3, so, maybe try and run it without the `--generate-name` arg...

[2020-01-18 02:59] rsyi commented on #234
Ah yes that's it. I'm on helm v.3.0.2.

Unfortunately, running the command without `--generate-name` arg with helm 3 throws the following errror:

[code]

which got me started on this whole mess.

Thanks for looking into this! I'll make a PR with an update to the docs.

[2020-01-21 23:02] #211 closed

[2020-01-22 21:16] javamonkey79 commented on #196
@jinhyukchang @feng-tao update?

[2020-01-22 21:29] javamonkey79 commented on #196
So, the main thing I'd like to know, is: is it sufficient to simply take a copy of the disk contents? To be able to take an actual backup through the neo4j commands requires enterprise afaik. I am trying out taking disk based snapshots now, but, I am not sure if it will work. Do the Lyft folks know?

[2020-01-22 22:00] jinhyukchang commented on #196
@javamonkey79 In Lyft, we use APOC to dump data and schema which can be done w/o taking down the DB) and then upload to S3. Copying db file could work, but I was afraid of possibility that it might dump the file when state is not consistent.

https://neo4j.com/developer/neo4j-apoc/

[2020-01-22 23:13] javamonkey79 commented on #196
@jinhyukchang super, thanks, I'll check out apoc then.

[2020-01-22 23:18] benjaminjack opened #241 "Database icons do not render in Firefox"
The database icons for different tables (hive, postgres, etc.) do not render in Firefox on any pages in Amundsen. If I navigate to the path of the icon itself ('/static/icons/hive-icon.svg'), the icon renders when viewed directly. This makes me think that there's nothing wrong with the SVG icons themselves, but some kind of JS error that's preventing the icons from rendering correctly on the front

[2020-01-23 00:59] jinhyukchang commented on #196
Actually, this link would be better.
https://neo4j.com/docs/labs/apoc/current/export/

[2020-01-23 18:27] feng-tao commented on #241
not sure why that's the case, but let me tag @danwom or @ttannis in case they know any other reasons.

[2020-01-23 20:07] ttannis commented on #241
We're aware of the issue but it has been sitting in our internal backlog because ~98% of our users internally use Chrome.

But if anyone wants to help pick this up since we can't guarantee it will ever get prioritized any time soon, I would suggest starting at our [icon styles](https://github.com/lyft/amundsenfrontendlibrary/blob/master/amundsen_application/static/css/_icons.scss#L59-62) and we wi

[2020-01-24 01:21] benjaminjack commented on #241
I investigated this a bit, but I think there are two issues. One is how Firefox treats `content` attributes and the `<img>` tag. Firefox does not support this attribute at all with images. This affects the hive table icon. I've reproduced the issue here: https://jsfiddle.net/Lbxhq8no/

Not sure how to address fixing this unless the underlying HTML tag is changed from `<img>` -> `<div>` or somethin

[2020-01-24 04:02] sandeshvijayraj opened #243 "fetch_table_search_results_with_field fails for empty string"
fetch_table_search_results_with_field function of elasticsearch.py in amundsen search fails BCS it doesn't have a test for empty string as fetch_table_search_results has can this be implemented to avoid an error.

[2020-01-24 04:03] sandeshvijayraj opened #244 "fetch_table_search_results don't have wildcard enabled"
fetch_table_search_results don't have a wildcard enabled as fetch_table_search_results_with_field has can this be enabled so that both search api behaves in a similar way

[2020-01-24 14:12] samshuster commented on #208
going to take a look at this one

[2020-01-24 14:23] samshuster opened #246 "BUG: docker-compose -f docker-amundsen-local.yml up"
Local up fails due to requirements file rename.

ERROR: Service 'amundsenfrontend' failed to build: COPY failed: stat /var/lib/docker/tmp/docker-builder496511433/requirements3.txt: no such file or directory

[2020-01-24 14:24] samshuster commented on #246
simple fix for this coming soon

[2020-01-24 14:28] samshuster commented on #246
https://github.com/lyft/amundsenfrontendlibrary/pull/378

[2020-01-24 17:20] feng-tao commented on #246
thanks @samshuster , pr is merged!

[2020-01-24 17:20] #246 closed

[2020-01-24 17:22] feng-tao commented on #235
change is merged!

[2020-01-24 17:22] #235 closed

[2020-01-24 19:29] samshuster commented on #208
ok it turned out to be a bit more involved then I thought! Perhaps I missed something.

https://github.com/lyft/amundsendatabuilder/pull/185

[2020-01-24 20:48] ttannis commented on #19
https://github.com/lyft/amundsen/pull/206

[2020-01-24 20:48] #19 closed

[2020-01-24 21:59] samshuster commented on #147
Just writing here that I am going to take a stab at this to at least get some more clarity on what could be done. I imagine that my thoughts below are not going to be the final solution because I am sure I am missing important details.

So my thoughts are that it might be easiest that we just keep the existing description node as the human editable one, and then add a list of programmatic uneditab

[2020-01-25 04:10] rsyi opened #247 "ES instance (on an ubuntu ec2 instance) fails due to max file descriptors being too low."
Full log:

[code]

Dropping this here for transparency -- managed to fix it by setting ulimits explicitly in the dockerfile for the ES instance.

[2020-01-25 23:23] benjaminjack commented on #241
Here's one possible solution that does not require modifying the underlying `<img>` tag:

https://jsfiddle.net/2geto8by/

It's still not quite a fix for the issue though because you need to know the width of the image in order to set the padding correctly.

[2020-01-27 15:57] samshuster commented on #147
A couple of other thoughts that came up since working on it on Friday.

I think we should get rid of description_order as part of data loader as that seems like we are coupling presentation logic to the data. Instead, I think the frontend should be configurable to display the different descriptions based on the "description_source" (where is this description metadata coming from? i.e. s3_scraper,

[2020-01-27 18:47] danwom commented on #241
Thanks for investigating @benjaminjack. I can take another look and push a PR sometime this week or next. As a last resort we can just use the `<img src="path"/>` as that will be most widely supported.

[2020-01-28 01:47] samshuster commented on #147
Hey @javamonkey79 @ttannis, as promised I made some headway on this and was able to get a very early stages prototype together here:

![Screen Shot 2020-01-27 at 5 39 56 PM](https://user-images.githubusercontent.com/2099463/73228657-23033280-412c-11ea-8ffe-28a0bd6ce4cc.png)

This contrived example shows 2 different sources of metadata (s3 status and quality report) that now populate dedicated boxe

[2020-01-28 02:39] ttannis commented on #147
@samshuster do you have any branches that you can share with this, it's alright if things aren't clean or perfect.

[2020-01-28 15:10] samshuster commented on #147
sure thing @ttannis I will get up some WIP branches for all of the modules that had to be touched... basically all of them! I imagine that there will be some major rework that is asked by you guys, so no worries there.

NOTE: I didn't bother with search at this point, I figure that can be a separate story down the line to index these new datapoints. But happy to try and do it if you feel different

[2020-01-28 15:52] samshuster commented on #147
ok @ttannis you can check out the above WIP MRs. Let me know if you have any questions!

[2020-01-28 19:19] jinhyukchang commented on #147
It seems it first started with un-editable description, but now it became generic metadata. I understand the value of being flexible, but on the other side, I am afraid most of new metadata will be just go through this model, not being captured as a new use case. (And also, we would need control on which metadata should be indexed in search service or not which adds more complexity).

In other wor

[2020-01-28 19:37] samshuster commented on #147
hey @jinhyukchang I guess this is an aged old question flexibility vs explicit. You raised some great points!

Here are some of my thoughts for why I believe there will always be a use case for having a flexible option like this approach, but I could be wrong.
1. This is the main one. There are certain attributes that are too company specific to ever make sense to be contributed back to open sourc

[2020-01-28 19:41] jinhyukchang commented on #147
Fair points, @samshuster  Let's not make it too powerful :)

[2020-01-29 13:47] lordravo opened #256 "AWS Install Failure - Can't connect to Neo4j"
After following the [aws-ecs-deployment ](https://github.com/lyft/amundsen/blob/master/docs/installation-aws-ecs/aws-ecs-deployment.md) guide, I have all frontend, elasticsearch and neo4j endpoints reachable, but I'm unabled to connect or send metadata to Neo4j..

All requests ends up with timeout exception:
![image](https://user-images.githubusercontent.com/58708386/73361757-5953c580-4284-11ea-86

[2020-01-29 13:56] lordravo commented on #256
Just found out I had to open a inbound rule also for port 7687

Besides ports 5000, 9200, 7474 and 7687, is there any other port I should open?

[2020-01-29 18:28] lordravo opened #257 "AWS: Amundsen Frontend not reaching Neo4j"
I just followed the [aws-ecs-deployment guide](https://github.com/lyft/amundsen/blob/master/docs/installation-aws-ecs/aws-ecs-deployment.md), and successfully launched the frontend, elasticsearch and neo4j endpoints.

After executing a dag with a BigQueryMetadataExtractor, I was also able to send metadata to Neo4j. As you can see:
![image](https://user-images.githubusercontent.com/58708386/7338513

[2020-01-29 19:47] jornh commented on #257
It could be the “classic gotcha” that you also need to ingest data into Elasticsearch through the databuilder.

Here’s a sample of doing that: https://github.com/lyft/amundsendatabuilder/blob/v1.5.1/example/scripts/sample_data_loader.py#L590

[2020-01-29 20:07] jornh commented on #257
The architecture diagram and the **Search** and **Databuilder** sections in https://github.com/lyft/amundsen/blob/master/docs/architecture.md gives a good high level overview.

[2020-01-30 02:22] feng-tao opened #258 "Add a faq doc"
We should have a faq doc which summarize all the gotchas as well as questions in the OSS slack channel

[2020-01-30 06:54] feng-tao commented on #258
https://daler.github.io/sphinxdoc-test/includeme.html

[2020-01-30 14:06] samshuster commented on #147
If there are no major concerns with the approach (happy to make changes if there are!) I am going to revisit where I left off on this a few days ago and focus on:
- adding tests where appropriate
- adding frontend non-editable section. (NOTE: for now I think I will skip on making these editable as that is considerably more work and might not even be needed).
- cleaning up and refactoring where app

[2020-01-30 16:11] lordravo commented on #257
Hi @jornh, thanks for the help..

I added a `create_es_publisher_sample_job` to the DAG, but even so all requests on Amunsen Frontend ends up with status 500.. It seems a configuration issue perhaps?

Event the `/api/auth_user` endpoints returns:

And `api/metadata/v0/get_last_indexed`:

I am attaching my code anyways...
[sample_amundsen_v2.zip](https://github.com/lyft/amundsen/files/4134969/sampl

[2020-01-31 02:56] samshuster opened #260 "BUG(?) OIDC missing introspection uri, incorrect path for user_info"
I am not actually sure if this is a bug or not. All I know is that with the current oidc setup I was unable to get things to work. Looking at okta endpoints here

https://developer.okta.com/docs/reference/api/oidc/#endpoints

I discovered that userinfo should be "{{ .Values.OIDC_ORG_URL }}/oauth2/{{ .Values.OIDC_AUTH_SERVER_ID }}/v1/userinfo"

and I also discovered that the introspection endpoint

[2020-01-31 03:27] samshuster commented on #260
MR here: https://github.com/lyft/amundsen/pull/261/files

Happy to add more info to readme.

I also just remembered that another issue might be out for documenting oidc. I will try to find that issue.

[2020-01-31 06:41] feng-tao commented on #260
thanks @samshuster

[2020-01-31 13:05] lordravo commented on #257
I'm pretty sure it is ECS related... I just launched Amundsen on a CenOS Instance, on GoogleCloud. Exact same yml (without the aws logs), and everything is working so far.

[2020-01-31 18:33] samshuster commented on #224
not sure if the readme added here covers this story?
https://github.com/lyft/amundsen/issues/260

[2020-01-31 18:35] samshuster opened #262 "Amundsen Helm chart supports reading in OIDC secret via kube secrets"
# Overview

Kubernetes supports secrets. This change would allow for the option to have the     OIDC_CLIENT_SECRET: YOUR_SECRET_ID stored as a secret on kubernetes so that way it can be set once by an administrator and then built by developers without them having to know the secret.

[2020-01-31 18:35] samshuster commented on #262
Working on this issue now as it came up as a concern on our side today.

[2020-01-31 18:39] #260 closed

[2020-01-31 19:40] samshuster commented on #208
Ok now that the above is approved, I will get back to adding the screenshot to the main README.md as well as some information on how to customize the badge presentation in the frontend.

[2020-01-31 20:13] samshuster commented on #208
https://github.com/lyft/amundsen/pull/263/files

[2020-01-31 21:25] samshuster commented on #262
closing as it is already impemented... whoops!

[2020-01-31 21:25] #262 closed

[2020-01-31 21:31] #208 closed

[2020-02-03 14:26] samshuster opened #271 "K8s Needs to set AmundsenFrontendBase for email notification"
# Overview
- When mailing notification is turned on, it includes a link back to amundsen of the table/column that a description was requested on. It uses an environment variable ENVIRONMENT_BASE and falls back to localhost if not set.

# AC
- K8s can set FRONTEND_BASE environment variable via user defined property

[2020-02-03 14:35] samshuster commented on #271
here we go:
https://github.com/lyft/amundsen/pull/272/files

[2020-02-03 21:21] samshuster commented on #147
hey @ttannis @jinhyukchang checking in here again with a couple more updates.
- I think I am going to skip implementing the editable properties of these descriptions on frontend as it is considerably more work with not much benefit in my opinion. Let me know if I should persevere, but given that we don't want to make these too powerful, it seems not necessary. I did however currently keep the prop

[2020-02-04 00:50] jinhyukchang commented on #147
Thanks @samshuster !
Let us know when it's ready to review.

On the editable properties, I prefer to remove it as it won't be an active code. Let me know what you think.

[2020-02-04 00:57] samshuster commented on #147
sounds good @jinhyukchang that makes sense, i will remove the is_editable property from the data model and will tag you tomorrow when they are all ready to be reviewed

[2020-02-04 02:57] feng-tao commented on #271
the pr is merged. Thanks @samshuster

[2020-02-04 02:57] #271 closed

[2020-02-04 14:18] samshuster commented on #147
ok @jinhyukchang @ttannis https://github.com/lyft/amundsendatabuilder/pull/187/files this change is ready for you guys to review.

NOTE: the other MR's are also ready for you to review too! but the builds won't pass until amundsen-common is pushed

[2020-02-04 22:41] hagridaaron commented on #160
@friendtocephalopods I'm wondering about that gremlin proxy - would that allow me to use something like AWS Neptune as opposed to Neo4j?

[2020-02-04 22:47] friendtocephalopods commented on #160
That's right! We're actually working through a neptune flavor of the gremlin proxy right now, hoping to be switched over within a few weeks. We'd be happy to upstream that when it's ready.

[2020-02-05 13:49] lordravo opened #273 "Frontend Resources: Querying over Tables and Clusters"
Currently, I have Amundsen set on a Container-Optimized OS from Google Cloud, and, so far, it is working pretty nice for BigQuery. Tables, Columns and Stats, are being published through Dags on Airflow, successfully logging all metadata and relations.

Yet, just a small issue is making a little confusing;

We currently have a lot of projects (for different products) on BigQuery, and some of them h

[2020-02-06 22:13] samshuster opened #274 "BUG: Standalone Column Model sortOrder UNQUOTED"
Standalone Column Model does not add UNQUOTED to sortOrder. The result is alphabetical sort in neo4j for columns.

[2020-02-06 22:17] samshuster commented on #274
https://github.com/lyft/amundsendatabuilder/pull/190

[2020-02-08 04:57] feng-tao commented on #247
I think the issue could be closed now :)

[2020-02-08 04:57] #247 closed

[2020-02-08 04:59] rsyi commented on #247
Yep absolutely. Thanks :)

[2020-02-08 05:19] feng-tao commented on #274
hey @samshuster , the issue could be closed. And feel free to ping me if you have a pr which could help us remove the standalone column model

[2020-02-08 05:19] #274 closed

[2020-02-08 05:21] feng-tao commented on #273
hey @lordravo , glad that you get it working. And please take a look at @ttannis 's proposal for search filter(https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1581029636194200) which should solve your issues.

[2020-02-08 05:21] feng-tao commented on #273
Feel free to comment on the proposal(https://docs.google.com/document/d/1pruajPdiqMjG0qWbx6O5kbChxh_O7ZfMZm3N8i0CcPw/edit)

[2020-02-08 20:05] samshuster commented on #274
thanks. will do @feng-tao!

[2020-02-08 21:24] samshuster opened #275 "Introduce "Domains/Subject Areas" as a first class citizen in amundsen"
#  Definition
A "domain" here would be a higher level than schema and dataset and represents a collection of:
- datasets
- dashboards
- business terms (note this would require that https://github.com/lyft/amundsen/issues/94 is implemented and would not be part of this story, just thinking down the line)
- teams
- other programmatic description sources that would be company specific (depends on htt

[2020-02-10 23:05] samshuster opened #279 "Tags/Badges have descriptions, hovering shows them in frontend"
# Overview
Having badges is great, but in some cases its not immediately clear based off of a short name what the implications of the badge are. Feedback on our end shows that showing a description when hovering over the badge would be one way to do this.

# AC
- badges/tags now have an optional description field in data model
- frontend shows the description of the badge on hover.
- I don't know

[2020-02-10 23:39] ttannis opened #280 "Improve amundsensearchlibrary tests for elasticsearch"
Our current unit tests do not current verify that our proxy interacts with elasticsearch in the desired way. Context: https://github.com/lyft/amundsensearchlibrary/pull/70#discussion_r376509966

[2020-02-11 00:38] javamonkey79 commented on #196
Ok, I put a PR for this

https://github.com/lyft/amundsen/pull/281

[2020-02-11 02:46] samshuster commented on #279
@ttannis @feng-tao do you guys have any objections to the general goal of this story? If it sounds mostly ok with you guys, I think I will get started on at least a poc implementation tomorrow.

[2020-02-11 03:27] ttannis commented on #279
I think a display name for badges would be more useful than adding them for tags. Badges are curated values and it makes sense that one would also curate a description, meanwhile tags are mostly added by users in the UI and most of them wouldn't come with a description. I'll leave it up to you to decided whether the work effort to include tags in this is worth it.

[2020-02-11 03:54] javamonkey79 opened #282 "[amundsen-kube-helm] add proper helm docs"
### AC
* update readme, to include all helm chart variables
* update example values files with all helm chart variables

### Example
* see [this helm chart](https://github.com/helm/charts/tree/master/stable/airflow), for example on how helm projects should document

[2020-02-11 03:55] javamonkey79 commented on #282
@feng-tao or @jinhyukchang please assign to me

[2020-02-11 21:31] ttannis opened #283 "Support case insensitive/sensitive search where applicable"
Context: https://github.com/lyft/amundsensearchlibrary/pull/70/files#r376499915

For some search parameters it is desirable to support case insensitive matches, for example the search term. However for other parameters like tags where specific acronyms are used, we may want that to remain case sensitive.

This issue is for evaluating which parameters should be case sensitive/insensitive and adding

[2020-02-12 16:50] samshuster commented on #147
ok @jinhyukchang amundsen-common and metadata are ready for review (sorry to keep tagging you!)

https://github.com/lyft/amundsencommon/pull/18

below will build once above is merged in
https://github.com/lyft/amundsenmetadatalibrary/pull/104

[2020-02-12 17:42] feng-tao commented on #256
I assume the issue is resolved ? feel free to reopen if that's not the case.

[2020-02-12 17:42] #256 closed

[2020-02-13 22:55] javamonkey79 commented on #196
PR merged, this is done

[2020-02-14 01:18] javamonkey79 commented on #196
@jinhyukchang @feng-tao sadly, when I rolled this out to our prod instance, I found the files were strangely small. Thinking through this a little more, I think it is because the while wait loop is checking the file, but, I think the file does exist in an intermediate state. I'll work on a fix tomorrow. I'm not sure why this didn't happen in our QA env.

[2020-02-14 16:34] javamonkey79 commented on #196
@jinhyukchang @feng-tao ok, I checked our runs again on prod (I left it running), and while the first few runs emitted very little\no data the job did start working. I'm not sure why it would work after the first few runs. I'm still still fairly sure it needs to block on the export call somehow, but, I'm still trying to think of how to achieve that, since the export call is an async rest call. The

[2020-02-14 18:49] jinhyukchang commented on #196
Hi @javamonkey79 ,
We are not running Neo4j in k8s environment, but is there a way not using REST API, but just use neo4j-shell within Neo4j pod?

For example, this is the call we make and it's a blocked call.
`  echo "CALL apoc.export.graphml.all(${data_file}, {useTypes: true, readLabels: true});" | ( time ${NEO4J_BIN}/neo4j-shell - ) | tee -a ${BACKUP_LOG_FILE}
`

[2020-02-14 19:32] javamonkey79 commented on #196
hey @jinhyukchang thanks for the follow up:

We are not running Neo4j in k8s environment, but is there a way not using REST API, but just use neo4j-shell within Neo4j pod?

yup, that's what I mean by option 3. To clarify it a bit though, it may be possible to share the bin files from one container in the neo4j pod to another, but, then there may be environment strings and other setup that could ca

[2020-02-18 16:30] javamonkey79 commented on #196
hey @jinhyukchang I have a new PR for this [here](https://github.com/lyft/amundsen/pull/293). I want to let this run a few times, to make sure it works ok (I just rolled it out to our QA env). So (in case you are really on the ball today), please don't merge until after 12:00pm PST 2/18/20.

I have already done some basic testing on it, to make sure it is good and so far it looks right. I will not

[2020-02-19 14:22] samshuster opened #294 "Kube-Helm Default Metadata Service Port is no longer Correct"
There was a recent change to make metadata service run on port 5002 by default. This means that the kube helm chart needs to be updated.

[2020-02-19 14:22] samshuster commented on #294
https://github.com/lyft/amundsen/pull/292/files

[2020-02-19 18:47] javamonkey79 commented on #196
@jinhyukchang @feng-tao I apologize, but, there is some yet unknown issue with this. I am still working on it. Once I figure it out, I'll let it run for a week and then let you know when it is good again.

The problem is, the while loop gets caught infinitely because the data file is not present. I thought the problem was related to the persistent volume, but, I updated it yesterday and it is stil

[2020-02-19 18:54] jinhyukchang commented on #196
No problem, @javamonkey79
No rush here, and let us know when it's ready.

[2020-02-19 19:47] scoutinhoGit opened #295 "Cannot connect on localhost:5000"
Hi,

I have installed Amunden on my notebook.

All dockers images are running:

CONTAINER ID  IMAGE                                 STATUS           PORTS                     NAMES
1fd117c9f1c3  amundsendev/amundsen-frontend:1.2.0   Up 37 minutes    0.0.0.0:5000->5000/tcp    amundsenfrontend
19eb9409e80d  amundsendev/amundsen-metadata:1.1.5   Up 37 minutes    0.0.0.0:5002->5000/tcp    amundsenmeta

[2020-02-19 21:59] danwom opened #296 "User responses from various APIs are inconsistent"
The user objects returned by various APIs have different subsets of fields. Some of these issues were addressed by various PRs from @friendtocephalopods, but we should go one step further.

Frontend currently tries to [sanitize these user objects](https://github.com/lyft/amundsenfrontendlibrary/blob/0bbbed00169a1d376db510412b754260e7d3bc70/amundsen_application/models/user.py#L75-L93) but should ex

[2020-02-20 03:07] scoutinhoGit commented on #295
Hi,

I have found this message in log of docker, but i do not know if it´s related with error when trying to access localhost on port 5000:

rokku_client created
Done setting up Atlas types
Done provisioning example data
Creating Amundsen Entity Definitions...
Trying to create Table Entity
Something wrong happened: HTTP request failed for POST http://localhost:21000/api/atlas/v2/types/typedefs: Se

[2020-02-20 07:29] feng-tao commented on #295
@scoutinhoGit how do you start Amundsen or do you use any docker compose file? Recently we update the default port for search/metadata which could be related.

[2020-02-20 07:31] feng-tao commented on #296
@danwom I think the history context is that table owner/reader could be any email as it just relies on user input. E.g if an user add a new team email which it hasn't indexed yet, there are no other infos to fill other fields of the user objects.

[2020-02-20 10:52] scoutinhoGit commented on #295
Hi,

I have followed instructions of GITHUB and executed this command:

 docker-compose -f docker-amundsen-atlas.yml up

I tried in different machines to run ALTAS option or NEO4J .. but in even trials, i could not connect to   localhost port 5000 .. i even tried 5001, 5002 ,5003 or 5004.

I have executed the text in a windows machine (win 10 pro) with DROPBOX TOOLS installed.

Best reggards,

Ser

[2020-02-20 12:54] scoutinhoGit commented on #295
Hi,

I have stopped dockers machine and tried to run it again with ATLAS OPTION.

Following the logs after starting, it appears that dockers startup freezes with this message:

[code]

I do not know it if it is an error or a commom message. But no other message appears in logs after  many messages of this type.

Regards,

Sergio

[2020-02-20 17:13] friendtocephalopods commented on #296
I think in that case we should still use the same User object and just make the other fields optional. WDYT?

[2020-02-20 17:38] jinhyukchang commented on #296
Need to dive deeper to see fields mismatching vs frontend dealing with optional fields but
would it be sufficient to have these fields in User schema:
`user_id`
`email`
`full_name`
`display_name`

and deprecate `name` replaced by `full_name`?

[2020-02-20 17:40] feng-tao commented on #196
just saw this, thanks @javamonkey79 , let us know once it is ready

[2020-02-20 17:43] javamonkey79 commented on #196
@feng-tao @jinhyukchang the changes are looking good in QA thus far, but, let's definitely stick to the 1 week rollout.

[2020-02-20 22:37] worldwise001 commented on #296
I am curious at how users are populated by internal auth mechanisms at other companies. At Square we populate username, since that is globally unique, and no user can reuse an existing username. For this reason I am inclined to make user_id required, and the rest optional.

user_id
email
full_name
display_name

as a set of sufficient fields in the User schema is totally fine.

[2020-02-20 22:38] worldwise001 commented on #296
Specifically here the username != email, and the email address is not necessarily <username>@squareup.com

[2020-02-20 23:38] danwom commented on #296
@worldwise001 I agree, `user_id` should be required.

In fact I think all resources (user, table, dashboard) should come pre-baked with a unique id. I would suggest using the same field name to be consistent (currently `user_id`, `key`, and `uri`). We could then add a `type` field so the combination of `id` and `type` would be universally unique, or we can bake the type into the `id` like `"id": "

[2020-02-21 02:54] feng-tao commented on #296
@danwom what id are you referring to? across the whole system or just fe? if former, we have key uri across the stacks.

[2020-02-21 07:13] feng-tao commented on #294
thanks @samshuster , change is merged!

[2020-02-21 07:13] #294 closed

[2020-02-21 16:03] samshuster opened #297 "Add Programmatic_Descriptions to Search"
As part of https://github.com/lyft/amundsen/issues/147, programmatic description nodes were added to neo4j, but they have not yet been added to the search service or elastic search index.

This issue will handle making sure that the programmatic descriptions are also searchable.

[2020-02-21 18:31] javamonkey79 commented on #196
@jinhyukchang I am observing a frustrating issue with regards to neo4j. I wonder if you have encountered it before, or, if it could be related to k8s setup. Basically:

* the cron pod starts, installs pip, aws-cli then makes the call to the cypher query to export the schema\data
* neo4j then basically locks up
* neo4j no longer returns data
* neo4j does however still respond to network request in

[2020-02-21 18:51] samshuster commented on #297
MR's are up:

https://github.com/lyft/amundsendatabuilder/pull/198
https://github.com/lyft/amundsensearchlibrary/pull/83

[2020-02-21 19:00] jinhyukchang commented on #196
@javamonkey79 Unfortunately, I didn't experience your symptom. We are performing backup every 10 minutes and it's not affecting performance at all not to mention that it's not blocking other queries.

The main different I see is `neo4j-shell` vs `cypher-shell`. I can see your cypher-shell command is passing `bolt` protocol where I suspect it works differently from Neo4j-shell.

Could you try to ma

[2020-02-21 19:45] javamonkey79 commented on #196
@jinhyukchang it's a little hard to find, but, this is the error I encountered:

https://stackoverflow.com/q/21448081/27657

From there, you can look up in the docs (again, hard to find):

https://neo4j.com/docs/operations-manual/3.3/configuration/ports/

[2020-02-21 20:12] jinhyukchang commented on #196
Interesting.
I was checking our config and it's just using default port
`# Enable a remote shell server which Neo4j Shell clients can log in to.
dbms.shell.enabled=true
# The network interface IP the shell will listen on (use 0.0.0.0 for all interfaces).
#dbms.shell.host=127.0.0.1
# The port the shell will listen on, default is 1337.
#dbms.shell.port=1337`

Could you check your config and confirm

[2020-02-21 20:37] danwom commented on #296
@feng-tao the former for sure. I don't think we currently expose `uri` for tables, but I know its planned for dashboards. Does it make sense for users to have uri?

[2020-02-22 00:00] javamonkey79 commented on #196
@jinhyukchang I checked, and our version (which is the one here for the community as well btw) does not have the shell switch enabled:

[code]

I double checked, and it's not listening on 1337 either.

I suppose I could try setting the flag to true and try running through neo4j-shell again.

[2020-02-24 13:37] scoutinhoGit commented on #295
Hi,
Filnaly i have discovered that amundsen does not work on a windows environment with docker tools installed. I have repeated the instructions on a ubuntu machine withou problems.  Thanks ! Sergio

[2020-02-24 13:39] scoutinhoGit commented on #295
This issue can be closed now

[2020-02-24 13:39] #295 closed

[2020-02-25 00:52] ak93-ak93 opened #304 "Unable to connect to es_amundsen using the sample data load script after running snowflake loader"
We are getting an Unable to connect to es_amundsen  using the sample data load script after running snowflake loader . We are able to test successfully from the search interface on port 5000 and we can see the logs showing the search working . However when trying to load the data from sample loader the second time after loading snowflake sample we get the connection refused on port 9200

[2020-02-25 01:33] jornh commented on #304
On what version(s) of databuilder and Amundsen Search service are you experiencing this?

[2020-02-25 04:02] jornh commented on #138
Related issue https://github.com/lyft/amundsen/issues/275

[2020-02-25 06:16] feng-tao commented on #304
not familiar with port 9200...like @jornh mentioned, how did you run the sample loader for snowflake?

[2020-02-25 06:17] feng-tao opened #305 "create a matrix for dataset"
Currently we support various table dataset(hive, presto, bigquery, etc) , some of them we support usage as well. It would be good if we could create a doc section to document which dataset we support as well as whether we support its usage.

[2020-02-25 15:21] samshuster commented on #279
going to get back to this soon, at least with the backend changes

[2020-02-26 00:00] ak93-ak93 commented on #304
resolved the issue by increasing the memory utilization.

[2020-02-26 00:01] #304 closed

[2020-02-26 04:14] rsyi opened #306 "2.0.0 databuilder change breaks HiveTableMetadataExtractor"
The recent refactor to 2.0.0 causes the HiveTableMetadataExtractor to fail:
https://github.com/lyft/amundsendatabuilder/commit/dac8110d333f6dbc0e0f40c8d9c5e152ffa43775

I think it's because `schema` is a reserved keyword in my Hive metastore (though I'm not entirely sure). At least  reverting `schema` -> `schema_name` appears to fix the problem. I'll send a PR through, but wanted to flag this, in

[2020-02-26 04:55] rsyi commented on #306
A note: it may be useful in the future to mock less in the unit tests so stuff like this can be caught.

Something like this might work?
https://stackoverflow.com/questions/31459439/testing-hive-spark-python-programs-locally

[2020-02-26 06:46] feng-tao commented on #306
@rsyi thanks for reporting!, I add one comment to your pr. But I agree that we should have a better way to test this...

[2020-02-26 19:41] javamonkey79 commented on #196
@jinhyukchang just a quick update; I've tested out the neo4j-shell approach and it has been working for a few days in our QA and DEV envs. We suspect that perhaps b\c cypher-shell communicates over bolt, that it is causing some port conflict issue, but, we're not sure. I will let this run through the weekend and if it looks good Monday I'll roll it out to prod; after that, I think we can merge.

[2020-02-26 20:01] csteez opened #307 "Amundsenfrontendlibrary should be refactored to use restful endpoints"
Amundsenfrontendlibrary currently uses blueprints to define endpoints. Though this isn't an anti-pattern, a recent PR introduces restful endpoints via flask_restful https://flask-restful.readthedocs.io/en/latest/, and ideally there shouldn't be two ways of doing endpoints. Given that the other services use restful endpoints, it seems best if we switched the other endpoints in Amundsenfrontendlibra

[2020-02-27 18:08] jornh commented on #49
@jinhyukchang is this still relevant?

I guess with the recent wave of 2.0.0 builds (thanks! good work btw) you have the knowledge on if it’s working flawlessly or not.

[2020-02-28 22:47] #306 closed

[2020-02-28 22:57] rsyi opened #309 "The most recent refactor schema_name -> schema causes schema to be "undefined" and table pages to break"
I went ahead and rebuilt a bunch of docker images manually based on all the libraries to accommodate the recent databuilder refactor, and noticed that the recent refactor in the other libraries (schema_name -> schema seems to be breaking the build... I tested this by rebuilding the docker images without the most recent commits from @friendtocephalopods, and they work fine.

E.g. see below -- my ta

[2020-02-28 23:11] jinhyukchang commented on #309
Hi @rsyi ,

We haven't faced this issue and I wonder if you have published ES index with updated databuilder.

https://github.com/lyft/amundsen/blob/master/docs/faq.md#amundsen-1x---2x-migration-guide

[2020-02-28 23:46] rsyi commented on #309
Huh weird. Yeah I'm using an updated databuilder too. Let me make sure everything is migrated correctly, and I'll get back to you. I'll try it with the pre-built docker images.

[2020-02-29 00:41] rsyi commented on #309
Okay! It looks like it works with the pre-built docker images... I'll close this for now, and re-open if I can recreate this. I'm guessing there was a commit somewhere I was missing. Thanks, @jinhyukchang.

[2020-02-29 00:41] #309 closed

[2020-02-29 05:30] feng-tao commented on #309
@rsyi thanks for verifying !

[2020-02-29 06:58] feng-tao commented on #101
We could leverage https://druid.apache.org/docs/latest/querying/sql.html#metadata-tables and use https://github.com/lyft/amundsendatabuilder/blob/master/databuilder/extractor/sql_alchemy_extractor.py

[2020-03-01 16:27] eleijonmarck opened #311 "Failed example: scripts/sample_data_loader.py"
python 3.6.6
ubuntu 19.10

venv - amundsendatabuilder

when I run through the example - https://github.com/lyft/amundsen/blob/master/docs/installation.md#bootstrap-a-default-version-of-amundsen-using-docker

I get the following error:
[code]

[2020-03-02 05:39] feng-tao commented on #311
@eleijonmarck it should be fixed by https://github.com/lyft/amundsendatabuilder/pull/199 . The git submodules in amundsen repo will get auto updated tomorrow.

[2020-03-02 05:40] feng-tao commented on #311
if you want to try it now, you could also clone the latest lyft/amundsendatabuilder repo.

[2020-03-02 15:23] samshuster commented on #147
hey @ttannis just checking in to see when we can start revisiting this MR
https://github.com/lyft/amundsenfrontendlibrary/pull/381

[2020-03-02 17:32] feng-tao commented on #311
@eleijonmarck all the git submodules have been updated to latest, could you retry and fetch the latest master and see if it fixes your issues? thanks.

[2020-03-02 20:23] eleijonmarck commented on #311
@feng-tao will do!

[2020-03-02 20:30] eleijonmarck commented on #311
@feng-tao currently I am getting:
[code]

But it might just be my docker having some weird network issues. But I have removed all containers, networks and volumes however before running

[2020-03-02 21:49] lukelowery opened #315 "Searching on multiple fields doesn't return results."
For example, if I search for `table:test_table schema:test_schema` I expect to get test_schema.test_table, but I don't get anything.

`table:test_table test_schema` Work fine.

[2020-03-02 23:00] ttannis commented on #147
Last Thursday one of our designers took a look at this concept and is currently working on some suggestions. They will either respond directly on your PR, or I'll relay the information once it's ready.

[2020-03-02 23:18] feng-tao commented on #315
@lukelowery we just check in a change to allow search filter which should serve your need. Currently waiting for the FE change to merge. cc @ttannis

[2020-03-02 23:45] ttannis commented on #315
For more context @lukelowery
1. The initial advanced search syntax support only supports one field
2. The new filter support work will allow you to filter across multiple fields in the UI vs. typing in the syntax.

Closing this issue since the behavior you see was actually how that was written to work, and the upcoming improvements will make that kind of search possible.

[2020-03-02 23:45] #315 closed

[2020-03-04 05:32] jornh commented on #202
With the 2.0.0 changes out now can this be closed?

[2020-03-04 05:46] feng-tao commented on #202
yeap

[2020-03-04 05:46] #202 closed

[2020-03-04 05:53] jornh commented on #61
@feng-tao, the Quickstart now has a view, even though it’s just feed from the CSVs: https://github.com/lyft/amundsendatabuilder/blob/v2.1.0/example/sample_data/sample_col.csv#L11 and https://github.com/lyft/amundsendatabuilder/blob/v2.1.0/example/sample_data/sample_table.csv#L4 which also sets the `is_view` flag.

Does this resolve this issue or do you want something more specific?

[2020-03-04 06:03] feng-tao commented on #61
I am the issue could be closed now.

[2020-03-04 06:03] #61 closed

[2020-03-04 15:45] samshuster opened #316 "sample_data_loader is cleaned up to use the csv loader, sample_csv_data_loader is removed"
Currently we have two loaders that do essentially the same thing, but it is double the maintenance.

Because sample_csv_data_loader is much cleaner, the goal of this story would be to convert sample_data_loader to use the same techniques employed in sample_csv_data_loader, then sample_csv_data_loader would be removed.

[2020-03-04 15:47] samshuster opened #317 "sample_data_loader needs tests or needs to be part of MR checklist"
Because sample_data_loader (and other sample data loaders) aren't part of a test suite, it is easy for it to have bugs introduced when changes are made unless the developer manually executes the code.

This issue would be to look into the viability of having an integration test suite that uses sample_data_loader. If that is too much work, then perhaps just having a MR checklist item that confirms

[2020-03-04 15:58] samshuster opened #318 "Clicking on Badges pulls up a tag:{badge_name} search like for tags"
# Overview

Users would like to click on badges like they do for tags to see all tables that have that particular badge.

# AC
- upon clicking on a badge, a query page is pulled up tag:{badge_name} just like for tags.

[2020-03-04 16:32] alran commented on #52
Still looking for review on this PR! https://github.com/lyft/amundsenmetadatalibrary/pull/76

[2020-03-04 16:48] rsyi opened #319 "Unit tests on BigQuery fail without GCP setup"
The BigQuery tests fail when running `Make test` in `amundsendatabuilder`, if GCP is not set up (figured this out b/c I don't have GCP set up on this comp).

Not urgent, but I just figured this is not the intended behavior, so I'd flag it. A partial traceback for one of the tests is shown below (all the other `TestBigqueryWatermarkExtractor` tests show a similar message):

[code]

[2020-03-04 16:58] feng-tao commented on #319
interesting...thanks for the report @rsyi , I am wondering why it doesn't fail in travis...

[2020-03-04 17:00] feng-tao commented on #318
cc @ttannis @danwom I am wonder whether you two have discussed with UI/UX designer about this. Potentially we could update the browse page to show badge as well.

We have an engineer enhancing the functionality of badge(non editable whitelist tag) which allows user to search, surface in search FE as well. Stay tuned.

[2020-03-04 17:57] samshuster commented on #318
ok sounds good @feng-tao based on what you are saying, sounds like this issue will be handled with those changes, so I will not work on this.

[2020-03-04 18:29] ttannis commented on #318
Such a feature would become available when we implement filtering support for badges. Which could be worked on after @csteez completes the work Tao mentioned. I can't speak on how soon Lyft would be able to implement this, but I had previously scoped out some of the work we can provide guidance on how to complete it.

In terms of the browse page suggestion, I'd separate that as its own issue for d

[2020-03-04 18:53] jornh commented on #319
@feng-tao mybad on disabling those tests when I originally made *some* tests run on Travis in https://github.com/lyft/amundsendatabuilder/pull/140 Prior to that we had no Travis testing at all on databuilder - and I figured back then *some* Travis was better than nothing.

[2020-03-04 19:10] csteez commented on #318
I'm not sure about the implementation details of how filtering is done for tags, but I think after the work I've done for badges it should be relatively trivial to add (as that filter query is valid after my changes) to amundsensearch/databuilder.

[2020-03-04 19:12] feng-tao commented on #319
i c, then it may be good to mock the server code in test instead of calling directly...

[2020-03-04 19:31] jornh commented on #40
@feng-tao Are you folks at Lyft still needing Databuilder Airflow on python 2.7? If so have you got any timeline for moving to Python 3?

[2020-03-04 20:14] feng-tao commented on #40
cc @jinhyukchang hey @jornh good point, actually Lyft internally does use antlar to get presto query log parsing any more as there are lots of edge cases not handled...We are currently in the process of migrating our Airflow infra to latest upstream and py3 (targeting end of q1). But I think we could remove antlar code and make the repo py2,py3 compatible, WDYT?

[2020-03-04 20:47] jinhyukchang commented on #40
@feng-tao Sounds good to me. May be an announcement of removal is needed for the one that is using it? (Not aware of any though)

[2020-03-04 21:43] feng-tao commented on #40
@jinhyukchang agree, @jornh, currently we are a bit behind the schedule, will remove the code once we are free up.

[2020-03-05 00:45] samshuster commented on #316
https://github.com/lyft/amundsendatabuilder/pull/206

[2020-03-05 21:15] feng-tao opened #320 "Add a doc on all the supported model for databuilder"
Currently we don't have document for supporting models in databuilder. We should add that.

[2020-03-06 13:33] #316 closed

[2020-03-06 13:34] samshuster commented on #320
hey @feng-tao would this doc be basically describing each of the models in the model package?

Like TableMetadata, ColumnMetadata etc. ?

[2020-03-06 13:47] samshuster commented on #147
hey @ttannis @feng-tao would you guys be open to having my plain design get pushed through as a starting point? It would only show up on amundsen if people ingest programmatic data on the backend, so it would be low risk. We could consider it "beta".

That could give you guys more time to rework the design.

Just an idea, understood if that isn't going to work!

[2020-03-06 17:06] feng-tao commented on #320
correct, and how to use it in what cases etc? Because sometimes we provide the model but not the extractor as different companies could gather the same metadata differently.

[2020-03-06 19:51] samshuster commented on #297
MRs are ready, just waiting on feedbak

[2020-03-06 23:35] ttannis opened #321 "CodeCoverage no longer runs on PRs across libraries"
Not sure why this broke but sometime in the past two weeks we experienced the code coverage tool that runs on every PR commenting under another individuals account, and then the coverage reports stopped all together. Example: https://github.com/lyft/amundsenfrontendlibrary/pull/366#issuecomment-591215803

Filing this issue for the purpose of eventually investigating this.

[2020-03-07 07:09] rsyi commented on #319
I actually suspect that this may be a problem for boto3 calls as well (glueextractor). I just happen to have the aws cli set up.

I know you mentioned you're using travis for CI, but what do you think about adding a simple github action workflow to make sure the `make test` scripts are automatically checked? I can make a few quick PR to show how it works (and it's free, at the moment).

[2020-03-08 00:26] feng-tao opened #322 "test issue"

[2020-03-08 00:27] #322 closed

[2020-03-09 12:45] samshuster commented on #320
ok here is a start at it: https://github.com/lyft/amundsendatabuilder/pull/217/files

Let me know what else you are looking for, for a given model and I can adjust.

[2020-03-10 01:15] #196 closed

[2020-03-10 01:17] javamonkey79 commented on #196
Here is an example one time pod to restore, I'll add this to the docs on my next PR:
[code]

[2020-03-10 16:50] javamonkey79 commented on #282
/tag k8s

[2020-03-10 16:50] javamonkey79 commented on #282
/label k8s

[2020-03-10 16:52] javamonkey79 commented on #282
@feng-tao please label with k8s

[2020-03-10 16:55] javamonkey79 opened #327 "[amundsen-kube-helm] [technical debt] move to neo4j\elasticsearch charts"
### AC
* update the amundsen helm chart, to have dependencies on [neo4j](https://github.com/helm/charts/tree/master/stable/neo4j) and [elasticsearch](https://github.com/helm/charts/tree/master/stable/elasticsearch) charts
* remove the neo4j and elasticsearch charts from this project

### Reasoning
* we do not need to maintain a copy of these charts, since they already exist

[2020-03-10 16:55] javamonkey79 commented on #327
@feng-tao please assign to me and label with k8s

[2020-03-10 16:57] javamonkey79 commented on #234
@rsyi do you have the PR to update the docs handy? If not, I can do it. It just needs to indicate helm 2, right?

[2020-03-11 22:12] jornh commented on #311
@eleijonmarck any updates on this?

As it stands it looks like the the original issue you reported was resolved by git submodule update mentioned by Tao.

Your second issue (if still relevant) certainly indicates that you had a container networking issue. And not directly related to the issue title.

You should be able to connect to the elasticsearch container from your host on port 9200 otherwise

[2020-03-11 22:25] jdavidheiser opened #328 "[amundsen-kube-helm] helm chart: neo4j deployment may have resources in the wrong place?"
I am trying to launch amundsen from the Kube helm chart, by first rendering the templates manually and then copying the results into our internal Kube framework, and I got an error on the presence of a resource field in the wrong place.  In the template, the line in question is:

https://github.com/lyft/amundsen/blob/8b794ecb0f9e31cf279e9b2576911d707101c54d/amundsen-kube-helm/templates/helm/neo4j/

[2020-03-11 22:25] jornh commented on #56
For the frontend repo the actually *is*  (partial?) documentation covering both Flask environment vars and also a link to the React part of config at https://github.com/lyft/amundsenfrontendlibrary/blob/master/docs/configuration.md

...although React changes there requires you to rebuild the FE.

Not sure what state is for the other two services?

[2020-03-11 22:51] eleijonmarck commented on #311
@jornh if I update to latest submodules I am able to see the examples in the interface populated and I am able to look into the test table and the column names and their definitions.

However I am still getting errors for connection refused
[code]

I could close the issue since I am able to now see the interface populated but the connection refused still remains.

[2020-03-12 07:02] jornh commented on #311
Ok got it. So you’re still experiencing the inability of Databuilder to connect to ElasticSearch.

What’s the `docker logs` output for ElasticSearch? It should reveal what’s up with the container. Can you connect to it’s port 9200 from curl or a browser?

[2020-03-12 15:23] rsyi commented on #234
oops. completely slipped my mind, and haven't done this yet. and yeah, it just needs to indicate helm 2. feel free to do it :)

[2020-03-12 20:15] javamonkey79 commented on #327
@feng-tao

bump

[2020-03-12 20:23] javamonkey79 commented on #327
Ok, I have investigated this. It turns out that the helm chart for neo4j is missing at least 2 features that I've noticed:

* providing custom configuration
* allowing for custom service changes, such as change to load balancer, additional annotations

While the second one is not strictly necessary, I think the 1st one is and is therefore a blocker for doing this task.

[2020-03-12 23:05] feng-tao commented on #327
Assign the ticket to you :)

[2020-03-13 03:21] rockie-yang commented on #311
I met same issue when using default docker configuration on Mac which only has 2G memory allocated. fixed by

* change the memory size for docker to 8G
* start with docker compose again

[2020-03-13 05:00] feng-tao commented on #311
thanks @rockie-yang , @eleijonmarck please try and see if it fixes your issues.

[2020-03-13 10:57] Bililica opened #329 "opened by mistake, please cancel"

[2020-03-13 10:59] #329 closed

[2020-03-13 16:27] rufuspollock opened #330 "Amundsen + CKAN connections"
Amundsen looks great and just started looking through the code and design and I wanted to see if there were any productive connections even if at the conceptual level between it and CKAN another python-based open source data management / metadata management platform (which I've help create) https://github.com/ckan/ckan - https://ckan.org/

[2020-03-14 04:10] feng-tao commented on #328
cc @samshuster @javamonkey79

[2020-03-16 16:06] samshuster commented on #328
just a wild guess, is this due to a helm version issue? What version of helm are you using @jdavidheiser?

[2020-03-16 16:58] javamonkey79 commented on #328
@jdavidheiser yeah, I confirmed it; I was actually getting a warning in intellij, but, ignored it. A quick pass on the docs confirms the def is out of place:

1. pod spec -> https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#podspec-v1-core -> has container, but, no resource element
2. container spec -> https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#containe

[2020-03-16 17:38] javamonkey79 commented on #328
You can deny this request if you want @feng-tao but, it would be nice to edit the title of this to include [amundsen-kube-helm] at the beginning; I realize it is already tagged, but, it would help me... I would do it, but, I have very limited privileges.

[2020-03-16 17:39] javamonkey79 commented on #234
@feng-tao I'd like this retitled to include [amundsen-kube-helm] as well, if possible.

[2020-03-18 18:51] samshuster commented on #279
apologies, the poc of the backend changes were fairly straight forward, but I am not sure if this is as useful for us as I initially thought, so I will be stepping away from this issue.

If somebody else thinks this issue is useful than feel free to take over, if not, perhaps it should just be closed out right.

[2020-03-18 19:00] ttannis commented on #279
Thanks Sam, I will remove the `keep fresh` label, and people will have a couple weeks to comment tbefore the issue is automatically closed.

[2020-03-19 14:34] samshuster commented on #147
i believe this issue can be closed now. Thanks everybody!

[2020-03-19 15:29] jornh commented on #147
👏👏👏 thanks for pulling through on this feature Sam.

I’m sure it will benefit a lot of other orgs using Amundsen.

[2020-03-19 16:40] javamonkey79 commented on #147
I agree, nice work on a Herculean effort @samshuster 💪 💯 💥

[2020-03-19 16:41] markgrover commented on #147
Indeed, awesome stuff! Thanks Sam!

On Thu, Mar 19, 2020 at 9:40 AM Shaun Elliott <notifications@github.com>
wrote:

--
Mark Grover
Product Manager
<https://www.lyft.com/>

[2020-03-20 01:19] ttannis commented on #147
Thanks Sam, I'll be closing this issue after creating and publishing the new release for frontend, and updating the quick starts.

[2020-03-20 18:54] jornh commented on #311
I added some troubleshooting hints in https://github.com/lyft/amundsen/pull/337

Since we didn't hear back I think this issue is resolved, right? @eleijonmarck @feng-tao

[2020-03-20 19:09] #311 closed

[2020-03-24 15:55] jornh commented on #243
@sandeshvijayraj please take a look at the PR https://github.com/lyft/amundsensearchlibrary/pull/90#issuecomment-603096057 - maybe even take it for a test drive.

Thanks!

[2020-03-24 16:47] feng-tao commented on #243
the pr is merged, @sandeshvijayraj could you try again?

[2020-03-24 19:25] ttannis commented on #243
The PR in question didn't update `fetch_table_search_results_with_field` though, it updated logic used in `fetch_table_search_results_with_filter`. That being said because we intend to deprecate `fetch_table_search_results_with_field` for `fetch_table_search_results_with_filter`, I think this issue can still be closed.

[2020-03-24 19:29] feng-tao commented on #243
yeah

[2020-03-24 19:29] #243 closed

[2020-03-24 19:57] jornh commented on #244
Sorry @ttannis to bother with another maybe related to recent search improvements. Perhaps this issues is now irrelevant as well?

From #243 conversation etc. I’m sure you're in the know!

[2020-03-24 20:00] ttannis commented on #244
This might not be, `fetch_table_search_results` ins't deprecated, it's now just the logic that is used when there are no filters passed. We could still look into this

[2020-03-24 21:29] ttannis commented on #321
Last week the problem resolved itself for now without us having to do anything. Closing this issue.

[2020-03-24 21:29] #321 closed

[2020-03-24 22:50] javamonkey79 commented on #327
@feng-tao I'm going to leave this open, I thought moving to neo4j chart was not possible, but, in fact now I think it is. However, I don't have any more time to implement it.

[2020-03-24 22:51] #282 closed

[2020-03-24 22:51] javamonkey79 commented on #282
This is done with https://github.com/lyft/amundsen/pull/336

[2020-03-24 22:51] javamonkey79 commented on #328
This is done with https://github.com/lyft/amundsen/pull/336

[2020-03-24 22:52] javamonkey79 commented on #328
I can't close it, but, it's done @feng-tao

[2020-03-24 22:52] javamonkey79 commented on #328
@jdavidheiser feel free to confirm...

[2020-03-24 22:52] feng-tao commented on #328
thanks @javamonkey79

[2020-03-24 22:52] #328 closed

[2020-03-24 22:53] javamonkey79 commented on #234
This is done with https://github.com/lyft/amundsen/pull/336

@rsyi please feel free to confirm and close

[2020-03-24 22:54] feng-tao commented on #327
@javamonkey79  sounds good, thanks a lot for all the k8s helm contributions. Curious are you working on some other projects and not Amundsen soon in your team? And how's the Amundsen usage so far at Edmunds ?

[2020-03-24 23:13] javamonkey79 commented on #327
Yeah, I've taken on some new work and will likely be unable to do much more with Amundsen for a little while.

I think @samshuster could answer it better, tbh. I've only been focused on the k8s side, so, I've drifted quite a bit.

[2020-03-24 23:20] javamonkey79 opened #344 "[amundsen-kube-helm] neo4j proxy host is hard coded"
### Problem

The neo4j proxy host in the metadata deployment is hard coded:
[code]

This presents 2 problems:
1. If setup your own neo4j, the metadata service will be unlikely to work unless your existing version is named the same.
2. If you use another namespace for your other version, this also is unlikely to work

### Solution

Add a new value metadata.neo4jEndpoint similar to search.elasticsea

[2020-03-24 23:20] javamonkey79 commented on #344
@feng-tao please tag this as k8s and assign it to me, I'll have a PR shortly

[2020-03-25 01:41] javamonkey79 opened #345 "[amundsen-kube-helm] load balancers have unnecessary node ports"
Load balancers define the nodeport unnecessarily, this should be removed or set to optional.

[2020-03-25 01:42] javamonkey79 commented on #345
@feng-tao please assign and tag on this one...

I think this one potentially requires some discussion, so, I'll let it be worked out in the PR.

[2020-03-25 14:38] samshuster commented on #327
So far It has been well received by management, and by users via surveys, but it still has a long way to go with active adoption. I think what is going to happen is that there will be a pause in feature integration on our side while we try to boost usage and get feedback with what is already there. Another team might also try to integrate with different datasets.

[2020-03-25 15:04] rsyi commented on #234
Awesome!

[2020-03-25 15:04] #234 closed

[2020-03-26 16:57] #344 closed

[2020-03-26 16:58] #345 closed

[2020-03-26 17:40] feng-tao opened #347 "Build a bot to archive OSS slack discussion into issue"
Amundsen has a open source slack channel which currently runs out of its free msg quota. It would be good to archive the discussions as an issue like stackoverflow to keep track.

[2020-03-26 18:08] jornh commented on #347
Why build when you can adopt existing  OSS? 😝

https://github.com/docmarionum1/slack-archive-bot
- seems to have recent commits
- it’s 🐍 Python

Seems to require a box to run on though

Haven’t tried it, so can’t say more just came up on a quick search

[2020-03-26 18:10] feng-tao commented on #347
yeah, the ticket is more about find out a solution :) thanks for the pointer. Will take a look.

[2020-03-26 18:43] jornh commented on #224
@samshuster apologies for the late reply.

Well, it does, partially, and it’s certainly a huge step towards better documentation of it. Thanks!

I do have a few thoughts I’d like input on:

* Ideally I’d like documentation of how to use it with docker compose - for those not able to run K8s, though the bar for that certainly gets lowered with eg Docker Desktop evolution - even on a local windows b

[2020-03-29 20:03] fBedecarrats opened #348 "The link to ModeDashboardExtractor in amundsendatabuilder/README.md is broken"
The last sentence of the readme file is:

It points at https://github.com/lyft/amundsendatabuilder/blob/master/databuilder/extractor/dashboard/mode_dashboard_extractor.py, which no longer exists.
I guess it should point at: https://github.com/lyft/amundsendatabuilder/blob/master/databuilder/extractor/dashboard/mode_analytics/mode_dashboard_extractor.py

[2020-03-30 04:30] feng-tao commented on #348
@fBedecarrats thanks, could you create a pr for us?

[2020-03-30 20:57] fBedecarrats commented on #53
Great suggestions here! I'd like to emphasize the need for a more explicit documentation on how to set up Airflow to handle ingestions of ES after Neo4J editions. From an outsider perspective, it remains quite a mystery , although Airflow (or something filling this function) is clearly a 4th microservice indispensable for the other 3 to work.

[2020-03-30 22:52] fBedecarrats opened #356 "Possible to intergrate with other tool to implement lineage features?"
(Don't know if this fits here or in Slack).
For Amundsen instances running on Neo4J, I can think of 3 directions to implement lineage with the current version of Amundsen.

1. Integrating with [ArcadeAnalytics](https://github.com/ArcadeData/arcadeanalytics) which provides a ready to use facility to visualize (with embedable widgets-iframes) and edit graph data. Graph widgets are triggered by cyphe

[2020-03-31 05:40] feng-tao commented on #356
Thanks for bringing this up. There are some previous discussions in https://github.com/lyft/amundsen/issues/163. I think it is a good topic to discuss in the slack.

[2020-03-31 21:16] feng-tao commented on #296
I assume the issue could be closed now. Feel free to reopen if it is not the case.

[2020-03-31 21:16] #296 closed

[2020-04-01 18:45] jornh commented on #330
Hey @rufuspollock thanks for reaching out across fellow Python based metadata projects!

 One question that has come up a few times recently in the Amundsen community are people asking about how Amundsen can help with data discovery of data in object stores like S3, minio, Azure Data Lake, HDFS, Googles similar offerings etc. Is this an area where CKAN has solutions in place for “foreign data” tha

[2020-04-01 20:42] ttannis commented on #318
Note for community: Feature is dependent on implementing badge filtering support.

[2020-04-01 23:12] #348 closed

[2020-04-02 00:48] ttannis opened #358 "Add a doc in amundsenfrontendlibrary regarding how to use the announcements feature"
Context: https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1585689296183500

[2020-04-02 02:09] feng-tao commented on #358
could just put it at https://github.com/lyft/amundsen/blob/master/docs/faq.md

[2020-04-02 04:09] ttannis opened #359 "Frontend docker image crashes without timestamp data ingested"
Context: https://amundsenworkspace.slack.com/archives/CHQERT0D7/p1585648049025800
Thing will work fine when data is ingested, but the application should fail gracefully when there is no timestamp.

[2020-04-02 04:23] ttannis commented on #358
The frontend repo already has a section where we have examples and doc for the base clients, so I'll be putting it there.

[2020-04-02 05:48] jornh commented on #358
The faq doc could have an entry: “How do I configure frontend?” See https://github.com/lyft/amundsenfrontendlibrary/blob/v2.1.0/docs/configuration.md (that small document got some already extensive but with room for contributions underlying sections on Flask and React respectively)

This only said _halfway in jest_ 😜 - actually an honest proposal. Feel free to improve on wording.

[2020-04-03 12:48] PaschalisDim opened #361 "Get Table Description in Neo4j proxy is not leveraging the graph db functionalities"
Insights on how the description of a table is being called in Amundsen
In our case, we are using  the /table endpoint from the AmundsenMeta repository which does not use the relations defined in Neo4j. The current implemention is searching for a specific key in nodes of type table and description. (repo). That's how it retrieves a table and its description, by searching for the specified unique ke

[2020-04-03 17:04] ttannis commented on #147
Release Notes: https://github.com/lyft/amundsenfrontendlibrary/releases/tag/v2.1.0

[2020-04-03 17:04] #147 closed

[2020-04-08 13:42] devlucasc opened #370 "Databuilder do not sync when columns removed"
Databuilder do not sync when columns removed, is needed to delete when column do not exists in extractor but still exists in neo4j database

[2020-04-08 14:12] jornh commented on #370
@devlucasc I think https://github.com/lyft/amundsendatabuilder/blob/master/databuilder/task/neo4j_staleness_removal_task.py might be what you're looking for. There's currently no real documentation for it - but you can find a few mentions of it and explanation of it's intended use in the Amundsen Slack channel.

If this helps you please consider contributing the documentation that you see missing

[2020-04-08 14:30] jornh commented on #370
Uhm, wait - just looked at the PR where it was added: https://github.com/lyft/amundsendatabuilder/pull/235

There *is* already documentation:
https://github.com/lyft/amundsendatabuilder#removing-stale-data-in-neo4j----neo4jstalenessremovaltask

So maybe it's more a matter of _findability_ ... contributions are **_very_** welcome as to improve the situation. As a first step "what do you think would

[2020-04-08 15:08] devlucasc commented on #370
Hi @jornh, thanks a lot, this feature will help me. Sorry for boring you, when I searched, I was looking for issues with keyword "delete". I need to pay more attention.

[2020-04-08 15:08] #370 closed

[2020-04-08 15:21] jornh commented on #370
No worries 😉 I which you better google-fu next time ...

[2020-04-09 20:05] jornh opened #371 "Improve Databuilder ergonomics"
Databuilder is, in some cases, hard to figure out to how to initialize/configure with pretty verbose syntax leading to much boilerplate being duplicated. Some error messages are not very helpful and even though there is plenty of reference documentation we should have better “guard rails”.

Examples of not very helpful error traces:

* https://amundsenworkspace.slack.com/archives/CGFBVT23V/p156447

[2020-04-10 22:02] Jwan622 opened #372 "Instructions for installing amundsen on k8 using helm not correct?"
I am trying to run this:

[code]

to no avail. What can I do? What am I missing? Where is the helm chart? I'm an newb at using helm.

@javamonkey79

[2020-04-10 22:10] javamonkey79 commented on #372
@Jwan622 you need to clone the repo https://github.com/lyft/amundsen/tree/master/amundsen-kube-helm

[2020-04-10 22:22] Jwan622 commented on #372
`helm install templates/helm/amundsen --values impl/helm/dev/values.yaml`

I'm reading [this](https://helm.sh/docs/intro/using_helm/) and so does this mean that `templates/helm/amundsen` is the release name and the values file is in location ` impl/helm/dev/values.yaml`? I get 👍

[code]

as the error. I just git cloned the entire repo and ran `cd amundsen-kube-helm/`

[2020-04-10 22:29] Jwan622 commented on #372
What I did was:

1. git clone https://github.com/lyft/amundsen
2. ran `cd amundsen-kube-helm/`
3. and then ran:
[code]

What did I do wrong? What should I do?

[2020-04-10 23:16] jornh commented on #372
@Jwan622 assuming you’re using helm 3 try - when in the `cd amundsen-kube-helm/` directory as @javamonkey79’s guide mentions:

[code]

The `./templates/helm/templates` should match the relative path to where the helm chart is located.

So this is only from memory as I’m currently not at my PC. I’ve got a doc update PR sitting locally - where I have it working with helm 3 - I’ll try to push when I

[2020-04-10 23:28] jornh commented on #372
Note the above will then just give you the default helm `values.yaml` config. You can feed it your own file by giving a path like e.g. `--values impl/helm/dev/values.yaml`

Another tip is adding the `--debug` parameter to see what helm will send to k8s.

[2020-04-11 10:24] jornh commented on #372
@Jwan622 please review and see if changes in #373 fixes the issue for you.

Further improvement suggestions to #373 to make the guide more clear is more than welcome. Thanks!

[2020-04-13 21:21] feng-tao opened #379 "Remove marshal_with for all search API endpoint"
We shouldn't need that now. Here is the ticket to track that we should fix all those API endpoints.

[2020-04-13 22:06] #358 closed

[2020-04-13 22:06] #359 closed

[2020-04-14 11:10] haha150 opened #381 "Total_read incremented?"
How is the total_read field incremented?

I see that the elasticsearch mapping for user has the fields total_read, total_follow and total_own, and i understand that the follow and own are updated in neo4j when you follow or own a dataset. However, how is the total_read field incremented and also how is elasticsearch updated with all three fields?

[2020-04-14 11:32] jornh commented on #381
Through usage data ingested via https://github.com/lyft/amundsendatabuilder/blob/master/docs/models.md#columnusagemodel.

It's updated via Databuilder runs - see https://github.com/lyft/amundsen/blob/master/docs/architecture.md#databuilder and the illustration in the top of that document. It's actually implemented as Extract-from-Neo4j -> Load-into-ES.

----

For both cases above check examples of

[2020-04-14 14:10] Jwan622 opened #382 "Is the amundsen helm chart publicly available?"
What's your url for the amundsen helm chart? I tried installing/adding it but the only way I could get it work was to git clone the whole repo. Is the chart hostly remotely? IF so, what's the command to add and install the helm chart?

I think you can add the helm charts to a repo:
https://helm.sh/docs/topics/chart_repository/#google-cloud-storage

Right now when I run this, I find no repo:

[code

[2020-04-14 19:06] jornh commented on #382
It’s currently only available through a `git clone` or similar like GitHub zip download.

Contributions towards an _automated publishing_ are welcome. If you’re interested it’s an excellent `good first issue` as it doesn’t require a lot of Amundsen insight.

[2020-04-15 09:36] jornh opened #383 "Consolidate use of ES related jobs in Databuilder examples folder"
Context Slack thread: https://amundsenworkspace.slack.com/archives/CHQERT0D7/p1586860601094600?thread_ts=1585263199.007300&cid=CHQERT0D7

[2020-04-15 14:25] haha150 commented on #381
hmm, okay, but if i search for a dataset, and perhaps click on it, where is the backend informend that the dataset has been read ?

[2020-04-15 15:32] jornh commented on #381
The ranking popularity is not based on just popularity in Amundsen, but rather "real usage" by increasing the read count for each (SQL) query hitting that table.

Here's a bit of explanation in the Amundsen technical walk-trough blog post:
https://eng.lyft.com/open-sourcing-amundsen-a-data-discovery-and-metadata-platform-2282bb436234#ba9a

As mentioned above, the ingest is happening through https:

[2020-04-16 04:38] #372 closed

[2020-04-16 09:37] haha150 commented on #381
ok thanks.

another thing, can you also point me to what commands you run to backup neo4j?

[2020-04-16 10:08] jornh commented on #381
It’s in the Kubernetes Helm Chart here: https://github.com/lyft/amundsen/blob/master/amundsen-kube-helm/templates/helm/templates/neo4j-s3-backup.yaml

But can of course also just be based on that for other contexts

[2020-04-16 11:02] haha150 commented on #381
yes exactly but where are the "CALL apoc.export.cypher.schema(..)" commands executed ?

[2020-04-16 12:06] jornh commented on #381
It looks like you're may be in the right place. But they require install of some Neo4j addons.

I haven't gotten to fool around with the latest bits (recently added to K8s) in this area yet myself. But maybe to supplement you can cross-reference an older writeup I drafted: https://github.com/lyft/amundsen/issues/53#issuecomment-516159598

[2020-04-16 16:24] Jwan622 commented on #77
Does the docker compose yaml file not exist anymore?

[2020-04-16 18:19] feng-tao commented on #77
@Jwan622 it is at https://github.com/lyft/amundsen/blob/master/docker-amundsen.yml

[2020-04-16 21:45] ayushbilala opened #386 "Unable to Integrate Preview Client with Superset"
Hi,
I am looking to make use of Amundsen's data preview feature with Superset using sql_json endpoint.
I am getting an exception 'CSRF token is missing', even though it is there in the request (screenshot atttached).
Can someone please let me know the right way to query sql_json endPoint with CSRF token?
PS: I played with below configurations as well, but nothing helped.
[code]
![image](https://us

[2020-04-16 21:52] feng-tao commented on #386
cc @betodealmeida @khtruong @john-bodley
Hey Beto, Kim, John, @ayushbilala is a member in Amundsen OSS community . He tried to setup the connection between Amundsen and Superset to do data preview and got that error. Do you happen to know how to fix the csrf token missing issue?

I looked at Lyft superset config which doesn't get much clue as we also just put that sql_json endpoint in the WTF_CSRF

[2020-04-16 22:05] khtruong commented on #386
Hi @ayushbilala, can you share the exact file path where you are saving your Superset settings?

[2020-04-16 23:14] ayushbilala commented on #386
@khtruong it is within a docker container. /app/pythonpath/superset_config.py

[2020-04-16 23:19] ayushbilala commented on #386
@khtruong I managed to go past the CSRF exception by supplying CSRF token in request header. But facing another error now. (screenshot attached)

![image](https://user-images.githubusercontent.com/6296026/79515624-c2b6c980-8066-11ea-8328-856c9f48f9d2.png)

[2020-04-16 23:24] feng-tao commented on #386
@ayushbilala the error seems to be specific to superset. I would suggest just to follow up with superset oss slack channel as @ttannis mentioned that Lyft superset may not be the same as the one you used.

[2020-04-16 23:33] ayushbilala commented on #386
Yes agreed.

[2020-04-17 16:09] #40 closed

[2020-04-17 16:45] TrungTri opened #391 "Could not ingest sample data"
Hi,

I want to ingest sample data to amundsen.
e5c91afcedff        amundsendev/amundsen-frontend:1.2.0   "python3 amundsen_ap…"   57 minutes ago      Up 57 minutes       0.0.0.0:5000->5000/tcp                                     amundsenfrontend
33e69e617a07        amundsendev/amundsen-metadata:1.1.5   "python3 metadata_se…"   57 minutes ago      Up 57 minutes       0.0.0.0:5002->5000/tcp

[2020-04-17 17:06] jornh commented on #391
Looks like you are using the Atlas backend - indicated by:

[code]

That backed does not work with the Databuilder for ingesting sample data but has its own sample data built in. Also noted with a comment in the Quickstart instructions.

[2020-04-17 18:40] andrew-oreshko opened #392 "Frontend rebuilding (hot reload ?)"
Hey everyone

Guys, is there a way to rebuild frontend WITHOUT executing setup.py of frontend microservice ?
Documentation tells that npm run build is sufficient to see changes, but actually static that is used is which lies within venv i believe. So every time when i wanna rebuild frontend i have to execute python3 setup.py. Is there a way to avoid this ?

[2020-04-17 22:12] feng-tao commented on #32
With https://lyft.github.io/amundsen/, this ticket could be closed now.

[2020-04-17 22:12] #32 closed

[2020-04-17 22:14] #258 closed

[2020-04-17 22:15] feng-tao commented on #392
I recall we have a pr to do that @ttannis @danwom ? or that pr never make it to the end?

[2020-04-17 22:35] feng-tao opened #397 "Setup github action to auto publish doc"
Currently the doc publishing requires manual effort. We should add github action to do so.

[2020-04-18 07:41] TrungTri commented on #391
Hi John. I ran atlats but there is no testing data in Amundsend. So that 's why I tried to ingest data using Databuilder. If I shut Atlas down and run the python script again, it would cause the same errors. I think there is some wrong config in making connection to elastic in python scripts

[2020-04-18 09:21] jornh commented on #391
If there is no testing data in Amundsen, then something failed during Atlas startup. If you are not there already then join the Amundsen Slack workspace - and see [this Question](https://amundsenworkspace.slack.com/archives/CHQERT0D7/p1586854760094100) and [this answer thread](https://amundsenworkspace.slack.com/archives/CHQERT0D7/p1586949647118500?thread_ts=1586891411.100900&cid=CHQERT0D7) from t

[2020-04-18 16:27] haha150 commented on #381
oki, thanks!

another question, sorry. Do you keep versions of datasets that are ingested? for example if a dataset changes over time, how do you keep track of its changes and make sure the users can see that the dataset has changed or is updated?

[2020-04-18 22:00] jornh commented on #381
Not currently, if it's this you are talking about: open issue/roadmap item https://github.com/lyft/amundsen/issues/45#issuecomment-548245405

[2020-04-20 05:32] jornh commented on #131
I believe the search introduced in #393 does a great job in fixing this need. Try searching for e.g. “logo” or “css”:

![504E9DF0-8C36-455F-BAE2-7E0335B61407](https://user-images.githubusercontent.com/766423/79717085-ed0fbd80-82d8-11ea-89c8-6e067190c6e3.jpeg)

[2020-04-20 16:01] #131 closed

[2020-04-21 13:49] #381 closed

[2020-04-21 18:53] jornh opened #408 "document how to build custom frontend without forking"
Currently burried[ in a Slack thread](https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1584468280274800)

Please hAlp it out from there and into the developers guide/owners manual.

[2020-04-21 19:34] jornh commented on #53
@fBedecarrats Airflow has its own documentation. So we’ll probably just reference that.

But the gist of it is:
1. Setup Airflow depending on how “serious business” this is for you it ranges from:
  - just `pip install` it on a box where it can run, probably in a Python virtual environment of its own for good measure.
  - install it in a container based setup - including a separate postgres/other

[2020-04-22 19:39] #279 closed

[2020-04-24 14:05] andrew-oreshko commented on #392
@feng-tao could you please point me to that PR ?

[2020-04-24 16:25] feng-tao commented on #392
@andrew-oreshko I believe this one https://github.com/lyft/amundsenfrontendlibrary/pull/248 (cc @danwom  @ttannis in case you are around to confirm and maybe we could revisit that pr and get it to finish line?)

[2020-04-25 11:40] #319 closed

[2020-04-25 19:01] feng-tao commented on #408
thanks @jornh , do you have time to put it in the faq doc?

[2020-04-25 19:02] feng-tao commented on #408
cc @ttannis @danwom  as well

[2020-04-27 12:33] jornh commented on #391
@TrungTri what’s the status on your end with this? Does this resolve the issue?

As it stands I think you got answers to your questions and I don’t see anything actionable for the Amundsen project here.

[2020-04-27 14:28] jornh commented on #200
@jakemongaya how did this go? - is it still an open issue or was something merged into the Databuilder repo?

[2020-04-28 21:38] jdavidheiser commented on #241
+1, I am also hitting this issue.

[2020-04-29 12:30] jornh opened #423 "Inconsistent docker compose `.local` volume mount info"
For context see https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1588163419239100?thread_ts=1588155803.235600&cid=CGFBVT23V

[2020-04-29 15:30] TrungTri commented on #391
Thank you so much. It is much clearer with your slide. it is due to I start the two services the same time both amundsen and amundsen-atlas
Thank you very much. I am having a look at it at the moment

[2020-04-29 16:40] dmateusp opened #424 "Add a configurable base_url for Amundsen front end"
at Earnest we use a single domain with [Ambassador](https://github.com/datawire/ambassador) and diverse mapping rules to add public endpoints for our Kubernetes-hosted web applications

I'm having an issue with the front end, due to the fact that Amundsen is not at the root of the domain, and I believe I cannot support it currently because the path to static files is hardcoded in the html: [exampl

[2020-04-29 17:55] feng-tao commented on #424
@ttannis @danwom could you two take a look when you have a chance?

[2020-04-30 16:05] feng-tao commented on #424
sounds good

[2020-05-01 10:34] IslamAzab commented on #138
@cpnat How can I access this Slack link to follow up on the discussion?

[2020-05-01 14:28] timgilbert commented on #408
I was looking to play around with this some and hopefully contribute some documentation, but the Slack thread seems to have disappeared in between when I started and now. I did manage to save this part of the discussion, however (sorry, I didn't catch the author of this message):

[2020-05-01 16:04] feng-tao commented on #138
@IslamAzab you could join slack in https://github.com/lyft/amundsen

[2020-05-04 21:34] #101 closed

[2020-05-05 13:28] jakemongaya commented on #200
Hi @johrn! I have the code in my repo and will work on the PR as soon as possible.

[2020-05-06 11:15] jornh commented on #200
Great, thanks for getting back👍

No worries - now we have a visible status  which is always a good Thing

[2020-05-06 11:34] rqmulti commented on #61
i dont know if is it important but could be nice for the comunity samples of dags and script implementing the extractors.

[2020-05-08 14:27] rqmulti opened #431 "Hive Extractor under Postgresql Metastore"
I had problems using the section extractor using the metastore in postgresql due to a different sql syntax,

below an example of the query that works for Postgres

`SELECT source.* FROM
    (SELECT t."TBL_ID", d."NAME" as "schema", t."TBL_NAME" as name, t."TBL_TYPE", tp."PARAM_VALUE" as description,
           p."PKEY_NAME" as col_name, p."INTEGER_IDX" as col_sort_order,
           p."PKEY_TYPE" a

[2020-05-08 14:30] rqmulti commented on #431
Reference: https://community.cloudera.com/t5/Support-Questions/How-can-I-access-hive-metastore-tables/td-p/232278

[2020-05-08 16:09] feng-tao commented on #431
I think you could provide your own sql to extract(https://github.com/lyft/amundsendatabuilder/blob/master/databuilder/extractor/hive_table_metadata_extractor.py#L73) . It will only fall back to the default one if no sql is provided.

[2020-05-08 16:51] rqmulti commented on #431
Awesome, well there's a missconfig in the hive dag example,
'extractor.hive_table_metadata.extractor.sqlalchemy.{}'.format(SQLAlchemyExtractor.CONN_STRING):

i will try to fixe it, thanks by the way.

[2020-05-08 20:29] jdavidheiser opened #433 "underscores in searches should not be treated as spaces"
(From [Slack conversation ](https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1580381139122500))

We have been running into a situation where users want to search for a name of the form `word1_word2`, but since the default analyzer for tables and columns (`simple`) splits on any non-letter words, this is treated as a search for `word1 word2`, which returns results for both `word1` and `word2

[2020-05-08 20:59] feng-tao commented on #433
thanks @jdavidheiser for filing the issue. As mentioned, I will play around with the mapping as well in our staging and get back to you. In the mean time, is is ok if we put your team/ company in https://github.com/lyft/amundsen#who-uses-amundsen ?

[2020-05-08 21:23] feng-tao commented on #431
thanks, please raise us a pr if you find anything is missing or incorrect.

[2020-05-08 21:23] jdavidheiser commented on #433
We are still in the trial stage, so it might make sense to hold off on adding us to that list.  I am pretty excited about Amundsen so I hope that changes soon!

[2020-05-08 21:25] feng-tao commented on #433
thanks. Make sense. Let us know how it goes :)

[2020-05-09 00:50] feng-tao commented on #433
@jdavidheiser I am doing some internal staging testing. Seems pretty well from my perspective :) , but also wait for others' feedbacks.

[2020-05-09 03:48] jdavidheiser commented on #433
Doing some more of our own testing, and passing `"search_analyzer": "whitespace"` for all of the text search fields as I suggested does not quite work the way we want.  Searching for a table named `word1_word2` returns tables with exact matches in their names, but this does not work when searching for a column named `word1_word2`.

I think this is because the only `raw` field being searched in htt

[2020-05-12 05:01] feng-tao commented on #433
@jdavidheiser I think the index map change is still a good one, do you think you have time to send us the pr for the index map change in https://github.com/lyft/amundsendatabuilder/blob/master/databuilder/publisher/elasticsearch_publisher.py#L43 ? THANKS

[2020-05-12 17:01] abhilash1in opened #438 "Running Amundsen behind an nginx reverse proxy"
I have the following `nginx` config:

[code]

When I visit `http://myhost:8080/meta/`, I expected to see Amundsen UI. The webpage loads, however, all the resource URLs for CSS and JS are incorrect and therefore, there are 404s.

For example, when the webpage tries to load `main.css`, it uses `http://myhost:8080/static/dist/main.css`, but it should have been `http://myhost:8080/meta/static/dist/mai

[2020-05-12 17:29] jornh commented on #438
Your question 2. Is already identified as an issue in https://github.com/lyft/amundsen/issues/424 which has an associated WIP PR.

[2020-05-12 21:10] feng-tao commented on #433
https://github.com/lyft/amundsendatabuilder/pull/262

[2020-05-12 21:14] feng-tao opened #439 "Add changelog / milestone for the features released across all the repos."
Per our last(May) community meeting, it will be good to have a changelog/ milestone in the central repo to document what has been added.

[2020-05-13 15:20] NitendraKumar opened #440 "Add Support of NOSQL database (i.e MongoDB, ElasticSearch, Solr)"
I have huge amount of data in ElasticSearch and MongoDB Cluster and I have requirement to provide meta data of its collection on some UI.

Amundsen has good support of nearly all famous RDBMS but I did not find any support of NOSQL.

Any help or example code which can help me to plug NOSQL data into Amundsen platform and available for user using the same architecture.

[2020-05-13 20:33] jdavidheiser opened #441 "Markdown in column descriptions renders as raw text when collapsed"
When showing the single-line preview for Markdown descriptions, Markdown content like links is rendered as the raw text.  When expanded, the text renders as Markdown as expected.

This may be tricky to solve elegantly, because ideally you'd want to render the first line, but ignore things like multiline code blocks or bulleted lists.

![expanded](https://user-images.githubusercontent.com/3308182/8

[2020-05-14 05:18] feng-tao commented on #440
For elasticsearch, you could try https://github.com/preset-io/elasticsearch-dbapi which Amundsen supports dbapi extractors.

Not sure about mongodb.

[2020-05-14 05:18] feng-tao commented on #397
https://github.com/marketplace/actions/deploy-mkdocs

[2020-05-14 05:36] NitendraKumar commented on #440
Thanks for your help.

[2020-05-14 05:51] feng-tao commented on #386
@ayushbilala I add a tutorial(https://lyft.github.io/amundsen/tutorials/data-preview-with-superset/) . Feel free to reopen if it doesn't work.

[2020-05-14 05:51] #386 closed

[2020-05-14 05:57] feng-tao commented on #397
https://github.com/mhausenblas/mkdocs-template
example

[2020-05-14 18:30] jinhyukchang opened #442 "Create sample loader for Dashboard."
Create sample loader for Dashboard.

[2020-05-15 00:08] rsyi commented on #371
I totally agree with this! I feel like a lot of the examples in `example/scripts` are cumbersome because of the way `ConfigTree` keys are templated by the extractor class attributes. Maybe this is best practice, but it makes the whole thing pretty hard to read.

Perhaps a first step (to help beginners) could be just modifying the sample scripts to have explicit key declarations? E.g. the following

[2020-05-15 00:18] rsyi commented on #327
FYI @javamonkey79  and @feng-tao, the docker image that's used by the official neo4j helm chart is the 4.x enterprise edition, and I think (based on this [this announcement](https://neo4j.com/open-core-and-neo4j/)) that this edition legally requires an enterprise license. Maybe that's fine for Edmunds, but probably not for the majority of the OS community :)

It may make sense to stay on the commu

[2020-05-15 00:24] feng-tao commented on #327
thanks @rsyi for the information. Yeah, we could close this for now. Lyft is also on community version(not k8s though) neo4j.

[2020-05-15 00:24] #327 closed

[2020-05-15 00:30] feng-tao commented on #371
yeah, I think it makes sense to simplify like this. @rsyi , if you have time, I am +1 on that. Thanks a lot!

[2020-05-19 20:48] jornh commented on #38
Resolved by https://github.com/lyft/amundsen/pull/449 - yay!

[2020-05-19 20:56] #38 closed

[2020-05-19 20:56] feng-tao commented on #38
thanks @Golodhros !

[2020-05-20 00:01] feng-tao opened #454 "Fix python markdown renderer for the doc website"
## Expected Behavior
- Add a markdown lint
- Figure out why the markdown isn't broken in github markdown while it is in https://lyft.github.io/amundsen/

## Current Behavior

The markdown in mkdocs sometimes is broken. There are some contexts in https://github.com/lyft/amundsen/pull/451#discussion_r427580961.

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Screenshots (if appropriate

[2020-05-20 01:00] ttannis opened #456 "Add `profile_url` to User metadata"
After we added users as a resource in Amundsen, we[Lyft] had a new use case to add a link to the employee's internal user profile. At that time, we implemented this by adding a `GET_PROFILE_URL` configuration in `amundsenfrontendlibrary`, where users could add their custom logic to generate the link to the an internal profile url on the frontend.

However, similarly to how Dashboard resources have

[2020-05-20 11:00] #383 closed

[2020-05-20 14:37] samshuster commented on #297
hey @jinhyukchang would you be able to help look at the reviews for this story?
https://github.com/lyft/amundsendatabuilder/pull/198
https://github.com/lyft/amundsensearchlibrary/pull/83

cc @feng-tao

[2020-05-21 00:21] feng-tao opened #459 "Feat: Semantic PR title check"
Leverage either [prlint](https://github.com/apps/prlint) or https://github.com/zeke/semantic-pull-requests to do semantic pr title check for each different repos.

[2020-05-21 00:23] feng-tao commented on #459
cc @Golodhros @ttannis @dikshathakur3119 @jinhyukchang
What do you guy think? I was talking to Marcos today and felt that this could help us to make the pr title cleaner which could benefit us to have a organized changelog.

[2020-05-21 00:36] ttannis commented on #459
What features would we leverage, just the title pattern option or is there anything else?

[2020-05-21 00:39] feng-tao commented on #459
mostly title pattern to follow this convention (e.g https://github.com/lyft/amundsendatabuilder/pull/265). Then I think if we built out changelog/milestone doc, it will be easier to understand which commit is for what purpose. It seems that quite some OSS projects have done this recently (e.g https://github.com/apache/incubator-superset/blob/master/.github/prlint.json for superset)

[2020-05-21 00:44] ttannis commented on #459
I'm in favor of it, especially if we can leverage it for changelogs. So far it's been a very manual process of looking through old commits to try to write better release notes for the frontend releases where we tend to batch a several weeks of work.

[2020-05-21 01:02] Golodhros commented on #459
Awesome!

I didn't know about prlint, it looks like a superior solution. It allows to also check the branch names, labels, the content of the PR and more. I would go with that one!

I would suggest to start with the PR title and some plain basic requirements for the PR description content.

[2020-05-21 05:32] feng-tao commented on #459
sounds good, I just installed the prlint app on all six repos. I will create a simple prlint file for each repos.

[2020-05-21 05:57] feng-tao commented on #459
https://github.com/lyft/amundsen/pull/460

[2020-05-28 07:09] amitasthana commented on #35
I have to work on LDAP integration in Amundsen, can someone suggest how do I proceed, like a rough idea what all ingredients I need to setup LDAP with Amundsen, so that in an organisation different sets of permission and permission groups can be set and roles can be assigned to the users who log in and view the categorised data in Amundsen and access the data only authorised to them.

[2020-05-28 13:30] verdan commented on #35
@amitasthana we are not using LDAP for Access Control at the moment, and will use Apache Ranger for that.
However, I have implemented the LDAP connection to get the user details from AD. You can simply use that way to inject user groups etc in the user detail and then can use that groups/policies to fine tune the access. Still a lot of work in this domain I'd say.

This is the method I imeplemente

[2020-05-29 18:54] #459 closed

[2020-05-29 19:06] ttannis commented on #22
Issue can be summarized as essentially documenting what commands and parameters we log.

[2020-05-29 19:10] ttannis commented on #34
@verdan this issue is resolved now that we have an official `user_id` correct? Will go ahead and close please comment if you have any further issues in this space.

[2020-05-29 19:10] #34 closed

[2020-05-29 19:28] ttannis commented on #48
Updating status to blocked, the reason is that we have a tentative long term idea to replace this component.

[2020-05-29 20:27] Golodhros commented on #424
Hi @dmateusp, how is this going? Do you need any help?

[2020-05-29 20:28] #438 closed

[2020-05-29 20:29] Golodhros commented on #433
@feng-tao, is this solved?

[2020-05-29 20:29] #431 closed

[2020-05-29 20:30] feng-tao commented on #433
correct! we could resolve it now.

[2020-05-29 20:30] #433 closed

[2020-05-29 20:33] #391 closed

[2020-05-29 20:36] Golodhros commented on #361
@feng-tao which project would fit this issue?

[2020-05-29 20:41] feng-tao commented on #361
metadata

[2020-05-29 20:43] feng-tao commented on #320
we could close now.

[2020-05-29 20:43] #320 closed

[2020-05-29 20:52] Golodhros commented on #241
This should work now

[2020-05-29 20:52] #241 closed

[2020-05-29 20:53] Golodhros commented on #200
Hi @jornh, was this solved?

[2020-05-29 20:55] feng-tao commented on #200
I don't think it is fixed yet.

[2020-05-29 21:46] jonhehir opened #473 "Failed search for one resource (e.g., user or dashboard) causes no results to show for any resource"
Right now, if any one of the search requests returns a non-200 status, it causes any search from the search bar to return no results. This can happen, for example, by simply enabling `indexUsers` or `indexDashboards` before importing any data for those resources. In this case, searching for any table will return no results (unless you explicitly search for only tables via the sidebar of the search

[2020-05-29 21:57] feng-tao commented on #473
@ttannis do you know what happens ?

[2020-05-29 22:06] jinhyukchang commented on #361
Hi @PaschalisDim ,

Do you think you can elaborate this? Code snippet would be great as well.

I am assuming this is not `amundsen-metadata` for it uses [relation](https://github.com/lyft/amundsenmetadatalibrary/blob/master/metadata_service/proxy/neo4j_proxy.py#L179) to Description AFAIK.

[2020-05-29 22:35] jonhehir commented on #473
I believe the front-end behavior stems from the `all()` effect used to combine the three searches here: https://github.com/lyft/amundsenfrontendlibrary/blob/6b324c8b3ed26263ae44a17cb13789af729b2a8a/amundsen_application/static/js/ducks/search/sagas.ts#L216. I didn't see an easy way to modify this behavior, so I opened this issue instead. 😄

[2020-05-30 00:47] ttannis commented on #473
@jonhehir is correct. I'm aware of the issue but haven't gotten around to it yet.

[2020-05-30 04:05] feng-tao commented on #473
Ah i see, so if we enable user/dashboard entity, we assume there are data return...

[2020-05-31 12:39] dmateusp commented on #424
hey @Golodhros I thought this would only involve Python changes, but there's some JavaScript which I'm unsure how to modify the "right way" to support this feature

There's a Draft PR here https://github.com/lyft/amundsenfrontendlibrary/pull/435/

sorry I didn't report back on status, I'm happy to continue it if someone with JS / Front-end experience can let me know if the way I'm going is ok, hap

[2020-06-01 14:21] andrey-oreshko opened #481 "Column aliases (column clean names)"
Hi there! We as LavaMap (lavamap.com) are going to actively use this software. Thanks all of you who worked hard to create such an amazing product! However, we suggest to add some feature, called "clean names". The goal of it is to provide aliases for the column and table names. On our side data structures are created by engineers and often not understood by non-technical stakeholders, so we would

[2020-06-01 16:16] feng-tao commented on #481
cc @markgrover @danwom PM for fYI

[2020-06-01 16:18] feng-tao commented on #481
hey @andrey-oreshko , thanks for the info. And glad to hear that your team is using Amundsen. Do you think we could add your company to https://github.com/lyft/amundsen#who-uses-amundsen ? Thanks.

[2020-06-01 17:17] Golodhros commented on #424
Hi @dmateusp, thanks for the prompt response!

The template file has changed lately, and now we use the HtmlWebpackPlugin to insert the file paths of our assets instead of hardcoding them on the template. I think we would be able to modify the ["publicPath"](https://github.com/lyft/amundsenfrontendlibrary/blob/master/amundsen_application/static/webpack.common.ts#L55) property to change the path. C

[2020-06-01 21:51] markgrover commented on #481
Thanks Andrey! Appreciate you contributing. I think this could warrant a good discussion. Right now, it seems like clean name is very similar to a description.

Can you share an benign example of this? What's the column name? What's the clean name? What's the description?

Also, I'd be curious if the column name and clean name apply across tables? For example, if column name is "app_id", clean nam

[2020-06-02 06:50] darkstar3057 commented on #77
I'm seeing this now, too. I'm trying to make a simple Amundsen demo, so I ran:

[code]

and I see:

[code]

I tried setting:

[code]

but it didn't help. I'm working on my local machine.

[2020-06-03 07:03] arjunlandes opened #482 "max virtual memory areas vm.max_map_count [65530] is too low"
##  Expected Behavior
I expected `docker-compose` to complete successfully.

## Current Behavior
Fails with error:

[code]

## Steps to Reproduce
I'm following the [installation steps](https://github.com/lyft/amundsen/blob/master/docs/installation.md#bootstrap-a-default-version-of-amundsen-using-docker):

[code]

Setting the following didn't help:

[code]
## Context
I'm just trying to start a basi

[2020-06-03 07:04] #482 closed

[2020-06-03 07:06] arjunlandes commented on #482
Sorry, I just saw the relevant troubleshooting section, will try that.

[2020-06-03 08:10] andrey-oreshko commented on #481
@markgrover thanks for the response!

For the moment it is not necessary for us to share clean names across tables.

And the one clear example of why we need clean names: as many DB's are case-sensitive(because of that our fields are mostly lowercased) and don't allow you to add spaces it's sometimes become a problem to read them easily because of all lowercased letters and underscores. If we are

[2020-06-04 11:27] jacobhjkim commented on #382
Is there any plan on adding Amundsen to the incubator or any other helm repository?

[2020-06-04 14:20] samshuster commented on #297
thanks @jinhyukchang closing this one.

[2020-06-04 16:06] feng-tao commented on #297
thanks @samshuster for the contribution!

[2020-06-05 16:33] ibnipun10 opened #486 "Using helm 3 with the default values.yaml search service is not able to connect to the ES"
Following https://github.com/lyft/amundsen/tree/master/amundsen-kube-helm to install amundsen to kube using helm 3. Using the default values without providing the ES endpoint in the values.yaml, it search service uses `{{ .Release.Namespace }}-elasticsearch-client.{{ .Release.Namespace }}.svc.cluster.local` as the url to connect to ES. It gives error as it does not find this service. It should be

[2020-06-05 18:26] andrey-oreshko commented on #257
@lordravo hey i'm experiencing the same issue
Did you come up with some solution except using CentOS?

[2020-06-05 20:40] teqonix commented on #53
@jornh Thanks a ton for putting those instructions together - I'm currently investigating how to implement Amundsen and backup / restore was high on the list.

Is there a good way to have ElasticSearch re-index data that was restored into Neo4j?  I'm getting search errors after a Neo4j database restore even though I see the expected data post-restore in the Neo4j console.

I found that I can re-ru

[2020-06-05 22:25] jornh commented on #53
It’s merely a wishlist 🙁 (with links to “state of the union” - but luckily bit by bit I can tick boxes) glad to hear the list is useful to someone. So, thanks for your comment.

To answer your question: Elasticsearch and Amundsensearch doesn’t have a will of their own on what data to serve. So what you call a hack with re-ingesting reindexing through Databuilder is actually **the** way to update E

[2020-06-06 16:15] #486 closed

[2020-06-06 16:24] stewartbryson commented on #53
I'd be interested in the helm chart.

[2020-06-06 18:03] jornh commented on #53
@stewartbryson see https://lyft.github.io/amundsen/k8s_install/ + the Amundsen Slack also has a #kube-helm channel for discussion

[2020-06-08 16:23] jdavidheiser opened #494 "Snowflake Loader labels the database inconsistently compared to other loaders"
## Expected Behavior
I would expect the 'database' tag in https://github.com/lyft/amundsendatabuilder/blob/06c1dbef4959d1084acee702b54444e323b93fa8/databuilder/extractor/snowflake_metadata_extractor.py#L126 to be 'snowflake', to match the behavior of loaders like [Athena](https://github.com/lyft/amundsendatabuilder/blob/975a59a2f54e7ed098e4385527751a1a581636a4/databuilder/extractor/athena_metadata

[2020-06-08 18:01] jdavidheiser commented on #494
I will be working on what I think is a reasonable way to approach this, and will likely submit a PR soon, but I wanted to get an associated bug filed in the meantime.

[2020-06-08 21:40] lukelowery opened #495 "Add Catalog to the Advanced Search"
Right now we can search by Source, Table, Column, etc, but there is not a UI element for the Catalog. If I write a URL to filter by Catalog, it all works as expected.

Currently, the BigQuery loader puts the Project into the "Catalog" property. The "Schema" property contains the dataset. The Source is always BigQuery (which is helpful, since we have other kinds of databases too)

## Service or Ing

[2020-06-09 05:49] ibnipun10 opened #496 "Bookmarking (star) is disabled in Amundsen"
## Summary
I am not able to click on the `star` icon next to table name to bookmark it.

<img width="593" alt="Screenshot 2020-06-09 at 11 14 56 AM" src="https://user-images.githubusercontent.com/3518277/84110482-9e61e280-aa42-11ea-8ceb-e8e0d17a1f67.png">

The table is the sample table which is populated by the sample script. The behaviour for other tables from mssql are also the same

## Expected

[2020-06-09 05:54] feng-tao commented on #496
cc @jinhyukchang @ttannis
last time I tried sample loader which works, I wonder whether it is due to book mark feature refactor to be generic and accommodate dashboard use case.

[2020-06-09 06:01] feng-tao commented on #495
Currently we put BQ project ID(is it the catalog you referred to?) in the cluster field(https://github.com/lyft/amundsendatabuilder/blob/master/databuilder/extractor/bigquery_metadata_extractor.py#L77) . If I understand, we want to also use advanced search / filter for a given project ID?

[2020-06-09 06:53] jornh commented on #496
The bookmarking relies on that there's a logged in user. In the Quickstart with docker-compose that's done with this hack configuring a single test user:

https://github.com/lyft/amundsen/blob/006199ab3180dfd7535885e035d3d0ca505f76e5/docker-amundsen.yml#L73-L77

With the Helm chart config of authentication is needed e.g. with OIDC - it's not clear from the issue posted if you did that @ibnipun10?

[2020-06-09 08:03] fageiguanbing opened #497 "mysql integrate"
How to set username / password / port in `mysql_metadata_extractor.py`?

[2020-06-09 08:09] jornh commented on #497
https://docs.sqlalchemy.org/en/13/dialects/mysql.html#dialect-mysql-mysqldb-connect

[2020-06-09 09:14] mgorsk1 opened #499 "Notification icon for Announcements"
Currently Announcements feature in Amundsen Frontend doesn't provide any information to the user that there is a new announcement to read. Because of that, user have to consciously visit Announcements page to notice it.

## Expected Behavior or Use Case
When there is a new announcement that user didn't see, frontend displays icon with number of unread announcements near **Announcements** link in t

[2020-06-09 09:19] fageiguanbing commented on #497
Where can I set the URL?
[code]
I see `TableKey = namedtuple('TableKey', ['schema', 'table_name'])` in `mysql_metadata_extractor.py`, I guess I could edit all three('TableKey','schema', 'table_name').
Where is the configuration file, I am not a Python developer, this is very annoying for me

[2020-06-09 15:28] ibnipun10 commented on #496
No I am not doing that @jornh. Thank you. Can we plz add it to the docs as well? Is it possible to do a oauth authentication support with amundsen

[2020-06-09 15:47] jornh commented on #497
Ah sorry I didn’t notice you were mentioning the `Extractor` class, I misread it as a MySQL `sample_Xxx_data_loader.py`

You will have to wrap the Extractor in a Task in a Job Like shown in the diagram in https://github.com/lyft/amundsendatabuilder#concept

The Job is the one taking the connection string as documented in https://github.com/lyft/amundsendatabuilder#sqlalchemyextractor - there are e

[2020-06-09 15:55] ibnipun10 commented on #35
@feng-tao : Ideally user information is kept in a different dbs to support single sign-on. My company have users in office 365 and would lobe to have oauth enabled in amundsen for users to signin using there office 365 account. This way, if any user leaves the org, he may not be able to login to the catalog as well

[2020-06-09 16:20] feng-tao commented on #499
cc @ttannis @Golodhros
interesting idea as we just talked about the announcement is easy missed out for our users as well.

[2020-06-09 16:44] jornh commented on #496
See https://lyft.github.io/amundsen/authentication/oidc/ for what's currently there.

The. relatively new, documentation site has a quite good search function. As with anything documentation is an ongoing effort. Documentation for authentication can certainly be improved on.

[2020-06-09 17:59] Golodhros commented on #499
Looks like a useful feature indeed. A bit far from the main use of the application, but useful nonetheless.

I guess we would use a client-side only persistence mechanism to mark the unread notifications, right?

[2020-06-09 19:54] markgrover commented on #481
Thanks Andrey. @feng-tao thoughts on this? This seems similar to having a programmatic description for a column and a human curated description for a column. And, I am supportive of such a construct. I am not sure if I like the name "clean name" per se, but the underlying construct seems usable. What do you think, Tao?

[2020-06-09 21:28] Golodhros opened #501 "Adopt Stylelint's Sass Guidelines on the Frontend library"
We have setup CSS linting with Stylelint and added some basic rules.

To make sure we use styling best practices, reduce our code review effort and provide the best developer experience for our contributors, I suggest to extend the styling rules with the [Sass Guidelines](https://sass-guidelin.es/). These is an opinionated styleguide for writing sane, maintainable and scalable Sass.

## Possible I

[2020-06-09 21:37] Golodhros opened #502 "Adopt Airbnb-Typescript Code Guidelines on the Frontend library"
We have setup code linting with ESLint and added some basic rules like the 'react/recommended' to our project.

To make sure we use best practices, reduce our code review effort and provide the best developer experience for our contributors, I suggest to extend the linting rules with the Airbnb rules for Typescript.

## Possible Implementation
This rules are already added on the system, but they t

[2020-06-09 21:43] Golodhros opened #503 "Adopt Typescript Recommended Guidelines on the Frontend library"
We have setup code linting with ESLint and added some basic rules like the 'react/recommended' to our project.

To make sure we use best practices, reduce our code review effort and provide the best developer experience for our contributors, I suggest to extend the linting rules with the Typescript Recommended rules ('plugin:@typescript-eslint/recommended') on the `extends` portion of our ESLint c

[2020-06-10 05:47] fageiguanbing commented on #497
Thanks.
You mean I have to implement the logic myself， just like [https://github.com/lyft/amundsendatabuilder/tree/master/example/scripts](https://github.com/lyft/amundsendatabuilder/tree/master/example/scripts).
For example, if I want to implement Hive, I need to import Hive related `Extractor`.

[2020-06-10 09:43] jornh commented on #497
Yes, correct!

[2020-06-10 09:48] fageiguanbing commented on #497
I got it, thank you.

[2020-06-10 09:48] #497 closed

[2020-06-10 19:08] jonhehir opened #506 "Make dashboard product its own node in Neo4j"
Right now, dashboard products (e.g., Mode, Tableau, etc.) are not actually stored in the database except as part of the keys for dashboard-related nodes. This leaves little room for expansion of this concept, and it results in repetitive string parsing logic (`product = key.split('_')[0]`) in a growing variety of places.

As discussed in  https://github.com/lyft/amundsendatabuilder/pull/286#issuec

[2020-06-11 20:22] #494 closed

[2020-06-11 21:04] jdavidheiser opened #507 "UNEDITABLE_SCHEMAS not working"
##  Expected Behavior
When adding database schemas to `UNEDITABLE_SCHEMAS` (e.g. `UNEDITABLE_SCHEMAS = set(["public", "raw"])` in a custom config Python class, and using that config file by setting the environment variable `FRONTEND_SVC_CONFIG_MODULE_CLASS`, editing table descriptions and column descriptions for matching schemas should be disabled.

## Current Behavior
The configuration option app

[2020-06-11 21:48] feng-tao commented on #507
cc @ttannis is this feature ready in master? I thought we are still building it. But will let you chimein :)

[2020-06-11 22:43] ttannis commented on #507
We built the feature a while ago, at one point some schemas in Amundsen were uneditable. This is a regression, and I think it happened when we did the redesign work. The new `TableDetail` page isn't checking for whether something will be editable or not.

I'll prioritize fixing this before the next release, which will come as soon as we complete our remaining priorities for dashboard features.

[2020-06-11 22:47] feng-tao commented on #507
now i remember ... This applies to the redshift schema which are all full rebuild table.

[2020-06-11 22:48] feng-tao commented on #507
@ttannis  with the new non editable schemas at Lyft, are you plan to leverage the existing one or refactor it for the new upcoming use case?

[2020-06-11 23:55] feng-tao commented on #495
will let @ttannis to comment. The search backend should already had the support for cluster(project in BQ) in https://github.com/lyft/amundsensearchlibrary/blob/master/search_service/proxy/elasticsearch.py#L37.

[2020-06-11 23:58] feng-tao commented on #495
@lukelowery, Looking at https://github.com/lyft/amundsenfrontendlibrary/blob/master/amundsen_application/static/js/config/config-default.ts#L92-L122 the link you post, I think that only works for the case if you have different databases(bq, hive, presto) etc. One short term workaround would be put project id in the database field in your env.  But this needs to test it out and verify...

[2020-06-12 18:11] ttannis commented on #495
What's the context of "catalog"? I'm not familiar.

But the general idea is that folks should be able to customize their filters in their custom application configuration. The items we provide in the default configuration aren't expected to be updated for individual use cases, and are kept in sync with the categories supported byt the default ES implementation.

[2020-06-12 18:13] ttannis commented on #507
It would depend on how flexible we need it to be to cover our updated use case, so I can't speak on the need for a refactor yet until we get the final sign off on the expectations for our use case.

[2020-06-16 16:59] jonhehir opened #513 "Use query parameters rather than string building in Neo4jCsvPublisher"
As noted in https://github.com/lyft/amundsendatabuilder/pull/291, the `Neo4jCsvPublisher` class is currently using a string building approach to build Cypher queries for mass data import. Unfortunately, it's reasonably easy to accidentally (or intentionally!) build invalid queries, which cause entire imports to fail. In the linked PR, for example, a description of `This is a test: \_.` causes an i

[2020-06-17 13:08] jdavidheiser opened #514 "Allow configuration of custom features without using entry_points or needing to rebuild the app"
## Expected Behavior or Use Case
As we use more and more features of Amundsen, the mechanisms for configuration are starting to feel clunky.  Specifically, per https://github.com/lyft/amundsenfrontendlibrary/blob/54de01bdc574665316f0517aefbd55cf7ca37ef0/docs/configuration.md#python-entry-points we need to fork the repo and maintain a custom setup.py to be able to configure announcements, custom lo

[2020-06-17 19:35] jonhehir opened #515 "Dashboard Feedback(feat): Initial Integration with Redash"
## Context

We have been evaluating dashboard support in Amundsen internally, using Redash as our initial dashboard product. The process of building an initial extractor that leveraged the Redash REST API was reasonably straightforward, and most things work, with some quirks noted below.

## Data Model/Product Discrepancies

One general area worth noting is that the data model for Redash dashboard